.projectCard {
  width: 250px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
  padding: 0px;
  padding-top: 25px;

  .colorBar {
    width: 50px;
    height: 8px;
    border-radius: 5px;
    margin-bottom: var(--spacing-medium);
  }
}

.started {
  background: var(--grey-100) !important;
}
.cardTags {
  background-color: var(--grey-200) !important;
  color: var(--grey-400) !important;
  max-width: 200px;
  margin-right: var(--spacing-xsmall);
  margin-top: var(--spacing-xsmall);
}

.wrap {
  flex-wrap: wrap;
}

.overflow {
  overflow-wrap: anywhere;
}
