.main {
  position: sticky;
  top: 0;
  z-index: 3;
  border: none;
  box-shadow: var(--elevation-2);

  :global(.bp3-popover-wrapper.bp3-fill) {
    width: auto;
  }

  .lhs {
    display: flex;
    align-items: center;
    column-gap: var(--spacing-medium);
  }

  .rhs {
    display: flex;
    align-items: center;
  }

  .runButton {
    &:global(.bp3-disabled) {
      border: none !important;
    }
  }

  .myDeploymentsCheckbox {
    &:global(.bp3-checkbox) {
      display: flex;
      align-items: center;
      --box-height: 16px;
      height: var(--spacing-8);
      padding: 0 var(--spacing-4) 0 var(--spacing-8);
      background-color: var(--primary-bg);
      border: 1px solid var(--grey-200);
      border-radius: 4px;
      font-size: var(--font-size-small);
      font-weight: 500;
      color: var(--grey-800);
      flex-shrink: 0;
      :global {
        .bp3-control-indicator {
          margin-left: -24px;
          border-radius: 4px;
          margin-top: 0px;
        }
      }

      span {
        --box-border: var(--primary-7) !important;
      }

      &.selected {
        border-color: var(--primary-7);
        background-color: var(--primary-1);
      }
    }
  }

  .btnGroup {
    box-shadow: var(--elevation-2);
    border-radius: var(--spacing-3);

    :global(.bp3-button) {
      width: 50px;
      box-shadow: var(--elevation-3) !important;

      &:first-of-type {
        border-radius: var(--spacing-3) 0 0 var(--spacing-3);
      }

      &:last-of-type {
        border-radius: 0 var(--spacing-3) var(--spacing-3) 0;
      }
    }
  }
}
