.main {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: var(--spacing-large) var(--spacing-xxlarge);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-200);

  .runText {
    margin-left: var(--spacing-small);
  }

  .lhs {
    display: flex;
    align-items: center;
    column-gap: var(--spacing-medium);
  }

  .rhs {
    display: flex;
    align-items: center;
  }

  .filterGroup {
    position: relative;

    .label {
      position: absolute;
      bottom: calc(100% + 2px);
      left: 0;
      font-size: var(--font-size-small);
      color: var(--grey-500);
    }
  }

  .btnGroup {
    :global(.bp3-button) {
      width: 50px;
    }
  }
}
