.dialog {
  border-radius: 4px;
  width: 916px;
}

.cardContainer {
  display: grid;
  grid-gap: var(--spacing-xxlarge);
  grid-template-columns: repeat(2, 1fr);

  .tag {
    background-color: red !important;
    color: white;
    font-size: x-small;
  }

  .cardText {
    line-height: var(--spacing-xlarge) !important;
  }
}
