.gitContainer {
  :global {
    .bp3-popover-wrapper,
    .bp3-menu {
      width: 56% !important;
    }
  }
}

.select-branch-input {
  flex-grow: 1;

  :global {
    .Select--main .bp3-menu {
      max-height: 240px !important;
    }
  }
}
