$footer-cta-height: 50px;

.main {
  height: 100%;
  .contentContainer {
    display: flex;
    height: 100%;
    .leftPanel,
    .rightPanel {
      height: calc(100vh - #{$footer-cta-height} - 20px);
      overflow-y: scroll;
      position: sticky;
      top: 0;
    }
    .leftPanel {
      width: clamp(250px, 300px, 300px);
      float: left;
    }
    .rightPanel {
      width: 120px;
      float: right;
    }
    .content {
      flex: 1;
      clear: left;
      clear: right;
      margin: $footer-cta-height var(--spacing-medium);
      margin-bottom: 60px;
      overflow-y: scroll;
      padding: 2px !important;
    }
  }
}

.footerCTA {
  height: $footer-cta-height;
  z-index: 2;
  width: 100%;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
  background: var(--white) !important;
  display: flex;
  justify-self: flex-start;
  position: fixed;
  left: 291px;
  bottom: 0;
  padding: var(--spacing-small) 0 !important;

  button:first-child {
    margin-left: var(--spacing-xlarge);
    margin-right: var(--spacing-small);
  }

  .nextButton {
    width: 72px;
    border: none !important;
  }
}
