.container {
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-small) !important;
}

.row {
  display: flex;
  justify-content: left;
  align-items: center;

  padding-left: var(--spacing-xxlarge) !important;
  padding-right: var(--spacing-xxlarge) !important;

  // .row.row - hack to increase specificity
  // TODO - change if there is a better approach
  &.row.row > * + * {
    margin-left: 24px !important;
  }

  &:nth-child(3) {
    padding-top: var(--spacing-small);
    border-top: 2px solid var(--grey-200);
  }
}

.toolbar {
  // .toolbar.toolbar - hack to increase specificity
  // TODO - change if there is a better approach
  &.toolbar.toolbar {
    margin-left: auto !important;
  }
}
