.table {
  margin: var(--spacing-xlarge);
}

.colorbox {
  width: 24px;
  height: 26px;
  display: inline-block;
  border-radius: 5px;
}

.layout {
  justify-content: flex-end;
}

.pageContainer {
  background: var(--grey-100) !important;
  height: calc(100vh - 128px);
}

.project {
  max-width: 250px;
}

.org {
  max-width: 150px;
}
