.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.dialog {
  position: relative;
  padding-bottom: var(--spacing-none);
  width: 750px;
}

.qrCode {
  border: 1px solid var(--grey-200) !important;
}

.description {
  overflow-wrap: anywhere;
  width: 350px !important;
}

.view {
  min-height: 350px !important;
}
