.manual-intervention-tab {
  .title {
    margin: 0 var(--spacing-medium);
    padding: var(--spacing-medium) var(--spacing-medium) 0 var(--spacing-medium);
    font-size: var(--font-size-normal);
  }

  &.loading {
    opacity: 0.5;
    pointer-events: none;
  }

  .action-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    margin: var(--spacing-medium);
    padding: var(--spacing-medium) 0;

    .thumbnail {
      cursor: pointer;

      :global(.bp3-icon) {
        --intent-color: var(--primary-7);
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--grey-200);
    }
  }
}
