.almostFullScreenCloseBtn:global(.bp3-button.bp3-minimal) {
  position: fixed;
  left: 300px;
  top: 0;
  background: #00ade4 !important;
  color: var(--white) !important;
  border-radius: 4px 0 0 4px !important;
  padding: 0 !important;
  z-index: 99;
}

.container {
  overflow-y: scroll;
  height: 100vh;
  background: var(--form-bg);
}

.formFullheight {
  height: calc(100vh);
  min-height: calc(100%);
  position: relative;
  overflow-y: scroll;
  background: var(--form-bg);
}
