.optional-configuration {
  > div {
    padding: var(--spacing-small) 0 !important;
  }
  :global {
    .Accordion--chevron {
      transform: translate(165px, -1px) !important;
    }
    .Accordion--label {
      margin-left: -28px;
    }
    .Accordion--panel[data-open='true'] > .Accordion--summary > .Accordion--chevron {
      transform: translate(165px, -1px) rotate(180deg) !important;
    }
  }
}
