.container {
  position: relative;
  padding: var(--spacing-xlarge) !important;
  padding-bottom: 0 !important;
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .layout {
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    gap: 20px;
    padding: 0 var(--spacing-xlarge) 0 var(--spacing-xlarge) !important;
    .formInput {
      width: 288px;
      padding-bottom: var(--spacing-xlarge);
    }

    .startBtn {
      width: 134px;
    }
  }

  .collapseDiv > div {
    border-top: none;
    padding: 0;
  }
}
.heading {
  padding: var(--spacing-xlarge) !important;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: var(--black);
}
