.disabled {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: not-allowed !important;
}
.section-header {
  font-size: 14 !important;
  color: #000 !important;
  margin: var(--spacing-medium) 0 !important;
  font-weight: bold !important;
  :global {
    .bp3-icon {
      padding: 0 var(--spacing-medium) !important;
    }
  }
}

.sub-secton-header {
  font-size: 13 !important;
  margin-bottom: var(--spacing-small) !important;
  color: #000 !important;
  font-weight: bold !important;
}

.stages-tree-bullet-circle {
  text-indent: 20px;
  &::before {
    content: '';
    position: absolute;

    left: 30px;
    width: 13px;
    height: 13px;
    background: linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%);
    opacity: 0.6;
    border-radius: 100px;
  }
}
.artifactHeader {
  display: block;
  font-weight: bold;
  padding: 0 var(--spacing-large);
  margin-bottom: var(--spacing-medium);
  &.mtop {
    margin-top: var(--spacing-medium);
  }
}

.custom-variables {
  padding: 0 var(--spacing-large);
}
