:root {
  --form-input-shadow: rgba(96, 97, 112, 0.32);
}
.mainDetails {
  justify-content: space-between;
  .connectorDetails {
    padding-top: var(--spacing-large);

    .header {
      margin-bottom: var(--spacing-xlarge);
      width: fit-content;
      .name {
        font-size: 18px;
        margin: auto;
        padding-right: var(--spacing-medium);
        color: var(--grey-800);
      }
    }
    .submitBtn {
      margin-top: var(--spacing-large);
    }
  }
}

.optionBtns {
  display: inline-block;
  background-color: var(--grey-200);
  border-radius: 10px;
  font-size: var(--font-size-xsmall);
  line-height: 14px;
  .item {
    display: inline-block;
    padding: var(--spacing-xsmall) var(--spacing-medium);
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
  }

  .selected {
    font-weight: bold;
    background-color: var(--grey-400);
    color: var(--white);
    cursor: default;
  }
}

.editor {
  width: 100%;
}
.connectorWrp {
  padding: var(--spacing-xlarge);
}

.disabled {
  pointer-events: none;
}
