.connectorDetails {
  margin: 25px;
  .header {
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    .name {
      font-size: 16px;
      margin: auto;
    }
  }
  .submitBtn {
    margin: 20px 0;
  }
  .formField {
    width: 50%;
  }
}
