.mainDetails {
  justify-content: space-between;
  .connectorDetails {
    margin: var(--spacing-xlarge) var(--spacing-xxlarge);

    .header {
      margin-top: var(--spacing-large);
      margin-bottom: var(--spacing-xlarge);
      width: fit-content;
      .name {
        font-size: 18px;
        margin: auto;
        color: var(--grey-800);
      }
    }
    .submitBtn {
      margin: var(--spacing-large) 0;
    }
    .formCustomCss {
      width: 84%;
      :global {
        .bp3-label {
          color: var(--grey-400);
          font-size: 12px;
        }
        .bp3-form-content {
          border-radius: 8px;
          border: 1px solid var(--grey-200);
        }
        .bp3-form-group {
          margin-bottom: 20px;
        }
      }
    }
  }
}
