.listWrapper {
  border-top: 0.5px solid var(--grey-200) !important;
  border-bottom: 0.5px solid var(--grey-200) !important;
  background-color: var(--white) !important;
}
.tableContainer {
  height: 100%;
  > section > div > table {
    > thead > tr {
      th {
        font-size: 10px !important;
        font-weight: bold;
        letter-spacing: 0.38px;
      }
    }
    > tbody > tr > td {
      padding: 10px !important;
    }
  }
}
