.listWrapper {
  border-top: 0.5px solid var(--grey-200) !important;
  border-bottom: 0.5px solid var(--grey-200) !important;
  background-color: var(--white) !important;
  height: 72px;
  padding: 18px 30px !important;
}
.header {
  padding: var(--spacing-large) var(--spacing-xxxlarge) !important;
  border-bottom: 1px solid var(--grey-300);
  height: 72px;
}
.view {
  justify-content: flex-end;
}
.tableContainer {
  height: 100%;
  > section > div > table {
    > thead > tr {
      th {
        font-size: 10px !important;
        font-weight: bold;
        letter-spacing: 0.38px;
      }
    }
    > tbody > tr > td {
      padding: 10px !important;
    }
  }
}

.listContainer {
  background-color: var(--grey-100) !important;
  height: 100%;
}
