.page {
  background-color: var(--grey-100);
  min-height: calc(100vh - 64px);
  min-width: 900px;
}
.header {
  padding: var(--spacing-large) var(--spacing-xxxlarge) !important;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--white) !important;
}
