.detailsSectionContainer {
  height: fit-content;
  width: inherit !important;

  .detailsSection {
    height: fit-content;
    width: 45%;
    min-width: 240px;
    margin-right: 3% !important;
    padding: 20px 16px 15px !important;
    box-shadow: 0 0 4px rgba(96, 97, 112, 0.2);
    border-radius: 4px;

    .detailsSectionRowWrapper {
      &:not(:last-child) {
        border-bottom: 1px solid var(--grey-200);
      }

      .detailsSectionRow {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
