.dashboardCard {
  width: 250px;
  box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
  padding: 0px;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 0px var(--primary-6) !important;
    border: 1px solid var(--primary-6) !important;
  }
}

.pageContainer {
  height: 100%;
  width: 100%;
}

.filter {
  background: var(--grey-100) !important;
  padding: var(--spacing-small) var(--spacing-xxlarge) var(--spacing-small) var(--spacing-xxxlarge) !important;
  border-radius: 30px !important;
  width: 230px !important;
  display: flex;
  justify-content: inherit;
  :global {
    label {
      color: var(--black-100);
    }
    .bp3-checkbox:first-child {
      padding-right: var(--spacing-small);
    }
  }
}

.dialog {
  border-radius: 11px;
  position: relative;
  padding-bottom: 0;
  &.create {
    width: 900px;
    border-left: none !important;
  }

  .stepWizard {
    padding: 0px;
  }
  .formContainer {
    height: 350px;
  }

  div[class*='StepWizard--navBarList'] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 30px !important;
  }
  span[class*='StepWizard--number'] {
    padding: 1px 6px !important;
  }
}

.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.stepClass {
  padding: 0px !important;
}

.button {
  color: var(--white) !important;
  border-color: var(--primary-7) !important;
  margin-bottom: var(--spacing-medium);
}
