.approval-tab {
  &.error {
    height: 100%;
  }

  .label {
    color: var(--grey-500);
    margin-bottom: var(--spacing-xsmall);
  }

  .info {
    background-color: var(--yellow-100);
    padding: var(--spacing-4) var(--spacing-6) var(--spacing-8) var(--spacing-6);

    & :global(.bp3-icon) {
      & path {
        fill: currentColor !important;
      }
    }

    .timer {
      --intent-color: var(--orange-900);
      font-size: var(--font-size-small);
      font-weight: bold;
      display: inline-flex;
      align-items: center;

      .duration {
        --font-size: var(--font-size-small);
        font-weight: bold;
        margin-right: var(--spacing-xsmall);
        color: currentColor;
      }
    }

    .review-msg {
      margin-top: var(--spacing-xsmall);
      color: var(--orange-700);
      font-size: var(--font-size-normal);
      line-height: 1.5;
    }

    .jira-ticket {
      margin-bottom: var(--spacing-large);

      & a {
        margin-left: var(--spacing-xsmall);
        color: var(--primary-7);
      }
    }

    .criteria-msg {
      font-weight: bold;
    }
  }

  .info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-3);
  }

  .status-msg {
    font-size: var(--font-size-small);
    font-weight: bold;
    line-height: 2;
  }
}

.heading {
  font-weight: bold;
  margin-bottom: var(--spacing-small);
}

.harness-approval {
  padding: var(--spacing-6);

  &.completed {
    padding: 0 var(--spacing-6);
    margin-left: var(--spacing-xsmall);
  }

  .inputs {
    padding: var(--spacing-medium) 0;
  }

  .form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--spacing-medium);

    &.labels {
      margin-bottom: var(--spacing-small);
      color: var(--grey-400);
    }
  }

  .actions {
    :global(.bp3-button + .bp3-button) {
      margin-left: var(--spacing-small);
    }

    :global(.bp3-icon + .bp3-button-text) {
      margin-left: var(--spacing-xsmall);
    }
  }
}

.approversHeading {
  font-size: var(--font-size-small);
  color: var(--grey-400);
  font-weight: bold;
}

.approver {
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--grey-200);

  .approverName {
    font-weight: bold;
    text-align: left;
  }

  .summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: var(--spacing-xsmall) 0;
  }

  .time {
    justify-self: end;
  }

  .status {
    display: flex;
    align-items: center;
    justify-self: center;
    column-gap: var(--spacing-xsmall);

    &[data-status='APPROVE'] {
      --intent-color: var(--green-500);
    }

    &[data-status='REJECT'] {
      --intent-color: var(--red-500);
    }

    :global(.bp3-icon) {
      path {
        fill: currentColor;
      }
    }
  }

  .approverInputs {
    list-style: none;
    padding: 0;
    margin: 0 0 var(--spacing-medium) 0;

    & > li {
      display: flex;
      line-height: 22px;
      column-gap: var(--spacing-xsmall);
    }
  }

  .comments {
    margin: 0 0 var(--spacing-medium) 0;
  }
}

.jira-approval {
  padding: var(--spacing-medium) var(--spacing-large);
}

.jira-criteria {
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--grey-200);
  padding: var(--spacing-medium) 0;

  .conditions {
    list-style-type: disc !important;
    padding-left: var(--spacing-medium) !important;
    margin: var(--spacing-small) 0 0 0 !important;

    li:not(:last-child) {
      margin-bottom: var(--spacing-xsmall);
    }
  }

  .collapse-container {
    padding: 0;
  }

  .key {
    display: inline-block;
    border: 1px solid var(--grey-300);
    margin: 0 2px;
    padding: 0 2px;
    border-radius: 2px;
    background-color: var(--blue-100);
  }

  .jexl {
    margin-top: var(--spacing-small);
    background-color: var(--grey-100);
    border: 1px solid var(--grey-250);
    padding: var(--spacing-medium);
    border-radius: 4px;
  }
}
