.steps {
  height: 100%;
  margin-top: -50px;

  > div:last-of-type {
    background: var(--white);
  }
}

.stepClass {
  padding: 0px !important ;
}
.desc {
  max-width: 300px !important ;
}
.collapseDiv div {
  border-top: none;
  padding: 0;
}
.preview {
  background: var(--grey-100) !important;
}

.button {
  color: var(--blue-500) !important;
  border-color: var(--blue-500) !important;
}
