.defaultNode {
  display: block;
  width: 126px;
  height: 100px;
  cursor: default;

  .defaultCard {
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    border: 1px solid var(--diagram-grey);
    border-radius: 8px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.15), 0 0 0 rgba(16, 22, 26, 0), 0 0 0 rgba(16, 22, 26, 0);

    &.selected {
      border-width: 2px;
      border-color: var(--diagram-selected);
    }
  }

  &:hover .defaultCard {
    border-width: 2px;
    border-color: var(--diagram-selected);
  }
  &:hover .closeNode {
    visibility: initial;
  }

  .secondaryIcon {
    position: absolute;
    bottom: 2px;
    right: 2px;
  }

  .closeNode {
    position: absolute;
    top: 5px;
    visibility: hidden;
    display: flex;
    justify-content: center;
    left: -19px;
    background-color: var(--grey-250) !important;
    padding: 2px;
    min-width: 17px !important;
    min-height: 17px !important;
    height: 17px !important;
    padding: 0 !important;
    align-items: center;
    z-index: 1;
    cursor: pointer;
  }
}
