.selected::after {
  content: ' ';
  position: absolute;
  bottom: -55px;
  width: 64px;
  height: 64px;
  background-color: var(--diagram-selected);
  left: 32px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.selectedLink {
  path {
    stroke: var(--diagram-hover-link-color) !important;
  }
  circle {
    opacity: 1 !important;
  }
  line {
    opacity: 1 !important;
  }
}
