.bold-label {
  font-weight: bold !important;
  color: var(--black) !important;
  padding-bottom: var(--spacing-medium) !important;
}
.duration {
  :global {
    .bp3-form-content > div {
      width: 100%;
      & > div[class*='TextInput'] {
        width: 100%;
      }
    }
  }
}

.checkbox {
  padding-left: var(--spacing-xlarge) !important;
}

.accordion {
  margin-bottom: var(--spacing-large);
}

.stepPanel {
  padding: 0 var(--spacing-xlarge) 0 var(--spacing-small);
}

.formGroup {
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: center;
  width: 100%;

  &.sm {
    width: 35%;
  }

  &.md {
    width: 55%;
  }

  &.alignStart {
    align-items: start;
  }

  textarea.code {
    min-height: 200px;
    font-family: var(--font-family-mono);
  }

  :global {
    .bp3-label {
      color: var(--grey-500);
    }
  }
}

.fieldsSection {
  padding-bottom: var(--spacing-xlarge);
  margin-bottom: var(--spacing-xlarge);

  &:not(:last-child) {
    // TODO: Replace color once it is available in UIKit
    border-bottom: 1px solid #d9dae6;
  }

  :global {
    .bp3-popover-wrapper {
      margin-top: 0 !important;
    }
  }
}

.fieldsGroup {
  display: flex;

  &:not(:first-child):not(.without-spacing) {
    margin-top: var(--spacing-medium);
  }

  &:not(.withoutAligning) {
    align-items: center;
  }

  > * {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: var(--spacing-medium) !important;
    }
  }
}

.optionalConfiguration {
  // TODO: Replace color once it is available in UIKit
  color: #9293ab !important;
}

.textWithTooltip {
  display: flex;
  align-items: center;
}

.removeBpLabelMargin {
  :global {
    .bp3-label {
      margin: 0 !important;
    }
  }
}

.removeBpPopoverWrapperTopMargin {
  :global {
    .bp3-popover-wrapper {
      margin-top: 0 !important;
    }
  }
}

.bottomSpacing {
  margin-bottom: var(--spacing-medium);
}

.topSpacingLarge {
  margin-top: var(--spacing-large);
}

.checkboxField {
  :global {
    label.bp3-control {
      padding-top: 0 !important;
      display: flex;
      align-items: center;
    }
  }
}
