.width {
  width: calc(50vw) !important;
}

.wrap {
  word-break: break-all;
}

.card {
  align-items: center;
  box-shadow: var(--card-shadow);
  display: flex !important;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);
}

.body {
  padding: var(--spacing-huge) !important;
}
