.exampleWizard {
  height: 100%;
  border-radius: 6px;
  width: 100%;
  overflow: scroll;
  position: absolute;
  [class*='StepWizard-'] {
    height: 100%;
    border-radius: 4px;
    position: relative;
  }
  [class*='StepWizard---navStep'] {
    align-items: flex-start !important;
  }
  [class*='OverlaySpinner-'] {
    height: 100%;
  }
  [class*='StepWizard---stepDetails'] {
    padding: var(--spacing-large) 0 var(--spacing-large) var(--spacing-large) !important;
  }
  .formContainer {
    width: 60%;
    height: 100%;
  }
  .bottomButtons {
    position: absolute;
    bottom: 0;
  }
  .formContainerStepOne {
    width: 100%;
  }
}

.drag {
  cursor: move;
}

.dragging {
  background-color: var(--yellow-450) !important;
}

.dragOver {
  border-top: 2px solid var(--blue-500);
}

.fileHelpText {
  padding-bottom: var(--spacing-large) !important;
  text-align: justify;
}

.addFileButton {
  margin-bottom: var(--spacing-large) !important;
}
