.optionsViewContainer {
  position: relative;
  height: 100%;
  margin-left: 20px !important;
  margin-top: 10px !important;
}

.halfWidth {
  width: 45%;
}

.manifestStore {
  padding: var(--spacing-small) 0 0 var(--spacing-small) !important;
  height: 100%;
  position: relative;
  div[class*='OverlaySpinner'] {
    height: 100%;
  }
  :global(.bp3-collapse-body > div) {
    background-color: var(--white) !important;
  }

  .formContainerStepOne {
    height: 100%;
    min-height: 280px;
  }
  .manifestDetailsForm {
    height: 100%;
    min-height: 400px;
  }
  .connectorContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .bp3-popover-target > button {
      width: 28px !important;
    }
    div.configureOptions {
      height: fit-content;
      line-height: 72px;
    }
  }

  .addNewManifest {
    position: relative;
    top: 20px;
    padding-right: 0 !important;
    box-shadow: none !important;
    justify-content: flex-start;
  }
  .accountUrl {
    color: var(--grey-700);
  }
  .reponameField {
    width: 370px;
    margin-bottom: var(--spacing-xsmall) !important;
  }
  .repoName {
    margin-bottom: var(--spacing-medium);
    width: 370px;
  }
  .repo-name-url {
    margin-left: 6px;
    word-break: break-all;
  }
}
.saveBtn {
  position: relative;
  bottom: 0;
}
.drag {
  cursor: move;
}

.dragging {
  background-color: var(--yellow-450) !important;
}

.dragOver {
  border-top: 2px solid var(--primary-7);
}

.formContainer {
  :global {
    .bp3-form-group {
      width: 60%;
    }
  }

  .runtime-input {
    display: inline-block;
  }
  height: 100%;
}

.fileHelpText {
  padding-bottom: var(--spacing-large) !important;
  text-align: justify;
}

.addFileButton {
  padding: 0 !important;
  margin-left: 0;
  margin-bottom: var(--spacing-medium);
}

.headerContainer {
  min-height: 400px;
}

.squareCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85px;
  margin-right: var(--spacing-small);
}
.squareCard {
  width: 64px;
  height: 64px;
  padding: var(--spacing-small) 0;
  display: flex !important;
  justify-content: center;
  align-items: center;

  [class*='cardIcon'] svg {
    margin: 0 !important;
  }
}
.sqaureCardTitle {
  font-size: var(--font-size-small) !important;
  margin-top: var(--spacing-small) !important;
  text-align: center !important;
}

.disabled {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: not-allowed !important;
}

.manifestIcon {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.advancedStepOpen {
  min-height: 100px;
  margin-top: var(--spacing-medium);
}

.runtimeInput {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.checkbox {
  margin-right: var(--spacing-medium);
  margin-bottom: 0 !important;
  width: 100%;
}

.tooltip {
  > * {
    width: 60%;
    margin-top: 8px !important;
  }
}

.tooltipContent {
  width: 300px;
}

.alignSelf {
  align-self: center;
}

.addmarginTop {
  margin-top: var(--spacing-small) !important;
}

.tooltipCls {
  position: relative;
  bottom: 5px;
}

.helmToolTip {
  position: relative;
  top: 5px;
}
