.table {
  padding: var(--spacing-large) var(--spacing-xxlarge) var(--spacing-none) var(--spacing-xxlarge);
}

.roleButton {
  padding: var(--spacing-small) !important;
}

.wordBreak {
  word-break: break-all;
}
