.table {
  padding: var(--spacing-large) var(--spacing-xxlarge) var(--spacing-none) var(--spacing-xxlarge);
}

.roleButton {
  min-height: inherit !important;
  padding: var(--spacing-xsmall) var(--spacing-none) !important;
  min-width: 50px;
  margin-right: var(--spacing-small) !important;
}

.wordBreak {
  word-break: break-all;
}
