.dialog {
  border-radius: 4px;
  min-width: max-content;
}

.cardRow {
  display: flex;
}

.card {
  margin-right: var(--spacing-large);
  box-shadow: var(--card-shadow);
  width: 64px;
  height: 64px;
  .text {
    position: relative;
    bottom: -20px;
  }
}

.authorizationCard {
  width: 100%;
}

.copyToClipboardButton {
  &:hover {
    background: none !important;
  }
}

.notes {
  line-height: 19px !important ;
}
