$separator-width: 100px;
$separator-label-height: 38px;
$cell-width: 22px;
$cell-height: 20px;
$cell-content-size: var(--spacing-small);

.chart {
  display: flex;
  justify-content: center;
  .separator {
    width: 1px;
    margin: var(--spacing-xxxlarge) $separator-width / 2;
    background-color: var(--grey-350);
    position: relative;
    p {
      width: $separator-width;
      height: $separator-label-height;
      position: absolute;
      text-align: center;
      left: -$separator-width/2;
      top: calc(50% - #{$separator-label-height} / 2);
      background-color: var(--white);
    }
  }
}
.boxWrap {
  p {
    text-align: center;
    margin: var(--spacing-small) 0 !important;
  }
  .boxTitle {
    text-transform: uppercase;
  }
  .boxGroup {
    display: flex;
  }
}

.box {
  width: $cell-width * 8;
  height: $cell-height * 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, #{$cell-width});
  grid-template-rows: repeat(auto-fit, #{$cell-height});
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  box-sizing: content-box;
  div {
    width: $cell-content-size;
    height: $cell-content-size;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      opacity: 0.8;
    }
  }
}

.nodeSelected {
  box-shadow: 0px 0px 2px 2px var(--grey-350);
}
