.servicesPage {
  display: flex;
  height: 100%;

  .content {
    flex: 1;
    padding: var(--spacing-large) !important;
    overflow-y: auto;

    .serviceHeader {
      flex-basis: var(--spacing-huge);
      margin-bottom: var(--spacing-medium);
    }
    .serviceBody {
      flex: 1;
      margin-top: var(--spacing-xlarge);

      .rangeSelector {
        width: 92px;
        float: right;
        position: relative;
        top: 18px;
        :global {
          .bp3-input {
            border: none;
            background: transparent;
            text-align: right;
          }
          .bp3-menu {
            min-width: 92px;
          }
        }
      }

      .servicePageHeatMap {
        clear: right;
        margin-bottom: var(--spacing-xlarge) !important;
      }

      .serviceActivityTimeline {
        background-color: var(--white) !important;
        margin-bottom: var(--spacing-xlarge) !important;
        border-radius: 3px;
        box-shadow: var(--cardsShadow);
        padding: var(--spacing-small) !important;
        .timelineBarStyle {
          margin-right: var(--spacing-small) !important;
        }
      }
    }
    .categoryRiskCard {
      min-width: 200px;
      max-width: 300px;
    }
  }
}

.heatmapTooltip {
  padding: var(--spacing-small) !important;
  .overallScoreContent {
    display: flex;
    align-items: center;
    justify-content: center;
    > p:first-child {
      margin-right: var(--spacing-small);
    }
  }
}
