.dialog {
  position: relative;
  border-left: 0 !important;
  padding-bottom: 0 !important;
  min-width: 900px;
}

.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}
.buttonPanel {
  position: absolute;
  max-width: 500px;
  left: 0;
  bottom: 0;
}
.formContainer {
  height: 100% !important;
}
.smtpDetailsCard {
  width: 50%;
}
.smtpDetailsCardContainer {
  padding: var(--spacing-xxlarge);
  width: 100%;
  height: 100%;
}
.smtpMdlContainer {
  width: 70% !important;
}
