.main {
  .infoText {
    font-size: 16px !important;
  }
  .illustration {
    width: 220px;
  }
  .minimal {
    .infoText {
      font-size: 13px !important;
    }
    .illustration {
      width: 117px;
    }
  }
}
