.delegateSelectorContainer {
  .saveAndContinue {
    white-space: nowrap !important;
  }

  .formInput {
    min-width: 310px;
    max-width: 620px !important;
    margin: 0 var(--spacing-small);
    padding-right: var(--spacing-medium);
    :global(.bp3-tag-input) {
      height: auto !important;
    }
  }

  .radio {
    color: var(--grey-700);
    font-size: var(--font-size-small);
    white-space: pre;
  }

  :global(.bp3-control) {
    margin-bottom: 0;
  }

  :global(.bp3-tag) {
    max-width: 590px;
  }

  .delegateContentContainer {
    max-width: 810px;
  }

  .table {
    background: var(--white);
    overflow: auto;
    height: 100%;
    div[role='row'] {
      box-shadow: none;
      border-radius: 0px;
      border-bottom: 1px solid var(--grey-200);
    }
    .delegateNameContainer {
      .delegateName {
        white-space: nowrap !important;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      :global(.bp3-popover-target) {
        width: 100% !important;
      }
    }
    .troubleshoot {
      cursor: pointer;
    }
    .tagContainer {
      word-break: break-word;
    }
  }
}
