.main {
  .monitoringCard {
    margin-bottom: var(--spacing-large) !important;
  }
}

.disabledConnector {
  width: 80%;
  input {
    color: var(--grey-400) !important;
    background-color: var(--grey-100) !important;
  }
}

.connectorReference [class*='MultiTypeInput--btn'] {
  display: none !important;
}

.loadingText {
  width: 300px;
}
