.serviceOverrides {
  display: grid;
  // grid-template-columns: auto 1fr;
  // tabs height 50px + margin-top 20px = 70px
  height: calc(100% - 70px);
  :global {
    .bp3-tab-panel {
      margin: 0;
    }
    .bp3-tab-list {
      background: var(--white) !important;
    }
    .bp3-tab[aria-selected='true'] {
      font-weight: 900;
      color: var(--black) !important;
    }
    .bp3-tab[aria-selected='false'] {
      color: var(--grey-800);
    }
    .bp3-tab-list {
      justify-content: center;
      border-bottom: 0;
    }
  }
  .navigationButtons {
    margin-bottom: 60px;
  }
  .name {
    width: 300px;
  }
  .addDataLinks {
    display: flex;
    align-items: center;
    button {
      color: var(--grey-500) !important;
    }
  }
  .removeLink {
    color: var(--blue-500);
    cursor: pointer;
    position: absolute;
    left: 350px;
  }
  .specTabs {
    button[class*='minimal'] {
      border-radius: 0 !important;
      font-size: 16px;
      &:hover,
      &:active {
        background-color: transparent !important;
        color: var(--black);
        font-weight: 800;
      }
    }
    .selected {
      border-bottom: 2px solid var(--grey-700) !important;
    }
  }
  .overideCheckbox {
    color: var(--grey-900);
    font-weight: bold !important;
    font-size: var(--font-size-medium) !important;
  }
  .stepContainer {
    display: flex;
    flex-direction: column;
  }
  .serviceSection {
    display: grid;
    grid-template-columns: 350px 1fr;
    padding: 32px 32px 32px 32px;
    border-bottom: 1px solid var(--grey-200);

    &.noPadTop {
      padding-top: 0px;
    }
    .serviceCards {
      display: flex;
      column-gap: var(--spacing-xsmall);
      .bp3-card {
        display: inline-block;
      }
      .disabled {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        cursor: not-allowed !important;
      }
      margin-bottom: 24px;
    }
  }
}

.deploymentTypeGroups {
  display: flex;

  .deploymentTypeGroup {
    &:not(:last-of-type) {
      margin-right: var(--spacing-xxlarge);
    }
  }

  .connectionType {
    color: #0b0b0d;
    padding-bottom: var(--spacing-small);
  }
}

.changeButton {
  align-self: flex-end;
}

.squareCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85px;
  margin-right: var(--spacing-small);
}

.squareCard {
  width: 64px;
  height: 64px;
  padding: var(--spacing-small) 0;
  margin-bottom: var(--spacing-small);
  display: flex !important;
  justify-content: center;

  [class*='cardIcon'] svg {
    margin: 0 !important;
  }
}

.create-stage-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.edit-stage-grid {
  display: grid;
  grid-template-columns: auto 1fr;
}
.content-section {
  padding-left: 60px;
  height: 100%;
  overflow-y: scroll;
}
.tabHeading {
  font-size: var(--font-size-medium);
  color: var(--black-color-3);
  margin-bottom: 14px;
  font-weight: 600;
}
.tabSubHeading {
  font-size: var(--font-size-normal);
  color: var(--black-color-3);
  margin-bottom: 14px;
  font-weight: 600;
}
.section-card {
  width: 1024px;
  margin-bottom: 20px;
  &.shadow {
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  }
  &.notwide {
    width: auto;
  }
  background-color: #fafbfc;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.nopadleft {
  padding-left: 0 !important;
}
.section-card {
  width: 1024px;
  margin-bottom: 20px;
  .subheading {
    color: #6b6d85;
    padding-bottom: var(--spacing-small);
  }
}
