.basicDetails {
  width: 55%;
  padding: var(--spacing-xlarge) var(--spacing-xxlarge);
  border-radius: var(--spacing-2);
  height: 500px;
}

.preview {
  padding: var(--spacing-10) var(--spacing-12);
  display: flex;
  justify-content: center;
}

.field {
  width: 75%;
  margin: var(--spacing-7) 0;
}

.buttonGroup {
  margin-top: var(--spacing-large);
}

.closeIcon {
  text-align: right;
  padding: var(--spacing-6) var(--spacing-4);

  :global {
    svg[data-icon='cross'] {
      width: 24px;
      height: 24px;
      color: var(--grey-500);
    }
  }
}
