.createNode {
  display: block;

  .createNew {
    border-width: 2px !important;
    border-style: dashed !important;

    &.disabled {
      background-color: var(--grey-200);
      cursor: not-allowed;
    }
  }
}
