.createNode {
  display: block;

  .createNew {
    border: 2px dashed var(--grey-400) !important;

    &.selected {
      border-color: var(--primary-7) !important;
    }

    &.disabled {
      background-color: var(--grey-200);
      cursor: not-allowed;
    }
  }
}
