.createTemplateDialog {
  width: 875px;
  padding-bottom: 0;
  overflow: hidden;
  position: relative;
}
.updateTemplateDialog {
  width: 490px;
  padding-bottom: 0;
  overflow: hidden;
  position: relative;
}
