.deleteTemplateDialog {
  width: 752px;
  overflow: hidden;
  padding: var(--spacing-xlarge) var(--spacing-medium);
  position: relative;
  min-height: 400px;
}
.updateTemplateSettingsDialog {
  width: 875px;
  overflow: hidden;
  padding-bottom: 0;
  position: relative;
  min-height: 400px;
}

.expandSearch {
  margin-right: var(--spacing-medium);
}

.loading {
  margin: auto;
  height: 100vh;
}

.gitFilter {
  height: 32px;
  padding-left: var(--spacing-xlarge) !important;
}
