.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.exampleWizard {
  height: 100%;
  border-radius: 6px;
  [class*='StepWizard-'] {
    height: 100%;
    border-radius: 4px;
    position: relative;
  }
  [class*='StepWizard---navStep'] {
    align-items: flex-start !important;
  }
  :global {
    .bp3-progress-meter {
      border-radius: 0;
    }
    .bp3-intent-success .bp3-progress-meter {
      background-color: var(--green-500);
    }
  }
  [class*='StepsProgress---progressBar'] {
    margin-left: -30px;
    margin-right: -30px;
  }
  [class*='customGrid'] {
    :global {
      .bp3-card {
        padding: var(--spacing-small);
      }
    }
    display: grid;
    grid-auto-rows: auto;
    grid-gap: var(--spacing-medium);
    grid-template-columns: repeat(auto-fill, 180px);
    padding: 0 var(--spacing-medium);
  }
  .itemName {
    color: var(--grey-900);
    font-weight: bold;
    font-size: 12px;
  }
  .itemInfo {
    color: var(--grey-400);
    font-size: 12px;
    border-top: 1px solid var(--grey-200);
    padding-top: 15px;
  }
  .formLayout {
    margin-top: var(--spacing-xxlarge);
  }
  .stepsOverlay {
    position: absolute;
    width: 400px;
    padding: var(--spacing-large);
    right: 0;
    height: calc(100% - 83px);
    top: 83px;
    box-shadow: 0px 0px 10px 0px VAR(--grey-300);
  }
}
