.optionBtns {
  display: inline-block;
  background-color: var(--grey-200);
  border-radius: 10px;
  font-size: var(--font-size-xsmall);
  line-height: 14px;
  width: 138px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  .item {
    display: inline-block;
    padding: var(--spacing-xsmall) var(--spacing-medium);
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
  }

  .selected {
    font-weight: bold;
    background-color: var(--grey-400);
    color: var(--white);
    cursor: default;
  }
}

.collapseDiv div {
  border-top: none;
  padding: 0;
}

.basicForm {
  width: 350px;
  padding-bottom: var(--spacing-medium);
}

.editor {
  width: 100%;
}

.drag {
  cursor: move;
}

.dragging {
  background-color: var(--yellow-450) !important;
}

.dragOver {
  border-top: 2px solid var(--primary-7);
}

.input-set-form {
  [class*='OverlaySpinner--overlaySpinner'] {
    min-height: calc(100% - var(--page-header-height, 64px));
    overflow: hidden;

    .content {
      min-height: calc(100vh - 130px);
      overflow: auto;
      display: block;
      max-height: calc(100vh - 130px);
      padding-left: 0;
      padding-bottom: 30px !important;
    }
    .footer {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      position: fixed;
      bottom: 0;
      z-index: 999;
      background: var(--grey-50);
      width: 100%;
      padding: 12px !important;
    }
  }
}
.inputsetGrid {
  display: grid;
  grid-template-columns: 300px 1fr;
  background: var(--grey-50);
  .treeSidebar {
    border-right: solid 1px #ccc;
    background: #fff;
    height: calc(100vh - var(--page-header-height, 64px));
    overflow: auto;
  }
  .Card--card {
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  }
  .inputSetcard {
    margin: var(--spacing-large);
  }
}
.nameiddescription {
  padding-left: var(--spacing-medium) !important;
}

.errorHeader {
  background: #fff9e7;
  color: #000;
  :global {
    .bp3-icon {
      padding-right: var(--spacing-large);
    }
  }
}
