{
  "swagger": "2.0",
  "info": {
    "description": "Lightwing API documentation",
    "version": "1.0.0",
    "title": "Lightwing APIs",
    "contact": {
      "email": "navaneeth@lightwing.io"
    }
  },
  "host": "api.lightwing.io",
  "basePath": "/orgs",
  "tags": [
    {
      "name": "services",
      "description": "Autostopping APIs"
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/orgs/{org_id}/projects/{project_id}/services": {
      "parameters": [
        {
          "name": "org_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "Token",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": ["services"],
        "summary": "Gets all Autostopping Gateways",
        "description": "Multiple status values can be provided with comma separated strings",
        "operationId": "getServices",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServicesResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      },
      "post": {
        "tags": ["services"],
        "summary": "Create/Update Autostopping gateway",
        "operationId": "saveService",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Service definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaveServiceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServicesResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/services/{id}": {
      "parameters": [
        {
          "name": "org_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "number"
        },
        {
          "name": "Token",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": ["services"],
        "summary": "Gets autostopping gateway by id",
        "description": "Get service definition of auto stopping gateway",
        "operationId": "GetServiceDefinitionByID",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceDefinitionByIDResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/services/{id}/stats": {
      "parameters": [
        {
          "name": "org_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "number"
        },
        {
          "name": "Token",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": ["services"],
        "summary": "Get statuses of given autostopping gateway",
        "description": "Returns duartion of idle time and down time",
        "operationId": "GetServiceStats",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceStatsResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/services/{id}/requests": {
      "parameters": [
        {
          "name": "org_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "number"
        },
        {
          "name": "Token",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": ["services"],
        "summary": "Get service usage records",
        "description": "Returns service usage records of requested autostopping gateway",
        "operationId": "GetServiceRequests",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceUsageResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/accounts": {
      "parameters": [
        {
          "name": "org_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "Token",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": ["accounts"],
        "summary": "Lists all accounts under an org",
        "description": "Returns all the accounts under the requesting organization",
        "operationId": "AllAccounts",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AllAccountsResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/accounts/{account_id}/resources": {
      "post": {
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloud_account_id",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceFilterBody"
            }
          }
        ],
        "tags": ["AllResourcesOfAccount"],
        "summary": "Lists all resources under an account",
        "description": "Returns all resources under an account matching the given filter",
        "operationId": "AllResourcesOfAccount",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "schema": {
                "$ref": "#/definitions/AllResourcesOfAccountResponse"
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/accounts/{account_id}/instance_nsg": {
      "post": {
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloud_account_id",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SGResourceFilterBody"
            }
          }
        ],
        "tags": ["Resources"],
        "summary": "Network security groups of an instance",
        "description": "Returns all the network security group definitions ",
        "operationId": "SecurityGroupsOfInstances",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/SecurityGroupsOfInstancesResponse"
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{projectID}/services/{serviceID}/health": {
      "get": {
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceID",
            "in": "path",
            "required": true,
            "type": "number"
          },
          {
            "name": "Token",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Health"],
        "summary": "Health of a service",
        "description": "Returns health of a service",
        "operationId": "HealthOfService",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceHealthResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{projectID}/services/{serviceID}/savings": {
      "get": {
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceID",
            "in": "path",
            "required": true,
            "type": "number"
          },
          {
            "name": "Token",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "type": "string"
          },
          {
            "name": "group_by",
            "in": "query",
            "type": "string"
          }
        ],
        "tags": ["Savings"],
        "summary": "Savings of a service",
        "description": "Returns savings of a service",
        "operationId": "SavingsOfService",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/definitions/ServiceSavingsResponse"
                },
                {
                  "$ref": "#/definitions/ServiceSavingsGraphResponse"
                }
              ]
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{projectID}/services/{serviceID}/requests": {
      "get": {
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceID",
            "in": "path",
            "required": true,
            "type": "number"
          },
          {
            "name": "Token",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Requests"],
        "summary": "Requests of a service",
        "description": "Returns requests of a service",
        "operationId": "RequestsOfService",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceRequestsResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{projectID}/services/{serviceID}/logs": {
      "get": {
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceID",
            "in": "path",
            "required": true,
            "type": "number"
          },
          {
            "name": "Token",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Logs"],
        "summary": "Logs of a service",
        "description": "Returns logs of a service",
        "operationId": "LogsOfService",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceLogsResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/reports": {
      "post": {
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportRequestBody"
            }
          }
        ],
        "tags": ["GatewaySessionReport"],
        "summary": "Get GatewaySessionReport",
        "description": "Get GatewaySessionReport",
        "operationId": "GatewaySessionReport",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "schema": {
                "$ref": "#/definitions/GatewaySessionReportResponse"
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/services/{service_id}/toggle_state": {
      "put": {
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "disable",
            "in": "query",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "Token",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["ToggleAutostoppingRule"],
        "summary": "Toggle state of Autostopping Rule",
        "description": "Toggle state of Autostopping Rule",
        "operationId": "ToggleAutostoppingRule",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "schema": {
                "$ref": "#/definitions/ServicesResponse"
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/accounts/{account_id}/regions": {
      "parameters": [
        {
          "name": "org_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "account_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "cloud_account_id",
          "in": "query",
          "required": true,
          "type": "string"
        },
        {
          "name": "Token",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": ["regions"],
        "summary": "Lists all regions for a cloud account",
        "description": "Returns all regions for a cloud account",
        "operationId": "AllRegions",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AllRegionsResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/accounts/{account_id}/virtual_networks": {
      "parameters": [
        {
          "name": "org_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "account_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "cloud_account_id",
          "in": "query",
          "required": true,
          "type": "string"
        },
        {
          "name": "region",
          "in": "query",
          "required": true,
          "type": "string"
        },
        {
          "name": "Token",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": ["vpcs"],
        "summary": "Lists all vpcs for a cloud account",
        "description": "Returns all vpcs for a cloud account",
        "operationId": "AllVPCs",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AllVPCsResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/accounts/{account_id}/subnets": {
      "parameters": [
        {
          "name": "org_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "cloud_account_id",
          "in": "query",
          "required": true,
          "type": "string"
        },
        {
          "name": "account_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "region",
          "in": "query",
          "required": true,
          "type": "string"
        },
        {
          "name": "vpc",
          "in": "query",
          "required": true,
          "type": "string"
        },
        {
          "name": "Token",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": ["subnets"],
        "summary": "Lists all subnets for a cloud account",
        "description": "Returns all subnets for a cloud account",
        "operationId": "AllSubnets",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AllSubnetsResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/accounts/{account_id}/network_security_groups": {
      "parameters": [
        {
          "name": "org_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "cloud_account_id",
          "in": "query",
          "required": true,
          "type": "string"
        },
        {
          "name": "account_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "region",
          "in": "query",
          "required": true,
          "type": "string"
        },
        {
          "name": "vpc_id",
          "in": "query",
          "required": true,
          "type": "string"
        },
        {
          "name": "Token",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": ["securityGroups"],
        "summary": "Lists all securityGroups for a cloud account",
        "description": "Returns all securityGroups for a cloud account",
        "operationId": "AllSecurityGroups",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AllSecurityGroupsResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/services/access_points": {
      "post": {
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "accessPoint",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessPoint"
            }
          }
        ],
        "tags": ["CreateAccessPoint"],
        "summary": "Create an AccessPoint",
        "description": "Create an AccessPoint",
        "operationId": "CreateAccessPoint",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "schema": {
                "$ref": "#/definitions/CreateAccessPointResponse"
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Token",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["ListAccessPoints"],
        "summary": "List all AccessPoints",
        "description": "List all AccessPoints",
        "operationId": "ListAccessPoints",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListAccessPointResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/services/access_points/{access_point_id}": {
      "parameters": [
        {
          "name": "org_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "access_point_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "Token",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": ["GetAccessPoint"],
        "summary": "status of access point",
        "description": "status of access point",
        "operationId": "GetAccessPoint",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GetAccessPointResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/orgs/{org_id}/projects/{project_id}/accounts/{account_id}/execution_roles": {
      "parameters": [
        {
          "name": "org_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "cloud_account_id",
          "in": "query",
          "required": true,
          "type": "string"
        },
        {
          "name": "account_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "Token",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": ["executionRoles"],
        "summary": "Lists all executionRoles for a cloud account",
        "description": "Returns all executionRoles for a cloud account",
        "operationId": "AllExecutionRoles",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AllExecutionRolesResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    }
  },

  "definitions": {
    "Service": {
      "type": "object",
      "required": ["name", "fulfilment", "kind", "org_id", "cloud_account_id"],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "org_id": {
          "type": "string"
        },
        "account_identifier": {
          "type": "string"
        },
        "project_id": {
          "type": "string"
        },
        "fulfilment": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "cloud_account_id": {
          "type": "string"
        },
        "idle_time_mins": {
          "type": "integer",
          "format": "int64"
        },
        "host_name": {
          "type": "string"
        },
        "health_check": {
          "type": "object",
          "$ref": "#/definitions/HealthCheck"
        },
        "custom_domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "match_all_subdomains": {
          "type": "boolean"
        },
        "disabled": {
          "type": "boolean"
        },
        "routing": {
          "type": "object",
          "$ref": "#/definitions/RoutingData"
        },
        "opts": {
          "required": true,
          "type": "object",
          "$ref": "#/definitions/Opts"
        },
        "created_at": {
          "type": "string"
        },
        "access_point_id": {
          "type": "string"
        }
      }
    },
    "ServiceDep": {
      "type": "object",
      "properties": {
        "service_id": {
          "type": "int",
          "format": "int64"
        },
        "dep_id": {
          "type": "int",
          "format": "int64"
        },
        "delay_secs": {
          "type": "int"
        }
      }
    },
    "ServiceHealthResponse": {
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "items": {
            "error": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "state": {
              "type": "string"
            },
            "target_url": {
              "type": "string"
            }
          }
        }
      }
    },
    "SaveServiceRequest": {
      "type": "object",
      "properties": {
        "deps": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceDep"
          }
        },
        "service": {
          "type": "object",
          "$ref": "#/definitions/Service"
        },
        "apply_now": {
          "type": "boolean"
        }
      }
    },
    "FirewallRule": {
      "type": "object",
      "properties": {
        "from": {
          "type": "string",
          "required": true
        },
        "protocol": {
          "type": "string",
          "required": true
        },
        "to": {
          "type": "string",
          "required": true
        }
      }
    },
    "NetworkSecurityGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "inbound_rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FirewallRule"
          }
        },
        "outbound_rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FirewallRule"
          }
        }
      }
    },
    "SecurityGroupsOfInstancesResponse": {
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "$ref": "#/definitions/NetworkSecurityGroupForInstanceArray"
        }
      }
    },
    "NetworkSecurityGroupForInstanceArray": {
      "type": "object",
      "additionalProperties": {
        "type": "array",
        "items": {
          "type": "object",
          "$ref": "#/definitions/NetworkSecurityGroup"
        }
      }
    },
    "Resource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "availability_zone": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "launch_time": {
          "type": "string"
        },
        "ipv4": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "private_ipv4": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "object",
          "description": "tag key as attribute key and tag value as attribute value"
        },
        "resource_type": {
          "type": "string"
        },
        "provider_name": {
          "type": "string"
        },
        "is_spot": {
          "type": "boolean"
        },
        "platform": {
          "type": "string"
        },
        "cloud_account_id": {
          "type": "number"
        },
        "metadata": {
          "type": "object"
        },
        "provider_type": {
          "type": "string"
        }
      }
    },
    "ResourcesResponse": {
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Resource"
          }
        }
      }
    },
    "AllResourcesOfAccountResponse": {
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Resource"
          }
        }
      }
    },
    "SessionReportRow": {
      "type": "object",
      "properties": {
        "end": {
          "type": "string"
        },
        "start": {
          "type": "string"
        },
        "hours": {
          "type": "number"
        }
      }
    },
    "SessionReportRows": {
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SessionReportRow"
          }
        }
      }
    },
    "GatewaySessionReportResponse": {
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "$ref": "#/definitions/SessionReportRows"
        }
      }
    },
    "ResourceFilterBody": {
      "type": "object",
      "properties": {
        "Text": {
          "type": "string",
          "description": "String representation of TOML filter"
        }
      }
    },
    "SGResourceFilterBody": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "String representation of TOML filter"
        }
      }
    },
    "ReportRequestBody": {
      "type": "object",
      "properties": {
        "from": {
          "type": "string"
        },
        "report_name": {
          "type": "string"
        },
        "service_ids": {
          "type": "array",
          "items": {
            "type": "number"
          }
        },
        "timezone": {
          "type": "string"
        },
        "to": {
          "type": "string"
        }
      }
    },
    "ServiceUsageRecord": {
      "type": "object",
      "properties": {
        "service_id": {
          "type": "number"
        },
        "path": {
          "type": "string"
        },
        "session_id": {
          "type": "string"
        },
        "idle_time_mins": {
          "type": "number"
        }
      }
    },
    "Account": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number",
          "required": true
        },
        "name": {
          "type": "string",
          "required": true
        },
        "org_id": {
          "type": "number"
        },
        "created_by": {
          "type": "number"
        },
        "service_provider": {
          "type": "string"
        }
      }
    },
    "AllAccountsResponse": {
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Account"
          }
        }
      }
    },
    "ServicesResponse": {
      "type": "object",
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service"
          }
        }
      }
    },
    "ServiceUsageResponse": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ServiceUsageRecord"
      }
    },
    "ServiceSaveRequest": {
      "type": "object",
      "properties": {
        "service": {
          "type": "object",
          "$ref": "#/definitions/Service"
        }
      }
    },
    "ServiceStats": {
      "type": "object",
      "properties": {
        "service_id": {
          "type": "number"
        },
        "idle_time_percentage": {
          "type": "number"
        },
        "down_time_mins": {
          "type": "number"
        },
        "total_time_mins": {
          "type": "number"
        }
      }
    },
    "ServiceDepTree": {
      "type": "object",
      "properties": {
        "service": {
          "type": "object",
          "$ref": "#/definitions/Service"
        },
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceDepTree"
          }
        }
      }
    },
    "ServiceStatsResponse": {
      "type": "object",
      "properties": {
        "stats": {
          "type": "object",
          "$ref": "#/definitions/ServiceStats"
        },
        "dep_tree": {
          "type": "object",
          "$ref": "#/definitions/ServiceDepTree"
        }
      }
    },
    "InstanceBasedRoutingData": {
      "type": "object",
      "properties": {
        "filter_text": {
          "type": "string"
        }
      }
    },
    "HealthCheck": {
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "port": {
          "type": "int"
        },
        "timeout": {
          "type": "int"
        }
      }
    },
    "Opts": {
      "type": "object",
      "properties": {
        "preserve_private_ip": {
          "type": "boolean"
        },
        "delete_cloud_resources": {
          "type": "boolean"
        },
        "always_use_private_ip": {
          "type": "boolean"
        }
      }
    },
    "PortConfig": {
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "target_protocol": {
          "type": "string"
        },
        "port": {
          "type": "integer"
        },
        "target_port": {
          "type": "integer"
        },
        "server_name": {
          "type": "string"
        },
        "action": {
          "type": "string",
          "enum": ["forward", "redirect"]
        },
        "redirect_url": {
          "type": "string"
        },
        "routing_rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoutingRule"
          }
        }
      }
    },
    "ServiceDependency": {
      "type": "object",
      "properties": {
        "service_id": {
          "type": "number"
        },
        "dep_id": {
          "type": "number"
        },
        "delay_secs": {
          "type": "number"
        }
      }
    },
    "ServiceDefinitionByIDResponse": {
      "type": "object",
      "properties": {
        "service": {
          "type": "object",
          "$ref": "#/definitions/Service"
        },
        "deps": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceDependency"
          }
        }
      }
    },
    "RoutingRule": {
      "type": "object",
      "properties": {
        "path_match": {
          "type": "string"
        }
      }
    },
    "RoutingData": {
      "type": "object",
      "properties": {
        "instance": {
          "type": "object",
          "$ref": "#/definitions/InstanceBasedRoutingData"
        },
        "ports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PortConfig"
          }
        },
        "lb": {
          "type": "string"
        }
      }
    },
    "ServiceSavings": {
      "type": "object",
      "properties": {
        "potential_cost": {
          "type": "number",
          "format": "float"
        },
        "actual_cost": {
          "type": "number",
          "format": "float"
        },
        "actual_savings": {
          "type": "number",
          "format": "float"
        },
        "savings_percentage": {
          "type": "number",
          "format": "float"
        },
        "usage_date": {
          "type": "string"
        }
      }
    },
    "ServiceSavingsResponse": {
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "$ref": "#/definitions/ServiceSavings"
        }
      }
    },
    "ServiceSavingsGraphResponse": {
      "type": "object",
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/ServiceSavings"
          }
        }
      }
    },
    "ServiceRequest": {
      "type": "object",
      "properties": {
        "created_at": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "ServiceRequestsResponse": {
      "type": "object",
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/ServiceRequest"
          }
        }
      }
    },
    "ServiceLog": {
      "type": "object",
      "properties": {
        "created_at": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "error": {
          "type": "string"
        }
      }
    },
    "ServiceLogsResponse": {
      "type": "object",
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/ServiceLog"
          }
        }
      }
    },
    "AccessPointMeta": {
      "type": "object",
      "properties": {
        "error": { "type": "string" },
        "role": { "type": "string" },
        "security_groups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AccessPoint": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "account_id": {
          "type": "string"
        },
        "cloud_account_id": {
          "type": "string"
        },
        "org_id": {
          "type": "string"
        },
        "project_id": {
          "type": "string"
        },
        "host_name": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "vpc": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "$ref": "#/definitions/AccessPointMeta"
        },
        "subnets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "security_groups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreateAccessPointResponse": {
      "properties": {
        "response": {
          "type": "object",
          "$ref": "#/definitions/AccessPoint"
        }
      }
    },
    "ListAccessPointResponse": {
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessPoint"
          }
        }
      }
    },
    "Region": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "required": true
        },
        "name": {
          "type": "string",
          "required": true
        }
      }
    },
    "AllRegionsResponse": {
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Region"
          }
        }
      }
    },
    "Vpc": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "required": true
        },
        "name": {
          "type": "string",
          "required": true
        }
      }
    },
    "AllVPCsResponse": {
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Vpc"
          }
        }
      }
    },
    "Subnet": {
      "type": "object",
      "properties": {
        "az_id": {
          "type": "string",
          "required": true
        },
        "id": {
          "type": "string",
          "required": true
        },
        "name": {
          "type": "string",
          "required": true
        }
      }
    },
    "ExecutionRule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "required": true
        },
        "name": {
          "type": "string",
          "required": true
        }
      }
    },
    "AllSubnetsResponse": {
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subnet"
          }
        }
      }
    },
    "AllSecurityGroupsResponse": {
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSecurityGroup"
          }
        }
      }
    },
    "GetAccessPointResponse": {
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "$ref": "#/definitions/AccessPoint"
        }
      }
    },
    "AllExecutionRolesResponse": {
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExecutionRule"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}
