.main {
  width: 60% !important;
  margin: 0 auto !important;

  div[role='columnheader'] {
    cursor: auto !important;
  }
}

.loadingErrorNoData {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translateX(-50%);
}
