.listing {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);
  padding: 0;
  margin: 0;

  :global(.bp3-tag) {
    background-color: var(--primary-2) !important;
    border: none !important;
  }
}
