.main {
  .addBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: -12px;
    margin-bottom: 12px;
  }

  :global {
    [class~='bp3-tab'] {
      margin-top: 0;
    }
  }

  .mainSection {
    border-collapse: collapse;
    .row td {
      border-top: 1px solid lightgray;
      padding-top: 12px;
      padding-left: 12px;
    }

    .row {
      .nameField {
        width: 195px;
      }

      .criteriaSign {
        width: 135px;
      }

      .criteria {
        width: 80px;
      }

      .type {
        width: 130px;
      }

      .occurrence {
        width: 60px;
      }

      .action {
        width: 200px;
      }

      .ignoreAction {
        padding-top: 0px;
      }

      .removeBtn {
        padding-top: 0px;
      }
    }
  }

  .actionButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    .cancel {
      margin-right: 12px;
    }
  }
}
