:root {
  --filter-theme-bg-color: #0a3364;
  --hover-bg-color: #1a1a1a;
}

.main {
  background-color: var(--filter-theme-bg-color);
  height: 100vh;
  .closeFilter {
    background-color: var(--white) !important;
    color: var(--primary-7) !important;
  }
}

.title {
  color: var(--white);
  font-weight: bold;
  font-size: large;
}

.addNewFilterBtn {
  justify-content: end;
  max-height: none !important;
  height: var(--spacing-huge) !important;
  padding-left: var(--spacing-medium) !important;
  background: var(--filter-theme-bg-color) !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.saveFilterBtn {
  width: 70px;
}
.cancelBtn {
  width: 70px;
  color: var(--white) !important;
  &:hover {
    cursor: pointer;
    color: var(--primary-7) !important;
  }
}

.radioBtns {
  > div > div > label {
    font-size: var(--font-size-normal) !important;
    color: var(--white) !important;
  }
}

.filterName {
  > div > div > input {
    background: var(--filter-theme-bg-color);
    color: var(--white);
  }
}

.filters {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  border-top: 1px solid grey;
}

.filter {
  &:hover {
    cursor: pointer;
    background: var(--hover-bg-color) !important;
    opacity: 0.8;
  }
}

.filterLabel {
  color: var(--white);
  font-size: small;
}

.noElement {
  margin-right: var(--spacing-large);
}

.menuItem {
  padding: var(--spacing-small) var(--spacing-medium);
  &:hover {
    cursor: pointer;
    background-color: var(--primary-7) !important;
  }
}

.isActive {
  cursor: pointer;
  background: var(--hover-bg-color) !important;
}

.layout {
  display: flex;
  align-items: center;
}

.loading {
  margin: auto;
  height: 100vh;
}
