.dockerDetailsContainer {
  padding-left: var(--spacing-xxlarge) !important;
  flex: 1;
}

.verificationField {
  box-shadow: 0px 0px 5px rgba(40, 41, 61, 0.0348285);
  background: #effbff !important;
  border-radius: 4px !important;
}

.verticalDivider {
  margin: 0 var(--spacing-large) !important;
}
