.main {
  height: 130px;
  width: 140px;
  padding: var(--spacing-small) !important;
  display: flex;
  flex-direction: column;
  background-color: var(--blue-700) !important;

  .iconTitleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--spacing-large) + var(--spacing-xsmall));

    > span {
      border: 1px solid var(--grey-250);
      height: 30px;
      width: 30px;
      border-radius: 4px;

      svg {
        margin: 0 auto;
        position: relative;
        top: 6px;
      }
    }

    .activityType {
      font-size: 10px;
      align-self: center;
      text-align: right;
    }
  }

  .activityName {
    font-size: var(--font-size-small) !important;
    line-height: 2 !important;
  }
}

.cursor {
  cursor: pointer;
}
