.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .logsAnalysisFilters {
    max-width: 250px;
  }

  .clusterChart {
    width: 100%;
    height: 185px;
    margin-bottom: var(--spacing-large);
  }
}

.loadingContainer {
  flex-grow: 1;
}

.noData {
  margin-top: var(--spacing-none) !important;
}

.noDataContainer {
  height: 100% !important;
}

.logClusterNoDataImage {
  height: 100px;
  width: 200px;
}

.logsAnalysisNoData {
  height: 100% !important;
  margin-top: 140px !important;
}
