.resourceTypeCard {
  width: 100%;
  box-shadow: var(--card-shadow);
}

.resourceSubList {
  padding-left: var(--spacing-xxxlarge) !important;
  padding-top: var(--spacing-medium) !important;
}

.checkBox {
  margin: var(--spacing-none) !important;
}
