.container {
  height: var(--spacing-large);
  overflow: hidden;
}
.tagsContainer {
  flex-wrap: wrap;
  .tag:global(.bp3-tag) {
    margin-right: var(--spacing-xsmall);
    font-size: var(--font-size-xsmall);
    font-weight: 500;
    padding: 0 var(--spacing-3);
    height: 20px;
    border: none;
    background-color: var(--grey-100);
  }
  p.count {
    font-size: var(--font-size-small) !important;
    line-height: 20px !important;
  }
}
