.subHeader {
  position: relative;

  @media only screen and (max-width: 1500px) {
    .templateIcon {
      display: none;
    }
  }

  :global(.bp3-popover-wrapper) {
    display: inline-flex;
  }

  .visualYamlToggle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .tagRender {
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: var(--orange-600);
      display: inline-block;
      margin: 0 4px;
    }
  }
}
