.expanded-input {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: flex-end;

  input {
    border: 0 !important;
    &:focus {
      border: 1px solid var(--grey-350) !important;
    }
  }
}
.stepInside {
  display: flex;
}

.paletteCardHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(151, 151, 151, 0.2);
  mix-blend-mode: normal;
}

.stepPalette {
  .stepsRenderer {
    height: 100vh;
    overflow: scroll;
    width: calc(100% - 200px);
    background-color: var(--white);
    box-sizing: border-box;
    box-shadow: -3px 3px 11px rgba(156, 156, 156, 0.5);
    .expandSearch {
      width: 200px;
      height: 35px;
      display: flex;
      justify-content: flex-end;
      :global {
        input[type='search'] {
          border: 0;
        }
      }
    }
    .categorySteps {
      color: var(--grey-400);
      .categoryName {
        color: var(--grey-400);
        margin-bottom: var(--spacing-large);
        font-size: 14px;
        line-height: 17px;
        color: #000000;
      }
      .steps {
        display: grid;
        grid-template-columns: 125px 125px 125px;
        grid-column-gap: var(--spacing-medium);
        grid-row-gap: var(--spacing-large);
        text-align: center;
        .step {
          position: relative;
          :global {
            .bp3-elevation-0 {
              box-shadow: 0px 5px 8px -2px var(--grey-300);
            }
            .bp3-elevation-0:hover {
              box-shadow: 0px 5px 9px -1px var(--grey-350);
            }
          }
          [class*='card'] {
            &:hover {
              cursor: pointer;
              border: 1px solid var(--primary-5);
            }
          }
          .stepName {
            margin-top: var(--spacing-small);
            color: var(--grey-600);
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-box-orient: vertical;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */

            text-align: center;

            color: #555770;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .drawerSubLabel {
      opacity: 0.4;
      color: var(--grey-400);
      margin-top: 0 !important;
    }
  }

  .categoriesRenderer {
    width: 280px;
    height: 100vh;
    font-family: Inter;
    font-style: normal;

    background: #00467b;
    color: var(--white);
    .library {
      font-weight: 600;
      font-size: 14px;
    }
    .libraryHeader {
      margin-left: var(--spacing-medium);
    }
    .headerContainer {
      display: flex;
      flex-direction: column;
    }
    .showAllBtn {
      background: #112143;
      mix-blend-mode: normal;
      border-radius: 5px;
      display: flex;
      align-items: center;
      padding: var(--spacing-medium) !important;
      margin-top: var(--spacing-medium);
      color: var(--white);
      font-weight: bold;
    }

    .separator {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      opacity: 0.34;
      margin-top: var(--spacing-medium);
    }
    .primaryCategories {
      margin-top: var(--spacing-medium);
      > section {
        cursor: pointer;
        margin-bottom: var(--spacing-small);
        font-size: var(--font-size-small);
        padding: var(--spacing-small);
      }
    }
    .secCategories {
      margin: var(--spacing-medium);
      .title {
        text-transform: uppercase;
        color: var(--grey-400);
        font-size: var(--font-size-xsmall);
        letter-spacing: 2px;
        margin-bottom: var(--spacing-medium);
      }
      .category {
        padding: var(--spacing-small);
        display: inline-flex;
        cursor: pointer;
        color: var(--grey-800);
        align-items: end;
        font-size: 12px;
        color: var(--white);
        opacity: 0.9;
        :global {
          .bp3-icon {
            margin-right: var(--spacing-small);
          }
        }
      }
      .offset {
        padding-left: var(--spacing-large);
        border-left: 0.25px solid rgb(255, 255, 255, 0.44);
        margin-left: var(--spacing-large);
      }
    }
    .active {
      background: var(--primary-2);
      color: var(--primary-7) !important;
      font-weight: 700;
      border-radius: 5px;
      :global {
        // path {
        //   fill: var(--blue-600) !important;
        // }
      }
    }
  }
}
