.input {
  width: 100%;
  background-color: var(--grey-100) !important;
  padding: var(--spacing-xsmall) var(--spacing-small);
  border-radius: 5px;

  ~ :global(span .bp3-popover-target > button::before) {
    background-color: var(--grey-100) !important;
  }
}
