@import 'split-view/split-view';
.container {
  height: 100%;
  width: 100%;
}
:global {
  split-divider[wide] {
    background-color: var(--grey-500);
  }
  split-view[horizontal] > split-divider[wide] {
    height: 5px;
    position: relative;
    z-index: 1;
  }
  split-view[horizontal] > section {
    flex: 2;
  }
}

.canvas {
  height: 100%;
  width: 100%;
  position: relative;

  > div {
    cursor: default;
    height: 100%;
    width: 100%;
  }

  .render-popover {
    min-width: 140px;
    z-index: 2;
    overflow-y: scroll;
    max-height: 500px;
  }

  .create-new-content {
    max-width: 300px;

    &.parallel {
      max-width: 220px;

      .create-new-cards {
        grid-template-columns: 66px 66px 66px;
      }
    }

    .create-new-cards {
      display: grid;
      grid-template-columns: 66px 66px 66px 66px;
      gap: 10px;

      .card-new {
        width: 66px;
        height: 62px;
        padding: 5px;
        cursor: pointer;
        background-color: var(--pipeline-blue-bc);

        & > div {
          text-align: center;
        }

        & > span {
          padding: 5px 18px 5px;
        }

        &:hover {
          background-color: rgba($color: #000000, $alpha: 0.2);
          color: var(--white);
        }
      }
    }

    .create-new-message {
      font-size: var(--font-size-small);
      padding-top: var(--spacing-large);
    }
  }
}

.collapseDiv div {
  border-top: none;
  padding: 0;
}

.label-bold label {
  line-height: 19px;
  font-weight: 700;
  font-size: var(--font-size-normal);
}

.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: var(--spacing-small);
  padding-top: var(--spacing-small);
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));

  :global(.bp3-card) {
    padding: var(--spacing-large);
    width: 70px;
    height: 70px;
  }
}

.stage-create {
  width: 350px;
}

.btn-setup {
  padding-top: var(--spacing-medium);
}

.stageCloseIcon {
  position: absolute;
  color: var(--white) !important;
  right: var(--spacing-large);
  cursor: pointer;
  top: var(--spacing-medium);
}
