@import '../DrillDownViewPartial.module';

.main {
  padding: var(--spacing-large) !important;
  min-height: 250px;
  max-height: 790px;

  .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-small);

    .clusterHeading {
      font-size: var(--font-size-small) !important;
    }

    .tabContainer {
      :global {
        .bp3-tabs {
          .bp3-tab-list {
            border-bottom: none !important;
          }
          width: 200px !important;
          .bp3-tab[role='tab'] {
            font-size: 10px;
            line-height: unset !important;
            margin-top: 0 !important;
          }
        }
      }
    }
  }
  .logContainer {
    height: 52%;
  }
}

.error,
.noDataCard {
  height: 250px !important;
}

.loading {
  display: block;
  text-align: center;
  position: relative;
  top: 20%;
  height: 250px !important;
}
