.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: var(--white);
  border-bottom: 1px solid var(--grey-200);
  padding: var(--spacing-medium) var(--spacing-xxxlarge) !important;
  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-top: var(--spacing-small);
    text-transform: capitalize;
  }
}

.title {
  display: flex;
  flex-direction: column;
}
