.main {
  border-radius: 2px;
  margin-bottom: var(--spacing-small) !important;
  height: 130px !important;

  .waitAFew {
    font-weight: bold !important;
    font-size: var(--font-size-medium) !important;
    margin: var(--spacing-large) 0 !important;
    color: var(--black) !important;
  }

  .durationAndStatus {
    margin-bottom: var(--spacing-small) !important;
    display: flex;
    justify-content: space-between;

    > div:last-child {
      align-self: center;
    }
  }

  .progressBar {
    margin-bottom: var(--spacing-large) !important;
  }
}
