.barrierList {
  display: grid;
  padding: var(--spacing-small) 0;
  grid-row-gap: var(--spacing-large);
  border-top: 1px solid var(--grey-350);
  .barrierRow {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    .row {
      grid-template-rows: 1fr 1fr;
      .barrierData {
        span {
          display: inline;
        }
      }
    }
    .timeout {
      padding: 0 var(--spacing-xsmall);
      justify-content: end;
    }
    .timeoutRow {
      background: var(--pipeline-barrier);
      color: var(--black-color-2);

      width: 40px;
      text-align: center;
      border-radius: var(--spacing-xsmall);
    }
  }
  .stage-name {
    grid-row: span 2;
    display: grid;
  }
  .subheading {
    color: var(--grey-color-1);
    .stagePadLeft {
      padding-left: var(--spacing-xsmall);
    }
  }
}

.spinner {
  padding: var(--spacing-large);
}
.section {
  padding: var(--spacing-small) 0;
  &.borderSection {
    border-top: 1px solid var(--grey-350);
  }
  .sectionHeading {
    font-weight: 500;
  }
  .sectionData {
    font-size: var(--font-size-small);
    color: var(--grey-color-1);
  }
  &.section-grid {
    display: grid;
    grid-template-columns: 35px 1fr;
  }
}
