.panel {
  border: 1px solid var(--grey-300);
  border-radius: 4px;
  padding: var(--spacing-small);
}

.headerRow,
.responseMappingRow {
  display: grid;
  grid-template-columns: 1fr 1.5fr 30px;
  column-gap: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  align-items: center;

  :global(.bp3-form-group) {
    margin: 0;
  }

  .label {
    color: var(--grey-400);
  }

  :global(.bp3-icon-trash) {
    color: var(--grey-400) !important;
  }
}

.variablesList {
  margin-top: var(--spacing-large);
}
