.signupPage {
  // Signup card widths
  --min-width: 425px;
  --max-width: 35%;

  display: grid;
  grid-template-columns: minmax(var(--min-width), var(--max-width)) auto;
  grid-template-rows: 100vh;

  .cardColumn {
    overflow-y: auto;
  }

  .card {
    padding: 85px 0;
    overflow-x: hidden;
    width: var(--min-width);
    margin: 0 auto;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 80px;

      .link {
        display: flex;
        align-items: center;
        font-size: var(--font-size-medium);
        color: var(--blue-500);
        text-decoration: none;

        .arrow {
          margin-right: 5px;
        }
      }
    }

    .title {
      margin-bottom: 0;
      font-size: var(--font-size-large);
    }

    .subtitle {
      line-height: 40px;
      font-size: var(--font-size-medium);
    }

    .form {
      margin-top: 80px;

      form[class*='FormikForm--main'] > div > div[class*='OverlaySpinner--overlaySpinner'] {
        margin-top: 50px;
        margin-bottom: 63px;
      }

      .signupButton {
        margin-top: 16px;
        width: 100%;
        background-color: var(--blue-700) !important;
      }
    }

    .lineMessage {
      color: var(--grey-450);
      width: 100%;
      text-align: center;
      border-bottom: 1px solid var(--grey-400);
      line-height: 1px;
      margin-top: 50px;
      margin-bottom: 35px;

      .message {
        font-weight: normal;
        font-size: var(--font-size-normal);
        background: var(--white);
        padding: 0 12px;
      }
    }

    .oAuthIcons {
      display: flex;
      justify-content: space-evenly;

      .iconContainer {
        cursor: pointer;
        background-color: var(--grey-200);
        height: fit-content;
        width: fit-content;
        padding: 11px;
        border-radius: 2px;
      }
    }

    .disclaimer {
      margin-top: 35px;
      text-align: center;
      font-size: var(--font-size-normal);

      .externalLink {
        color: var(--blue-500);
      }
    }
  }

  .imageColumn {
    overflow-y: hidden;
    background-color: var(--blue-825);
    padding-top: 240px;
    padding-left: 240px;

    .image {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 1280px) {
  .signupPage {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .imageColumn {
    display: none;
  }
}

// Firefox has a bug where padding-bottom is ignored when overflow occurs
// https://bugzilla.mozilla.org/show_bug.cgi?id=748518
@-moz-document url-prefix() {
  .disclaimer {
    margin-bottom: 85px !important;
  }
}
