.main {
  padding: var(--spacing-large) !important;
}

.search {
  width: 300px !important;
}

.tableCell {
  span {
    max-width: 100%;
    display: block;
  }
  p {
    word-wrap: break-word;
  }
  margin-right: var(--spacing-small) !important;
}

.webhook {
  max-width: calc(100% - var(--spacing-xxxlarge));
}
