.main {
  --page-header-height: 143px;
  background-color: var(--grey-100) !important;
  padding: var(--spacing-xlarge) !important;

  .panel {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .information {
    flex: 2;
    padding-right: var(--spacing-medium);
    border-right: 1px solid var(--grey-200);
    height: 100%;
    margin-right: var(--spacing-medium);
    .overview {
      flex: 1;
      min-width: 400px;
    }
    .input-set {
      flex: 1;
      min-width: 440px;
    }
  }
}

.card {
  background: var(--white) !important;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  border-radius: 4px;
}

.delegateMachineSpec {
  font-size: 8px !important;
  color: #6b6d85 !important;
  width: 33.33%;
  text-align: center;

  > span {
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-top: var(--spacing-xsmall);

    > span {
      font-size: 12px;
    }
  }
}

.delegateOverviewEntry {
  border-bottom: 0.5px solid #dce0e7;
  padding: var(--spacing-medium) 0 !important;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0 !important;
  }
}

.optionBtns {
  display: inline-block;
  background-color: var(--grey-200);
  border-radius: 10px;
  font-size: var(--font-size-xsmall);
  line-height: 14px;
  width: 132px;

  .item {
    display: inline-block;
    padding: var(--spacing-xsmall) var(--spacing-medium);
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
  }

  .selected {
    font-weight: bold;
    background-color: var(--grey-400);
    color: var(--white);
    cursor: default;
  }
}

.advancedCard {
  width: 398px;
  height: 259px;
  background: #ffffff;
  border-radius: 4px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.cardValue {
  font-size: 13px;
  color: '#22272D';
}

.addSpacing {
  margin-top: var(--spacing-small);
}

.labelSeparator {
  border: 0.5px solid #cdd3dd;
}
