.card {
  flex-grow: 1;
  overflow: hidden;
  padding: 0px;
  border: 0px;
  box-shadow: none !important;
  padding: 0px !important;
  .text {
    font-size: 40px !important;
  }
  .tickerCard {
    min-width: 100px !important;
    background: var(--grey-50) !important;
  }
  .tickerContainerStyles {
    width: fit-content;
    .tickerValueStyles {
      font-size: var(--font-size-xsmall);
    }
  }
}
