.barrierInfo {
  display: grid;
  grid-template-columns: 22px 2fr 1fr;
  border-top: 1px solid var(--grey-350);
  .barrierDetails {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing-medium);
  }
  .timeoutIcon {
    padding-top: var(--spacing-xlarge);
    padding-left: var(--spacing-medium);
  }
  .timeoutContainer {
    display: grid;
    justify-content: center;
    .timeout {
      display: grid;
      justify-content: center;
      background: var(--pipeline-barrier);
      color: var(--black-color-2);
      width: 40px;
      border-radius: var(--spacing-xsmall);
    }
  }
  .subheading {
    color: var(--grey-color-1);
  }
}

.spinner {
  padding: var(--spacing-large);
}

.resource-constraints {
  display: grid;
  border-top: 1px solid var(--grey-350);
  padding-top: var(--spacing-small);
  .infoArea {
    .infoText {
      text-align: justify;
    }
    .pipelineList {
      display: grid;
      padding-top: var(--spacing-medium);
    }
  }
  .pipelineListItem {
    padding-bottom: var(--spacing-small);
    a,
    p {
      color: var(--primary-7);
    }
    .pipelineId {
      display: inline-block !important;
      max-width: 200px !important;
      width: unset !important;
    }
    .executionStatus {
      display: inline-block;
      vertical-align: top;
      padding-left: var(--spacing-small);
    }
  }
}
