.operandSelectorContainer {
  border: 1px solid var(--grey-300);
  padding: var(--spacing-small);
  border-radius: 4px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: var(--font-size-small);
  height: 34px;

  &.reducedPadding {
    padding: var(--spacing-xsmall);
  }

  .selectedValues {
    height: 23px;
    padding: var(--spacing-xsmall) var(--spacing-small) var(--spacing-xsmall) var(--spacing-small) !important;
    font-size: var(--font-size-small) !important;
    background: var(--grey-100) !important;
    overflow: hidden;
    border-radius: 4px;
  }
}

.disabledSelect {
  background-color: var(--grey-100);
}

.tabsContainer {
  position: relative;
  :global {
    .bp3-tab[aria-selected='true'],
    .bp3-tab:not([aria-disabled='true']):hover {
      color: var(--grey-900);
    }

    .bp3-tab-indicator-wrapper .bp3-tab-indicator {
      color: var(--primary-7);
      height: 2px;
    }
  }
}

.tabClass {
  padding: var(--spacing-small);
  padding-bottom: var(--spacing-xsmall);
  margin: 0px !important;
  color: var(--grey-600);
}

.panelClass {
  margin-top: 0px !important;
}

global {
  .operandContainer {
    position: relative;
  }
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 20px 20px;
  grid-gap: var(--spacing-small);
  align-items: center;
  width: 100%;
  padding-bottom: var(--spacing-small) !important;
}

.valueContainer {
  max-height: 420px;
  width: 320px;
  padding: var(--spacing-medium) !important;
  overflow: scroll;

  .searchBoxContainer {
    display: grid;
    grid-template-columns: 26px 1fr;
    align-items: center;

    .searchCheckBox {
      padding-left: 11px;
      margin-bottom: var(--spacing-4);
    }
  }

  .fetchingMoreLoader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox {
    margin-left: var(--spacing-large) !important;

    &.labelItem {
      padding: var(--spacing-xsmall) 0px;
    }
  }

  &.valueFetching {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.groupByLabel {
  max-height: 420px;
  overflow-y: auto;
  max-width: 480px;
}
