.filterContainer {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin: 10px 0px;
  padding: 8px 10px;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  border-radius: 6px;

  margin-left: 0px;
  background-color: var(--white);
  z-index: 2;
}

.addMoreFilter {
  display: flex;
  justify-content: center;
  border: 1px dashed var(--blue-500);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--blue-100);
  }
}

.addFilters {
  border: 1px dashed var(--blue-500) !important;
  height: 28px !important;
  font-size: 12px !important;
  margin: 0px var(--padding-xsmall) !important;
}

.andOperator {
  margin: 0px var(--spacing-small) !important;
  color: var(--blue-500);
}
