.jira-criteria {
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--grey-200);
  padding: var(--spacing-medium) 0;

  .conditions {
    list-style-type: disc !important;
    padding-left: var(--spacing-medium) !important;
    margin: var(--spacing-small) 0 0 0 !important;

    li:not(:last-child) {
      margin-bottom: var(--spacing-xsmall);
    }
  }

  .collapse-container {
    padding: 0;
  }

  .key {
    display: inline-block;
    border: 1px solid var(--grey-300);
    margin: 0 2px;
    padding: 0 2px;
    border-radius: 2px;
    background-color: var(--blue-100);
  }

  .jexl {
    margin-top: var(--spacing-small);
    background-color: var(--grey-100);
    border: 1px solid var(--grey-250);
    padding: var(--spacing-medium);
    border-radius: 4px;
  }
}
