.main {
  padding: 40px;
  padding-left: 80px;
  display: grid;
  overflow-y: scroll;
  grid-template-rows: 60px auto;
  grid-row-gap: 20px;
  .headingContainer {
    .title {
      font-weight: bold;
      font-size: medium;
      color: var(--black);
      margin-bottom: 10px;
    }
  }

  .tableContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-gap: 30px 30px;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin: var(--spacing-large) 0;
    button:first-child {
      margin-right: var(--spacing-small);
    }
  }
}
