.monitoredServiceCategory {
  display: flex;
  justify-content: center;
  padding: 0 var(--spacing-xsmall) !important;
  height: 25px;
  box-sizing: border-box;
  border-radius: 4px;

  .categoryName {
    font-size: var(--font-size-xsmall) !important;
    text-transform: uppercase;
    font-weight: bolder !important;
    letter-spacing: 2px !important;
  }

  &.application {
    background: #effbff !important;
    border: 1px solid #cdf4fe;

    .categoryName {
      color: var(--primary-8) !important;
    }
  }

  &.infrastructure {
    background: var(--purple-50) !important;
    border: 1px solid var(--purple-100);

    .categoryName {
      color: var(--purple-500) !important;
    }
  }
}

.monitoredServiceCategoryVertical {
  height: 100%;
  align-items: flex-end;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  left: -5px;

  &.application {
    .categoryName {
      align-items: flex-end !important;
    }
  }

  &.infrastructure {
    .categoryName {
      align-items: flex-end !important;
    }
  }
}
