.create-new-content {
  max-width: 530px;
  background: #fff;
  display: grid;
  grid-template-columns: 320px 210px;
  &.parallel {
    .create-new-cards {
      grid-template-columns: 66px 66px 66px;
    }
  }
  .stageTypeSection {
    border-right: dashed 1px #ccc;
    padding: var(--spacing-xxlarge);
  }

  .create-new-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-xlarge);

    .card-new {
      width: 72px;
      height: 72px;
      padding: var(--spacing-large);
      cursor: pointer;
      display: grid;
      justify-content: center;

      & > div {
        text-align: center;
      }
    }
    .cardTitle {
      font-size: var(--font-size-small);
      justify-content: center;
      display: grid;
      padding: 8px;
      &.selected {
        font-weight: 600 !important;
      }
    }
  }
  .stageTitle {
    font-size: var(--font-size-medium);
    font-weight: 600;
    color: var(--grey-800);
    margin-bottom: 24px;
  }

  .stageDescription {
    font-size: var(--font-size-small);
    color: var(--grey-600);
    margin: var(--spacing-large);
    text-align: center;
    height: 60px;
  }
  .closeIcon {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
  }
}
