.create-new-content {
  max-width: 490px;
  background: #fff;
  display: grid;
  grid-template-columns: 320px 1fr;
  &.parallel {
    max-width: 235px;

    .create-new-cards {
      grid-template-columns: 66px 66px 66px;
    }
  }

  .create-new-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 12px;
    padding: var(--spacing-xxlarge);

    .card-new {
      width: 72px;
      height: 72px;
      padding: var(--spacing-large);
      cursor: pointer;
      display: grid;
      justify-content: center;

      & > div {
        text-align: center;
      }
    }
    .cardTitle {
      justify-content: center;
      display: grid;
      padding: 8px;
    }
  }

  .create-new-message {
    font-size: var(--font-size-medium);
    border-left: dashed 1px #ccc;
    padding: var(--spacing-xlarge);
    .stageTitle {
      font-size: 14px;
      font-weight: 600;
      color: var(--black-color-1);
      margin-bottom: 12px;
    }
  }
}
