.setupShell {
  height: 78%;
  display: flex;
  bottom: 0;
  left: 50px;
  position: fixed;
  justify-content: space-between;
  flex-direction: column;
  width: calc(100% - 110px);
  background: white;
  .tabsContainer {
    :global {
      .bp3-tab {
        margin: 10px 0 10px 0 !important;
        width: 140px;
        text-align: center;
      }
      .bp3-tab-list {
        background: var(--grey-900);
        position: absolute;
        width: 100%;
        top: 0;
      }
      .bp3-tab-panel {
        position: absolute;
        top: 80px;
        height: calc(100% - 160px);
        width: 100%;
        overflow: scroll;
      }
      .bp3-tab[aria-selected='true'] {
        color: white;
        padding: 0 var(--spacing-large);
      }
      .bp3-tab[aria-selected='false'] {
        color: var(--grey-400);
      }
      .bp3-tab-indicator-wrapper .bp3-tab-indicator {
        height: 4px;
        bottom: 3px;
      }
    }
  }
}
