.setupShell {
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  background: white;
  .tabsContainer {
    height: 73vh;

    &.tab-execution {
      :global(.bp3-tab-panel) {
        background-image: var(--pipeline-canvas-image);
        height: 100%;
        min-height: 800px;
        margin: 0;
        overflow: scroll;
      }
    }
    :global {
      .bp3-tab {
        margin: 10px 0 10px 0 !important;
        min-width: 140px;
        padding: 0 var(--spacing-medium);
        text-align: center;
      }
      .bp3-tab-list {
        background: var(--grey-900);
        // position: absolute;
        // width: 100%;
        // top: 0;
      }
      .bp3-tab-panel {
        // position: absolute;
        // top: 80px;
        // height: calc(100% - 160px);
        // width: 100%;
        overflow: scroll;
        height: calc(73vh - 155px);
        margin-top: 60px;
      }
      .bp3-tab[aria-selected='true'] {
        color: white;
        padding: 0 var(--spacing-large);
      }
      .bp3-tab[aria-selected='false'] {
        color: var(--grey-400);
      }
    }
    .tab {
      :global {
        span.bp3-icon {
          margin-right: var(--spacing-small);
          path {
            fill: var(--grey-400);
          }
        }
      }
    }
  }
}
