.listItem {
  .meta {
    color: var(--grey-400);
    font-size: smaller;
  }

  &:hover {
    background-color: var(--blue-500);
    color: var(--white);

    .meta {
      color: var(--grey-250);
    }
  }
}
