.listItem {
  .edit-btn {
    display: none !important;
  }

  &:hover {
    .edit-btn {
      display: flex !important;
    }
  }
}

.status {
  align-items: center;
  display: flex;
  align-content: center;
}

.tag {
  text-transform: uppercase;
}
