.main {
  background-color: var(--white) !important;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  padding: var(--spacing-small) !important;
  margin-bottom: var(--spacing-xlarge) !important;

  .activityView {
    > [class*='timelineBar'] {
      margin-left: 210px !important;
      width: 80%;
    }
  }
  [class*='timelineRow'] {
    border-bottom: none;
    overflow: hidden;
  }
  [class*='rowItems'] {
    height: 10px;
    border-bottom: 1px solid var(--grey-200);
    align-self: center;

    position: relative;
    bottom: 2px;
    margin-right: var(--spacing-small);
    margin-left: 25px;

    .timelineEvent {
      position: relative;
      margin-bottom: var(--spacing-xsmall);

      .tooltipContent {
        height: 100% !important;
        width: 100% !important;
      }

      .polygon {
        position: absolute;
        &[data-name='0'] {
          z-index: 2;
          bottom: 15px;
        }
        &[data-name='1'] {
          left: 4px;
          bottom: 18px;
          z-index: 1;
        }
        &[data-name='2'] {
          left: 8px;
          bottom: 21px;
          z-index: 0;
        }
      }

      @mixin polygonWithStatus($border-color) {
        border: 1px solid $border-color;
        background-color: var(--white);
      }

      .errorPolygon {
        @include polygonWithStatus(var(--red-500));
      }

      .successPolygon {
        @include polygonWithStatus(var(--green-500));
      }
    }
  }
}

.timelineViewLabel {
  display: flex;
  align-items: center;
  > p {
    margin-left: var(--spacing-small) !important;
  }
}
