.main {
  height: 67vh;
  padding: var(--spacing-large) !important;

  .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-small);

    .clusterHeading {
      font-size: var(--font-size-small) !important;
    }

    .tabContainer {
      :global {
        .bp3-tabs {
          .bp3-tab-list {
            border-bottom: none !important;
          }
          width: 200px !important;
          .bp3-tab[role='tab'] {
            font-size: 10px;
            line-height: unset !important;
            margin-top: 0 !important;
          }
        }
      }
    }
  }

  .scatterOuterContainer,
  .columnChartContainer {
    height: 38%;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .scatterPlotContainer {
    height: 100%;
  }

  .scatterPlotContainer,
  .columnChartContainer {
    > div {
      width: 100%;
      height: 100%;
    }
  }

  .logContainer {
    overflow-y: scroll;
    height: 52%;
  }
}
