$background-color-header: #163755;
$background-color-body: #00162a;

.console {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.consoleHeader {
  width: 100%;
  background-color: $background-color-header;
  color: rgba(255, 255, 255, 0.7);
  height: 30px;
  line-height: 30px;
  padding-left: 17px;
  display: flex;
  justify-content: space-between;
  .hederButtons {
    display: flex;
    align-items: center;
    width: 70px;
    justify-content: space-evenly;
  }
}

.consoleFooter {
  height: 70px;
  background-color: $background-color-header;
  padding: var(--spacing-small) var(--spacing-medium);
  color: rgba(255, 255, 255, 0.7);
}

.consoleBody {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background-color: $background-color-body !important;
  overflow-y: scroll;
  padding: var(--spacing-large);
}
