.manifestWizard {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  [class*='stepDetails'] {
    background-color: var(--white) !important;
    margin: var(--spacing-xxlarge) !important;
  }
  [class*='navBarList'] {
    grid-template-rows: repeat(auto-fill, var(--spacing-xxxlarge)) !important;
  }

  div[class*='nestedStep']:nth-of-type(2) {
    margin-top: var(--spacing-medium) !important;
  }
}

.subtitle {
  margin-top: var(--spacing-large);
  margin-left: var(--spacing-large);
}
