.container {
  width: 450px;

  .scopeButton {
    border-radius: 20px !important;
  }

  .referenceList {
    margin-top: var(--spacing-small);
    max-height: 300px;
    overflow-y: scroll;

    .listItem {
      padding: var(--spacing-small);
      border-bottom: 1px solid var(--grey-250);
      cursor: pointer;

      &:hover {
        background-color: var(--blue-500);
        color: var(--white);
      }
    }
  }
}
