.tfContainer {
  display: flex;

  background: none !important;
}
.path {
  background: #f3f3fa !important;
  /* Gray Scale / Gray Scale 200 */

  border: 1px solid #d9dae6 !important;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 5px !important;
}
.branch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px !important;
}

.dialog {
  border-radius: 11px;
  position: relative;
  padding-bottom: 0;
  width: 1000px;
  padding: 10px;
}

.pathRow {
  display: grid;
  grid-template-columns: 0.5fr 30px;
  column-gap: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  align-items: start;

  :global(.bp3-form-group) {
    margin: 0;
  }

  .label {
    color: var(--grey-400);
  }

  :global(.bp3-icon-trash) {
    color: var(--grey-400) !important;
  }
}

.addMarginTop {
  margin-top: var(--spacing-small);
}

.iconMargin {
  margin-right: var(--spacing-small);
}
.remoteIcon {
  color: #000000 !important;
}
