.editable {
  border: 1px solid var(--grey-300);
  border-radius: 2px;
  padding: 2px;
  cursor: auto;
}
.tabWrapper {
  [class='bp3-tab-list'] {
    padding: 0 var(--spacing-large);
  }
  [class~='bp3-tab'] {
    margin-top: var(--spacing-small) !important;
  }
  .nameEditIcon {
    margin-left: var(--spacing-xsmall);
    margin-bottom: 2px;
  }
  .nameTypeIcon {
    margin-right: var(--spacing-xsmall);
  }
}
