.container {
  height: 100%;
  width: 100%;
}
:global {
  .Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }

  .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }

  .Resizer.horizontal {
    height: 11px;
    margin: -var(--spacing-xsmall) 0;
    border-top: var(--spacing-xsmall) solid rgba(255, 255, 255, 0);
    border-bottom: var(--spacing-xsmall) solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
  }

  .Resizer.horizontal:hover {
    border-top: var(--spacing-xsmall) solid rgba(0, 0, 0, 0.5);
    border-bottom: var(--spacing-xsmall) solid rgba(0, 0, 0, 0.5);
  }

  .Resizer.vertical {
    width: 11px;
    margin: 0 -var(--spacing-xsmall);
    border-left: var(--spacing-xsmall) solid rgba(255, 255, 255, 0);
    border-right: var(--spacing-xsmall) solid rgba(255, 255, 255, 0);
    cursor: col-resize;
  }

  .Resizer.vertical:hover {
    border-left: var(--spacing-xsmall) solid rgba(0, 0, 0, 0.5);
    border-right: var(--spacing-xsmall) solid rgba(0, 0, 0, 0.5);
  }
  .Resizer.disabled {
    cursor: not-allowed;
  }
  .Resizer.disabled:hover {
    border-color: transparent;
  }
}
.canvas-container {
  background-image: var(--pipeline-canvas-image);
  height: 100%;
  padding: 0 !important;
  &.canvas-stage-view {
    background-image: var(--pipeline-canvas-blue-image);
  }

  .canvas {
    height: 100%;
    width: 100%;
    position: relative;

    > div {
      cursor: default;
      height: 100%;
      width: 100%;
    }

    .render-popover {
      min-width: 140px;
      z-index: 2;
      overflow-y: scroll;
      max-height: 500px;
    }

    .create-new-content {
      max-width: 300px;

      &.parallel {
        max-width: 220px;

        .create-new-cards {
          grid-template-columns: 66px 66px 66px;
        }
      }

      .create-new-cards {
        display: grid;
        grid-template-columns: 66px 66px 66px 66px;
        gap: 10px;

        .card-new {
          width: 66px;
          height: 62px;
          padding: var(--spacing-xsmall);
          cursor: pointer;
          background-color: var(--pipeline-blue-bc);

          &.disabled {
            background-color: var(--pipeline-blue-bc) !important;
          }
          & > div {
            text-align: center;
          }

          & > span {
            padding: var(--spacing-xsmall) 18px var(--spacing-xsmall);
          }

          &:hover {
            background-color: rgba($color: #000000, $alpha: 0.2);
            color: var(--white);
          }
        }
      }

      .create-new-message {
        font-size: var(--font-size-small);
        padding-top: var(--spacing-large);
      }
    }
  }
}

.collapseDiv div {
  border-top: none;
  padding: 0;
}

.label-bold label {
  line-height: 19px;
  font-weight: 700;
  font-size: var(--font-size-normal);
}

.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: var(--spacing-small);
  padding-top: var(--spacing-small);
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));

  :global(.bp3-card) {
    padding: var(--spacing-large);
    width: 70px;
    height: 70px;
  }
}

.stage-create {
  width: 350px;
}

.btn-setup {
  padding-top: var(--spacing-medium);
}

.split-buttons {
  span {
    z-index: 2;
  }

  .stageDecrease,
  .stageIncrease {
    position: absolute;
    right: var(--spacing-large);
    cursor: pointer;
    top: var(--spacing-xsmall);
  }

  .stageIncrease {
    top: var(--spacing-xxlarge);
  }

  .separator {
    position: absolute;
    right: var(--spacing-medium);
    top: 24px;
    width: 24px;
    background-color: var(--grey-400);
    height: 1px;
  }
}
