.content {
  padding: var(--spacing-large) !important;
}

.accordian {
  flex-basis: 45%;
  max-width: 45%;
}

.accordian [data-testid='riskProfile-details'],
[data-testid='metricToService-details'],
[data-testid='queryBuilder-details'] {
  padding: 0 !important;
}

.validationContainer {
  max-width: 100%;
}

.queryViewContainer {
  width: 55%;
}

.savedQueryDropdown {
  padding: var(--spacing-none) var(--spacing-small);
}
