.serviceCard {
  width: 100%;
  padding: var(--spacing-medium) var(--spacing-medium) !important;
  margin-bottom: var(--spacing-medium) !important;
  transition: height 500ms ease-out;
}

.selectService {
  margin-right: var(--spacing-medium) !important;
}
