$status-success-bg: rgba(77, 201, 82, 0.05);
$status-success-fg: #42ab45;
$status-failed-bg: rgba(255, 245, 245, 0.5);
$status-failed-fg: #e43326;
$status-pending-bg: white;
$status-pending-fg: orange;
$status-in-progress-bg: rgba(6, 183, 195, 0.05);
$status-in-progress-fg: #0092e4;
$status-padding-top: 3px;
$status-padding-bottom: 3px;
$status-padding-left: 12px;
$status-padding-right: 12px;
$status-corner-radius: 8px;

.status {
  border-radius: $status-corner-radius;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 12px;
  padding: $status-padding-top $status-padding-right $status-padding-bottom $status-padding-left;
  text-align: center;
  width: max-content;
}

.status-success {
  background-color: $status-success-bg;
  color: $status-success-fg;
  border: 1px solid $status-success-fg;
}

.status-in-progress {
  background-color: $status-in-progress-bg;
  color: $status-in-progress-fg;
  border: 1px solid $status-in-progress-fg;
}

.status-failed {
  background-color: $status-failed-bg;
  color: $status-failed-fg;
  border: 1px solid $status-failed-fg;
}

.status-pending {
  background-color: $status-pending-bg;
  color: $status-pending-fg;
  border: 1px solid $status-pending-fg;
}
