:root {
  --form-input-shadow: var(--bp3-intent-color, #dddddd);
}

.switch {
  display: inline-block;
  justify-content: space-between;
  background-color: var(--grey-300);
  border-radius: 10px;
  font-size: var(--font-size-xsmall);
  line-height: 10px;
  margin: 5px 0;

  .item {
    display: inline-block;
    padding: var(--spacing-xsmall) var(--spacing-medium);
    border-radius: 10px;
    cursor: pointer;
  }

  .selected {
    background-color: var(--grey-400);
    color: var(--white);
    cursor: default;
  }
}
