.card {
  position: relative;
  width: 100%;
  padding: var(--spacing-large) var(--spacing-medium) 0 var(--spacing-medium);
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  display: grid !important;
  grid-template-columns: 30px 1fr;
  column-gap: var(--spacing-medium);

  & + & {
    margin-top: var(--spacing-large);
  }

  .icons {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid var(--grey-200);
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-xsmall) 0;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    overflow: hidden;

    &[data-cd='true'][data-ci='true'] {
      height: 60px;
    }
  }

  .content,
  .footer {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 1fr 230px;
    padding-bottom: var(--spacing-medium);
    column-gap: var(--spacing-xxxlarge);
  }

  .content {
    // NOTE: .commitsInner  has absolute positioning and fit to .content
    position: relative;
  }

  .footer {
    padding-top: var(--spacing-medium);
    border-top: 1px solid var(--grey-300);

    & span {
      font-size: var(--font-size-small) !important;
    }

    .triggerInfo {
      display: flex;
      align-items: center;
    }

    .triggerType {
      display: flex;
      align-items: center;

      &::before {
        content: '';
        display: inline-block;
        width: 1px;
        background: var(--grey-400);
        height: calc(var(--font-size-small) + 2px);
        margin: 0 0.5em;
      }
    }

    .timers {
      grid-column: 2 / 4;
      display: grid;
      grid-template-columns: 200px 1fr;
    }
  }

  .title {
    display: block;

    &:hover {
      text-decoration: none;
    }

    & .pipelineName {
      color: var(--grey-700);
      font-weight: bold;
    }

    & .executionId {
      font-size: var(--font-size-small);
      color: var(--grey-400);
      margin: 0 0.5em;
    }
  }

  .ciData,
  .cdData {
    margin-top: var(--spacing-large);
  }

  .sectionTitle {
    display: block;
    text-transform: uppercase;
    color: var(--grey-400);
    font-size: var(--font-size-small);
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.servicesDeployed {
  font-size: var(--font-size-small);
  margin-top: var(--spacing-xsmall);
  column-gap: var(--spacing-large);
  display: flex;
  align-items: flex-start;

  & .serviceLabel {
    white-space: nowrap;
  }

  & .servicesList {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
  }

  & .serviceName {
    color: var(--blue-500);
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: var(--spacing-xsmall);
  }

  & .infoToggle {
    padding: 0 !important;
    min-height: auto !important;
    min-width: 16px !important;
    height: auto !important;

    & :global(.bp3-button-text) {
      font-size: var(--font-size-small);
    }
  }

  & .serviceWrapper {
    display: inline-flex;

    & :global(.bp3-popover-target) {
      display: inline-block;
    }
    &:not(:last-child)::after {
      content: ',';
      margin-right: 4px;
      color: var(--blue-500);
    }
  }
}

.buildInfo {
  margin-top: var(--spacing-xsmall);
}
