.main {
  background: #09090b;
  color: var(--grey-300);
  flex: 1 1 auto;
  overflow: hidden;
  display: grid;
  grid-template-rows: 32px 1fr;
  max-height: 100%;

  pre.container {
    margin: 0;
    padding: var(--spacing-5);
    overflow: hidden;
  }

  .errorMessage {
    background-color: var(--grey-800);
    padding: var(--spacing-small) var(--spacing-huge);
    font-family: 'Roboto Mono', 'Monaco', 'Ubuntu Mono', monospace;
    border-top: 1px solid var(--grey-700);

    .summary {
      margin-bottom: var(--spacing-small);
    }

    .error {
      color: var(--red-500);
      display: flex;
      align-items: center;
      column-gap: var(--spacing-small);
      --intent-color: var(--red-500);
      --typography-color: var(--red-500);

      :global {
        .bp3-popover-target,
        .bp3-popover-wrapper {
          display: block;
        }
      }
    }

    &.isWarning {
      .error {
        color: var(--yellow-500);
        --intent-color: var(--yellow-500);
        --typography-color: var(--yellow-500);
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid var(--grey-800);
    font-size: var(--font-size-small);

    .rhs {
      display: flex;
      align-items: center;
      column-gap: var(--spacing-3);
    }
  }

  &[data-mode='console-view'] {
    grid-template-rows: 52px 1fr;

    &.hasErrorMessage {
      grid-template-rows: 52px 1fr 70px;
    }

    & .header {
      font-size: var(--font-size-normal);
      font-weight: bold;
    }
  }

  .toConsoleView {
    color: var(--grey-300);
    font-size: var(--font-size-xsmall);
    border: 1px solid var(--grey-700);
    border-radius: 2px;
    display: inline-flex;
    height: 18px;
    padding: 0 6px;
    justify-content: center;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }

  .noLogs {
    padding: 15px;
    font-family: 'Roboto Mono', 'Monaco', 'Ubuntu Mono', monospace;
  }
  .selectedSearchResult {
    background-color: var(--orange-700);
  }

  &[data-mode='step-details'] {
    height: var(--execution-children-height);

    .search {
      transform: scale(0.8);
      transform-origin: right center;
    }
  }
}

.search {
  & :global(.bp3-input) {
    color: var(--white);
  }
}
