.height-override {
  height: calc(100% - 80px);
  justify-content: center;
  align-items: center;
  .ff-container-img {
    transform: rotate(-25deg);
  }
}

.ff-page-btns-header {
  padding: var(--spacing-medium) var(--spacing-large) !important;
  border: 1px solid var(--grey-300);
  align-items: center;
  background-color: var(--white) !important;
  position: sticky;
  top: 0;

  .ff-page-btns-search {
    margin-right: var(--spacing-small) !important;
    & > span {
      color: var(--blue-500);
    }
    & > input {
      border: 0 !important;
      height: 32px !important;
    }
    & > input:focus {
      width: 350px !important;
      border: 1px solid var(--grey-350) !important;
    }
  }
}

.ff-page-btns-select {
  width: 200px !important;
  margin-right: var(--spacing-small) !important;
}

.drawer-container {
  :global(.bp3-drawer-header) {
    padding: var(--spacing-medium);
  }
}

.ff-list-container {
  height: calc(100% - 80px);
  overflow: auto;
  background: var(--grey-100) !important;
}

.ff-table-container {
  padding: var(--spacing-medium) var(--spacing-large) !important;
}

.tags-popover {
  :global(.bp3-popover-content) {
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--spacing-small);
    min-width: 130px;
  }
  :global(.bp3-popover-content) > p:not(:first-child) {
    background-color: var(--blue-300);
    color: var(--blue-700);
    font-weight: bold;
    border-radius: var(--spacing-xsmall);
    text-align: center;
    margin-bottom: var(--spacing-xsmall);
    padding: 0 var(--spacing-xsmall);
    width: max-content;
  }
  :global(.bp3-popover-content) > p:first-child {
    color: var(--black);
    font-weight: bold;
    margin-bottom: var(--spacing-medium);
  }
}

.generalInfo {
  flex-grow: 1;
  align-items: baseline !important;
  width: calc(100% - 100px) !important;

  > span {
    width: 100%;
    > span {
      width: 100%;
    }
  }

  & + span:last-of-type {
    align-self: center;
  }

  .name {
    max-width: 800px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
