.templateForm {
  height: 100%;
  min-height: 400px;
  .halfWidth {
    width: 45%;
  }
  .helmAdvancedSteps {
    margin-bottom: 80px !important;
  }
  .commandFlags {
    margin-top: var(--spacing-large);
  }
  .runtimeInput {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
  .advancedStepOpen {
    min-height: 200px;
  }
  .repoNameSection {
    margin-bottom: var(--spacing-medium);
  }
  .reponameField {
    margin-bottom: var(--spacing-small);
  }
  .repoName {
    display: grid;
    grid-template-columns: 1fr 35px;
    width: 50%;
    align-items: center;
  }
}

.checkbox {
  margin-right: var(--spacing-medium);
  margin-bottom: 0 !important;
}

.halfWidth {
  width: 50%;
}

.tooltip {
  > * {
    width: 50%;
  }
}

.tooltipContent {
  width: 200px;
}
.tooltipPositioning {
  position: relative;
  top: 20px;
}

.skipConfigureBtn {
  position: relative;
  bottom: 10px;
}
