.status {
  --execution-status-bg-color: var(--grey-350);
  white-space: nowrap !important;
  font-size: var(--font-size-xsmall);
  color: var(--white);
  border: none;
  background-color: var(--execution-status-bg-color) !important;
  border-radius: 8px;
  padding: 2px 12px !important;
  height: 20px;
  line-height: 20px !important;
  font-weight: bold !important;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;

  &.failed,
  &.aborted,
  &.discontinuing,
  &.errored,
  &.rejected,
  &.expired,
  &.approvalrejected {
    --execution-status-bg-color: var(--red-600);
  }

  &.success,
  &.ignorefailed {
    --execution-status-bg-color: var(--green-600);
  }

  &.running,
  &.asyncwaiting,
  &.taskwaiting,
  &.timedwaiting {
    --execution-status-bg-color: var(--primary-5);
  }

  &.resourcewaiting,
  &.approvalwaiting,
  &.interventionwaiting,
  &.pausing,
  &.paused {
    --execution-status-bg-color: var(--orange-500);
  }

  &.queued,
  &.skipped,
  &.suspended,
  &.notstarted {
    --execution-status-bg-color: var(--grey-350);
  }
}
