.pipeline-variables {
  --variable-column1: 300px;
  --variable-column2: 100px;
  --variable-column3: 1fr;

  height: 100%;

  .variables-container {
    overflow-x: auto;
    display: grid;
    grid-template-rows: 75px 1fr;

    .header {
      padding: var(--spacing-xlarge) var(--spacing-large);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
      border-bottom: 1px solid var(--grey-200);
    }

    .content {
      display: grid;
      grid-template-columns: 250px 1fr;
      height: calc(100vh - 75px);

      .stages-tree {
        margin-top: var(--spacing-large);
        margin-right: var(--spacing-large);
      }

      .variable-list {
        padding: 35px;
        background-color: var(--grey-200);
        overflow-y: auto;
        height: 100%;

        .title {
          font-size: var(--font-size-medium);
          margin-bottom: var(--spacing-small);
        }

        .stage-title {
          display: flex;
          align-items: center;

          &::before {
            content: '';
            display: block;
            width: 13px;
            height: 13px;
            background: linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%);
            opacity: 0.6;
            border-radius: 3px;
            margin-right: var(--spacing-small);
          }
        }

        .variable-list-header {
          display: grid;
          grid-template-columns: var(--variable-column1) var(--variable-column2) var(--variable-column3);
          padding: 0 var(--spacing-large);
          > p {
            padding-left: var(--spacing-large);
          }
        }

        .variable-card {
          margin: var(--spacing-small) 0 var(--spacing-medium);
          width: 100%;
          box-shadow: none;
        }

        .variable-list-table {
          display: grid;
          grid-template-columns: var(--variable-column1) var(--variable-column2) var(--variable-column3);
          align-items: baseline;
          padding: var(--spacing-large) var(--spacing-large) 0 var(--spacing-large);
          row-gap: var(--spacing-large);

          & + :global(.Accordion--panel) {
            margin-top: var(--spacing-large);
          }
        }

        :global(.Accordion--panel) {
          background-color: var(--white);
        }

        :global(.Accordion--panel + .Accordion--panel) {
          margin-top: var(--spacing-medium);
        }

        :global(.Accordion--summary) {
          border-bottom: 1px solid var(--grey-250);
        }
      }
    }
  }

  .custom-variables {
    padding: var(--spacing-large) var(--spacing-large) 0 var(--spacing-large);
  }
}
