.pipeline-variables {
  overflow-y: auto;
  :global(.Accordion--chevron) {
    display: none;
  }
  .variable-card {
    width: 100%;
    box-shadow: none;
    padding: 0;
  }
  .pipelineDetails {
    overflow-x: hidden;
  }
  .header {
    padding: var(--spacing-xlarge) var(--spacing-large);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    border-bottom: 1px solid var(--grey-200);
    display: flex;
    justify-content: space-between;
  }

  .content {
    display: grid;
    grid-template-rows: 82px 1fr;
    height: 100%;

    .variablePanelHeader {
      position: sticky;
      top: 0;
      background: #fff;
      z-index: 9;
      display: grid;
      grid-template-columns: 180px 2fr 1fr;
      padding: var(--spacing-xxlarge) var(--spacing-xlarge);
      font-size: var(--font-size-medium);
      font-weight: 600;
      border-bottom: solid 1px var(--grey-200);
      :global {
        [data-icon='pipeline-variables'] {
          font-size: var(--font-size-medium);
          padding-right: var(--padding-button);
          vertical-align: initial;
        }
      }
      .variableTitle {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
      }
      .description {
        padding-left: var(--spacing-small) !important;
        vertical-align: baseline;
      }
      .searchInput {
        width: 450px;
        :global(.ExpandingSearchInput--find) {
          border-color: var(--form-field-border) !important;
        }
        :global(.ExpandingSearchInput--btnWrapper) {
          & > span {
            border-right: 1px solid;
            padding-right: var(--spacing-small);
            height: 20px;
            line-height: 20px;
            border-color: var(--grey-400);
          }
        }
      }
      .search-actions {
        padding-bottom: 2px;
        display: grid;
        grid-template-columns: 130px 1fr;
        align-items: self-end;
        justify-items: flex-end;
        .apply-changes,
        .discard {
          font-size: var(--font-size-xsmall) !important;
          height: 23px !important;
          padding: var(--spacing-2) var(--spacing-3) !important;
          min-height: 23px !important;
          margin-left: var(--spacing-3);
        }
        .apply-changes {
          border: 1px solid var(--primary-6) !important;
        }
      }
    }

    &.closed {
      .lhs {
        width: 35px;
        .stages-tree,
        .title {
          opacity: 0;
        }

        .collapse > :global(.bp3-icon) {
          transform: rotate(180deg);
        }
      }
    }

    .variable-list {
      padding: var(--spacing-xlarge);
      overflow: auto;
      height: 100%;
      .stage-title {
        display: flex;
        align-items: center;
      }

      :global(.Accordion--panel) {
        background-color: transparent;
      }
      .pipeline-margin-bottom {
        margin-bottom: var(--spacing-xxxlarge);
      }
      :global(.Accordion--summary) {
        padding: var(--spacing-small) 0;
        border-bottom: 1px solid var(--grey-200);
      }
    }
  }

  .stageSummary,
  .stageDetails {
    background-color: var(--white);
    padding-top: 0;
  }

  .title {
    display: block;
    font-size: var(--font-size-medium);
    margin: var(--spacing-medium) 0;
    color: var(--grey-900);
  }

  .variable-list-header {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    padding: 0 calc(2 * var(--spacing-large));
    font-size: var(--font-size-small);
    margin: var(--spacing-small) 0;
    text-transform: uppercase;
    span:first-child {
      padding-left: var(--spacing-small);
      & + span {
        padding-left: var(--spacing-xxlarge);
      }
    }
  }

  .custom-variables {
    padding: 0 var(--spacing-large) 0 var(--spacing-large);
  }

  .panel {
    :global(.Accordion--summary) {
      position: relative;
    }
  }

  :global(.Accordion--panel[data-open='true']) {
    box-shadow: none;
    .iconExpanded {
      padding-left: var(--spacing-medium);
      display: inline-grid;
    }
    .iconCollapsed {
      display: none;
    }
  }

  :global(.Accordion--panel[data-open='false']) {
    .iconExpanded {
      display: none;
    }
    .iconCollapsed {
      display: inline-grid;
      padding-left: var(--spacing-medium);
    }
  }
  .accordionSummary {
    display: grid;
    grid-template-columns: var(--spacing-huge) 1fr;
  }

  :global {
    .Accordion--panel {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .Accordion--panel:first-child {
      padding-top: 0px;
    }
    .Accordion--panel:last-child {
      padding-bottom: 0px;
    }
    .Accordion--details {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    :local(.stageSummary) {
      &.Accordion--summary {
        border-bottom: none;
        background: var(--primary-2);
        padding-left: 0 !important;
      }
    }
    :local(.stageDetails) {
      &.Accordion--details {
        padding: 0 !important;
      }
    }
  }
}
.nopadleft {
  padding-left: 0;
}
.variablesTable {
  margin-bottom: var(--spacing-large);
}

.variable-border-bottom {
  position: relative;
  &:before {
    position: absolute;
    width: 100%;
    bottom: -1px;
    content: '';
    border-bottom: solid 1px var(--grey-200);
    height: 1px;
    left: 100%;
  }
  &:after {
    position: absolute;
    width: 100%;
    bottom: -1px;
    content: '';
    border-bottom: solid 1px var(--grey-200);
    height: 1px;
    right: 100%;
  }
}

.margin-indent-xlarge {
  margin-left: var(--spacing-xlarge);
}

.margin-indent-l1 {
  margin-left: var(--spacing-medium);
}

.accordian-details-indent {
  margin-left: calc(var(--spacing-xxxlarge) + 15px);
}

.accordian-variables-indent {
  margin-left: calc(var(--spacing-xxxlarge) + 20px);
}
.margin-indent-xxlarge {
  margin-left: var(--spacing-xxlarge);
}

.variable-padding-l0 {
  :global(.variable-name-cell) {
    padding-left: var(--spacing-small);
  }
}
.variable-padding-l1 {
  :global(.variable-name-cell) {
    padding-left: var(--spacing-xxxlarge);
  }
}
.variable-padding-l2 {
  :global(.variable-name-cell) {
    padding-left: calc(var(--spacing-11) + 8px) !important;
  }
}

.variable-padding-l3 {
  :global(.variable-name-cell) {
    padding-left: calc(var(--spacing-13) + 8px) !important;
  }
}

.custom-var-pad-l1 {
  :global(.variable-name-cell) {
    padding-left: calc(var(--spacing-xlarge) + 2px) !important;
  }
  :global(.variable-value-cell) {
    padding-left: var(--spacing-xxlarge);
  }
}

.custom-var-pad-l2 {
  :global(.variable-name-cell) {
    padding-left: calc(var(--spacing-12) + 20px) !important;
  }
  :global(.variable-value-cell) {
    padding-left: var(--spacing-xxlarge);
  }
}

.custom-var-pad-l3 {
  :global(.variable-name-cell) {
    padding-left: calc(var(--spacing-13) + 8px) !important;
  }
  :global(.variable-value-cell) {
    padding-left: var(--spacing-xxlarge);
  }
}

.accordian-summary-l1 {
  padding-left: var(--spacing-xxlarge) !important;
}

.accordian-summary-l2 {
  padding-left: var(--spacing-11) !important;
}

.accordian-summary-l3 {
  padding-left: var(--spacing-13) !important;
}
.descriptionTooltip {
  :global {
    .bp3-popover-content {
      width: 300px !important;
    }
  }
}
