.pipeline-variables {
  --variable-column1: 300px;
  --variable-column2: 100px;
  --variable-column3: 1fr;

  height: 100%;

  .variable-card {
    width: 100%;
    box-shadow: none;
    margin-bottom: var(--spacing-large);
  }

  .variables-container {
    overflow-x: auto;
    display: grid;
    grid-template-rows: 75px 1fr;
    height: 100%;

    .header {
      padding: var(--spacing-xlarge) var(--spacing-large);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
      border-bottom: 1px solid var(--grey-200);
      display: flex;
      justify-content: space-between;
    }

    .content {
      display: grid;
      grid-template-columns: 250px 1fr;
      height: calc(100vh - 139px);

      .stages-tree {
        margin-top: var(--spacing-large);
        margin-right: var(--spacing-large);
      }

      .variable-list {
        padding: 35px;
        background-color: var(--grey-200);
        overflow-y: auto;
        height: 100%;

        .stage-title {
          display: flex;
          align-items: center;

          &::before {
            content: '';
            display: block;
            width: 13px;
            height: 13px;
            background: linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%);
            opacity: 0.6;
            border-radius: 3px;
            margin-right: var(--spacing-small);
          }
        }

        :global(.Accordion--panel) {
          background-color: transparent;
        }

        :global(.Accordion--panel + .Accordion--panel) {
          margin-top: var(--spacing-medium);
        }

        :global(.Accordion--summary) {
          border-bottom: 1px solid var(--grey-250);
        }

        :global(.Accordion--details) {
          padding-top: var(--spacing-medium);
        }
      }
    }
  }

  .stageSummary,
  .stageDetails {
    background-color: var(--white);
  }

  .title {
    display: block;
    font-size: var(--font-size-medium);
    margin: var(--spacing-medium) 0;
    color: var(--grey-900);
  }

  .variable-list-header {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    padding: 0 calc(2 * var(--spacing-large));
    font-size: var(--font-size-small);
    margin: var(--spacing-small) 0;
    text-transform: uppercase;
  }

  .custom-variables {
    padding: var(--spacing-small) var(--spacing-large) 0 var(--spacing-large);
  }

  .panel {
    :global(.Accordion--summary) {
      position: relative;
      padding-left: calc(var(--spacing-small) + 13px) !important;
    }

    & :global(.Accordion--summary::before) {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 13px;
      height: 13px;
      background: linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%);
      border-radius: 50%;
      opacity: 0.6;
    }

    :global(.Accordion--details) {
      padding: var(--spacing-medium) var(--spacing-small) var(--spacing-medium) 0;
    }
  }

  :global(.Accordion--panel[data-open='true']) {
    box-shadow: none;
  }
}
