.subSection {
  border: 1px solid var(--grey-200);
  border-radius: 5px;

  & > * {
    max-width: 486px;
  }
}

.loading {
  border: 1px solid var(--grey-200);
  border-radius: 5px;
  display: grid;
  place-items: center;
  min-height: 200px;
}

.header {
  justify-content: space-between;
}
