.table {
  padding: var(--spacing-large) var(--spacing-xxlarge);
  padding-bottom: 0;

  .gitText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
  }
}
.overflow {
  overflow-wrap: anywhere;
}
