.main {
  background: var(--grey-100);
  .container {
    display: grid;
    margin: 0px 24px 0px 24px;
    grid-template-areas:
      'header header header'
      'nav main main';
    grid-template-columns: 300px minmax(0, 1fr);
    grid-template-rows: 150px minmax(0, 1fr);
    grid-gap: 12px;
    height: 100vh;
    .header {
      margin-top: 24px;
      grid-area: header;
      background: var(--white);
      padding: 12px;
    }

    .nav {
      grid-area: nav;
      border-radius: 10px;
      background: var(--white);
    }

    .main {
      grid-area: main;
      background: var(--white);
      padding: 12px;
      border-radius: 10px;
      > * {
        max-height: 100%;
        overflow: auto;
      }
    }
  }
}
