.collapseHeaderClassName {
  height: 48px;
  padding-left: var(--spacing-large) !important;
  :global {
    .bp3-icon {
      right: var(--spacing-huge);
      position: absolute;
    }
  }
}

.collapseClassName {
  border-top: none !important;
  box-shadow: var(--card-box-shadow);
  padding-left: var(--spacing-none) !important ;
  padding-right: var(--spacing-large) !important;
}

.collapseBottomPadding {
  padding-bottom: var(--spacing-large) !important;
}

// old

.shadow {
  box-shadow: var(--card-box-shadow);
}

.summary {
  padding: var(--spacing-xlarge) var(--spacing-xxlarge) !important;
  background-color: var(--white);
  height: 66px;
}

.details {
  background-color: var(--white) !important;
  padding-top: var(--spacing-none) !important;
}
