.header {
  background-color: var(--blue-200) !important;
}

.body {
  padding: var(--spacing-large) !important;
  display: flex;
  flex-direction: row;
}

.card {
  box-shadow: var(--card-box-shadow);
  align-items: center;
  display: flex !important;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);
}

.membersContainer {
  border-right: 1px solid var(--grey-250);
  padding: var(--spacing-large) !important;
}

.detailsContainer {
  padding: var(--spacing-large) !important;
}

.memberList {
  overflow: scroll;
}

.addButton {
  color: var(--blue-500) !important;
}
