.body {
  padding: var(--spacing-large) !important;
  display: flex;
  flex-direction: row;
}

.card {
  box-shadow: var(--card-shadow);
  align-items: center;
  display: flex !important;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);
}

.membersContainer {
  border-right: 1px solid var(--grey-250);
  padding: var(--spacing-large) !important;
}

.detailsContainer {
  padding: var(--spacing-large) !important;
}

.memberList {
  overflow: scroll;
  padding-top: var(--spacing-medium) !important;
}

.truncatedText {
  :global {
    .bp3-popover-wrapper {
      height: 18px !important;
    }
  }
}

.buttonPadding {
  :global {
    .bp3-button {
      padding-top: 8px !important;
      padding-left: var(--spacing-small) !important;
      padding-right: var(--spacing-small) !important;
    }
  }
}
