.main {
  .contentContainer {
    width: 90%;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-columns: minmax(100px, 380px) minmax(100px, 700px);
    grid-template-rows: repeat(2, minmax(100px, 400px));
    grid-gap: 50px 50px;

    .sourcesGrid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 155px);
      grid-gap: var(--spacing-medium) var(--spacing-medium);
    }

    .productDescriptions {
      justify-self: center;
      color: var(--black);
      align-self: center;
    }

    .buttonContainer {
      grid-column-start: 1;
      grid-column-end: 3;
      justify-self: end;
      .backButton {
        margin-right: 10px;
      }
    }
  }
}
