.number {
  background-color: var(--blue-500);
  border-radius: 50%;
  color: var(--white);
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 2px 6px;
}

.onlyNumber {
  padding: 0 var(--spacing-xsmall);
}
.stepLabel {
  padding-left: var(--spacing-large) !important;
}
.dashedLine {
  border-left: 1px dashed;
  height: 100px;
  margin: var(--spacing-small);
}
.dashedLineNotVisited {
  border-left-color: var(--grey-250);
}
.dashedLineVisited {
  border-left-color: var(--blue-500);
}
.progressHeader {
  margin-bottom: var(--spacing-large) !important;
}
.progressContainer {
  position: relative;
  top: 150px;
}
.monitoringContent {
  position: relative;
  top: 150px;

  margin: auto !important;
  width: 70%;
  .items {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-large) 0;
  }
  .cardWrapper {
    width: 80px;
    margin: 0 var(--spacing-small) var(--spacing-small) 0 !important;
    .cardLabel {
      text-align: center;
      font-size: 12px !important;
      width: fit-content;
      margin: auto;
      margin-top: var(--spacing-xsmall) !important;
    }
  }
}

.cardCss {
  width: 80px;
  height: 80px;
}
.cardSelected {
  border: 2px solid var(--blue-500);
}
.monitoringCard {
  margin: 5px;
}
