.label {
  display: flex;
  justify-content: space-between;

  .labelSelect {
    :global {
      .bp3-input-action {
        > span {
          padding-left: var(--spacing-xsmall) !important;
          padding-right: 0px !important;
        }
      }
    }
  }

  :global {
    .bp3-input-group {
      width: 100px;
      .bp3-input {
        width: 100% !important;
        border: none;
        padding: var(--spacing-small) 0;
        min-width: 100px;
        text-align: end !important;
      }
    }
  }
}
.textCss {
  margin-bottom: 0px !important;
}
.secretField {
  :global {
    .bp3-form-group {
      margin-bottom: 0px;
    }
  }
}
