.header {
  background-color: var(--primary-1) !important;
}

.resourceList {
  background-color: var(--white) !important;
  padding: var(--spacing-xxxlarge) 0px !important;
  border-right: 1px solid var(--grey-250);
}

.details {
  max-width: calc(50vh);
  overflow-wrap: anywhere;
}

.card {
  width: 250px;
  display: flex !important;
  height: var(--spacing-huge);
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
}

.body {
  height: calc(100vh - 144px);
  display: grid !important;
  grid-template-columns: 300px 1fr;
  grid-auto-flow: column;
}

.permissionListContainer {
  overflow: scroll;
}
