.main {
  height: 100% !important;
  min-height: 50px;
  width: 100% !important;
  position: relative;

  .hexagonList {
    height: 100% !important;
    width: 100% !important;
    position: relative;
    overflow-y: scroll;
  }

  .hexagonContainer {
    position: absolute;
    cursor: pointer;
    transform: translate(-50%, -50%);
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--grey-300) !important;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);

    .hexagon {
      position: relative;
      top: 0.5px;
      left: 0.5px;
      background-color: var(--grey-100) !important;
      -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
      clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    }

    .selected {
      background-color: var(--primary-6) !important;
    }

    .nodeHealth {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 2px;
    }
  }

  .nodeHealthPopoverContent {
    position: absolute;
    background-color: var(--white) !important;
    box-shadow: var(--card-shadow);
    left: 0px;
    bottom: 99px;
    width: 300px;
    display: flex;
    padding: var(--spacing-medium) !important;
    align-items: baseline;
    > div:first-child {
      margin-right: var(--spacing-small) !important;
    }
  }
}
