.main {
  &.navBar {
    display: grid;
    grid-template-columns: 320px 1fr;

    .navBarList {
      background-color: #267cc9;
      padding: 40px var(--spacing-small) 40px 30px;
      display: grid;
      grid-gap: 30px;
      border-right: 1px solid #979797;
      grid-template-rows: repeat(auto-fill, 30px);

      .navStep {
        display: grid;
        grid-template-columns: 20px 1fr;
        grid-gap: 10px;
        align-items: center;
        cursor: not-allowed;

        &.activeStep {
          cursor: unset;

          .stepName {
            color: white;
          }
          .number {
            background-color: white;
          }
        }

        &.completedStep {
          cursor: pointer;
        }
        .stepName {
          display: inline-block;
          color: #79a5cc;
          text-transform: uppercase;
        }
        .number {
          padding: 1px var(--spacing-xsmall);
          margin-right: var(--spacing-small);
          background-color: #79a5cc;
          border-radius: 50%;
          color: #267cc9;
          width: 19px;
          height: 19px;
          display: inline-block;
        }
      }
    }
  }
  .stepDetails {
    padding: var(--spacing-large);
  }
}

.header {
  display: grid;
  justify-content: center;
}

.title {
  color: var(--white);
  font-size: large;
  margin-bottom: var(--spacing-xxxlarge);
  font-weight: 600;
}

.headerContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerSeparator {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  // position: absolute;
  // top: 42px;
  // /* width: 80%; */
  // left: 54%;
  // position: absolute;
}

.headerTitle {
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px !important;
  cursor: pointer;
  justify-content: flex-start;
  align-self: flex-start;
  left: -25px;
  position: relative;
}
.lastElement {
  display: flex;
  justify-content: flex-start;
}

.lastHeader {
  flex-grow: 0;
}

.lastElementHeader {
  align-self: flex-start;
}
.inprogress {
  color: #22222a !important;
}

.progressSeparator {
  border-color: #0278d5 !important  ;
}

.completedSeparator {
  border-color: green !important;
}

.progressIcon {
  background: #0278d5;
}

.footer {
}

.btn {
  margin-right: 10px !important;
}

.headerContainer {
  border: 1px solid;
  width: 100%;
  padding: 10px !important;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf6fd !important;
  position: relative;
}

.headerWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
}
