.iconNodeContainer {
  display: block;
  .iconNode {
    background-color: unset !important;
    box-shadow: none;
    border: none;
    border-color: none;
  }
}

.inComplete {
  position: absolute;
  top: -11px;
  right: 2px;
}

.hoverName {
  :global {
    .bp3-popover-content p {
      max-width: 200px !important;
    }
  }
}
