.diamond {
  transform: rotate(45deg);
  & > span {
    transform: rotate(-45deg);
  }
  & > div.diamondPortIn {
    top: calc(80% + 4px);
  }
  & > div.diamondPortOut {
    top: calc(-20% + 4px);
  }
  .diamondClose {
    transform: rotate(-45deg);
    top: 40px;
    left: -20px;
  }

  .secondaryIcon {
    position: absolute;
    transform: rotate(-45deg);
    top: -17px;
    left: 13px;
  }

  .tertiaryIcon {
    position: absolute;
    transform: rotate(-45deg);
    top: -17px;
    left: 13px;
    background: var(--pipeline-barrier-yellow) !important;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 1px !important;
  }

  .сonditional {
    position: absolute;
    transform: rotate(-45deg);
    top: -17px;
    left: 13px;
    color: var(--white) !important;

    svg {
      path,
      circle {
        fill: currentColor !important;
      }
      rect {
        // TODO: Replace color once it is available in UIKit
        stroke: #f79400 !important;
      }
    }
  }

  .inComplete {
    position: absolute;
    top: 2px;
    right: 6px;
  }
}
