.card {
  box-shadow: 2px 2px 12px var(--grey-300);
  &:hover {
    box-shadow: 2px 2px 12px var(--grey-400);
  }
  cursor: pointer;
  padding: var(--spacing-xxlarge) var(--spacing-large);
  border-radius: var(--spacing-small) !important;
  .impactBarWrap {
    margin-top: 8px;
  }
  .row {
    margin-top: var(--spacing-small);
    display: flex;
    .cell {
      display: block;
      .cellHeader {
        font-size: var(--spacing-small) !important;
      }
    }
  }
}
