.commitsOuter {
  margin-top: var(--spacing-small);
  height: 210px; // gonna be runtime override programmatically
}

.commitsInner {
  position: absolute;
  left: 0px;
  right: 0px;
}

.commitsHeader,
.commitsFooter {
  display: flex;
  align-items: center;
  color: var(--grey-400);
  font-size: var(--font-size-small);

  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--grey-300);
  }
}

.commitsHeader::after {
  margin-left: var(--spacing-small);
}

.commitsFooter {
  height: 1px;

  &::after {
    margin-top: var(--spacing-small);
  }
}

.commitsHolder {
  > * + * {
    border-top: 1px solid var(--grey-200);
  }
}

.commitItem {
  font-size: var(--font-size-normal);
  color: var(--grey-800) !important;
  padding: 8px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: var(--grey-100);
  }

  &:first-child {
    border-top: none;
  }

  .avatar {
    vertical-align: text-top;
  }

  .commitMessage {
    display: inline-block;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .commitHash {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    margin-left: var(--spacing-large);
    color: var(--blue-600);
    font-size: var(--font-size-small);
    line-height: var(--font-size-xsmall);
    background: var(--grey-100);
    border: 1px solid var(--grey-300);
    border-radius: var(--spacing-xsmall);
    cursor: pointer;

    > * + * {
      border-left: 1px solid var(--grey-300);
    }

    > * {
      padding: 2px var(--spacing-xsmall) !important;
    }

    > *:last-child {
      color: var(--blue-600) !important;
    }
  }
}
