.rowItem {
  padding: var(--spacing-medium) 0;
  background: white !important;
  border-bottom: solid 1px #d9dae5;
  span.type {
    color: var(--grey-900) !important;
    font-weight: 900;
    display: grid;
    grid-template-columns: 1fr 10px;
  }
  font-size: 14px !important;
  > p {
    cursor: pointer;
    color: var(--blue-500) !important;
  }
  .actionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    .cloneIcon {
      -webkit-transform: scaleX(-1) !important;
      transform: scaleX(-1) !important;
    }
    span {
      color: #000;
      cursor: pointer;
    }
  }
}
.artifactId {
  color: var(--pipeline-color-dark-grey);
}
.paddingVertical {
  padding: var(--spacing-medium) 0;
}
div.server {
  display: grid;
  grid-template-columns: 150px 50px;
  text-align: left;
  p {
    display: block !important;
  }
}
.sideCarBtn {
  width: 150px;
}

.modal {
  [class*='bp3-dialog-header'] button {
    z-index: 2;
  }
}

.connectorDialog {
  width: fit-content;
  min-width: 960px;
  height: 600px;
  border-left: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  .crossButton {
    position: absolute;
    right: var(--spacing-small);
    top: var(--spacing-small);
  }
}

.editForm {
  margin-top: -50px !important;
  width: calc(100% - 35px) !important;
}
.artifactList {
  display: grid;
  grid-template-columns: 230px 200px repeat(3, 1fr);
  &.list-header {
    border-bottom: solid 1px #d9dae5;
    padding-bottom: var(--spacing-medium);
  }
  &:first-child {
    padding-left: var(--spacing-small);
  }
}
