.table-header {
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-xsmall);
  letter-spacing: 0.2px;
  color: var(--grey-600);
}

.rowItem {
  padding: var(--spacing-medium) 0;
  border-bottom: solid 1px #d9dae5;
  span.type {
    color: var(--grey-900) !important;
    font-weight: 900;
    display: grid;
    grid-template-columns: 1fr 10px;
  }
  font-size: 14px !important;
  > p {
    cursor: pointer;
    color: var(--primary-7) !important;
  }
  .actionGrid {
    align-items: center;
    justify-content: flex-end;
    .cloneIcon {
      -webkit-transform: scaleX(-1) !important;
      transform: scaleX(-1) !important;
    }
    span {
      color: #000;
      cursor: pointer;
    }
  }

  .locationField {
    display: flex;
    align-items: center;
  }
  .connectorNameField {
    display: flex;
    align-items: center;

    .connectorName {
      display: inline-flex;
      color: var(--grey-500);
      margin-right: var(--spacing-small);
      max-width: 236px;
      text-overflow: ellipsis;
    }
  }
}
.addArtifact {
  cursor: pointer;
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}
.artifactId {
  color: var(--pipeline-color-dark-grey);
}
.paddingVertical {
  padding: var(--spacing-medium) 0;
}

.sideCarBtn {
  width: 150px;
}

.modal {
  [class*='bp3-dialog-header'] button {
    z-index: 2;
  }
}

.connectorDialog {
  width: fit-content;
  min-width: 960px;
  height: 600px;
  border-left: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  .crossButton {
    position: absolute;
    right: var(--spacing-small);
    top: var(--spacing-small);
  }
}

.editForm {
  margin-top: -50px !important;
  width: calc(100% - 35px) !important;
}
.artifactList {
  display: grid;
  grid-template-columns: 230px 300px minmax(10px, 1fr) 100px;
  padding-left: var(--spacing-small);
  &.list-header {
    border-bottom: solid 1px #d9dae5;
    padding-bottom: var(--spacing-medium);
  }
}
