.main {
  :global {
    .bp3-tab-list {
      background-color: var(--white);
      border-width: 1px !important;
      padding: 0;
      padding-bottom: var(--spacing-small);
      .bp3-tab {
        line-height: unset;
        margin-top: var(--spacing-xsmall);
        margin-bottom: 2px;
      }
    }
    .bp3-tab-panel {
      margin-top: 0;
    }
  }

  .loadingContainer {
    display: flex;
  }
}

.analysisTypeTabs {
  :global {
    .bp3-tab-list {
      padding: var(--spacing-small) 0;
      border-bottom: none !important;
      .bp3-tab {
        font-size: calc(var(--font-size-small) + 1);
        margin-right: var(--spacing-medium) !important;
      }
    }
    .bp3-tab-panel {
      background-color: var(--white);
    }
  }
}
