.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  div[class*='StepWizard--main'] {
    height: 100%;
  }
  form {
    // min-height: 475px;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .saveBtn {
    position: absolute;
    bottom: 0;
  }
  .heading {
    color: var(--grey-800);
    font-size: var(--font-size-medium);
    letter-spacing: 0;
    margin-bottom: var(--spacing-xxlarge) !important;
  }
}

.awsConnectorExtension {
  padding: var(--spacing-xlarge) !important;
  .header {
    margin: var(--spacing-large) 0 !important;
  }
  ol[type='1'] {
    margin-top: var(--spacing-xlarge);
    li {
      margin: var(--spacing-medium) 0;
    }
  }
  .codeText {
    font-family: 'Roboto Mono', 'Monaco', 'Ubuntu Mono', monospace;
    font-weight: 700;
    color: var(--grey-400);
  }
}
