.branchName {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30vw;
}

.prModal {
  position: relative;
  .closeModal {
    position: absolute;
    top: var(--spacing-small);
    right: var(--spacing-small);
  }
}

.finalLabel {
  overflow: auto;
  text-overflow: ellipsis;
  max-width: 40vw;
  max-height: 20vh;
}
