.changeSoureName {
  p {
    padding-right: var(--spacing-medium) !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  span {
    width: 90% !important;
    overflow: hidden !important;
  }
}

.loading,
.noData,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  padding-top: 25% !important;
}

.noData > div:first-child {
  height: unset !important;
  > div {
    margin-top: 0 !important;
  }
}

.cardContainer {
  height: 500px;
  overflow-y: scroll;
}
