.filterDrawer {
  :global {
    .bp3-drawer-header {
      padding: var(--spacing-large);
      box-shadow: 0 1px 0px var(--grey-200);
      [icon='settings'] {
        transform: rotate(90deg);
      }
      [data-icon='small-cross'] {
        height: 25px;
        width: 25px;
      }
      .bp3-dialog-close-button {
        &:hover {
          background: transparent;
        }
      }
    }
    .bp3-drawer-footer {
      box-shadow: none;
      padding: var(--spacing-xlarge);
      .bp3-button {
        border-radius: 6px;
        padding: 4px 18px;
        height: 28px;
      }
    }
  }

  .secondaryBtn {
    border: 1px solid var(--grey-200) !important;
    background: var(--grey-200) !important;
    font-weight: bold !important;
    color: var(--grey-800) !important;
  }
}
