.table-header {
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-xsmall);
  letter-spacing: 0.2px;
  color: var(--grey-600);
}

.rowItem {
  padding: var(--spacing-medium) 0;
  border-bottom: solid 1px #d9dae5;
  span.type {
    color: var(--grey-900) !important;
    font-weight: 900;
    display: grid;
    grid-template-columns: 1fr 10px;
  }
  font-size: 14px !important;
  > p {
    cursor: pointer;
    color: var(--primary-7) !important;
  }
  .columnId {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: var(--spacing-small);
    align-items: start;
    margin-top: 2px;
    padding-left: var(--spacing-xsmall);
  }
  .connectorNameField {
    display: flex;
    align-items: center;

    .connectorName {
      display: inline-flex;
      color: var(--grey-500);
      margin-right: var(--spacing-small);
      max-width: 236px;
      text-overflow: ellipsis;
    }
  }
}

.modal {
  [class*='bp3-dialog-header'] button {
    z-index: 2;
  }
}

.manifestList {
  display: grid;
  grid-template-columns: 200px 200px 300px minmax(10px, 1fr) 80px;
  align-items: center;
  &.list-header {
    border-bottom: solid 1px #d9dae5;
    padding-bottom: var(--spacing-medium);
  }
  .manifestLocation {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.createConnectorWizard {
  flex-grow: 1;
  display: flex;
}

.noWrap {
  white-space: nowrap;
}
