.rowItem {
  padding: var(--spacing-medium) 0;
  background: white !important;
  border-bottom: solid 1px #d9dae5;
  span.type {
    color: var(--grey-900) !important;
    font-weight: 900;
    display: grid;
    grid-template-columns: 1fr 10px;
  }
  font-size: 14px !important;
  > p {
    cursor: pointer;
    color: var(--blue-500) !important;
  }
  .columnId {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: var(--spacing-small);
    align-items: end;
    padding-left: var(--spacing-xsmall);
  }
  .lastColumn {
    justify-content: end;
    display: grid;
    padding: 0 var(--spacing-large);
  }

  .actionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    .cloneIcon {
      -webkit-transform: scaleX(-1) !important;
      transform: scaleX(-1) !important;
    }
    span {
      color: #000;
      cursor: pointer;
    }
  }
}

div.server {
  display: grid;
  grid-template-columns: 85px 15px;
  text-align: left;
  p {
    display: block !important;
  }
}

.modal {
  [class*='bp3-dialog-header'] button {
    z-index: 2;
  }
}

.manifestList {
  display: grid;
  grid-template-columns: 200px 150px 150px 150px 1fr;
  &.list-header {
    border-bottom: solid 1px #d9dae5;
    padding-bottom: var(--spacing-medium);
  }
}
