.alignCenter {
  align-items: center;
  width: 180px !important;
  border-left: 2px solid var(--grey-300);
  &:hover {
    cursor: pointer;
    background: var(--grey-200) !important;
  }
}

.circle {
  height: var(--spacing-xxlarge);
  width: var(--spacing-xxlarge) !important;
  border-radius: 50%;
  position: relative;
  left: -15px;
  text-align: center;
}

.connector {
  border-left: 2px solid var(--grey-300);
  height: var(--spacing-xxlarge);
}

.icon {
  position: relative;
  top: 6px;
}

.popover {
  background: var(--blue-900);
}
