.env-select {
  width: 200px !important;
}

.test-flag-dialog {
  width: 1000px;
  height: 600px;
  position: relative;
  padding: 0;
  .test-flag-dialog-container {
    height: 100%;
    padding: var(--spacing-medium) var(--spacing-xlarge) !important;
    [class*='OverlaySpinner'] {
      height: inherit;
      overflow: auto;
      & > form {
        height: inherit;
        & > div {
          height: inherit;
        }
      }
    }
  }
}

.tab-container {
  position: relative;
  // 74px is height of header
  // 72px is height of footer
  height: calc(100% - 74px - 72px);
  overflow: auto;
  :global(.bp3-tab-list) {
    border-bottom-color: var(--grey-300) !important;
    padding-left: var(--spacing-xlarge);

    [class='bp3-tab'] {
      margin-top: var(--spacing-medium);
    }
  }

  .btnCode {
    position: absolute;
    right: 15px;
    top: 13px;
  }
}

.edit-container {
  overflow: auto;
  .edit-btns-group {
    position: fixed;
    bottom: 0;
    width: 100% !important;
    border: 1px solid var(--grey-300);
    padding: var(--spacing-large) 0 !important;
    background-color: var(--white);
  }
}
