.variations-container {
  & > div {
    margin-right: var(--spacing-medium);
  }
}

.tags-flag-activation-details {
  margin-top: var(--spacing-medium) !important;
  & > p {
    display: inline-block;
    border-radius: var(--spacing-small);
  }
}

.new-env-rules-container {
  align-items: baseline;
  .select-env {
    margin-right: var(--spacing-medium) !important;
  }
}

.edit-details-modal-container {
  padding: 0 var(--spacing-xxlarge) var(--spacing-xlarge) !important;
  & > p {
    margin-bottom: var(--spacing-large) !important;
    font-size: var(--font-size-medium) !important;
    color: var(--black) !important;
    font-weight: bold !important;
  }
  .checkbox-edit-details {
    margin-right: var(--spacing-xsmall) !important;
    :global(.bp3-control-indicator) {
      margin-left: 0 !important;
    }
  }
}

.collapse-features {
  margin: var(--spacing-medium) 0 !important;
  padding: var(--spacing-xsmall) var(--spacing-small) !important;

  & > div {
    border: 0 !important;
    padding: var(--spacing-small) !important;
  }

  [class*='CollapseHeader---leftSection'] {
    span {
      color: var(--blue-500) !important;
    }
  }

  [class*='Collapse--main'] [class*='Collapse--header'] {
    padding-top: var(--spacing-xsmall) !important;
  }

  .collapse-features-prerequisites {
    padding: var(--spacing-xsmall) !important;
    border: 1px solid var(--grey-200);
    & > button {
      padding-left: 0;
      align-self: start;
    }
  }
}

.variationsList {
  .variationItem {
    padding-top: var(--spacing-medium) !important;

    &:last-of-type {
      margin-top: 0 !important;
    }
  }
}

.module {
  background: var(--white) !important;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  border-radius: 4px;
}
