.env-select {
  width: 200px !important;
}

.test-flag-dialog {
  width: 1000px;
  height: 600px;
  position: relative;
  padding: 0;
  .test-flag-dialog-container {
    height: 100%;
    padding: var(--spacing-medium) var(--spacing-xlarge) !important;
    [class*='OverlaySpinner'] {
      height: inherit;
      overflow: auto;
      & > form {
        height: inherit;
        & > div {
          height: inherit;
        }
      }
    }
  }
}

.tabContainer {
  position: relative;
  height: calc(100% - 74px - 82px);
  overflow: auto;

  &.noEdit {
    height: calc(100% - 74px);
  }

  :global(.bp3-tab-list) {
    border-bottom: 1px solid #e4e4eb !important;
    padding-left: var(--spacing-huge);

    [class='bp3-tab'] {
      margin-top: var(--spacing-medium);
    }
  }

  .btnCode {
    position: absolute;
    right: 15px;
    top: 13px;
  }
}

.edit-container {
  overflow: auto;
  .edit-btns-group {
    position: fixed;
    bottom: 0;
    width: 100% !important;
    border: 1px solid var(--grey-300);
    padding: var(--spacing-large) 0 !important;
    background-color: var(--white);
  }
}

.contentHeading {
  .switch {
    margin-bottom: 0 !important;
  }

  :global {
    .bp3-control.bp3-switch input:checked ~ .bp3-control-indicator {
      background-color: #25a6f7;
    }
  }
}

.formContainer {
  position: relative;
  height: 100vh;

  .actionButtons {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100% !important;
    border-top: 1px solid #e4e4eb;
    padding-left: var(--spacing-huge) !important;
    padding-top: 22px !important;
    height: 80px;
    background-color: var(--white) !important;
  }
}
