.content {
  padding: var(--spacing-large) !important;
}

.accordian {
  flex-basis: 45%;
  max-width: 45%;
}

.accordian [data-testid='riskProfile-details'],
[data-testid='metricToService-details'],
[data-testid='queryBuilder-details'] {
  padding: 0 !important;
}

.validationContainer {
  flex-basis: 55%;
  max-width: 55%;
}
