.modalContainer {
  padding: 0 !important;

  .userInfo {
    position: absolute;
    right: var(--spacing-huge);
  }

  .modalHeader {
    font-size: 20px !important;
    padding: 0 var(--spacing-xlarge) !important;
  }

  .addUserContainer {
    background: var(--orange-200) !important;
    padding: var(--spacing-medium) var(--spacing-xlarge) !important;
  }

  .modalBody {
    padding: var(--spacing-xlarge) !important;

    :global {
      .bp3-label {
        color: var(--grey-600) !important;
      }

      .bp3-disabled input {
        background-color: var(--grey-100) !important;
      }
    }

    .formBody {
      min-height: 480px;

      [class*='txtNameContainer'] {
        width: 48%;
      }

      .formRow {
        display: flex;
        :global {
          .bp3-form-group {
            width: 49%;
          }
        }
      }

      .branchSection {
        .branchInput {
          width: 280px;
          margin-left: var(--spacing-huge);
        }

        :global {
          .bp3-form-group {
            margin-top: var(--spacing-xsmall);
            margin-bottom: 0;

            .bp3-form-content {
              font-size: var(--font-size-normal);
              color: var(--grey-600) !important;

              textarea {
                max-height: 200px;
                resize: vertical;
              }

              .bp3-control-indicator {
                margin-left: 45px !important;
              }
            }
          }
        }
      }
    }

    .formButton {
      padding: 0 var(--spacing-large) !important;
      border-radius: 5px;
    }
  }
}

.branchSelector {
  padding-top: var(--spacing-xsmall);
  padding-left: var(--spacing-small);
  padding-bottom: var(--spacing-xsmall);

  :global {
    input[type='text'] {
      width: 250px;
      background: var(--primary-2);
    }
  }
}

.gitBranchSelectorPopover {
  :global {
    width: 250px;

    .bp3-menu {
      padding: 0;
      li {
        height: 32px;
        cursor: pointer;
        padding: var(--spacing-xsmall) var(--spacing-small);

        &:hover {
          background-color: var(--primary-2) !important;
          color: var(--grey-900) !important;
        }
      }
    }

    .Select--active {
      background-color: var(--primary-2) !important;
      color: var(--grey-900) !important;
    }
  }
}

.tooltip {
  :global {
    .bp3-popover-arrow-fill {
      fill: var(--red-100) !important;
    }
    .bp3-popover-content {
      background-color: var(--red-100);
    }
  }
}
