.main {
  :global {
    .bp3-collapse-body {
      > * {
        display: flex;
        align-items: center;
        height: 48px;
        border-top: 1px solid var(--grey-300);
      }
    }

    div[class*='CollapseListPanel---collapse'] {
      margin-right: var(--spacing-medium);
      margin-left: 0;
    }

    div[class*='footerContent'] {
      display: none;
    }

    div[class*='leftSection'] {
      * + * {
        margin: var(--spacing-medium) var(--spacing-xsmall);
      }
      .bp3-icon {
        margin-right: var(--spacing-medium);
      }
    }
  }

  .heading > * + * {
    margin-left: var(--spacing);
  }

  .listItem {
    padding-left: var(--spacing-xlarge);
  }
}
