.main {
  padding: var(--spacing-medium) var(--spacing-xxxlarge) var(--spacing-xxxlarge);
  :global {
    .bp3-tab-indicator-wrapper .bp3-tab-indicator {
      background-color: var(--primary-7);
      height: 3.5px;
    }
  }
}
