.main {
  :global {
    .bp3-tab-indicator-wrapper .bp3-tab-indicator {
      background-color: var(--primary-7);
      height: 3.5px;
    }

    .bp3-tab[aria-selected='true'] p {
      font-weight: bold !important;
    }
  }
}
