.bold-label {
  font-weight: bold !important;
  color: var(--black) !important;
  padding-bottom: var(--spacing-medium) !important;
}

.step-command {
  display: grid;
  grid-template-columns: 1fr 60px;
  height: 100%;
  overflow-y: hidden;

  .step-tabs {
    padding: 0 var(--spacing-large);
  }
}
