.bold-label {
  font-weight: bold !important;
  color: var(--black) !important;
  padding-bottom: var(--spacing-medium) !important;
}

.duration {
  :global {
    .bp3-form-content > div {
      width: 100%;
      & > div[class*='TextInput'] {
        width: 100%;
      }
    }
  }
}

.checkbox {
  padding-left: var(--spacing-xlarge) !important;
}
