.valueContainer {
  max-height: 420px;
  width: 320px;
  padding: var(--spacing-medium) !important;
  padding-left: var(--spacing-large) !important;
  overflow: scroll;

  .searchBoxContainer {
    display: grid;
    grid-template-columns: 26px 1fr;
    align-items: center;

    .searchCheckBox {
      margin-bottom: var(--spacing-4);
    }
  }

  .fetchingMoreLoader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox {
    &.labelItem {
      padding: var(--spacing-xsmall) 0px;
    }
  }
}

.valueFetching {
  height: 344px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
