.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 1000px;
  width: 1000px;
  min-width: 100px;
  height: 550px;

  .modalContent {
    position: relative;
    bottom: 15%;
    display: grid;
    grid-auto-rows: 40px 1fr;
    grid-row-gap: 50px;
    margin-left: 40px;

    .activityNameContainer {
      display: flex;
      flex-wrap: wrap;

      .activityCard:not(:last-of-type) {
        margin-right: var(--spacing-medium);
        margin-bottom: var(--spacing-medium);
      }

      .testIcon {
        svg {
          position: relative;
          left: 3px;
        }
      }
    }
  }
}
