.actionButton {
  transform: rotate(90deg);
}

.activityChart {
  max-width: 60px;
  display: block;
  :global(.progress-bar) {
    height: var(--spacing-xxlarge) !important;
  }
}

.table {
  margin: var(--spacing-xlarge);
}

.textCentered {
  text-align: center;
}

.activityStatement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    display: block;
  }
}

button.webhookUrl span svg path {
  fill: var(--primary-7) !important;
}

.disabledOption {
  cursor: not-allowed;
  color: rgba(167, 182, 194, 0.6) !important;
  svg {
    cursor: not-allowed;
    color: rgba(167, 182, 194, 0.6) !important;
  }
  // enabled icon
  [class*='bp3-control-indicator'] {
    cursor: not-allowed;
  }
}
