.webhookConfigurationContainer {
  min-width: 800px;
  padding: var(--spacing-large) var(--spacing-xxlarge) !important;
  section [class*='bp3-input-group'],
  .actionsContainer > div,
  [class*='bp3-overlay'] [class*='bp3-transition-container'] {
    width: 324px;
  }

  .nameIdDescriptionTags {
    width: 324px;
  }

  .heading {
    margin-top: 0;
    padding-bottom: var(--spacing-xsmall);
  }

  .listenOnNewWebhook {
    padding-bottom: var(--spacing-small) !important;
    border-bottom: 1px solid var(--grey-300);
    margin-bottom: var(--spacing-medium);
  }

  .actionsContainer {
    display: flex;
    margin-top: var(--margin-xsmall) !important;
    align-items: center;
    justify-content: space-between;
    > div {
      [class*='checkboxAlignment'] {
        padding-left: var(--spacing-medium);
        position: relative;
        top: 10px;
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--white);
    z-index: 1;
    box-shadow: 4px 0px 2px 0 rgba(0, 0, 0, 0.13);
  }

  .checkbox {
    padding-left: 26px !important;
  }

  .secureTokenLoader {
    position: relative;
    top: -5px;
  }
}

.checkboxAlignment {
  margin: var(--spacing-xxlarge) !important;
}

.multiSelect {
  [class*='bp3-multi-select'] {
    height: fit-content !important;
  }
}
