.webhookPipelineInputContainer {
  width: 800px !important;
  // padding: var(--spacing-medium) var(--spacing-xxlarge) !important;
  .heading {
    margin: 0;
  }
}

.pipelineInputRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 1.5em !important;
    font-weight: bold !important;
    padding-left: var(--spacing-medium) !important;
  }
}

.inputsetGrid {
  background-color: var(--form-bg);
  .input-set-content {
    height: calc(100vh - 236px);
    overflow: auto;
  }
  .Card--card {
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  }
  .inputSetcard {
    margin: var(--spacing-large);
  }
  .errorHeader {
    background: #fff9e7;
    color: #000;
    :global {
      .bp3-icon {
        padding-right: var(--spacing-large);
      }
    }
  }
}

.inputSetSelectedValue {
  width: 600px !important;
}
