.healthScoreCardContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: var(--spacing-large) !important;
}

.healthScoreCard {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border-radius: var(--spacing-xsmall);
  font-size: var(--font-size-small);
  text-align: center;
  margin-right: var(--spacing-small);
}

.noDataState {
  display: flex;
  flex-direction: row;
}
