.main {
  display: flex;

  .leftNav {
    margin-right: var(--spacing-xlarge) !important;
  }

  .setupContainer {
    flex: 1;
    margin-right: var(--spacing-large);

    .sectionHeading {
      padding: var(--spacing-small) var(--spacing-xsmall) !important;
      border-bottom: 1px solid var(--grey-250);
      font-size: var(--font-size-medium) !important;
      margin-bottom: var(--spacing-small) !important;
    }

    .nameAndMetricTagContainer {
      width: 45% !important;
      max-width: 550px;
      margin-right: var(--spacing-medium);
    }

    .configureRiskProfileContainer {
      .inlineRadio {
        label {
          color: var(--black) !important;
        }
        div > div {
          display: flex;
          label:not(:last-of-type) {
            margin-right: var(--spacing-medium) !important;
          }
        }
      }
      .deviation {
        .checkboxLabel {
          margin-bottom: var(--spacing-small) !important;
        }
        .checkbox {
          display: flex;
          div:first-child {
            position: relative;
            left: 13px;
            margin-right: 25px !important;
          }
        }
      }
    }

    .validationContainer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: var(--spacing-large) !important;

      .query textarea {
        resize: none;
        flex-basis: 45%;
        height: 200px;
        max-width: 600px;
      }

      .chartContainer {
        flex-basis: 45%;
        margin-left: var(--spacing-large) !important;
        max-width: 550px;
      }

      .sampleDataSpinner {
        margin: 0 auto;
      }
    }

    .metricServiceEnvContainer {
      display: flex;
      align-items: baseline;
      width: 70% !important;
      flex-wrap: wrap;
      .envService input {
        width: 240px;
      }
      > * {
        margin-right: var(--spacing-medium) !important;
      }
    }
  }
}
