.optionBtns {
  display: inline-block;
  font-size: var(--font-size-xsmall);
  line-height: 14px;
  width: 136px;
  margin: 0 250px;

  .item {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
    border: solid 1px var(--primary-9);
    color: var(--primary-9);
    background: #fff;
    width: 55px;
    text-align: center;
  }

  .selected {
    font-weight: bold;
    background-color: var(--primary-9);
    color: var(--white);
    cursor: default;
  }

  .disabledMode {
    cursor: not-allowed;
  }
}

.run-form {
  min-height: initial;
  .editor {
    width: 100%;
    // max height is same as the height in visual view
    max-height: 65vh !important;
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
  }
  .content {
    min-height: calc(100vh - 187px);
    overflow: auto;
    display: block;
    max-height: calc(100vh - 187px);

    & > form {
      width: 100%;
    }
  }
  .pipelineHeader {
    height: 62px;
    width: 100% !important;
    display: inline-block !important;
  }

  .radio-group {
    padding-left: 24px !important;
  }

  .radio {
    padding-left: 32px !important;
  }

  .divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: var(--spacing-3);
  }

  .footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  [class*='OverlaySpinner--overlaySpinner'] {
    min-height: calc(100% - var(--page-header-height, 64px));
    overflow: hidden;
  }
}

.errorsContent {
  margin-right: var(--spacing-xlarge);
  :global(.Accordion--chevron) {
    display: none;
  }
}

.inputsetGrid {
  display: grid;
  grid-template-columns: 300px 1fr;
  background: var(--grey-50);
  width: 100%;
  .treeSidebar {
    border-right: solid 1px #ccc;
    background: #fff;
    overflow: auto;
  }
  .Card--card {
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  }
  .inputSetcard {
    margin: var(--spacing-large);
  }
}

.preFlightCheckModal {
  width: 900px;
  padding: var(--spacing-large);
}

.runFormExecutionView {
  .content {
    min-height: calc(100vh - 220px);
    overflow: auto;
    display: block;
    max-height: calc(100vh - 220px);
  }

  [class*='OverlaySpinner--overlaySpinner'] {
    min-height: calc(100% - var(--page-header-height, 64px));
    overflow: hidden;
  }
}

.modal-card {
  max-height: fit-content;
  min-height: 150px;
  height: calc(100% - 48px);
  min-height: 150px;

  &.bp3-dialog-header {
    color: var(--grey-700);
  }

  .modal-content {
    width: 100%;
    padding: var(--spacing-large);
  }
}

.run-modal-header {
  min-height: var(--spacing-8);
  display: flex;
  padding: var(--spacing-medium) var(--spacing-large);
}

.run-modal-sub-heading {
  justify-content: space-between !important;
  align-items: center;
}

.run-modal-header-title {
  display: flex;
  align-items: center;
}

.run-modal-form-content {
  max-height: 65vh !important;
  min-height: 200px;
  overflow-x: hidden;
  overflow: auto !important;
  border-top: 1px solid var(--grey-200);
}

.no-pipeline-input-set-form {
  padding-top: var(--spacing-medium);
}

.help-section {
  display: flex;
  flex-direction: row;
}

.help-icon {
  padding-right: var(--spacing-3) !important;
}

.runModal {
  :global(.bp3-dialog-header) {
    margin-top: 0 !important;
    min-height: var(--spacing-8);
  }
}

.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.dialog {
  position: relative;
  padding-bottom: 0 !important;
  background-color: var(--form-bg) !important;
}

.runPipelineErrorPopover {
  padding: 0 var(--spacing-medium);
  background: white;
  color: var(--red-400);
  font-weight: 500;
}

.valueProviderRadio {
  padding: var(--spacing-small) var(--spacing-xlarge) var(--spacing-small) var(--spacing-huge) !important;
  border: 1px solid var(--grey-200);
  border-radius: 4px;
  background-color: white;
}

.selectedValueProvider {
  border-color: var(--primary-7);
  background-color: var(--primary-2) !important;
  color: var(--form-body-text);
}

.runPipelineErrorDesc {
  padding: var(--spacing-small);
}

.runPipelineErrorLine {
  margin: var(--spacing-xsmall) 0 !important;
}

.errorHeader {
  padding: var(--spacing-small) var(--spacing-large) !important;
  background-color: var(--red-50) !important;
}

.actionButtons {
  margin-top: 0 !important;
}

.secondaryButton {
  margin-left: var(--spacing-medium) !important;
}

.footerCheckbox {
  border-radius: 4px;
  font-size: var(--font-size-small) !important;
}
