.optionBtns {
  display: inline-block;
  background-color: var(--grey-200);
  border-radius: 10px;
  font-size: var(--font-size-xsmall);
  line-height: 14px;
  width: 138px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  .item {
    display: inline-block;
    padding: var(--spacing-xsmall) var(--spacing-medium);
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
  }

  .selected {
    font-weight: bold;
    background-color: var(--grey-400);
    color: var(--white);
    cursor: default;
  }
}

.run-form {
  min-height: initial;
  .editor {
    width: 100%;
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
  }
  .content {
    min-height: calc(100vh - 187px);
    overflow: auto;
    display: block;
    max-height: calc(100vh - 187px);

    & > form {
      width: 100%;
    }
  }
  .pipelineHeader {
    height: 62px;
    width: 100% !important;
    display: inline-block !important;
  }

  .radio-group {
    padding-left: 24px !important;
  }

  .radio {
    padding-left: 32px !important;
  }

  .divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: var(--spacing-3);
    .gitFilters {
      margin-bottom: var(--spacing-3);
    }
  }

  .footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-top: var(--spacing-medium);
  }

  [class*='OverlaySpinner--overlaySpinner'] {
    min-height: calc(100% - var(--page-header-height, 64px));
    overflow: hidden;
  }
}

.errorsContent {
  margin-right: var(--spacing-xlarge);
  :global(.Accordion--chevron) {
    display: none;
  }
}

.inputsetGrid {
  display: grid;
  grid-template-columns: 300px 1fr;
  background: var(--grey-50);
  width: 100%;
  .treeSidebar {
    border-right: solid 1px #ccc;
    background: #fff;
    overflow: auto;
  }
  .Card--card {
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  }
  .inputSetcard {
    margin: var(--spacing-large);
  }
  .errorHeader {
    background: #fff9e7;
    color: #000;
    :global {
      .bp3-icon {
        padding-right: var(--spacing-large);
      }
    }
  }
}

.preFlightCheckModal {
  width: 900px;
  padding: var(--spacing-large);
}

.runFormExecutionView {
  .content {
    min-height: calc(100vh - 220px);
    overflow: auto;
    display: block;
    max-height: calc(100vh - 220px);
  }

  [class*='OverlaySpinner--overlaySpinner'] {
    min-height: calc(100% - var(--page-header-height, 64px));
    overflow: hidden;
  }
}

.modal-card {
  max-height: fit-content;
  height: calc(100% - 48px);
  padding-top: var(--spacing-xlarge) !important;

  &.bp3-dialog-header {
    color: var(--grey-700);
  }

  .modal-content {
    width: 100%;
    padding: var(--spacing-large);
  }
}

.run-modal-header {
  min-height: var(--spacing-8);
  display: flex;
  justify-content: space-between !important;
  padding-left: var(--spacing-xlarge) !important;
  padding-right: var(--spacing-11) !important;
}

.run-modal-sub-heading {
  justify-content: space-between !important;
}

.run-modal-header-title {
  display: flex;
  align-items: center;
}

.run-modal-form-content {
  max-height: 65vh !important;
  min-height: 130px;
  overflow: scroll !important;
}

.no-pipeline-input-set-form {
  padding-top: var(--spacing-medium);
}

.help-section {
  display: flex;
  flex-direction: row;
}

.help-icon {
  padding-right: var(--spacing-3) !important;
}

.runModal {
  :global(.bp3-dialog-header) {
    margin-top: 0 !important;
    min-height: var(--spacing-8);
  }
}

.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.dialog {
  position: relative;
  padding-bottom: var(--spacing-xlarge) !important;
}
