.squareCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64px;
  margin-right: 64px;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
}

.squareCard {
  width: 64px;
  height: 64px;
  padding: var(--spacing-large) 0;
  margin-bottom: var(--spacing-large);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.connectorLabel {
  margin-bottom: var(--spacing-xsmall) !important;
  font-size: small !important;
}

.connectorField {
  button[data-testid='cr-field-connectorRef'] {
    width: 400px !important;
  }
  input {
    width: 400px !important;
  }
}
