.main {
  --execution-pipeline-color-blue: #25a6f7;
  --execution-pipeline-color-arrow-complete: #0092e4;
  --execution-pipeline-color-arrow-not-started: #d9dae6;
  --execution-pipeline-color-grey: #b0b1c4;
  --execution-pipeline-color-dark-grey: #8f90a6;
  --execution-pipeline-color-red: #e86d64;
  --execution-pipeline-color-dark-red: #cf2318;
  --execution-pipeline-color-orange: #ff832b;
  --execution-pipeline-color-dark-grey2: #9293ab;
  --execution-pipeline-selected-running-bg: linear-gradient(
    to right,
    transparent 33%,
    rgba(255, 255, 255, 0.3) 50%,
    transparent 66%
  );

  width: 100%;
  height: 100%;

  // dotted background
  $bg-color: #f6fcff;
  $dot-color: #bbc1c4;

  $dot-size: 1px;
  $dot-space: 10px;

  background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
  background-size: $dot-space $dot-space;

  &.white-background {
    background: linear-gradient(90deg, var(--white) ($dot-space - $dot-size), transparent 1%) center,
      linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
    background-size: $dot-space $dot-space;
  }

  .running-node {
    position: relative;
    animation: shine 1s infinite;
    background-color: var(--blue-600);
    background-image: var(--execution-pipeline-selected-running-bg) !important;
    background-size: 300% 100%;
  }

  .canvas {
    width: 100%;
    height: 100%;
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
@keyframes shine {
  0% {
    background-position: right;
  }
}
