.secondStep {
  .authHeaderRow {
    display: flex;
    justify-content: space-between;
    & > [data-tooltip-id='helmConnectorAuthentication'] {
      margin: 0 0 7px;
    }
  }
}

.stepDetails {
  height: 100%;
  > div:last-child {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
