.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;

  div[class*='StepWizard---main'] {
    height: 100%;
  }
  div[class*='OverlaySpinner---overlaySpinner'] {
    height: 100%;
    position: relative;
  }
  .formContainer {
    .bottomButton {
      position: relative;
      margin-top: 200px;
    }
  }

  .heading {
    color: var(--grey-800);
    font-size: var(--font-size-medium);
    letter-spacing: 0;
    margin-bottom: var(--spacing-xxlarge) !important;
  }
}
