.main {
  height: 100% !important;
  position: relative;
  padding: var(--spacing-small) var(--spacing-large) !important;

  .details {
    width: 100% !important;
    min-height: 220px !important;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
