.table {
  div[role='row'] {
    padding: 0px var(--spacing-medium) 0px 28px;
    margin-bottom: var(--spacing-medium);
  }
  > div[role='row'] {
    padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-medium) 28px;
    margin-bottom: 0px;
  }
  .templateColor {
    transform: translateX(-28px);
  }
  .actionButton {
    transform: rotate(90deg);
  }
}
