.collapseDiv {
  margin-top: calc(var(--spacing-large) / -1);
  margin-bottom: var(--spacing-medium);

  div {
    border-top: none;
    padding: 0;
  }
}

.label-bold label {
  line-height: 19px;
  font-weight: 700;
  font-size: var(--font-size-normal);
}

.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: var(--spacing-small);
  padding-top: var(--spacing-small);
  // grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));

  :global(.bp3-card) {
    padding: var(--spacing-large);
    width: 70px;
    height: 70px;
  }
}

.stage-create {
  width: 430px;
  padding: var(--spacing-small);
  background-color: var(--white);

  .predefinedValue {
    display: block !important;
    text-overflow: ellipsis;
    margin-top: calc(var(--spacing-small) / -1);
    margin-bottom: var(--spacing-medium);
  }
}

.configureCodebase {
  border-top: 1px solid rgba(#000, 0.1);
  padding-top: var(--spacing-medium);
  margin-top: var(--spacing-medium);
}

.repositoryUrl {
  overflow-x: auto;
}

.cloneCodebaseInfo {
  display: flex;
  padding-left: var(--spacing-large);
}

.connector {
  :global {
    .bp3-icon-chevron-down {
      right: 0 !important;
    }
  }
}
