.main {
  display: flex;

  .entry {
    align-self: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--font-size-small);
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .title {
    color: var(--grey-500);
    font-weight: bold;
    min-width: 40px;
  }

  .label {
    font-weight: bold;
    color: var(--grey-900);
    margin-bottom: var(--spacing-xsmall);
    min-width: 40px;
  }

  .value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    color: var(--grey-400);
    font-size: var(--font-size-normal);

    // keep height if value is empty
    &:empty:before {
      content: '\200b';
    }
  }

  .delimiter {
    height: 35px;
    border-right: 1px solid var(--grey-300);
    align-self: center;
  }
}
