.noPipelineFoundContainer {
  width: 100%;
  height: 100%;
  .backButton {
    margin-left: var(--spacing-medium) !important;
    margin-top: var(--spacing-medium) !important;
  }

  .noPipelineFoundImage {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    margin-top: 15%;
  }

  .noPipelineFound {
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center;
    color: var(--grey-700) !important;
  }
  .selectDiffBranch {
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center;
    color: var(--grey-700) !important;
  }
}

.branchSelector {
  width: 150px;
  input {
    border: none;
    color: var(--grey-900);
  }
  li {
    font-size: var(--font-size-normal);
  }
}
