.main {
  .cardStyles {
    width: 165px;
    height: 180px;
    .icon {
      border-radius: 50%;
      border: 1px solid var(--grey-300);
      padding-top: 18px;
      padding-bottom: 12px;
      margin: 0px 24px;
    }
    .sourceText {
      text-align: center;
      color: var(--grey-900);
      margin-top: 24px;
    }
  }
}
