.mainContainer {
  display: grid;
  height: 100%;

  .formContainer {
    height: 100%;
    display: flex;

    .innerContainer {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .proTipContainer {
    border-radius: 8px;
  }

  .perspectiveNameInput {
    width: 240px;
  }

  .linkText {
    cursor: pointer;
  }
}
