.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.dialog {
  position: relative;
  padding-bottom: var(--spacing-none);
  min-width: 700px;
}

.cardRow {
  display: flex;
}

.card {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-small);
  width: 100px;
  height: 90px;
}
