.verificationStatusCard {
  padding: var(--spacing-xsmall) var(--spacing-large) !important;
  border-radius: 8px;
  height: 20px !important;
  font-weight: bold !important;
  font-size: var(--font-size-xsmall) !important;
  text-transform: uppercase;
  margin: 0 var(--spacing-large) !important;
}
