:root {
  --form-input-shadow: rgba(96, 97, 112, 0.32);
}
.mainDetails {
  justify-content: space-between;
  .connectorDetails {
    padding-top: var(--spacing-large);

    .header {
      margin-bottom: var(--spacing-xlarge);
      width: fit-content;
      .name {
        font-size: 18px;
        margin: auto;
        padding-right: var(--spacing-medium);
        color: var(--grey-800);
      }
    }
    .submitBtn {
      margin-top: var(--spacing-large);
    }
  }
}

.activityContainer {
  border-left: thin solid var(--grey-300);
  height: auto;
  padding: var(--spacing-small) var(--spacing-xlarge) !important;
  min-width: 400px;

  .activitySummary {
    border-bottom: thin solid var(--grey-300);
    padding-bottom: var(--spacing-xlarge) !important;
  }
}

.fullWidth {
  width: 100% !important;
}

.readOnly {
  width: 70%;
}

.connectorWrp {
  padding: var(--spacing-xlarge);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin-bottom: var(--spacing-large) !important;

  .optionBtns {
    display: inline-block;
    justify-content: space-between;
    background-color: var(--grey-300);
    border-radius: 10px;
    font-size: var(--font-size-xsmall);
    line-height: 10px;
    margin: 5px 0;
    .item {
      display: inline-block;
      padding: var(--spacing-xsmall) var(--spacing-medium);
      border-radius: 10px;
      cursor: pointer;
    }

    .selected {
      font-weight: bold;
      background-color: var(--grey-400);
      color: var(--white);
      cursor: default;
    }
  }
}

.yamlView {
  width: 93%;
}

.editButton {
  color: var(--blue-500) !important;
  border-color: var(--blue-500) !important;
}

.disabled {
  pointer-events: none;
}
