.radioGroup {
  width: 64%;
  > div > div {
    display: flex;
    justify-content: space-between;
  }
  > label {
    font-weight: 500;
    color: var(--radio-group-label);
  }
}
.formDataAws {
  min-height: 440px;

  .formInput {
    width: 56%;
  }
}
