.connectionForm {
  max-width: 64%;
  .appDContainer {
    margin-top: var(--spacing-small);
    [class*='module_secretFieldWrapper'] {
      margin-top: 0 !important;
    }
  }
  > div {
    display: flex;
    flex-direction: column;
    min-height: 510px !important;
    > div {
      flex: 1;
    }
  }
}
