.connectionForm {
  height: 100%;
  max-width: 64%;
  .appDContainer {
    margin-top: var(--spacing-small);
    [class*='module_secretFieldWrapper'] {
      margin-top: 0 !important;
    }
  }
  > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    > div {
      flex: 1;
    }
  }

  .authTypeSelect {
    :global {
      .bp3-input-group {
        > input {
          width: 100% !important;
          border: none !important;
          padding: var(--spacing-small) 0;
          min-width: 190px;
          text-align: end !important;
        }
      }
      .bp3-input-action {
        > span {
          padding-left: var(--spacing-xsmall) !important;
          padding-right: 0px !important;
        }
      }
    }
  }
}
