.container {
  border-bottom: 1px solid var(--grey-300);
  background: var(--white) !important;
  position: relative;
  z-index: 2;

  &.standard {
    height: 64px;

    & + div[class*='PageBody'] {
      --page-header-height: 64px;
    }
  }

  &.medium {
    height: 80px;

    & + div[class*='PageBody'] {
      --page-header-height: 80px;
    }
  }

  &.large {
    height: 96px;

    & + div[class*='PageBody'] {
      --page-header-height: 96px;
    }
  }

  &.xlarge {
    height: 144px;

    & + div[class*='PageBody'] {
      --page-header-height: 144px;
    }
  }
}
