@import '../DrillDownViewPartial.module';

.main {
  animation: fadeIn;
  animation-duration: 250ms;
  position: relative;
  min-height: 250px;
  max-height: 790px;
  margin-top: var(--spacing-small) !important;

  .header {
    display: flex;
    align-items: baseline;
    .timeline {
      flex: 1;
      margin-left: var(--spacing-small) !important;
    }
  }
}

.error,
.noDataCard {
  height: 250px !important;
}

.loading {
  display: block;
  text-align: center;
  position: relative;
  top: 20%;
  height: 250px !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
