.flag-wizard-container {
  background: var(--white);
  position: absolute;
  width: 100%;
  height: 100%;

  [class*='navBar'] {
    padding: var(--spacing-huge) !important;
  }

  [class*='navBarList'] {
    border-top-left-radius: var(--spacing-xsmall);
    border-bottom-left-radius: var(--spacing-xsmall);
  }

  [class*='stepDetails'] {
    overflow: auto;
    background-color: #f9f9f9 !important;
    padding: var(--spacing-huge) var(--spacing-xxlarge) var(--spacing-xxlarge) !important;

    [class*='OverlaySpinner'] {
      &,
      > form,
      > form > div {
        width: 100%;
        height: 100%;
      }
    }
  }

  [class*='OverlaySpinner---'] {
    height: 100%;
    overflow: auto;
    & > form {
      height: inherit;
      & > div {
        height: inherit;
      }
    }
  }
}
