.inputSelectFlagType {
  width: 32%;
  padding: 0 var(--spacing-small) 0 0 !important;
}

.spacing-select-variation {
  align-self: center;
  height: 32px !important;
  input {
    border: 1px solid var(--grey-300) !important;
  }
}

.spacing-elem-variation {
  padding-left: var(--spacing-small);
  margin-right: var(--spacing-small);
}

.collapse-container {
  align-self: center;
  & > div {
    border: 0 !important;
  }
}

.btns-group {
  .test-ff-btn {
    margin-left: auto !important;
  }
}

.serve-text-align {
  height: 38px;
  align-self: center;
}

.tooltip-multi-flag {
  & > div {
    p {
      padding: var(--spacing-large) !important;
      width: 300px !important;
      font-size: var(--font-size-small) !important;
    }
  }
}

.booleanForm {
  .disabledInput {
    :global {
      label.bp3-label {
        color: var(--grey-500) !important;
      }
    }
  }
}
