.tabs {
  & > :global(.bp3-tab-list) {
    width: 100%;
    height: 34px;
    padding: var(--spacing-none) var(--spacing-large);
    align-items: center;
    box-shadow: inset var(--grey-200) 0px -4px 0px;
  }

  & :global(.bp3-tab-panel) {
    margin-top: var(--spacing-none);
  }

  & :global(.bp3-tab) {
    line-height: 24px;
    padding: var(--spacing-none) var(--spacing-small) var(--spacing-small) var(--spacing-small);
  }

  & :global(.bp3-tab-indicator-wrapper .bp3-tab-indicator) {
    background-color: var(--primary-7);
    height: 4px;
  }
}
