.dialog {
  border-radius: 11px;
  position: relative;
  padding: unset !important;
  &.cdTrial {
    width: 1000px;
    border-left: none !important;

    :global(.Dialog--children) {
      overflow: unset !important;
    }
  }
}
