.main {
  display: flex;

  .tracksAndIntervalMarkers {
    overflow-y: scroll;
    flex-grow: 1;
    display: flex;
    position: relative;

    .activityTracks {
      display: flex;
    }

    .dayMarkersAndSummaryCard {
      width: 100%;
      position: relative;
      margin-right: var(--spacing-large) !important;
    }
  }
}
