.logo {
  transform: translate(-81px, 12px);

  svg {
    path:last-of-type {
      transform: translateX(15px);
      fill: var(--grey-250);
    }
  }
}

.dashboardTitle {
  justify-content: center;

  span {
    color: var(--grey-200);
  }

  span:last-of-type {
    display: inline-block;
    margin-left: var(--spacing-medium);
  }
}

.menuContent {
  margin-top: var(--spacing-medium);
  text-align: center;
}
