.card {
  width: 230px;
  padding: 0px !important;
  border: 0px;
  box-shadow: none !important;
  .environmentType {
    padding: 0px var(--spacing-xsmall) !important;
    cursor: pointer;
    &:not(:last-of-type) {
      border-right: 1px solid var(--grey-500);
    }
    &:first-of-type {
      padding-left: 0 !important;
    }
  }
  .stack {
    padding-bottom: 2px;
  }

  .typeContainer {
    padding: var(--spacing-xsmall) var(--spacing-medium);
    border-radius: 16px;
    cursor: pointer;
  }
  .typeSelected {
    background: var(--primary-8);
  }

  .stackTickerContainer {
    overflow: auto;
  }

  .tickerContainer {
    height: 26px;
    .tickerValueStyles {
      font-size: var(--font-size-xsmall);
    }
  }

  .tickerValueRed {
    color: var(--red-500);
  }

  .tickerValueGreen {
    color: var(--green-600);
  }

  .weightedStackContainer {
    flex-grow: 1;
    padding-right: var(--spacing-xxlarge);
    .progressBar {
      height: 24px;
    }
    .label {
      color: var(--white);
      font-size: var(--font-size-xsmall) !important;
    }
  }

  .mostActiveServicesWidgetEmpty {
    flex-grow: 1;
    text-align: center;
  }
}
