.heatmap-color-1 {
  background-color: #348200 !important;
}

.heatmap-color-2 {
  background-color: #43a700 !important;
}

.heatmap-color-3 {
  background-color: #6fd400 !important;
}

.heatmap-color-4 {
  background-color: #ffde4f !important;
}

.heatmap-color-5 {
  background-color: #ffcc1d !important;
}

.heatmap-color-6 {
  background-color: #fbbb00 !important;
}

.heatmap-color-7 {
  background-color: #fa8200 !important;
}

.heatmap-color-8 {
  background-color: #ef4b4b !important;
}

.heatmap-color-9 {
  background-color: #df281c !important;
}

.heatmap-color-10 {
  background-color: #ac1717 !important;
}
