.expanded-input {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: flex-end;

  input {
    border: 0 !important;
    &:focus {
      border: 1px solid var(--grey-350) !important;
    }
  }
}
.stepInside {
  display: flex;
}

.paletteCardHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(151, 151, 151, 0.2);

  mix-blend-mode: normal;
  padding-bottom: var(--spacing-medium) !important;
}

.title {
  font-weight: bold !important;
  font-size: 20px !important;
  line-height: 28px !important;
}

.subTitle {
  font-size: 10px;
  line-height: 24px;
  /* identical to box height, or 240% */

  color: #1c1c28;

  mix-blend-mode: normal;
  opacity: 0.4;
}

.paletteIcon {
  width: 20px;
  height: 20px;
}

.library {
  margin-top: var(--spacing-small) !important;
}

.stepPalette {
  .stepsRenderer {
    height: 100vh;
    overflow: scroll;
    width: calc(100% - 260px);

    background: var(--primary-bg);
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    box-shadow: -3px 3px 11px rgba(156, 156, 156, 0.5);
    .categorySteps {
      color: var(--grey-400);
      margin-top: var(--spacing-xlarge) !important;
      .categoryName {
        color: var(--grey-400);
        margin-bottom: var(--spacing-medium);
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        color: #000000;
        font-weight: bold;
      }
      .steps {
        display: grid;
        grid-template-columns: 112px 112px 112px;
        grid-column-gap: var(--spacing-small);
        grid-row-gap: var(--spacing-large);
        text-align: center;
        margin-left: var(--spacing-4);
        .step {
          position: relative;
          :global {
            .bp3-elevation-0 {
              box-shadow: 0px 5px 8px -2px var(--grey-300);
            }
            .bp3-elevation-0:hover {
              box-shadow: 0px 5px 9px -1px var(--grey-350);
            }
          }
          .stepName {
            margin-top: var(--spacing-small);
            color: var(--grey-600);
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */

            text-align: center;

            color: #555770;
          }
        }
      }
    }
  }

  .subCategory {
    font-size: 11px !important;
    line-height: 19px;
    /* or 173% */

    display: flex;
    align-items: center;

    color: #ffffff !important;

    mix-blend-mode: normal;
    opacity: 0.8 !important;
    font-weight: normal !important;
    // To join left borders between each sub categories of current category
    margin-bottom: 0 !important;
    padding-bottom: var(--spacing-5) !important;
  }

  .lastSubCategory {
    margin-bottom: var(--spacing-medium) !important;
  }

  .categoriesRenderer {
    width: 280px;
    height: 100vh;

    font-family: Inter;
    font-style: normal;

    background: #00467b;
    color: var(--white);
    .library {
      font-weight: 600;
      font-size: 14px;
    }
    .libraryHeader {
      margin-left: var(--spacing-xlarge);
      margin-top: var(--spacing-4);
    }
    .headerContainer {
      display: flex;
      flex-direction: column;
    }
    .showAllBtn {
      height: 40px;
      background: rgba(17, 33, 67, 0.14);
      mix-blend-mode: normal;
      border-radius: 5px;
      display: flex;
      align-items: center;
      padding: var(--spacing-medium) var(--spacing-10);
      margin-top: var(--spacing-medium);
      color: var(--white);
      cursor: pointer;
    }

    .separator {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 192px;
      opacity: 0.34;
      margin-top: 0 !important;
      border: 0.5px solid #cdd3dd;
    }
    .primaryCategories {
      color: var(--white);

      > section {
        cursor: pointer;
        // margin-bottom: var(--spacing-small);
        // font-size: var(--font-size-small);
        // padding: var(--spacing-small);
      }
    }
    .secCategories {
      margin: var(--spacing-xlarge);
      .title {
        text-transform: uppercase;
        color: var(--grey-400);
        font-size: var(--font-size-xsmall);
        letter-spacing: 2px;
        margin-bottom: var(--spacing-medium);
      }
      .category {
        padding: var(--spacing-small) var(--spacing-small) var(--spacing-small) 6px;
        display: inline-flex;
        cursor: pointer;
        color: var(--grey-800);
        // margin-bottom: var(--spacing-small);
        align-items: end;
        font-size: 12px;
        color: #fff;
        opacity: 0.9;
        font-weight: 500;
        height: 32px;
        margin-bottom: var(--spacing-small);
        :global {
          .bp3-icon {
            margin-right: var(--spacing-small);
            color: white !important;
          }
          // path {
          //   fill: var(--grey-600);
          // }
        }
      }
      .hasSubCategories {
        margin-bottom: 4px !important;
      }
      .offset {
        padding-left: var(--spacing-large);
        border-left: 0.25px solid rgb(255, 255, 255, 0.44);
        margin-left: 10px;
      }
    }
    .active {
      background: var(--blue-300);
      color: var(--primary-7) !important;
      font-weight: 700;
      border-radius: 5px;
      :global {
        // path {
        //   fill: var(--blue-600) !important;
        // }
      }
    }
  }
}
