.metricsAndLogsCard {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 850px;
  max-height: 850px;
  overflow-y: auto;
}

.noServiceImageCard {
  width: 100%;

  .noDataCardContainer {
    height: 100% !important;
  }

  .noDataCard {
    margin-top: var(--spacing-none) !important;
  }

  .noServiceImage {
    width: 600px;
    height: 290px;
  }
}
