.detailsSectionContainer {
  height: fit-content;
  width: inherit !important;

  .tag {
    margin: var(--spacing-small) var(--spacing-small) 0 0;
  }
  .detailsSection {
    height: fit-content;
    width: 45%;
    min-width: 240px;

    .detailsSectionRowWrapper {
      &:not(:last-child) {
        border-bottom: 1px solid var(--grey-200);
      }

      .detailsSectionRow {
        display: flex;
        justify-content: space-between;

        .detailsValue {
          word-break: break-all;
        }
      }
    }
  }
}
