@import '@pipeline/components/Dashboards/sharedStyles.module.scss';

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--grey-50) !important;
}

.healthAndExecutions {
  @include dashboardVariables();
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: var(--spacing-large);
  padding: var(--spacing-large) !important;
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.noDeploymentSection {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  .image {
    width: 320px;
  }
  .clearFilterText {
    color: var(--primary-7);
    text-transform: uppercase;
    font-size: var(--spacing-medium);
    font-weight: 500;
    cursor: pointer;
  }
  .noDeploymentText {
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    color: var(--grey-1000) !important;
  }
  .aboutDeployment {
    font-size: 16px !important;
    font-weight: normal !important;
    line-height: 24px !important;
    color: var(--grey-600) !important;
  }
}

.loading {
  margin: auto;
  height: 100vh;
}
