.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--grey-100) !important;
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.loading {
  margin: auto;
  height: 100vh;
}
