@import '../ExecutionVars';

.main {
  & > :global(.bp3-tab-list) {
    padding: var(--spacing-none) var(--spacing-medium) var(--spacing-none) var(--spacing-xxlarge);
    width: 100%;
    height: $tabs-height;
    align-items: center;
    box-shadow: inset var(--blue-350) 0px -4px 0px;
  }

  & :global(.bp3-tab) {
    line-height: 50px;
    padding: var(--spacing-none) var(--spacing-small);
  }

  & :global(.bp3-tab[aria-selected='true']),
  & :global(.bp3-tab:not([aria-disabled='true']):hover) {
    color: var(--blue-500);
  }

  & :global(.bp3-tab-indicator-wrapper .bp3-tab-indicator) {
    background-color: var(--blue-500);
    height: 4px;
  }
}
