.inputWidth {
  width: 450px;
  margin-bottom: var(--spacing-large);
}

.formRow {
  :global {
    .bp3-form-group {
      &.bp3-disabled .bp3-label {
        color: var(--grey-500) !important;
      }
    }
  }
  > button {
    margin-top: 21px !important;
  }
}

.lastRow {
  :global(.bp3-form-group) {
    margin-bottom: 0px !important;
  }
}

.connectorRef {
  padding-bottom: 0px !important;
}

.accordionPanel {
  padding-top: var(--spacing-small) !important;
}

.accordionDetails {
  padding-bottom: 0px !important;
}

.simultaneousDeployment {
  display: inline-flex !important;
}

.clusterInputWrapper {
  :global {
    .bp3-form-group.bp3-disabled .bp3-label {
      color: var(--grey-500) !important;
    }
  }
}
