.inputWidth {
  width: 450px;
  margin-top: var(--spacing-small);
}

.connectorLabel {
  margin-bottom: var(--spacing-xsmall);
  font-size: var(--font-size-normal) !important;
}

.formRow {
  > button {
    margin-top: var(--spacing-xxlarge) !important;
  }
}

.simultaneousDeployment {
  input {
    margin-left: var(--spacing-small);
    position: relative;
    margin-top: var(--spacing-small);
  }
}
