.main {
  border-top: none !important;
  width: 250px !important;
  border-bottom: none !important;
  background-color: var(--white);
}

.selectedDeployment {
  background-color: var(--primary-1) !important;
}

.item {
  cursor: pointer;
  &:hover {
    background-color: var(--primary-1) !important;
  }
  .itemHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    :global(.bp3-icon) {
      padding: 2px;
    }
  }
}
