.projects {
  height: calc(40vh) !important ;
}

.fullview {
  height: calc(100vh - 64px) !important ;
}

.add {
  height: calc(60vh) !important ;
}

.view {
  background-color: white !important;
}

.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.noProject {
  height: calc(100vh - 64px);
}

.pageclass {
  height: calc(100vh - 192px) !important ;
}
