.container {
  height: 100%;
  width: 100%;
}

.canvas {
  height: 100%;
  width: 100%;

  > div {
    cursor: default;
    height: 100%;
    width: 100%;
  }
}

.add-step-popover {
  display: inline-block;
  min-width: 180px;
  button {
    color: var(--white) !important;
    width: 160px;
    height: 80px;
    justify-content: start;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }
}

.canvas-btn {
  bottom: 85px;
}
