.secondStep {
  margin: var(--spacing-small) 0 var(--spacing-small) var(--spacing-small) !important;
  .headingStepTwo {
    font-size: var(--font-size-medium);
    letter-spacing: 0;
    color: var(--grey-800);
  }

  .clusterWrapper {
    padding: var(--spacing-xsmall) !important;
    min-height: 580px;
    overflow: auto;

    .cardRow {
      display: flex;
      margin-bottom: var(--spacing-large);
      .card {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        border-radius: inherit;

        .textInfo {
          margin: var(--spacing-small) var(--spacing-small) var(--spacing-small) var(--spacing-large);
        }
      }

      .selectedCard {
        background-color: var(--blue-200);
        border: 2px solid var(--grey-200) !important;
      }

      :global {
        .bp3-card {
          width: 42%;
          display: flex;
          justify-content: space-between;
          padding: 0;
          margin-right: 4%;
          border-radius: 8px;
          background-color: var(--white);
        }
      }
    }

    :global {
      .bp3-input,
      .bp3-button,
      .bp3-checkbox {
        height: 36px;
      }
    }

    .authHeaderRow {
      width: 42%;
      display: flex;
      justify-content: space-between;
      .authTypeSelect {
        :global {
          .bp3-input-group {
            > input {
              width: 100% !important;
              border: none !important;
              padding: var(--spacing-small) 0;
              min-width: 190px;
              text-align: end !important;
            }
          }
          .bp3-input-action {
            > span {
              padding-left: var(--spacing-xsmall) !important;
              padding-right: 0px !important;
            }
          }
        }
      }

      .authTitle {
        font-size: var(font-size-normal);
        color: var(--black-600);
        padding-top: var(--spacing-small);
      }
    }

    .formRow {
      display: flex;
      :global {
        .bp3-form-group {
          width: 46%;
          .bp3-input,
          .bp3-button {
            width: 92%;
          }
        }
      }
    }
  }
}
.formFieldWidth {
  width: 42%;
}
.applyFlex {
  display: flex !important;
}
