.main {
  height: 100%;
  .noActivities {
    height: 350px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .activityPlaceholder {
      height: 35% !important;
      width: 75% !important;
    }

    .noActivityButtonsContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      button:not(:last-of-type) {
        margin-right: var(--spacing-large);
        margin-bottom: var(--spacing-xsmall);
      }
    }
  }

  .subTypes {
    .subType {
      &:not(:last-of-type) {
        margin-right: var(--spacing-medium);
      }
      cursor: pointer;
    }
    .selectedSubType {
      background-color: var(--black);
      color: var(--white);
      padding: var(--spacing-xsmall) var(--spacing-small);
      border-radius: 5px;
    }
  }
}

.activitiesTable {
  width: 80%;
  margin: auto;
}
