.main {
  display: flex;
  align-items: center;

  .title {
    height: 17px;
    margin-left: var(--spacing-large);
    .panelName {
      color: var(--blue-800);
    }
  }
  .tag {
    margin-left: var(--spacing-medium);
    font-size: 12px !important;
    padding: 5px;
  }

  .tagError {
    background-color: var(--red-300);
  }
  .tagSuccess {
    background-color: var(--green-300);
  }

  .tagUnsavedChanges {
    background-color: var(--grey-300);
  }

  .tagEditing {
    background-color: var(--blue-300);
  }
}
