.stepWizard {
  > div {
    padding: 0px !important;
  }
  .collapseDiv div {
    border-top: none;
    padding: 0;
  }
  .downloadButton {
    padding: var(--spacing-large) var(--spacing-medium) !important;
  }
}
