.stepWizard {
  > div {
    padding: 0px !important;
  }
  .collapseDiv div {
    border-top: none;
    padding: 0;
  }
  .downloadButton {
    padding: var(--spacing-large) var(--spacing-medium) !important;
  }
  .verticalLine {
    border: none;
    height: 100%;
    border-right: 0.5px solid #d9dae6;
  }
  .verificationHeader {
    height: 130px !important;
    background: #ecf6fd !important;
  }
  .verificationBody {
    padding: var(--spacing-xlarge) var(--spacing-xxxlarge) !important;
    height: 629px !important;
  }
  .addConfigImg {
    margin-right: var(--spacing-small);
  }

  .checkIcon {
    margin-right: var(--spacing-xxsmall) !important;
  }
  .verificationField {
    box-shadow: 0px 0px 5px rgba(40, 41, 61, 0.0348285);
    background: #effbff !important;
    border-radius: 4px !important;
  }
  .panelLeft {
    margin-right: 41px !important;
  }
  .titleYAMLVerification {
    color: #22272d !important;
    font-weight: 600 !important;
  }
  .descriptionVerificationWrapper {
    padding: var(--spacing-large) 0px !important;
  }
  .verificationFieldWrapper {
    align-items: center !important;
    padding: var(--spacing-large) 0px !important;
  }
  .checkItemsWrapper {
    align-items: center !important;
    padding: 0px var(--spacing-xxxlarge) !important;
  }
}

.yamlAccordion {
  :global {
    [data-testid='yamlbuilder-summary'] {
      background: #4f5162;
      /* Gray Scale / Gray Scale 500 */

      border: 1px solid var(--grey-color-1);
      box-shadow: 0px 2px 4px #e9e9e9;
      border-radius: 8px;
      height: 50px;
      padding: var(--spacing-small) !important;
    }
  }
}

.headerLabel {
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */

  /* Gray Scale / Gray Scale 200 */

  color: #d9dae6 !important;
}
