.btn-group {
  background-color: var(--grey-200) !important;
  border-radius: 100px !important;

  > button[class*='bp3-button']:not(:disabled):not(:disabled):not(:disabled) {
    border: 0px solid transparent;
    border-radius: 100px !important;
    background: transparent;
    min-height: 26px;
    height: 26px;
    padding: 2px 15px;

    svg {
      height: 14px;
      width: 14px;
    }
  }

  > button[class*='bp3-button'] span[class*='bp3-icon'] {
    margin-right: 6px;
  }

  > button[class*='bp3-button'][class*='active']:not(:disabled):not(:disabled) {
    background: var(--blue-500);
    color: var(--white);
    fill: var(--white);

    &:hover {
      color: var(--white);
    }
  }
  > * {
    &:not(:last-child),
    &:not(:last-child) button[class*='Button---button'] {
      margin-right: -1px;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    &:not(:first-child),
    &:not(:first-child) button[class*='Button---button'] {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}
