.sliElement {
  width: 80% !important;
  margin-top: var(--spacing-small) !important;

  .dropdown {
    width: 300px !important;
  }
}

.label {
  font-size: medium !important;
  font-weight: bold !important;
  margin-top: var(--spacing-large) !important;
  margin-left: var(--spacing-xxlarge) !important;
}

// PickMetric

.card {
  width: 100%;

  .eventType {
    width: 100px;
  }

  .metricSelect {
    width: 300px;
  }

  .objectiveValue {
    width: fit-content;
  }

  .comparatorOptions {
    width: 60px;
    margin-bottom: var(--spacing-0);
  }
}
