.layout {
  --sidebar-container-width: 270px;

  &.withoutMenu {
    --sidebar-container-width: 50px;
  }

  display: flex;
  width: 100%;
  height: 100%;

  .sidebarContainer {
    width: var(--sidebar-container-width);
  }

  .pageContainer {
    flex-grow: 1;
    background: var(--white);
  }
}
