.timePeriods {
  max-width: 250px;
  padding: var(--spacing-medium);
  min-width: 230px;
}

.serviceHealthCard {
  padding: var(--spacing-none) var(--spacing-medium) !important;
}

.tickersRow {
  display: flex;
  flex-direction: row;
}

.ticker {
  padding: var(--spacing-none) var(--spacing-medium) !important;
}

.pageMargin {
  margin: '2%' !important;
}

.main {
  position: relative;
  .slider {
    height: 78% !important;
  }
}

.timelineText {
  color: #28293d;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.tickerContainer {
  min-height: 72px;
}
