.aggregationTags {
  padding: var(--spacing-xsmall) var(--spacing-5);
  font-weight: 600;
  border-radius: 25px;
  color: var(--primary-7);
  cursor: pointer;
  line-height: 16px;
  font-size: 13px;
  background: none;

  &:hover {
    text-decoration: none;

    &:not(.active) {
      background: var(--grey-100);
    }
  }

  &.active {
    background: var(--primary-9);
    color: var(--white);
  }
}

.aggregationText {
  padding: var(--spacing-xsmall) var(--spacing-5) !important;
  line-height: 16px !important;
  font-size: 13px !important;
}

.emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 303px);
}
