.graphContainer {
  position: relative;
  height: 235px;
  padding: 0 !important;
  border: 1px solid var(--grey-300) !important;
  border-radius: 5px;
}

.provisionerEnabledCheckbox {
  margin-left: var(--spacing-xxlarge) !important;
}

.squareCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85px;
  margin-right: var(--spacing-small);
}

.squareCard {
  width: 64px;
  height: 64px;
  padding: var(--spacing-small) 0;
  margin-bottom: var(--spacing-small);
  display: flex !important;
  justify-content: center;
  align-items: center;

  [class*='cardIcon'] svg {
    margin: 0 !important;
  }
}

.disabled {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: not-allowed !important;
}

.provisionerText {
  color: #22272d;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  width: 265px;
  height: 44px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.chooseProvisionerDialog {
  width: 386px;
  height: 303px;
  padding: 20px;
}

.provisionerBtnText {
  margin-top: 20% !important;
}
