.main {
  min-width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white) !important;

  & :global(.bp3-icon) {
    color: var(--blue-500);
  }
}
