@import '@pipeline/components/Dashboards/sharedStyles.module.scss';

$header-height: 80px;

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: $header-height;
  background: var(--white);
  border-bottom: 1px solid var(--grey-200);
  padding: var(--spacing-medium) var(--spacing-large);

  h2 {
    margin: 0;
  }
}

.content {
  height: calc(100vh - #{$header-height});
}

.page {
  @include dashboardVariables();
  flex-direction: column;
  height: 100%;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: var(--spacing-xxlarge);

  .executionsWrapper {
    grid-column: 2/4;
  }
}
.healthCardTitle {
  font-size: 16px !important;
  color: #000000 !important;
  margin-left: var(--spacing-small);
  margin-bottom: var(--spacing-small) !important;
  font-weight: 600 !important;

  flex: 1;
}

.chartContainer {
  background: #ffffff;
  /* Light / Elevation 02 */

  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  border-radius: 4px;
  // padding: 18px 24px 21px;
  padding-top: 5px;
  padding-right: 5px;
}

.healthCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 110px 120px;
  grid-gap: var(--spacing-medium);
  > :first-child {
    grid-row: 1/3;
  }
  .healthCard {
    box-shadow: 0px 0.5px 2px 0px #60617029;
    padding: var(--spacing-medium) !important;
    border-radius: 4px;
    background-color: white !important;
    min-width: 0;
    .cardHeader {
      margin-bottom: 12px !important;
      // color: #4f5162 !important;
      font-weight: 500 !important;
      font-size: 12px !important;
      letter-spacing: 0.2px;
    }
    .textAndRate {
      display: flex;
      align-items: baseline;

      .cardText {
        font-weight: 600 !important;
        line-height: 1;
        color: var(--grey-800) !important;
        font-size: 28px !important;
      }
    }
    .chartWrap {
      display: flex;
      flex-direction: column;
    }
  }
}

.serviceTag {
  display: inline-flex;
  align-items: center;
  background-color: var(--ci-color-gray-100);
  padding: 2px 5px;
  border-radius: 4px;
  margin-right: var(--spacing-xsmall);
}

.cdCustomIcon {
  margin-bottom: var(--spacing-xsmall) !important;
  border: 1px solid #d9dae5;
  border-radius: 4px;
}

.hoverService {
  cursor: pointer;
}

.rangeSelectorHeader {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: var(--grey-1000) !important;
  letter-spacing: 0.5px;
}

.emptyView {
  width: 866px;
  height: 92%;
  background: #ffffff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  border-radius: 4px;
  .emptyViewItem {
    background-color: var(--grey-100);
    height: 50px;
    margin-bottom: var(--spacing-small);
  }
  .emptyViewCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    p {
      margin-top: var(--spacing-medium);
    }
  }
}

.separator {
  opacity: 0.6;
  /* Gray Scale / Gray Scale 200 */

  border: 1px solid #d9dae6;
}

.totalDepCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topDepPiechart {
  flex-direction: row-reverse !important;
}
