@import '@pipeline/components/Dashboards/sharedStyles.module.scss';

$header-height: 80px;

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: $header-height;
  background: var(--white);
  border-bottom: 1px solid var(--grey-200);
  padding: var(--spacing-medium) var(--spacing-large);

  h2 {
    margin: 0;
  }
}

.content {
  height: calc(100vh - #{$header-height});
}

.page {
  @include dashboardVariables();
  flex-direction: column;
  height: 100%;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: var(--spacing-xxlarge);

  .executionsWrapper {
    grid-column: 2/4;
  }
}

.healthCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: var(--spacing-medium);
  > :first-child {
    grid-row: 1/3;
  }
  .healthCard {
    box-shadow: 0px 0.5px 2px 0px #60617029;
    padding: var(--spacing-medium) !important;
    border-radius: 4px;
    background-color: white !important;
    min-width: 0;
    .cardHeader {
      margin-bottom: 12px !important;
      color: #4f5162 !important;
      font-weight: 500 !important;
      font-size: 12px !important;
      letter-spacing: 0.2px;
    }
    .textAndRate {
      display: flex;
      align-items: flex-end;
      .cardText {
        font-weight: 600 !important;
        line-height: 1;
        color: var(--grey-800) !important;
        font-size: 28px !important;
      }
    }
    .chartWrap {
      flex: 1;
    }
  }
}

.serviceTag {
  display: inline-flex;
  align-items: center;
  background-color: var(--ci-color-gray-100);
  padding: 2px 5px;
  border-radius: 4px;
  margin-right: var(--spacing-xsmall);
}

.cdCustomIcon {
  margin-bottom: var(--spacing-xsmall) !important;
  border: 1px solid #d9dae5;
  border-radius: 4px;
}

.hoverService {
  cursor: pointer;
}

.rangeSelectorHeader {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: var(--grey-1000) !important;
  letter-spacing: 0.5px;
}
