.masonry {
  min-height: calc(100vh - var(--page-header-height) - 64px);
  width: 1200px;
  margin: 0 auto !important;
  display: grid;
  justify-content: center;
}

.pagination {
  padding: 0 var(--spacing-xxxlarge) !important ;
}
