.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .maxDropDownWidth {
    max-width: 250px;
  }
}

.loadingContainer {
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .timeline {
    padding-left: 25% !important;
    padding-top: var(--spacing-medium) !important;
  }
}
