.main {
  max-width: 1000px;

  .headingText {
    margin-top: 24px;
  }

  .mainSectionHeader {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 93% 7%;
    justify-content: space-around;
    .heading {
      font-size: 18px;
      color: var(--grey-900);
      font-weight: bold;
    }
    .queryBtn {
      font-size: 16px !important;
    }
  }

  .mainSection {
    .title {
      display: flex;
      .saveBtn {
        margin-left: 12px;
      }
    }

    .title > div > div > p {
      width: unset !important;
      max-width: 400px !important;
    }

    .title > div > p {
      width: unset !important;
    }

    .queryDropDown {
      width: 250px;
      position: absolute;
      right: 110px;
      top: -36px;
    }
    .onBoardingSection {
      padding-top: 30px;
      display: grid;
      grid-template-columns: 42% 42%;
      margin-left: 30px;
      grid-column-gap: 40px;
      .rightSection {
        border: 1px solid var(--grey-300);
        border-radius: 5px;
        padding: 18px;
        .logo {
          margin-bottom: 12px;
        }
        .stackTrace {
          margin-top: 12px;
          max-height: 160px;
          overflow: scroll;
        }
      }

      .leftSection {
        border: 1px solid var(--grey-300);
        border-radius: 5px;
        padding: 18px;
        max-height: 420px;
        .logo {
          margin-bottom: 12px;
        }
      }
    }

    .listPanelBody {
      :global {
        .bp3-collapse-body {
          margin-bottom: var(--spacing-large);
          > [class*='footerContent'] {
            text-align: right;
            margin-right: 82px;
            > button {
              // width: 120px;
              display: none;
            }
          }
        }
      }

      > [class*='CollapseHeader'] {
        padding: var(--spacing-small) !important;
      }
      > [class*='collapse'] {
        margin-top: 0;
      }
      border-top: 1px solid var(--grey-300);
    }
  }
  .actionButtons {
    text-align: right;
    margin-top: 24px;
    padding-top: 12px;
    margin-right: 80px;
  }
}
