.main {
  .headingText {
    margin-top: 24px;
  }

  --content-height: 455px;

  .queryBtn {
    align-self: flex-end;
    position: relative;
    top: 8px;
  }

  .splunkIcon svg {
    height: 20px;
    width: 75px;
  }

  .queryDropDown {
    width: 250px;
    position: relative;
    bottom: 10px;
    input {
      border: none;
    }
  }
  .selectQueryNameContainer {
    display: flex;
    .editIcon {
      position: relative;
      top: 3px;
    }
  }
  .onBoardingSection {
    display: flex;
    flex-wrap: wrap;

    .rightSection {
      width: 485px;
      height: var(--content-height);

      .sampleLogs {
        max-height: 328px;
        overflow-y: scroll;
        [class*='textContent'] {
          font-size: 8px !important;
        }
      }

      .smallerHeight {
        max-height: 285px;
      }

      .sampleLog {
        [class*='textContainer'] {
          padding: var(--spacing-medium);
          padding-bottom: 0;
          pre {
            margin-top: 0 !important;
          }
        }
        button {
          width: 80px !important;
          svg {
            height: 12px;
            width: 12px;
          }
          [class*='bp3-button-text'] {
            font-size: 10px;
          }
        }
      }

      .graphContainer {
        height: 75px;
        margin-bottom: var(--spacing-medium);
        .loadingGraph {
          display: block;
          margin-bottom: var(--spacing-small);
          height: 100%;
          > svg {
            display: block;
            margin: 0 auto;
            position: relative;
            top: 35%;
          }
        }

        > div {
          height: 100%;
          width: 100%;
        }
      }
    }

    .leftSection {
      width: 400px;
      margin-right: 70px;

      > [class*='bp3-form-group']:last-child {
        margin-bottom: 0;
      }
    }
  }
  .actionButtons {
    text-align: right;
    margin-top: 24px;
    padding-top: 12px;
    margin-right: 80px;
  }
}
