.collapseContainer {
  :global {
    [class*='CollapseListPanel---footerContent'] {
      display: none;
    }
    [class*='CollapseListPanel---main'] {
      margin-bottom: var(--spacing-medium);
      background: var(--white);
      border-radius: 6px;
      padding: 10px 10px 10px 10px;
      box-shadow: 0px 1px 2px 1px var(--grey-200);

      [class*='CollapseHeader---leftSection'] {
        svg {
          color: var(--primary-7);
          height: 8px;
          width: 8px;
        }
      }

      [class*='CollapseListPanel---collapse'] {
        margin-top: 0;
      }
      [class*='CollapseHeader---main'] {
        min-height: 32px;
        button {
          display: none;
        }
        &:hover {
          button {
            display: flex;
          }
        }
      }
    }
  }
}
.crossIcon {
  position: absolute;
  right: var(--spacing-small);
  top: var(--spacing-small);
  margin-top: 0 !important;
}
.error {
  color: var(--red-500);
}
.overrideList {
  .artifactSelection {
    display: grid;
    grid-template-columns: 50px 1fr;

    .selectInput {
      width: fit-content;
    }
  }
  .artifactsTabs {
    display: grid;
    grid-template-columns: 1fr;
    width: 950px;
  }
}

.drag {
  cursor: move;
}

.dragging {
  background-color: var(--yellow-450) !important;
}

.dragOver {
  border-top: 2px solid var(--primary-7);
}

.fileHelpText {
  padding-bottom: var(--spacing-large) !important;
  text-align: justify;
}

.addFileButton {
  margin-bottom: var(--spacing-large) !important;
}

.overrideBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--spacing-small);
}
