.firstep {
  padding: var(--spacing-small) 0 0 var(--spacing-small) !important;

  .heading {
    color: var(--grey-800);
    font-size: var(--font-size-medium);
    letter-spacing: 0;
  }

  .connectorForm {
    min-height: 440px;
    .formElm {
      width: 54%;
    }
  }

  :global {
    textarea {
      max-height: 200px;
    }

    .gitDetailsContainer {
      .bp3-popover-wrapper {
        width: 56% !important;
      }
    }
  }
}
