.expressionInput {
  width: 100%;
  margin-bottom: var(--spacing-xsmall);
  margin-top: var(--spacing-medium);
}

.blackText {
  color: var(--black);
  font-size: 13px;
  &.active {
    color: var(--grey-900);
    font-weight: 500;
  }
}
