.groupLayer {
  border-radius: 8px;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  border: 1px dashed var(--diagram-link);
}

.header {
  position: absolute;
  pointer-events: all;
  display: block;
  width: 100%;
  button {
    background-color: var(--diagram-link) !important;
    padding: 2px !important;
    height: 15px !important;
    min-width: 15px !important;
    min-height: 15px !important;
    margin: 7px !important;

    > span svg path {
      fill: inherit !important;
    }

    > span svg {
      fill: var(--white) !important;
    }
  }
  > p {
    display: inline;
    cursor: pointer;
  }
}
