.tickersRow {
  display: flex;
  flex-direction: row;
  min-height: 72px;

  span[data-icon='spinner'] {
    align-self: center;
    position: relative;
    width: 500px;
    left: 250px;
  }
}

.ticker {
  padding: var(--spacing-medium) !important;
}

.tickerCount {
  line-height: 40px !important;
  font-size: 40px !important;
}
