@import '../CVHarnessCDTables.module';

.serviceCol {
  text-align: end;
  margin-right: var(--spacing-xxlarge) !important;
}
.serviceColHeader {
  text-align: end;
  margin-right: var(--spacing-xxlarge);
}
