.main {
  .productionRisk {
    margin: var(--spacing-medium) 0;
    font-size: var(--font-size-medium) !important;
    font-weight: bold !important;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    > * {
      margin-right: var(--spacing-small);
    }
  }
}

.categoryRiskCard {
  background-color: var(--white);
  min-width: 50px;
  width: 250px;
  max-height: 150px;
  min-height: 50px;
  border-radius: 6px;

  box-shadow: 0 0 20px 6px var(--grey-200);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--spacing-small) !important;

  .riskInfoContainer {
    display: flex;
    flex-direction: column;

    .categoryName {
      margin-bottom: var(--spacing-xsmall);
    }

    .riskScoreContainer {
      display: flex;
      .riskScore {
        font-size: var(--font-size-medium) !important;
        padding: 2px 2px;
        border-radius: 4px;
        width: 36px;
        text-align: center;

        &[data-risk-level='low'] {
          background-color: var(--green-500);
        }
        &[data-risk-level='high'] {
          background-color: var(--red-500);
        }
      }

      .riskScoreText {
        align-self: flex-end;
        font-size: var(--font-size-xsmall);
        margin-left: var(--spacing-xsmall);
      }
    }
  }

  .chartContainer {
    align-self: center;
  }
}
