.main {
  .productionRisk {
    margin-bottom: var(--spacing-medium);
    font-weight: bold !important;
  }

  .cardContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    > * {
      margin-right: var(--spacing-small);
    }
  }
}

.errorOrLoading {
  display: block;
  text-align: center;
}

@mixin commonCardStyles($min-width: 50px, $width: 250px, $height: 70px, $min-height: 50px) {
  min-width: $min-width;
  width: $width;
  height: $height;
  min-height: $min-height;
  margin-bottom: var(--spacing-xsmall) !important;
  border-radius: 6px;

  box-shadow: 0 0 20px 6px var(--grey-200);
  display: flex;
  flex-wrap: wrap;
}

.categoryRiskCard {
  @include commonCardStyles;
  justify-content: space-between;
  padding: var(--spacing-small) !important;

  .riskInfoContainer {
    display: flex;
    flex-direction: column;

    .categoryName {
      margin-bottom: var(--spacing-xsmall);
    }

    .riskScoreContainer {
      display: flex;

      .riskScoreText {
        align-self: flex-end;
        font-size: var(--font-size-xsmall);
        margin-left: var(--spacing-xsmall);
      }
    }
  }

  .chartContainer {
    position: relative;
    top: 2px;
  }
}

.overallRiskScoreCard {
  @include commonCardStyles(50px, 200px, 75px, 70px);
  align-items: center;
  padding: 0 var(--spacing-xlarge) !important;
  .overallRiskScoreValue {
    font-size: 45px !important;
    margin-right: var(--spacing-medium);
  }
}

.noData {
  height: 105px;
}
