.detailWrapper {
  height: 430px;
  .tags {
    height: 50px;
    :global {
      .bp3-form-content {
        > div > div > div > div > {
          button {
            display: none;
          }
          div span {
            height: 22px;
            border-radius: 6px;
            padding: 2px 3px;
          }
        }
      }
    }
  }
}
