.delegateSetup {
  margin-top: 25px;
  :global {
    .bp3-card {
      padding: 0;
      margin-right: 25px;
      box-sizing: border-box;
      border: 0px solid #efefef;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 0 1px 0 rgba(40, 41, 61, 0.04), 0 2px 4px 0 rgba(96, 97, 112, 0.16);
      line-height: 20px;
    }
  }
  display: flex;
  grid-auto-rows: auto;
  grid-gap: var(--spacing-medium);
  grid-template-columns: repeat(auto-fill, 180px);
}
.cardCss {
  padding: var(--spacing-small) var(--spacing-large);
  width: 218px;
  height: 98px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.42px;
  color: var(--grey-800);
}
.selectedCard {
  border-radius: 8px;
  background-color: var(--blue-500);
  color: var(--white);
  border: 0px solid var(--grey-200) !important;
}
.selectCredentials {
  display: flex;
}
.delgateOutCluster {
  margin: 20px 0;
  .heading {
    margin: 10px 20px 10px 0;
  }
  .selectAuth {
    width: 205px;
  }
  .credWrapper {
    margin-bottom: 15px;
    justify-content: space-between;
  }
}
.incluster {
  margin: 20px 0;
  .radioOption {
    cursor: pointer;
    margin-bottom: 10px;
  }
  .label {
    margin-left: 20px;
  }
}
