.delegateSetup {
  margin-top: 25px;
  :global {
    .bp3-card {
      padding: var(--spacing-small);
      margin-right: 20px;
      border: 0.5px solid #EFEFEF;
      border-radius: 8px;
    }
  }
  display: flex;
  grid-auto-rows: auto;
  grid-gap: var(--spacing-medium);
  grid-template-columns: repeat(auto-fill, 180px);
}
.cardCss {
  width: 200px;
  height: 80px;
 
  
}
.selectCredentials {
  display: flex;
}
.delgateOutCluster {
  margin: 20px 0;
  .heading {
    margin: 10px 20px 10px 0;
  }
  .selectAuth {
    width: 205px;
  }
  .credWrapper {
    margin-bottom:15px;
    justify-content: space-between;
  }
}
.incluster{
 margin:20px 0;
.radioOption{
  cursor: pointer;
  margin-bottom:10px;
}
.label{
  margin-left:20px;
}

}
