.link {
  color: var(--blue-500);
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.tags {
  padding: var(--spacing-xsmall) var(--spacing-medium);
  background: none;
  color: var(--blue-500);
  cursor: pointer;
  border-radius: 16px;
  letter-spacing: 0.5px;
  &:hover {
    background: var(--blue-200);
    text-decoration: none;
    color: var(--blue-500);
  }
}
.activeTag {
  background: var(--blue-500);
  color: var(--white);
  &:hover {
    border: 1px solid var(--blue-600);
    background-color: var(--blue-600);
    color: var(--white);
  }
}
