.formContent {
  width: 600px;
  height: 400px;
  overflow: auto;
  padding-right: var(--spacing-large) !important;
  padding-bottom: var(--spacing-medium) !important;
}

.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.dialog {
  border-radius: 11px;
  width: 1000px;
  position: relative;
  padding-bottom: 0;
  border-left: none !important;
}

.forStages {
  width: 300px;
  margin-bottom: 0px;
}

.stagesMultiSelect {
  width: 350px;
  margin-bottom: 0px;
}
