.main {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: var(--spacing-large) var(--spacing-xxlarge);
  display: flex;
  background: var(--grey-100) !important;
  justify-content: space-between;
  align-items: center;

  .runText {
    margin-left: var(--spacing-small);
  }

  .lhs {
    display: flex;
    align-items: center;
    padding-top: var(--spacing-large);
    column-gap: var(--spacing-medium);
  }

  .rhs {
    padding-top: var(--spacing-large);
    align-items: center;
    display: flex;
  }

  .filterGroup {
    position: relative;

    .label {
      position: absolute;
      bottom: calc(100% + 2px);
      left: 0;
      font-size: var(--font-size-small);
      color: var(--grey-500);
    }
  }

  .search {
    :global(.bp3-icon) {
      color: var(--blue-500);
    }

    input[type='search'] {
      border-color: transparent;
    }
  }

  .btnGroup {
    :global(.bp3-button) {
      width: 50px;
    }
  }
}
