.main {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  overflow: hidden;
  column-gap: var(--spacing-3);

  .icon {
    display: flex;
    align-items: center;
  }

  &.pullRequest {
    .truncated {
      max-width: 120px;
    }
  }
}

.truncated {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.label {
  display: flex !important;
  align-items: center !important;
  white-space: nowrap !important;
  font-size: var(--font-size-small) !important;
  font-weight: 500 !important;
  text-decoration: none !important;
  color: var(--primary-7) !important;
  background-color: var(--primary-1) !important;
  border-radius: 8px !important;
  padding: var(--spacing-xsmall) var(--spacing-small) !important;

  * {
    font-size: inherit !important;
    font-weight: inherit !important;
    color: inherit !important;
  }

  &.multiple {
    > * + * {
      border-left: 1px solid var(--primary-3) !important;
      padding-left: var(--spacing-small) !important;
      margin-left: var(--spacing-small) !important;
    }
  }

  svg {
    margin-right: var(--spacing-xsmall);

    path {
      fill: currentColor !important;
    }
  }
}

.commit {
  display: flex;
  align-items: center;
  cursor: pointer;

  .label {
    margin-right: var(--spacing-xsmall);
  }
}

.state {
  font-size: var(--font-size-small);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--grey-700);
  background-color: var(--grey-100);
  border-radius: 8px;
  padding: var(--spacing-xsmall) var(--spacing-small);
}
