.main {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  overflow: hidden;
  column-gap: var(--spacing-3);
  width: 100%;

  .icon {
    display: flex;
    align-items: center;
  }

  &.pullRequest {
    .truncated {
      max-width: 120px;
    }
  }
}

.commit {
  display: flex;
  align-items: center;
  cursor: pointer;

  .label {
    margin-right: var(--spacing-xsmall);
  }
}

.state {
  font-size: var(--font-size-small);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--grey-700);
  background-color: var(--grey-100);
  border-radius: 8px;
  padding: var(--spacing-xsmall) var(--spacing-small);
}
