.link {
  color: var(--blue-500);
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.tags {
  padding: var(--spacing-xsmall) var(--spacing-medium);
  background: none;
  color: var(--blue-500);
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 0.5px;
  &:hover {
    background: var(--grey-200);
    text-decoration: none;
  }
}

.activeTag {
  background: var(--grey-800);
  color: var(--white);
  border-radius: 8px;
}
