.page {
  height: 5vh !important;
  justify-content: center !important;
}

.notSend {
  background-color: var(--yellow-50) !important;
}

.sendSuccess {
  background-color: var(--green-50) !important;
}
