.trialLicenseBanner {
  height: 5vh !important;
}

.expired {
  background-color: var(--red-100) !important;
}

.notExpired {
  background-color: var(--yellow-100) !important;
}

.contactSales {
  margin-bottom: 2px !important;
}

.extendTrial {
  margin-bottom: 2px !important;
}
