.main {
  width: 320px;
  padding: var(--spacing-small) !important;
  .header {
    border-bottom: 1px solid;
    margin-bottom: var(--spacing-medium) !important;
    padding-bottom: var(--spacing-xsmall) !important;
  }
  .tooltipRow {
    margin-bottom: 3px !important;
    > div {
      flex-shrink: 0;
    }
    .nameText {
      margin-right: var(--spacing-xsmall);
    }
    &.envRow .nameText {
      color: var(--white);
    }
    &.serviceRow .nameText {
      color: var(--grey-250);
      margin-left: var(--spacing-large);
    }
    &.transactionRow .nameText {
      color: var(--grey-350);
      margin-left: var(--spacing-xxxlarge);
    }
  }
}
