.moduleTag {
  padding: var(--spacing-2);
  display: inline-block;
  font-size: small;
  font-weight: 500;
  margin-top: var(--spacing-2) !important;
  margin-right: var(--spacing-5);
  margin-bottom: var(--spacing-3);
  cursor: pointer;
  border-radius: 4px;
}

.harnessTag {
  color: var(--blue-700);
  background: var(--blue-100);
  border: 1px solid var(--blue-700);
}

.ceTag {
  color: var(--teal-900);
  background: var(--teal-100);
  border: 1px solid var(--teal-900);
}
.ciTag {
  color: var(--primary-7);
  background: var(--primary-2);
  border: 1px solid var(--primary-7);
}
.cdTag {
  color: var(--green-700);
  background: var(--green-100);
  border: 1px solid var(--green-700);
}
.cfTag {
  color: var(--yellow-700);
  background: var(--yellow-100);
  border: 1px solid var(--yellow-700);
}
