.main {
  max-height: calc(100vh - 200px);
  overflow: scroll;
}

.card {
  &:global(.bp3-card.bp3-elevation-0) {
    margin-top: var(--spacing-small) !important;
  }
  .delegateName {
    flex-shrink: 1 !important;
  }
}
