.rowItem {
  padding: var(--spacing-large) !important;
  background: white !important;
  box-shadow: 0px 1px 5px 1px var(--grey-250);
  border-radius: 8px;
  // margin-bottom: var(--spacing-large);
  margin: var(--spacing-large) !important;
  span.type,
  span.server {
    color: var(--grey-900) !important;
    font-weight: 900;
  }
  font-size: var(--font-size-small);
  > p {
    cursor: pointer;
    color: var(--primary-7) !important;
  }
}
.instanceTypeViewGrid {
  display: grid;
  grid-template-columns: repeat(2, 70px);
  grid-template-rows: 1fr;
  grid-column-gap: var(--spacing-xlarge);
  grid-row-gap: 0px;

  > div {
    background-color: var(--white) !important;
  }
  img {
    width: 28px;
    height: 28px;
  }
}
.instanceTypeNameGrid {
  display: grid !important;
  grid-template-columns: repeat(2, 70px);
  grid-template-rows: 1fr;
  grid-column-gap: var(--spacing-xlarge);
  grid-row-gap: 0px;
  margin-top: var(--spacing-small) !important;
  text-align: center;
}
.card {
  padding: 0px;
}
.instanceTable {
  th {
    font-size: 11px;
  }
  tbody {
    background: #ffffff;
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
  }
  tr {
    height: 63.33px;
    box-shadow: 0 -1px 0 0 #d9dae6;
    td,
    th {
      vertical-align: middle !important;
      box-shadow: none !important;
    }
  }
}
.healthCheckTable {
  align-items: center;
  width: 479px;
  th {
    font-size: 11px;
    font-weight: 500;
    line-height: 150%;
  }
  tbody {
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    background-color: #ffffff;
  }
}
.page {
  overflow: scroll;
  height: calc(100vh - 86px);
  // margin-left: var(--spacing-xlarge) !important;
  padding-bottom: 72px !important;
}
.instanceSelection {
  background: 'var(--grey-100)';
}
.switchFont {
  font-size: var(--font-size-xsmall);
  line-height: 20px;
}
.helpSidebar {
  max-height: 60vh !important;
  top: 65px !important;
}
.routingTable {
  border: none !important;
  padding: 20px;
  th {
    font-size: 11px;
    font-weight: 500;
    line-height: 150%;
  }
  tbody {
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 1px rgba(26, 19, 106, 0.05);
    border: none !important;
    border-radius: 4px !important;
  }
}
.dependencyTable {
  border: none !important;
  th {
    font-size: 11px;
    font-weight: 500;
    line-height: 150%;
  }
  tbody {
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 1px rgba(26, 19, 106, 0.05);
    border: none !important;
    border-radius: 4px !important;
  }
}
.selectCell {
  :global {
    input {
      border: none !important;
    }
  }
}
.configTab {
  :global {
    .bp3-tab-panel {
      margin: 0;
    }
    .bp3-tab[aria-selected='true'] {
      // font-weight: 900;
      color: black !important;
    }
    .bp3-tab[aria-selected='false'] {
      color: var(--grey-800);
    }
    .bp3-tab-list {
      justify-content: center;
      border-bottom: 0;
      position: relative !important;
      top: auto;
      background: white !important;
      border-bottom: none !important;
      margin-bottom: var(--spacing-small);
    }
    .bp3-tab-indicator-wrapper {
      top: 10px;
    }
    .bp3-tab-panel {
      position: relative !important;
      top: auto !important;
      height: auto !important;
      width: auto !important;
      overflow: visible !important;
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }
}
.gatewayConfigForm {
  :global {
    .bp3-input {
      height: 30px !important;
    }
  }
}

.heading {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
.cardLabel {
  text-align: center;
  font-size: var(--font-size-small) !important;
  width: fit-content;
  margin: auto;
  margin-top: var(--spacing-xsmall) !important;
}

.configStepContainer {
  box-shadow: 0px 0px 1.79261px rgba(40, 41, 61, 0.04), 0px 3.58522px 7.17043px rgba(96, 97, 112, 0.16);
  border-radius: 5px;
  padding: 30px !important;
  margin-bottom: var(--spacing-xlarge) !important;
  width: 70% !important;
  .stepInfo {
    span {
      padding: 3px 10px;
      font-size: 10px;
      border-radius: 7px;
      font-weight: 900;
    }
  }
  .title {
    font-weight: 500 !important;
    font-size: 18px !important;
    color: #22222a !important;
    span[data-icon='info'] {
      cursor: pointer;
      margin-left: 5px;
      vertical-align: middle;
    }
  }
  .subTitle {
    font-size: 14px !important;
  }
  .childrenContainer {
    padding-top: var(--spacing-xlarge);
    border-top: 1px solid #d9dae5;
  }
  :global {
    .OverlaySpinner--overlaySpinner {
      width: 100%;
    }
  }
}

.displayCard {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 120px;
  height: 120px;
}

.step1Form {
  height: 100%;
  margin-left: 40px;
  > div {
    height: 100%;
    div[class*='Layout'] {
      height: 100%;
      --layout-spacing: 20px !important;
    }
    .formElement {
      justify-content: space-between;
      flex: 1;
      :global {
        .bp3-icon {
          margin-left: 5px;
          cursor: pointer;
        }
        .bp3-form-group {
          margin: 0 !important;
          .bp3-form-content {
            position: relative;
            .bp3-form-helper-text {
              position: absolute;
            }
          }
          input[type='text'] {
            box-shadow: inset 0px 0.5px 4px rgba(96, 97, 112, 0.32);
          }
        }
      }
    }
  }
}

.step2Container {
  .radioGroupTitle {
    color: #0b0b0d !important;
    font-size: 14px !important;
    margin-bottom: 10px !important;
  }
  .radioGroup {
    display: flex;
    margin-bottom: 20px;
    :global {
      .bp3-radio {
        margin-right: 20px;
      }
    }
  }
  .clearBtn {
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
    color: var(--red-600) !important;
    opacity: 0.7;
    &:hover {
      border: none !important;
      background: transparent !important;
      border: none !important;
      opacity: 1;
    }
  }
}

.asgInstanceSelectionContianer {
  .asgInstanceDetails {
    flex: 1;
    .asgDetailRow {
      margin-bottom: 10px;
    }
  }
  .asgInstanceFormContainer {
    flex: 3;
    .instanceTypeInput {
      flex: 1;
      &:last-child {
        margin-left: var(--spacing-large) !important;
      }
      img {
        width: 18px;
        height: 18px;
        margin-right: var(--spacing-medium) !important;
      }
      :global {
        .bp3-form-group {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

.yamlEditorContainer {
  :global {
    .react-monaco-editor-container .monaco-editor .monaco-scrollable-element .scrollbar .slider {
      display: none;
    }
  }
}

.titleHelpTextDescription {
  padding: 20px 20px 0 !important;
}
