.card {
  display: flex !important;
  width: 100%;
  height: 280px;
  padding: var(--spacing-small) var(--spacing-large);
  .separator {
    width: 1px;
    background: var(--grey-200);
    margin: var(--spacing-small) var(--spacing-large);
  }
}
