.listItem {
  .edit-btn {
    display: none !important;
  }

  &:hover {
    .edit-btn {
      display: flex !important;
    }
  }
}

.status {
  align-items: center;
  display: flex;
  align-content: center;

  /* for increased specificity */
  &.red-status:global(.bp3-icon) {
    color: var(--red-500) !important;
  }

  /* for increased specificity */
  &.green-status:global(.bp3-icon) {
    color: var(--green-500) !important;
  }
}

.tag {
  text-transform: uppercase;
}

.right-status {
  display: flex;
}
.label {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap !important;
}
.selectWrapper {
  width: 100%;
  :global {
    .bp3-popover-wrapper {
      max-width: calc(100% - 90px);
    }
    .bp3-popover-target {
      max-width: 100%;
    }
  }
}
