.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .item {
    display: flex;
    align-items: center;
    width: 240px;
    .connectorInfo {
      max-width: 180px;
      .connectorNameId {
        max-width: 140px;
        span {
          max-width: 140px;
        }
      }
    }
    .edit-btn {
      display: none !important;
    }
  }

  .gitInfo {
    width: 120px !important;
    .gitText {
      max-width: 100px;
    }
  }

  &:hover {
    .edit-btn {
      display: flex !important;
    }
    .iconCheck {
      visibility: visible;
    }
  }
  .iconCheck {
    visibility: hidden;
    margin-right: var(--spacing-xsmall);
    cursor: pointer;
    > svg {
      > path {
        stroke-width: 1;
        stroke: var(--grey-500);
      }
    }
  }
  .iconChecked {
    visibility: visible !important;
    > svg {
      > path {
        stroke: var(--primary-6);
      }
    }
  }
}
.connector-label {
  padding-bottom: var(--spacing-small);

  :global(.bp3-icon-chevron-down) {
    position: absolute;
    right: var(--spacing-8);
    opacity: 0.5;
    padding: var(--spacing-small) !important;
  }
}
.status {
  align-items: center;
  display: flex;
  align-content: center;

  /* for increased specificity */
  &.red-status:global(.bp3-icon) {
    color: var(--red-500) !important;
  }

  /* for increased specificity */
  &.green-status:global(.bp3-icon) {
    color: var(--green-500) !important;
  }
}

.tag {
  text-transform: uppercase;
}

.right-status {
  display: flex;
  right: 60px;
  position: absolute;
}
.label {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap !important;
}
.selectWrapper {
  width: 100%;
  :global {
    .bp3-popover-wrapper {
      max-width: calc(100% - 140px);
      align-items: center;
      display: flex;
    }
    .bp3-popover-target {
      max-width: 100%;
    }
  }
}
