.main {
  .connectorFormNameWarpper {
    display: flex;
    justify-content: space-between;

    .connectorFormNameElm {
      width: 100%;
    }
  }

  .fieldToggleLabel {
    cursor: pointer;
  }

  .headerRow {
    display: flex;
    justify-content: space-between;
    color: var(--grey-400);
    font-size: var(--font-size-small);
    margin-bottom: 7px;
  }
  .expandedDescription textarea {
    max-height: 500px;
    min-height: 100px;
    resize: vertical;
  }
}
