.main {
  .connectorFormNameWrapper {
    display: flex;
    width: 90%;

    .connectorFormNameElm {
      width: 60%;
    }
  }

  .fieldToggleLabel {
    cursor: pointer;
  }

  .connectorFormElm {
    width: 54%;
    .headerRow {
      display: flex;
      justify-content: space-between;
      color: var(--grey-400);
      font-size: var(--font-size-small);
      margin-bottom: 7px;
    }
    .expandedDescription textarea {
      max-height: 500px;
      min-height: 100px;
      resize: vertical;
    }
  }
}
