.card {
  width: 72px;
  height: 72px;
  padding: var(--spacing-large);
  cursor: pointer;
  display: grid;
  justify-content: center;
  padding-top: 24px !important;
  padding-left: 23px !important;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
