.main {
  margin-left: var(--spacing-large);

  & :global(.bp3-button) {
    height: 24px !important;
    min-width: auto;
    min-height: auto;
  }

  .more {
    & svg[data-icon='more'] {
      transform: rotate(90deg);
      transform-origin: 50% 50%;
    }
  }
}
