.crossIcon {
  position: absolute;
  right: var(--spacing-xsmall);
  padding: var(--spacing-xsmall) !important;
  margin: var(--spacing-xsmall) !important;
}

.error {
  color: var(--red-450) !important;
  background-color: var(--red-200) !important;
}
