.toggle {
  display: flex;

  .label {
    display: inline-flex;
    cursor: pointer;

    & > input[type='radio'] {
      opacity: 0;
      visibility: hidden;

      & + :global(.bp3-icon) {
        color: var(--grey-300);

        & rect {
          stroke: currentColor;
          fill: var(--grey-100);
        }

        & path {
          fill: currentColor;
        }
      }

      &:checked + :global(.bp3-icon) {
        color: var(--primary-6);

        & rect {
          fill: var(--primary-1);
        }
      }
    }
  }
}
