.main {
  position: relative;
  height: 100%;

  :global(.Resizer.horizontal:not(.disabled)) {
    height: var(--spacing-small) !important;
    cursor: row-resize;
    background: transparent;
    z-index: 2;
    display: block !important;
  }

  :global(.Resizer.vertical:not(.disabled)) {
    width: var(--spacing-small);
    cursor: col-resize;
    background: transparent;
    z-index: 2;
  }

  .splitPane1,
  .splitPane2 {
    height: 100%;
  }

  .pane11,
  .pane12,
  .pane21,
  .pane22 {
    height: 100%;
  }

  .splitPane1 {
    & > :global(.Pane.Pane1) {
      margin-bottom: calc(-1 * var(--spacing-small));

      .pane11 {
        border-bottom: 4px solid var(--primary-3);
      }
    }
  }

  .splitPane2 {
    & :global(.Pane.vertical.Pane1) {
      margin-right: calc(-1 * var(--spacing-small));
    }

    & :global(.Pane.horizontal.Pane1) {
      margin-bottom: calc(-1 * var(--spacing-small));
    }

    & :global(.Pane.horizontal.Pane2) {
      height: 100%;
      overflow: hidden;
    }

    & :global(.Pane.horizontal) .pane22 {
      border-top: 1px solid var(--primary-3);
    }

    & :global(.Pane.vertical) .pane22 {
      border-left: 1px solid var(--primary-3);
    }
  }
}

.floatingView {
  position: fixed;
  bottom: 0;
  right: 60px;

  .stepDetails {
    display: flex;
    align-items: center;
    padding: var(--spacing-none) var(--spacing-small) var(--spacing-none) var(--spacing-large);
    background: var(--white);
    box-shadow: 0 2px 6px var(--grey-400) !important;
    height: var(--spacing-xxlarge);
    border-radius: calc(var(--spacing-xxlarge) / 2) !important;
    user-select: none;

    &.draggable {
      cursor: move;
    }
  }
}

.toggle {
  display: flex;

  .label {
    display: inline-flex;
    cursor: pointer;

    & > input[type='radio'] {
      opacity: 0;
      visibility: hidden;

      & + :global(.bp3-icon) {
        color: var(--grey-300);

        & rect {
          stroke: currentColor;
          fill: var(--grey-100);
        }

        & path {
          fill: currentColor;
        }
      }

      &:checked + :global(.bp3-icon) {
        color: var(--primary-6);

        & rect {
          fill: var(--primary-1);
        }
      }
    }
  }
}
