.timeseriesRow {
  display: flex;
  .labels {
    background-color: var(--grey-200) !important;
    padding: var(--spacing-medium);
    width: 200px;
    border-radius: 2px;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    :global {
      .bp3-popover-wrapper {
        height: var(--font-size);
        display: block;
      }
    }
  }
  .charts {
    flex: 1;
    min-width: 0;
    margin-left: var(--spacing-xsmall);
    .chartRow {
      display: flex;
      align-items: center;
      .chartContainer {
        :global {
          [class*='highcharts-container'] {
            z-index: 3 !important;
          }
        }
        position: relative;
        min-width: 0;
        flex: 1;
        background-color: #fcfcfc;
      }
      .verticalMoreIcon {
        transform: rotate(90deg);
      }
    }
  }
}
