@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import '~@wings-software/uicore';

html,
body,
#react-root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  /* TODO: Move these colors to UIKit when they are standardized */
  /* At current Design state when things keep changing, it's better */
  /* to leave them here */

  /* Sidebar backgrounds and border */
  --blue-825: #063a6d;
  --blue-850: #022655;
  --blue-900: #011027;

  /* Sidebar menu header text, separator */
  --grey-425: #7d7d7d;

  --orange-400: #ffa86b;
}

body {
  --font-family: 'Inter', sans-serif;
  --font-family-mono: Monaco, 'Ubuntu Mono', 'Courier New', monospace;
  --font-size-xsmall: 9px;
  --font-size-small: 11px;
  --font-size-normal: 13px;
  --font-size-medium: 16px;
  --font-size-large: 28px;
  min-width: 1280px;
  min-height: 100vh;
  --black-color-1: #0b0b0d;
  --black-color-2: #22222a;
  --black-color-3: #383946;
  --white-color-1: #b0b1c4;
  --grey-color-1: #6b6d85;
  --grey-color-2: #9293ab;
  --card-box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  --orange-color-1: #ff7020;
  --yellow-color-1: #fcb519;
  --pipeline-color-dark-grey: #8f90a6;
  --pipeline-select-blue: #0092e4;
  --pipeline-tag-bc: #cce3ff;
  --pipeline-subtext: #bdbdbd;
  --pipeline-barrier: #fdd13b;
  --pipeline-barrier-yellow: #f2c94c;
}
