.main {
  border-right: 1px solid var(--grey-250);
  padding: 0 var(--spacing-small) !important;
  height: 100% !important;

  .treeNodeContainer {
    height: 650px;
    overflow-y: scroll;
  }

  [class*='bp3-tree-node-content'] svg {
    height: 13px !important;
    width: 13px !important;
  }

  [class*='bp3-tree-node'][class*='bp3-tree-node-selected'] > [class*='bp3-tree-node-content'] {
    background-color: var(--primary-8);
    p {
      color: var(--grey-300) !important;
    }
  }

  .inputQueryLink {
    margin: var(--spacing-small) !important;
  }
}

.textOverflow {
  text-overflow: ellipsis;
}
