.container {
  display: grid;
  grid-template-columns: 50px 1fr 60px;
  height: 100%;

  .content {
    display: grid;
    grid-template-rows: 42px 38px 1fr;
    height: 100%;

    .top-bar {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);

      .topButtons {
        width: 56px;
        border-radius: 14px;
        background-color: var(--white);
        cursor: pointer;
        display: inline-block;
        font-size: 10px;
        text-align: center;
        color: #b1b1b1;
        border: 1px solid #c8c6c6;
        margin: 12px 0 4px 12px;
        padding-top: 2px;

        &.selected {
          color: var(--white);
          box-shadow: 0px 0px inset rgba(0, 0, 0, 0.5);
          background-color: rgba(12, 48, 88, 0.4);
        }
      }
    }

    .secondary-bar {
      border: 1px solid #e7e7e7;
      border-left-width: 0;
    }

    .canvas {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKAgMAAADJO5Z1AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURf////j8/v7//8/n99rLSbMAAAAYSURBVAgdY8AFmBwYGBsYGA8wMDsw4AAANE0ByKMgSXsAAAAASUVORK5CYII=);
      height: 100%;
    }
  }

  .left-bar {
    background-color: #021c3c;
    display: grid;
    grid-template-rows: 1fr 50px;

    .title {
      writing-mode: tb-rl;
      color: #c2c3c2;
      font-size: 16px;
      text-transform: uppercase;
      padding: 0 16px;
      transform: rotate(-180deg);
    }

    .logo-image {
      padding: 16px 10px 10px;
    }
  }

  .right-bar {
    background-color: #fafafa;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.25);
  }
}
