.main {
  box-shadow: 0px 0px 1.79261px rgba(40, 41, 61, 0.04), 0px 3.58522px 7.17043px rgba(96, 97, 112, 0.16);
  background-color: var(--white) !important;
  .manualQueryWarning {
    display: flex;
    border: 1px solid var(--grey-400);
    padding: var(--spacing-medium) !important;
    color: var(--black) !important;
    margin: var(--spacing-large) !important;
    margin-bottom: 0 !important;
    border-radius: 5px;

    p:last-child {
      cursor: pointer;
    }
  }

  .content {
    padding: var(--spacing-large) !important;
    .accordian {
      flex-basis: 45%;
      max-width: 45%;
    }

    .accordian [data-testid='riskProfile-details'],
    [data-testid='metricToService-details'],
    [data-testid='queryBuilder-details'] {
      padding: 0 !important;
    }
  }

  .validationContainer {
    flex-basis: 55%;
    max-width: 55%;
  }
}
