.toggle-textarea {
  textarea {
    padding: 8px !important;
    padding: 0;
    height: 38px !important;
    width: 250px !important;
  }
  & + button {
    align-self: center;
  }
}
.toggle-desc-text {
  align-self: center;
  color: var(--grey-400) !important;
}
