.main {
  .iconContainer {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-xsmall);

    > svg:first-child {
      position: relative;
      bottom: 1px;
    }

    .plusIcon {
      margin: 0 var(--spacing-small);
      position: relative;
      top: 1px;
    }
  }
}
