.main {
  width: 200px;
  margin-bottom: var(--spacing-xsmall) !important;

  .filterOptionContainer {
    display: flex;
    align-items: center;
    width: 180px;

    .filterByOptions {
      border: none;
      position: relative;
      left: 10px;

      input {
        border: none !important;
        background: transparent !important;
      }
    }
  }

  .filterInput {
    padding: var(--spacing-small);
    width: 100%;
    border: 1px solid var(--grey-250);
    border-radius: 4px;
  }
}
