.stepsOverlay {
  position: absolute;
  padding: var(--spacing-large);
  right: 0;
  height: 100%;
  top: 1px;
  box-shadow: 0px 0px 10px 0px var(--grey-300);
  background-color: var(--white) !important;
  z-index: 2;

  .crossIcon {
    position: relative;
    top: 17px;
    right: 10px;
    > svg {
      float: right;
    }
  }
}
