.pagination {
  position: sticky;
  bottom: 0;
  background-color: #fcfdfd !important;
  z-index: 1;

  > div {
    padding-left: var(--spacing-large) !important;
    padding-right: var(--spacing-large) !important;
  }
}

.link,
.link:visited,
.link:focus-visible,
.link:focus,
.link:focus-within,
.link:target,
.link:hover,
.link:active {
  color: inherit !important;
  all: unset !important;
  cursor: pointer !important;
}
