.main {
  width: 50% !important;
  max-width: 650px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);

  .heading {
    margin-bottom: var(--spacing-large) !important;
  }

  .infraSpecification {
    font-weight: 500;
    padding: var(--spacing-xsmall) 0 !important;
    margin-bottom: var(--spacing-xsmall) !important;
    border-bottom: 1px solid var(--grey-200);
  }

  .connectorOptionHeading {
    margin-bottom: var(--spacing-large) !important;
  }
}

.connectorSelection {
  .category {
    margin-bottom: var(--spacing-small) !important;
  }
}

.productSelectionCard div:first-child p {
  font-size: var(--font-size-small) !important;
}
