.main {
  position: relative;

  .timelineChartContainer {
    padding-top: var(--spacing-medium) !important;
    display: flex;
    align-items: baseline;

    .timelineLabel {
      color: var(--grey-300) !important;
      font-size: var(--font-size-small) !important;
    }

    > div {
      flex: 1;
    }
  }

  .slider {
    top: 0;
  }
}
