.main {
  padding-bottom: var(--spacing-small) !important;
  border-bottom: 1px solid var(--grey-200) !important;
  margin-bottom: var(--spacing-small) !important;

  .filterContainer {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-gap: 10px;
    align-items: center !important;

    > span {
      margin-right: var(--spacing-small) !important;
      padding-right: var(--spacing-small) !important;
      border-right: 1px solid var(--grey-250);
      color: var(--black-100) !important;
    }

    label {
      margin-right: var(--spacing-small) !important;
    }
  }
}
