.main {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--spacing-4);
  justify-content: space-between;

  .trigger {
    display: flex;
    align-items: center;
  }
}
