.main {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: var(--spacing-6);
  margin-top: var(--spacing-4);
  column-gap: 45px;

  .trigger {
    display: flex;
    align-items: center;

    .triggerIcon {
      margin-right: var(--spacing-3);
    }

    .triggerText {
      color: var(--primary-7);
      font-size: var(--font-size-small);
    }
  }
}
