@import '../../ExecutionVars';

.main {
  height: $details-height;
  overflow: hidden;
  box-shadow: inset var(--grey-200) 0 -2px 0;
  padding: 0 var(--spacing-medium) 0 var(--spacing-xxlarge);
  display: flex;
  align-items: center;

  > div {
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .commitMessageValue,
  .pullRequestValue {
    display: flex;
    align-items: center;

    > * + * {
      margin-left: var(--spacing-small) !important;
    }
  }

  .pullRequestMessage {
    display: block;
    max-width: 250px;
  }

  .pullRequestStatus {
    font-size: var(--font-size-small);
    font-weight: 500;
    background: var(--grey-200);
    color: var(--grey-700);
    padding: 3px var(--spacing-small);
    border-radius: 100px;
    text-transform: uppercase;
  }

  .pullRequestLink {
    white-space: nowrap !important;
  }

  .commitMessage {
    max-width: 250px;
  }

  .serviceName {
    color: var(--blue-500);
    cursor: pointer;
  }

  .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
  }

  .moreBox {
    display: inline-flex;
    padding: 0px 1px;
    color: var(--grey-500);
    border-radius: 3px !important;
    border: 1px solid var(--grey-500) !important;

    // icon
    > span {
      margin: 1px !important;
    }
  }
}
.servicesDeployedHoverCard {
  font-size: var(--font-size-small);
  padding: var(--spacing-medium);
  line-height: var(--sfont-size-medium);

  & .title {
    color: var(--grey-400);
    margin-bottom: var(--spacing-xsmall);

    &:not(:first-child) {
      margin-top: var(--spacing-medium);
    }
  }
}
