.padded-dialog.bp3-dialog {
  padding: var(--spacing-10);
  position: relative;
  .bp3-dialog-header {
    margin: 0 0 var(--spacing-8) 0;
    padding: 0;
    background: none;
    .bp3-heading {
      font-weight: 600;
      font-size: 24px;
    }
    .bp3-dialog-close-button {
      position: absolute;
      top: 11px;
      right: 6px;
    }
  }

  .buttons-container {
    padding-top: var(--spacing-xlarge);
  }
}
