.optionsViewContainer {
  padding: 200px 0 0 60px !important;
}

.optionsViewGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: var(--spacing-large);
  grid-row-gap: 0px;

  > div {
    background-color: var(--white) !important;
  }

  > div:first-of-type {
    border: 2px solid var(--blue-500) !important;
  }
}
