.keyValueTable {
  display: flex;
  margin-bottom: var(--spacing-3) !important;

  .key {
    width: 132px;
    font-size: var(--font-size-small) !important;
  }

  .value {
    font-size: var(--font-size-small) !important;
    max-width: 160px;
    color: var(--grey-800);
  }
}

.headingText {
  margin-bottom: var(--spacing-medium) !important;
  font-size: 13px !important;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 132px;
}

.summaryDetailsContainer {
  .container {
    border-right: 1px solid var(--grey-200);
    padding: var(--spacing-xsmall) var(--spacing-xlarge) !important;

    &:last-child {
      border-right: none;
    }
  }
}
