.stepClass {
  padding: 0px !important ;
}

.preview {
  background: var(--white) !important;
}

.button {
  color: var(--primary-7) !important;
  border-color: var(--primary-7) !important;
}

.collaborators {
  min-height: 350px;
}
