.textCentered {
  text-align: center;
}

.selectArtifactTable {
  > div:not(first-child) {
    [role*='row'] {
      padding: 0;
      box-shadow: none !important;
      &:hover {
        background: rgba(220, 238, 255, 0.5) !important;
        border-color: transparent !important;
        box-shadow: none !important;
      }
    }
  }
  [role*='columnheader'] {
    color: #9293ab !important;
  }
  [class*='header'] {
    padding-left: 0;
    padding-right: 0;
  }
}

.appliedArtifact {
  width: 690px;
  display: inline-block;
  > div:not(first-child) {
    > div {
      cursor: auto !important;
    }

    [role*='row'] {
      box-shadow: none !important;

      &:hover {
        background: transparent !important;
        border-color: transparent !important;
        box-shadow: none !important;
      }
    }
  }
}

.actionButton {
}

.disabledRow {
  cursor: not-allowed !important;
}
