.container {
  width: 450px;
  padding: var(--spacing-small) !important;
  min-height: 160px;

  .scopeButton {
    border-radius: 20px !important;

    &.selected {
      color: var(--white) !important;
      background-color: var(--grey-400) !important;
    }
  }

  .referenceList {
    margin-top: var(--spacing-small);
    max-height: 300px;
    overflow-y: scroll;

    .listItem {
      padding: var(--spacing-small);
      border-bottom: 1px solid var(--grey-250);
      cursor: pointer;

      &:hover {
        background-color: var(--blue-350);
      }
    }
  }
}
