.main {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: var(--spacing-small) !important;
  }

  .greyBox {
    display: inline-flex;
    background: var(--grey-200);
    color: var(--grey-700);
    border-radius: var(--spacing-small);
    font-size: var(--font-size-normal);
    font-weight: bold;
    padding: var(--spacing-xsmall) var(--spacing-small);

    .greyBoxIcon {
      color: var(--grey-400) !important;
      padding: 3px var(--spacing-small) 0 0 !important;
    }

    .greyBoxDelimiter {
      border-left: 1px solid var(--grey-300);
      margin: 0 var(--spacing-small) !important;
    }

    .sourceTargetArrow {
      color: var(--grey-400) !important;
      padding: 0 var(--spacing-xsmall);
    }
  }

  .branchName {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
  }
}
