.customSelect {
  :global {
    .bp3-popover-target {
      width: 100%;

      .bp3-button {
        width: 100%;
        border: 1px solid var(--form-input-shadow) !important;

        .bp3-button-text {
          flex: 1 1 auto;
        }
      }
    }
  }
}
