.customMenuContainer {
  cursor: pointer;

  &:hover {
    background-color: var(--primary-1) !important;
  }
  &:active {
    background-color: var(--primary-1) !important;
  }
}

:global {
  .bp3-popover-open > .custom-menu-item {
    background-color: var(--primary-1) !important;
  }
}
