$step-width: 140px;

.step {
  position: relative;

  .sm {
    width: 35%;
  }

  .md {
    width: 55%;
  }
}

.retryStep {
  .retryStepIntervals {
    .row {
      position: relative;
      margin-bottom: var(--spacing-3);

      :global(.bp3-form-group) {
        margin-bottom: 0;
        flex: 1 0 auto;
      }

      .removeBtn {
        position: absolute;
        left: 100%;
        top: 0;
      }
    }
  }
}

.thumbnail {
  cursor: pointer;
  :global(.bp3-icon) {
    --intent-color: var(--primary-7);
  }
}
