.main {
  .timeRange {
    margin-bottom: var(--spacing-small) !important;
    display: flex;
    align-items: center;
    > p:last-child:not(:first-child) {
      margin-left: var(--spacing-large) !important;
    }
  }

  .cardContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    > * {
      margin-right: var(--spacing-small) !important;
    }
  }
}

.errorOrLoading {
  display: block;
  text-align: center;
}

@mixin commonCardStyles($min-width: 50px, $width: 250px, $height: 70px, $min-height: 50px) {
  min-width: $min-width;
  width: $width;
  height: $height;
  min-height: $min-height;
  margin-bottom: var(--spacing-xsmall) !important;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

.categoryRiskCard {
  @include commonCardStyles;
  justify-content: space-between;
  padding: var(--spacing-small) !important;
  box-shadow: var(--cardsShadow);

  .riskInfoContainer {
    display: flex;
    flex-direction: column;

    .categoryName {
      margin-bottom: var(--spacing-xsmall) !important;
    }

    .riskScoreContainer {
      display: flex;

      .riskScoreText {
        align-self: flex-end;
        font-size: 12px;
        margin-left: var(--spacing-xsmall) !important;
      }
    }
  }

  .chartContainer {
    position: relative;
    top: 2px;
  }
}

.overallRiskScoreCard {
  @include commonCardStyles(50px, 260px, 75px, 70px);
  align-items: center;
  padding: 0 var(--spacing-xlarge) !important;
  box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);

  &.overallRiskScoreCardNoData {
    background: var(--white) !important;
  }

  .overallRiskScoreValue {
    font-size: 45px !important;
    margin-right: var(--spacing-large) !important;
  }

  .overallRiskScoreNoData {
    font-size: var(--font-size-medium) !important;
    margin: 0 auto !important;
    display: block !important;
  }
}

.noData {
  height: 105px;
}
