.optionBtns {
  display: flex;
  align-items: center;
  margin: 0 250px;
}

.pipelineHeader {
  height: 62px;
  width: 100% !important;
  display: inline-block !important;
}
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
.editor {
  width: 100%;
  // max height is same as the height in visual view
  max-height: 65vh !important;
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}
.content {
  min-height: calc(100vh - 187px);
  overflow: auto;
  display: block;
  max-height: calc(100vh - 187px);

  & > form {
    width: 100%;
  }
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: var(--spacing-4);
}

.preFlightCheckModal {
  width: 900px;
  padding: var(--spacing-large);
}

.run-modal-header {
  min-height: var(--spacing-8);
  display: flex;
  padding: var(--spacing-xlarge);
  border-bottom: 1px solid #d9dae6;
}

.run-modal-header-title {
  display: flex;
  align-items: center;
}

.run-modal-form-content {
  max-height: 65vh !important;
  min-height: 30vh;
  overflow-x: hidden;
  overflow: auto !important;
  border-top: 1px solid var(--grey-200);
}

.no-pipeline-input-set-form {
  padding-top: var(--spacing-medium);
}

.inputSetsUpdatingSpinner {
  transform: scale(0.6);
}

.actionButtons {
  margin-top: 0 !important;
}

.secondaryButton {
  margin-left: var(--spacing-medium) !important;
}

.footerContainer {
  .footerCheckbox {
    border-radius: 4px;
    font-size: var(--font-size-small) !important;
    opacity: 0.8;
  }
  :global {
    .Checkbox--checkbox {
      padding-top: var(--spacing-small) !important;
      padding-bottom: var(--spacing-small) !important;
      padding-left: var(--spacing-medium) !important;
      padding-right: var(--spacing-medium) !important;
    }
  }
}

.inputSetFormRunPipeline {
  padding-top: var(--spacing-xxlarge) !important;
}
.selectStageWrapper {
  padding: 24px;
  border-bottom: 0.5px solid #d9dae6;
}
.selectStage {
  width: 250px !important;
}
