.container {
  border-left: 4px solid var(--red-600);
  border-radius: 4px;
  .scroll {
    overflow: auto;
  }
  .errorListTextContainer {
    width: calc(100% - 16px) !important;
  }
  .link {
    word-break: break-all;
  }
  .text {
    word-break: break-word;
  }
  .linkSmall {
    font-size: var(--font-size-small);
  }
}

.shrink {
  flex-shrink: 1 !important;
}
