@mixin dashboardVariables() {
  --ci-color-green-400: #86d981;
  --ci-color-green-500: #4dc952;
  --ci-color-green-600: #42ab45;
  --ci-color-red-400: #ee5f54;
  --ci-color-red-500: #fe1100;
  --ci-color-red-600: #da291d;
  --ci-color-blue-100: #effbff;
  --ci-color-blue-200: #a3e9ff;
  --ci-color-blue-250: #3dc7f6;
  --ci-color-blue-400: #00ade4;
  --ci-color-blue-500: #3e7bfa;
  --ci-color-blue-550: #0092e4;
  --ci-color-gray-100: #f3f3fa;
  --ci-color-orange-400: #fff5ed;
  --ci-color-orange-500: #ff832b;
  --ci-font-size-normal: 14px;
  --ci-font-size-small: 10px;
  --ci-font-size-xsmall: 8px;
}
