.container {
  border: 1px solid var(--primary-5) !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: var(--elevation-2);
  .actionButton {
    transform: rotate(90deg);
    cursor: pointer;
  }
}

.main {
  position: relative;
  :global {
    .bp3-overlay {
      display: block !important;
    }
    .bp3-overlay,
    .bp3-transition-container {
      width: 100%;
    }
  }
}
.popover {
  background-color: var(--red);
  :global {
    .bp3-popover {
      width: 100%;
      box-shadow: 0px 0px 1px rgb(40 41 61 / 4%), 0px 2px 4px rgb(96 97 112 / 16%);
      border: 0.5px solid rgba(0, 0, 0, 0.1);
      border-radius: var(--spacing-2);
      transform: translateY(var(--spacing-1)) !important;
      display: table;
      .bp3-menu {
        max-height: 350px;
        width: 100%;
        overflow: auto;
        border-radius: var(--spacing-2);
        padding: var(--spacing-1) 0px;
        box-sizing: border-box;
        min-width: auto;
        :local {
          .menuItem {
            height: var(--spacing-8);
            padding: 0 var(--spacing-4);
            display: flex;
            align-items: center;
            cursor: pointer;
            p {
              color: var(--black) !important;
              font-weight: 500 !important;
              font-size: 12px !important;
            }
            :global(.bp3-icon) {
              color: var(--grey-900);
              margin-right: var(--spacing-4);
            }
            &.active {
              background: var(--primary-7);
              p {
                color: var(--white) !important;
              }
            }
            &.disabled {
              cursor: not-allowed;
              p {
                color: var(--grey-400) !important;
              }
            }
            &:hover:local:not(.active, .disabled) {
              background: var(--primary-1);
            }
          }
        }
      }
    }
  }
}
