.form {
  display: flex;
  flex-direction: column;
}

.step-command {
  flex: 1 1 auto;
  overflow: auto;
  position: relative;

  &.withoutTabs {
    height: 100%;
    padding: var(--spacing-medium) var(--spacing-large);
  }

  .step-tabs {
    height: 100%;

    :global(.bp3-tabs) {
      height: 100%;
    }

    :global(.bp3-tab-indicator-wrapper) {
      height: 22px !important;
    }

    :global(.bp3-tab) {
      margin-bottom: var(--spacing-xsmall);
    }

    :global(.bp3-tab-list) {
      padding: 0 var(--spacing-large);
      border-bottom: 1px solid var(--grey-300);
    }
    :global(.bp3-tab-panel) {
      padding: var(--spacing-large);
      margin-top: 0;
      background-color: var(--form-bg);
      height: calc(100% - 60px);
    }
  }
}
