.form {
  display: flex;
  flex-direction: column;
}

.step-command {
  flex: 1 1 auto;
  overflow: auto;
  position: relative;
  background-color: var(--form-bg);

  &.withoutTabs {
    height: 100%;
  }

  .step-tabs {
    height: 100%;

    :global(.bp3-tab-list) {
      border-bottom: 1px solid var(--grey-300);
      background-color: var(--white);
      padding: 0 var(--spacing-5);
    }
    :global(.bp3-tab-panel) {
      padding: var(--spacing-large);
      margin-top: 0;
      background-color: var(--form-bg);
      height: calc(100% - 60px);
    }
  }
}

.useTemplateBtn {
  height: 20px !important;
  color: var(--primary-7) !important;
  margin-bottom: var(--spacing-small) !important;
  border: 1px solid var(--primary-6) !important;
}
