.serviceOverrides {
  display: grid !important;
  // grid-template-columns: auto 1fr;
  // tabs height 50px + margin-top 20px = 70px
  height: calc(100% - 70px);
  &.heightStageOverrides {
    height: calc(100% - 160px);
  }
  &.heightStageOverrides2 {
    height: calc(100% - 125px);
  }
  .navigationButtons {
    background-color: var(--form-bg);
    padding-left: var(--spacing-huge);
    margin-bottom: 60px;
    &.overrides {
      padding-left: 0;
    }
  }
  .overFlowScroll {
    background-color: var(--form-bg);
    &.alignCenter {
      padding-left: var(--spacing-huge);
    }
  }
  .content-section {
    padding: 48px;
    background-color: var(--form-bg);
  }
  .tabHeading {
    font-size: var(--font-size-medium);
    color: var(--grey-700);
    margin-bottom: 14px;
    font-weight: 600;
  }
  .tabSubHeading {
    font-size: var(--font-size-normal);
    color: var(--grey-700);
    margin-bottom: 14px;
    font-weight: 600;
  }
  .section-card {
    width: 1024px;
    margin-bottom: 20px;
    &.shadow {
      box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    }
    &.notwide {
      width: auto;
    }
    background-color: var(--white) !important;
  }
  .nopadleft {
    padding-left: 0 !important;
  }

  .name {
    width: 300px;
  }
  :global {
    .bp3-tab-panel {
      margin: 0;
    }
    .bp3-tab-list {
      background: white !important;
    }
    .bp3-tab[aria-selected='true'] {
      color: black !important;
    }
    .bp3-tab[aria-selected='false'] {
      color: var(--grey-800);
    }
    .bp3-tab-list {
      justify-content: center;
      border-bottom: 0;
      position: relative !important;
      top: auto;
    }
    .bp3-tab-indicator-wrapper {
      top: 10px;
    }
    .bp3-tab-panel {
      position: relative !important;
      top: auto !important;
      height: auto !important;
      width: auto !important;
      overflow: visible !important;
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }
  .addDataLinks {
    display: flex;
    align-items: center;
    button {
      color: var(--grey-500) !important;
    }
  }
  .removeLink {
    color: var(--primary-7);
    cursor: pointer;
    position: relative;
    top: 16px;
    left: 350px;
  }
  .specTabs {
    align-items: start !important;
    button[class*='minimal'] {
      border-radius: 0 !important;
      font-size: 16px;
      &:hover,
      &:active {
        background-color: transparent !important;
        color: black;
        font-weight: 800;
      }
    }

    .selected {
      border-bottom: 2px solid var(--grey-700) !important;
    }
  }

  .overideCheckbox {
    color: var(--grey-900);
    font-weight: bold !important;
    font-size: 16px !important;
  }
  .artifactType {
    display: grid;
    & > div {
      width: 1024px;
    }
  }
}

.serviceSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--spacing-medium) var(--spacing-large) var(--spacing-medium) var(--spacing-large);
  border-bottom: 1px solid var(--grey-200);

  &.noPadVertical {
    padding-top: 0px;
    padding-bottom: 0;
  }
  .disabled {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: not-allowed !important;
  }

  .serviceSpecType {
    display: grid;
    width: 1024px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    .stageOverridesTab {
      justify-content: end;
      display: grid;
    }
    button {
      width: fit-content;
    }
  }
}

.useoverrideCheckbox {
  padding: 0 var(--spacing-xxlarge) var(--spacing-large) var(--spacing-xxlarge);
  label {
    position: relative;
    left: 35px;
  }
}

.thumbnailSelect {
  &:global(.bp3-form-group) {
    margin-bottom: 0px;
  }
  :global {
    .bp3-form-helper-text {
      margin-top: var(--spacing-medium);
    }
  }
}
