$pipeline-card-border-color: rgba(0, 0, 0, 0.02);
$build-id-background-color: rgba(227, 233, 240, 0.3);
$build-id-text-color: #84869a;

$tags-background: #e3e9f0;

$commits-scroll-bar-background: rgba(196, 196, 196, 0.3);
$commits-scroll-bar-background-hover: gray;

.buildCard {
  background: white !important;
  border-radius: 5px;
  border-left: 1px solid rgba(40, 41, 61, 0.08);
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  margin: 15px 0 !important;
  padding: 0 20px !important;

  .topper {
    padding: 10px 0;
    height: 90px;
    display: flex;
    justify-content: space-between;

    .leftSide {
      width: 50%;
      .links {
        margin: 0px 5px;
      }
      .lastCommit {
        margin: 0 20px;
        display: inline-block;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 350px;
        vertical-align: middle;
      }
      .buildId {
        border-radius: 5px;
        width: max-content;
        padding: 5px;
        margin: 5px 0;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: $build-id-text-color;
        cursor: pointer;
        .status {
          display: inline-block;
          margin-left: 40px;
        }
      }
    }
    .rightSide {
      width: 50%;
      display: flex;
      justify-content: space-between;
      img {
        width: 450px;
      }
    }
  }
  .lower {
    border-top: 1px solid lightgrey;
    height: 35px;
    padding: 5px 0;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .creatorInfo {
      width: 36%;
    }
    .duration {
      width: 30%;
    }
  }
  .extendedPart {
    border-top: 1px solid lightgray;
    overflow-y: scroll;
    max-height: 140px;
    .commitItem {
      font-size: 12px;
      border-top: 1px solid lightgray;
      padding: 6px 0;
      align-items: center;
      display: flex;
      justify-content: space-between;
      .commitHash {
        background: $tags-background;
        margin: 0 3px;
        border-radius: 5px;
        padding: 3px 5px;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
