.card {
  padding: var(--spacing-small) !important;
  min-height: 50px !important;
  background-color: white !important;
  border: 1px solid transparent;
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  margin-bottom: var(--spacing-small) !important;
  :global(.bp3-form-group) {
    margin-bottom: 0 !important;
  }
}

.overflow {
  overflow-wrap: anywhere;
}

.centerAlign {
  align-items: center;
}

.button {
  padding: var(--spacing-none) !important;
}
