.divider {
  margin-top: var(--spacing-xxxlarge);
  margin-bottom: var(--spacing-xxlarge);
}

.iconButton {
  color: var(--grey-300) !important;
  &:hover {
    background-color: transparent !important;
    color: var(--grey-400) !important;
  }
}
