.table {
  height: 100%;

  .header {
    font-weight: bold;
    font-size: 11px;
    color: var(--grey-800);
    display: block;
    padding: var(--spacing-medium);
    text-transform: uppercase;
  }

  .header.minimal {
    color: var(--grey-600);
    border-bottom: 1px solid var(--grey-100);
  }

  .cell.sortable {
    cursor: pointer;
  }

  .body {
    min-height: calc(100% - 115px);
  }

  .row {
    display: block;
    padding: var(--spacing-medium);
    background-color: white;
    border: 1px solid transparent;
  }

  .card {
    box-shadow: 0 1px 5px -4px var(--black);
    border-radius: 4px;
    margin-bottom: var(--spacing-small);
  }

  .card.clickable {
    cursor: pointer;
    &:hover {
      box-shadow: 0px 2px 8px -5px var(--black);
      border: 1px solid var(--primary-7);
      background-color: #fcfeff;
    }
  }

  .row.minimal {
    border-bottom: 1px solid var(--grey-100);
    padding: var(--spacing-small) var(--spacing-medium);
  }

  .minimal.clickable {
    cursor: pointer;
    &:hover {
      background-color: var(--primary-1);
    }
  }

  .cell {
    display: inline-block;
    vertical-align: middle;
  }
}
