.logViewer {
  background: #09090b;
  color: var(--grey-100);
  font-family: 'Roboto Mono', 'Monaco', 'Ubuntu Mono', monospace;
  font-size: 12px;
  line-height: 20px;
  padding: var(--spacing-small) 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  & pre {
    background: transparent !important;
    padding: 0;
    margin: 0 !important;
    box-sizing: border-box;
    font-family: inherit;
    position: sticky;
    top: 35px;
  }

  .line {
    display: grid;
    grid-template-columns: var(--char-size, 3ch) 1fr;
    column-gap: var(--spacing-5);
    padding: 0 var(--spacing-small);

    .lineNumber {
      text-align: right;
    }

    &:hover {
      background-color: var(--grey-800);
    }
  }
}
