@import '../ActivityList.module';

.main {
  margin: var(--spacing-large) 0 !important;

  .header {
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
    .headerText {
      font-weight: bold;
    }
  }

  .dataColumn {
    @include dataColumnWidth(300px, 50px);
  }
}
