.card {
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  border: 1px solid transparent !important;
  margin: var(--spacing-small);
  align-items: center;
  display: flex !important;
}

.selectedCard {
  border: 1px solid var(--blue-400) !important;
}

.permissionRow {
  display: grid !important;
  grid-column-gap: var(--spacing-huge);
  grid-auto-flow: column;
  grid-template-columns: 30% 1fr;
}

.groupRow {
  border-bottom: 1px solid var(--grey-200);
  padding: var(--spacing-large) 0;

  &:last-child {
    border: 0;
  }
}

.permissionList {
  display: grid;
  grid-column-gap: var(--spacing-small);
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.center {
  align-items: center;
}

.end {
  justify-content: flex-end;
}

.checkbox {
  margin-bottom: 0px !important;
  color: var(--grey-900);
}
