.filterPillContainer {
  display: flex;
  align-items: center;
  line-height: 20px;

  .filterPillInnerContainer {
    margin: 2px !important;
    height: 28px;
    border-radius: 4px;

    &.errorPill {
      border: 1px solid var(--red-500);
    }
  }

  .placeholderContainer {
    padding-top: 4px;
    background: var(--white);
    width: 80px;
    height: 12px;
  }

  .valueListContainer {
    display: grid;
    grid-template-columns: auto 35px;

    .firstValue {
      font-size: var(--font-size-small);
      max-width: 80px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .count {
      font-size: var(--font-size-small);
      margin-left: 4px;
      color: var(--blue-500);
    }

    .scopeIcon {
      position: relative;
      top: -3px;

      path {
        fill: var(--grey-600);
      }
    }
    .scopeList {
      margin-left: 6px;
    }

    &.hideCount {
      grid-template-columns: auto;
    }
  }
}

:global {
  .perspective-list-item {
    list-style-type: none;
    padding: 10px;
    max-height: 340px;
    overflow-y: scroll;
    margin: 0px;
  }
}
