.delegateDetailStep {
  display: grid;
  grid-template-columns: auto 20px auto;
  grid-gap: 0px 35px;
  .verticalLine {
    border: none;
    height: 100%;
    border-right: 0.5px solid #d9dae6;
  }
  .detailsSectionRow {
    margin-bottom: 1.2rem;
  }
}

.prereq {
  font-weight: 600 !important;
  font-size: 16px !important;
}

.preReqContent {
  letter-spacing: 0.233333px;
}
.continueBtn {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  padding: 6px 20px !important;
  background: #0278d5 !important;
  /* Light / Elevation 01 */

  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16) !important;
  border-radius: 4px !important;
}
