.delegateDetailStep {
  display: grid;
  grid-template-columns: auto 20px auto;
  grid-gap: 0px 35px;
  .verticalLine {
    border: none;
    height: 100%;
    border-right: 0.5px solid #d9dae6;
  }
  .detailsSectionRow {
    margin-bottom: 1.2rem;
  }
}

.prereq {
  font-weight: 600 !important;
  font-size: 16px !important;
}

.preReqContent {
  letter-spacing: 0.233333px;
}
