.summaryCards {
  padding: var(--spacing-large) !important;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: var(--spacing-large);
}

.card {
  max-width: 300px;
  box-shadow: 1px 1px 2px 1px #dbdbdb;
  padding: var(--spacing-medium) !important;
  border-radius: var(--spacing-large);
  .cardHeader {
    margin-bottom: var(--spacing-small) !important;
  }
  .cardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .contentMain {
      min-width: 0;
      .contentMainText {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: var(--spacing-small);
      }
      .subContent {
        height: var(--spacing-medium);
      }
    }
    .diffContent {
      display: flex;
      align-items: center;
      margin-top: var(--spacing-small) !important;
      p {
        font-size: var(--font-size-normal);
        margin-right: var(--spacing-small);
      }
    }
  }
}
