.approval-tab {
  .label {
    color: var(--grey-500);
    margin-bottom: var(--spacing-xsmall);
  }

  .info {
    color: var(--orange-color-1);
    --intent-color: var(--orange-color-1);
    font-size: var(--font-size-normal);
    background-color: var(--yellow-200);
    padding: var(--spacing-medium) var(--spacing-large) var(--spacing-small) var(--spacing-large);

    & :global(.bp3-icon) {
      color: var(--orange-color-1);

      & path {
        fill: currentColor !important;
      }
    }

    .timer {
      font-size: var(--font-size-small);
      margin-bottom: var(--spacing-small);

      .duration {
        --font-size: var(--font-size-small);
        margin-right: var(--spacing-xsmall);
      }
    }

    .review-msg {
      margin-bottom: var(--spacing-large);
    }

    .jira-ticket {
      margin-bottom: var(--spacing-large);

      & a {
        margin-left: var(--spacing-xsmall);
        color: var(--blue-500);
      }
    }

    .criteria-msg {
      font-weight: bold;
    }
  }
}

.harness-approval {
  padding: var(--spacing-medium) var(--spacing-large);

  .inputs {
    padding: var(--spacing-medium) 0;

    .heading {
      font-weight: bold;
      margin-bottom: var(--spacing-small);
    }
  }

  .status {
    display: flex;
    align-items: center;
    column-gap: var(--spacing-xsmall);

    &[data-status='APPROVE'] {
      --intent-color: var(--green-500);
    }

    &[data-status='REJECT'] {
      --intent-color: var(--red-500);
    }

    :global(.bp3-icon) {
      path {
        fill: currentColor;
      }
    }
  }

  .actions {
    :global(.bp3-button + .bp3-button) {
      margin-left: var(--spacing-small);
    }
  }
}

.approver {
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--grey-200);
  padding: var(--spacing-medium) 0;

  .approverName {
    font-weight: bold;
  }

  .summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 16px;
    align-items: center;
  }

  .details {
    padding: var(--spacing-medium) 0 0 0;
  }

  .toggle {
    min-height: auto !important;
    height: 16px !important;
    padding: 0;
    transition-property: background-color, color, border-color, transform !important;

    &.open {
      transform: rotate(-180deg);
    }
  }

  .approverInputs {
    list-style: none;
    padding: 0;
    margin: 0 0 var(--spacing-medium) 0;

    & > li {
      display: flex;
      line-height: 22px;
      column-gap: var(--spacing-xsmall);
    }
  }

  .comments {
    margin: 0 0 var(--spacing-medium) 0;
  }
}

.jira-approval {
  padding: var(--spacing-medium) var(--spacing-large);
}

.jira-criteria {
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--grey-200);
  padding: var(--spacing-medium) 0;

  .title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toggle {
    min-height: auto !important;
    height: 16px !important;
    padding: 0;
    transition-property: background-color, color, border-color, transform !important;

    &.open {
      transform: rotate(-180deg);
    }
  }

  .conditions {
    list-style-type: disc !important;
    padding-left: var(--spacing-medium) !important;
    margin: var(--spacing-small) 0 0 0 !important;

    li:not(:last-child) {
      margin-bottom: var(--spacing-xsmall);
    }
  }

  .collapse-container {
    padding: var(--spacing-large) 0;
  }

  .key {
    display: inline-block;
    border: 1px solid var(--grey-300);
    margin: 0 2px;
    padding: 0 2px;
    border-radius: 2px;
    background-color: var(--blue-100);
  }

  .jexl {
    margin-top: var(--spacing-small);
    background-color: var(--grey-100);
    border: 1px solid var(--grey-250);
    padding: var(--spacing-medium);
    border-radius: 4px;
  }
}
