@import '../ExecutionLandingPage.module.scss';

.main {
  display: flex;
  align-items: center;
  padding: var(--spacing-none) var(--spacing-medium) var(--spacing-none) var(--spacing-xlarge);
  height: var(--execution-tabs-height);
  border-bottom: 1px solid var(--grey-200);
  flex: 0 0 auto;

  & .tabLink {
    &:hover,
    &.activeLink {
      color: var(--primary-7);

      & :global(.bp3-icon) {
        color: var(--primary-7);
      }
    }

    & > :global(.bp3-icon) {
      margin-right: var(--spacing-small);
    }

    & [icon='add-to-artifact'] {
      transform: translateY(-2px);
    }
  }

  & .children {
    flex: 1 1 auto;
    height: 100%;
    padding: var(--spacing-none) var(--spacing-small);

    &:last-child {
      padding-right: var(--spacing-xxlarge);
    }
  }

  & .viewToggle {
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);
    column-gap: var(--spacing-small);

    & :global(.bp3-control) {
      margin: 0;
      transform: translateY(1px);
    }

    & :global(.bp3-control.bp3-switch input:checked ~ .bp3-control-indicator) {
      background-color: var(--primary-7);
    }
  }
}
