@import '../../ExecutionVars';

.main {
  display: flex;
  align-items: center;
  padding: var(--spacing-none) var(--spacing-medium) var(--spacing-none) var(--spacing-xxlarge);
  height: $tabs-height;
  border-bottom: 4px solid var(--blue-350);

  & .tabs {
    display: flex;
    height: 100%;
    position: relative;

    & .tabLink {
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: var(--spacing-none) var(--spacing-medium);
      color: var(--grey-600);
      cursor: pointer;

      &:not(:last-child) {
        margin-right: var(--spacing-medium);
      }

      &:hover,
      &.activeLink {
        text-decoration: none;
        color: var(--blue-500);

        & :global(.bp3-icon) {
          color: var(--blue-500);
        }
      }

      & > :global(.bp3-icon) {
        margin-right: var(--spacing-small);
      }

      & [icon='add-to-artifact'] {
        transform: translateY(-2px);
      }
    }

    & .tabIndicator {
      background-color: var(--blue-500);
      height: 4px;
      min-width: 10px;
      position: absolute;
      left: 0;
      top: 100%;
      transform-origin: left center;
      transition: transform 0.2s ease-in-out;
    }
  }

  & .children {
    flex: 1 1 auto;
    height: 100%;
    padding: var(--spacing-none) var(--spacing-small);

    &:last-child {
      padding-right: var(--spacing-xxlarge);
    }
  }

  & .viewToggle {
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);
    column-gap: var(--spacing-small);

    & :global(.bp3-control) {
      margin: 0;
      transform: translateY(1px);
    }

    & :global(.bp3-control.bp3-switch input:checked ~ .bp3-control-indicator) {
      background-color: var(--blue-500);
    }
  }
}
