.panel {
  border: 1px solid var(--form-field-border);
  border-radius: 4px;
  padding: var(--spacing-small);
  margin-top: var(--spacing-small);
}

.separator {
  margin-left: var(--spacing-small);
  margin-right: var(--spacing-small);
}

.stepDesc {
  margin-bottom: var(--spacing-medium);
  margin-right: var(--spacing-medium);
}
.stepType {
  font-size: var(--font-size-normal);
  color: var(--grey-500);
}
.stepValue {
  font-size: 14px;
  color: var(--grey-800);
}

.radioGroup {
  > div > div {
    display: flex;
    justify-content: space-between;
  }
  > label {
    font-weight: 500;
    font-size: var(--font-size-normal);
    color: var(--radio-group-label);
  }
}

.environmentVarHeader {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr 30px;
  column-gap: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  align-items: start;

  :global(.bp3-form-group) {
    margin: 0;
  }

  .label {
    color: var(--grey-400);
  }
}

.outputVarHeader {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr 30px;
  column-gap: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  align-items: start;

  :global(.bp3-form-group) {
    margin: 0;
  }

  .label {
    color: var(--grey-400);
  }
}

.variablesList {
  margin-top: var(--spacing-large);
}

.minConfigBtn {
  padding: 0 !important;
  height: 28px !important;
  min-height: auto;
}

.addButton {
  padding-left: 0 !important;
}
