.bodyContainer {
  background-color: var(--grey-100);
  min-width: 1080px;
  height: 100%;

  .gitSyncGrid {
    display: grid;
    grid-column-gap: 4%;
    grid-template-columns: 16% 14% 10% 18% 18%;
  }

  .header {
    padding: 0 var(--spacing-xlarge);

    .columnHeader {
      font-weight: bold;
      color: var(--grey-800);
    }

    .columnHeaderBody {
      margin: var(--spacing-small) 0;
      font-size: var(--font-size-small);
    }
  }

  .repoContainer {
    margin-bottom: var(--spacing-large);
    padding: var(--spacing-medium) 0 var(--spacing-small) 0;
    box-shadow: 0px 1px 5px -4px var(--black);
    background-color: var(--white);
    border-radius: 10px;
    .editSection {
      height: 60px;
    }
  }

  .repoContainer:hover {
    box-shadow: 0px 1px 6px -3px var(--black);
  }

  .contentGrid {
    height: 100%;

    .rootFolder {
      margin-bottom: var(--spacing-small);
    }

    .radioGroup {
      margin-left: var(--spacing-xxxlarge);
    }

    .defaultRootRadio {
      height: 47px;
      padding-top: 12px;
    }

    .unsetButtons {
      align-self: start;
    }
  }

  .editRepoContainer {
    border-top: 1px solid var(--grey-300);
    background-color: var(--white);

    .saveButton {
      width: 116px;
    }

    .cancelButton {
      width: 135px;
    }
  }
}
