.pointerText {
  cursor: pointer;
}

.timeRangeButton {
  padding: var(--spacing-xsmall) !important;
  white-space: nowrap !important;
}

.dateLabelContainer {
  padding: var(--spacing-small) var(--spacing-large) !important;
  &:hover {
    background-color: var(--primary-1) !important;
  }
}

.subscriptionLimitCtn {
  background-color: var(--grey-0) !important;
  max-width: 300px;
  padding: 0 var(--spacing-small) var(--spacing-small) var(--spacing-small) !important;
  border-bottom: 1px solid var(--grey-200);
}
