.name {
  font-weight: 700;
}
.validateError {
  color: var(--red-500);
  padding: var(--spacing-small);
  width: 95%;
  margin: var(--spacing-small);
}
.btnWrapper {
  margin-top: 300px;
  .submitBtn {
    color: var(--blue-500);
  }
}
.editCreds {
  position: relative;
  bottom: 71px;
  left: 190px;
  width: fit-content;
}
.verificationText {
  color: var(--grey-400);
  padding: 0;
  width: 300;
}
