.collapseDiv {
  margin-top: calc(var(--spacing-large) / -1);
  margin-bottom: var(--spacing-medium);

  div {
    border-top: none;
    padding: 0;
  }
}

.label-bold label {
  line-height: 19px;
  font-weight: 700;
  font-size: var(--font-size-normal);
}

.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: var(--spacing-small);
  padding-top: var(--spacing-small);
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));

  :global(.bp3-card) {
    padding: var(--spacing-large);
    width: 70px;
    height: 70px;
  }
}

.stage-create {
  width: 430px;
}

.configureCodebase {
  border-top: 1px solid rgba(#000, 0.1);
  padding-top: var(--spacing-medium);
  margin-top: var(--spacing-medium);
}

.predefinedValue {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
  padding-left: var(--spacing-medium);
}

.skipGitInfo {
  display: flex;
  align-items: flex-end;
  padding-left: var(--spacing-large);
}
