.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.snippets {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.search {
  width: 100%;
  height: 40px;
  margin: var(--spacing-large) 0;
  border: none;
  font-size: medium;
}

.title {
  font-weight: bold;
  color: var(--grey-800);
  margin-top: var(--spacing-large);
  justify-content: start;
  display: flex;
  width: 100%;
}

.searchBar {
  border: 1px solid var(--grey-250);
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  margin: var(--spacing-medium) 0;
}

.searchIcon {
  margin: var(--spacing-small);
}

.closeIcon {
  margin: var(--spacing-small);
  padding-bottom: var(--spacing-xsmall);
}

.noSnippets {
  font-size: var(--font-size-medium);
}

.fillSpace {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  justify-content: center;
}
