.preview {
  flex-grow: 1;
  .empty {
    border: 1px dashed var(--grey-300);
    border-radius: 4px;
  }
}

.selectorContainer {
  padding: var(--spacing-7) var(--spacing-8) !important;
  border-right: 1px solid var(--grey-100);
}

.searchBox {
  flex-grow: 1;
}

.illustration {
  width: 400px;
}
