.main {
  padding: var(--spacing-small) !important;

  .queryContainer {
    position: relative;
    .queryIcons {
      justify-content: flex-end;
      width: 68px !important;
      position: absolute;
      left: calc(100% - 73px);
      top: 5px;

      .action {
        padding: var(--spacing-xsmall) var(--spacing-small) !important;
        box-shadow: none !important;
        border: 1px solid var(--grey-200) !important;
      }
    }
  }
}

.tooManyRecords {
  background: var(--red-100) !important;
  padding: var(--spacing-xsmall) var(--spacing-small) !important;
  position: sticky;
  top: 0;
  z-index: 5;
  span {
    margin-right: var(--spacing-xsmall) !important;
  }
}

.queryAndRecords {
  margin-top: var(--spacing-large) !important;

  .noRecords {
    > div {
      height: unset !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .centerElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .noQueryChart {
    white-space: nowrap !important;
  }
  .chartContainer {
    position: relative;
    height: 387px !important;
    width: 100% !important;
    border: 1px solid var(--grey-200);
    border-radius: 8px;
    overflow-y: scroll;

    .chart > div {
      padding: var(--spacing-large) 15px !important;
      padding-right: 25px !important;
      background-color: var(--white);
    }
  }
}

.recordContainer [class*='panel'] {
  border: none !important;
  border-radius: 0 !important;

  pre {
    color: var(--black) !important;
  }

  &:nth-of-type(2n - 1) {
    background-color: var(--grey-100) !important;
  }
}

.formQueryBox textarea {
  width: 100%;
  border-radius: 8px;
  resize: vertical;
  min-height: 200px;
  padding: var(--spacing-medium) !important;
}

.labelText {
  color: var(--black) !important;
  font-size: var(--font-size-small) !important;
  margin-bottom: var(--spacing-small) !important;
}
