.tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--spacing-large);
}

.tab {
  cursor: pointer;
}

.selectedTab {
  font-weight: 500;
  border-bottom: 4px solid var(--primary-7);
}

.alignConditions {
  display: flex;
  align-items: center;
  margin: var(--spacing-xxlarge) 0 !important;

  span {
    color: var(--black) !important;
  }

  label {
    color: var(--black) !important;
  }
}

.jexlExpression {
  :global {
    .bp3-label {
      margin-bottom: var(--spacing-medium) !important;
    }

    textarea {
      min-height: 60px;
      max-height: 120px;
      line-height: 35px;
    }

    .bp3-input {
      height: 75px !important;
    }

    .MultiTypeInput--btn {
      height: 30px !important;
    }
  }
}

.headers {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr 30px;
  column-gap: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  align-items: center;

  :global(.bp3-form-group) {
    margin: 0;
  }
}

.multiSelect {
  :global {
    .bp3-tag-input {
      height: fit-content !important;
    }
  }
}

.fetching {
  display: flex;
  justify-content: center;
}

.formikError {
  color: var(--red-600) !important;
}

.box {
  margin: var(--spacing-medium) 0;
}

.conditionalContent {
  background-color: white;
  padding: var(--spacing-medium);
}

.conditionalContentJexl {
  background-color: white;
  padding: var(--spacing-large) var(--spacing-medium);
}

.criteriaRow {
  width: 520px;
}

.title {
  color: var(--grey-800);
  font-weight: 600;
}
