.md {
  width: 75%;
}

.jiraIssueKeyField {
  width: 530px;
}

.connector {
  margin-bottom: var(--spacing-medium) !important;
  margin-top: var(--spacing-xsmall) !important;
}

.deploymentViewMedium {
  width: 50%;
}
