.md {
  width: 75%;
}

.jiraFormGroup {
  // Same width as the connector reference component
  width: 500px;
}

.jiraIssueKeyField {
  width: 530px;
}

.connector {
  margin-bottom: var(--spacing-medium) !important;
  margin-top: var(--spacing-xsmall) !important;
}

.deploymentViewMedium {
  width: 44%;
}

.connectorDeployment {
  :global {
    .bp3-button {
      width: 338px !important;
    }

    .bp3-button-text {
      width: 287px !important;
    }
  }
}
