.errorCard {
  height: 248px;

  p {
    font-size: var(--font-size-small) !important;
  }
}

.loadingWrapper {
  height: 248px;
  width: 116px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
