.dialog {
  border-radius: var(--spacing-xsmall);
  position: relative;
  &.feedback {
    min-width: 1100px;
    padding-bottom: unset !important;
  }
}
.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.description {
  width: 80%;
  line-height: 2 !important;
}

.left {
  border-top-left-radius: var(--spacing-xsmall);
  border-bottom-left-radius: var(--spacing-xsmall);
  background-size: cover !important;
  &:after {
    border-right: 1px solid var(--grey-100);
    content: '';
    display: flex;
    height: 80%;
    position: relative;
    top: 60px;
  }
}
.right {
  min-height: 600px;
  padding: 120px 0px 20px 60px !important;
}

.tag {
  background-color: var(--orange-500) !important;
  color: var(--white);
}

.suggestion {
  :global {
    .bp3-form-content {
      :global {
        textarea {
          max-width: 80%;
          min-width: 80%;
          max-height: 170px;
        }
      }
    }
    .bp3-label {
      width: 90%;
      line-height: 1.5 !important;
      color: var(--black) !important;
      padding-bottom: small !important;
    }
  }
}

.experience {
  :global(.bp3-label) {
    color: var(--black) !important;
  }
  :global(.bp3-control) {
    color: var(--grey) !important;
  }
}

.extendTrial {
  :global(textarea) {
    max-height: 56px !important;
  }
}
