.collapseDiv div {
  border-top: none;
  padding: 0;
}

.label-bold label {
  line-height: 19px;
  font-weight: 700;
  font-size: var(--font-size-normal);
}

.grid {
  display: grid;
  grid-auto-flow: column;
}

.squareCard {
  width: 64px;
  height: 64px;
  padding: var(--spacing-small) 0;
  margin-bottom: var(--spacing-small);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.stage-create {
  width: 350px;
}

.btn-setup {
  padding-top: var(--spacing-medium);
}

.stageSection {
  display: grid;
  grid-template-columns: 350px 1fr;
  padding: 0px var(--spacing-medium);
  border-bottom: 1px solid var(--grey-200);
  padding: var(--spacing-small);
  background-color: var(--white);

  .tabHeading {
    font-weight: 500;
    font-size: var(--font-size-medium);
  }
  &.noPadVertical {
    padding-top: 0px;
    padding-bottom: 0;
  }
  .disabled {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: not-allowed !important;
  }

  .stageDetails {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    .stageOverridesTab {
      justify-content: end;
      display: grid;
    }
    :global {
      .customVariables {
        width: 700px !important;
      }
    }
    button {
      width: fit-content;
    }
  }
  .inputContainer {
    display: grid;
    grid-template-columns: none;
    align-items: center;
    button {
      width: fit-content;
      margin-bottom: var(--spacing-small);
    }
    &.sideDescription {
      grid-template-columns: 1fr 40px;
    }
  }
  .removeLink {
    color: var(--blue-500);
    cursor: pointer;
    position: relative;
    top: 16px;
    left: 395px;
    &.dialogView {
      left: 276px;
    }
  }
  .squareCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    margin-right: var(--spacing-small);
  }
}

.variablesGrid {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}

.variableTitle {
  // TODO: Replace color once it is available in UIKit
  color: #13151a !important;
}

.box {
  width: 780px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  padding-top: var(--spacing-medium);
  padding-right: var(--spacing-xlarge);
  padding-bottom: var(--spacing-medium);
  padding-left: var(--spacing-xlarge);
  margin-top: var(--spacing-small);
  margin-left: calc(var(--spacing-xlarge) / -1);
}

.row {
  &:not(:last-child) {
    margin-bottom: var(--spacing-large);
  }

  > * {
    display: flex;
    align-items: center;

    > * {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: var(--spacing-small);
      }
    }
  }
}

.secretContainer {
  flex-grow: 1;
  position: relative;

  > div {
    margin-bottom: 0;
  }
}

.addVariable {
  margin-left: calc(var(--spacing-xlarge) / -1) !important;
}

.editVariable {
  color: transparent !important;

  path:first-child {
    stroke: var(--grey-450) !important;
    transition: stroke 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
  }

  &:hover {
    path:first-child {
      stroke: var(--blue-450) !important;
    }
  }
}

.fixed {
  position: absolute;
  top: -17px;
  right: 3px;
}

.icon {
  cursor: pointer;
}

.toggleDesc {
  margin-top: 14px !important;
}
