.collapseDiv div {
  border-top: none;
  padding: 0;
}

.label-bold label {
  line-height: 19px;
  font-weight: 700;
  font-size: var(--font-size-normal);
}

.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: var(--spacing-small);
  padding-top: var(--spacing-small);
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));

  :global(.bp3-card) {
    padding: var(--spacing-large);
    width: 70px;
    height: 70px;
  }
}

.stage-create {
  width: 350px;
}

.btn-setup {
  padding-top: var(--spacing-medium);
}

.stageSection {
  display: grid;
  grid-template-columns: 350px 1fr;
  padding: 0px var(--spacing-medium);
  border-bottom: 1px solid var(--grey-200);
  .tabHeading {
    font-weight: 500;
    font-size: var(--font-size-medium);
  }
  &.noPadVertical {
    padding-top: 0px;
    padding-bottom: 0;
  }
  .disabled {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: not-allowed !important;
  }

  .stageDetails {
    display: grid;
    width: 1024px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    .stageOverridesTab {
      justify-content: end;
      display: grid;
    }
    button {
      width: fit-content;
    }
  }
  .inputContainer {
    display: grid;
    grid-template-columns: none;
    align-items: center;
    button {
      width: fit-content;
      margin-bottom: var(--spacing-small);
    }
    &.sideDescription {
      grid-template-columns: 1fr 40px;
    }
  }
  .removeLink {
    color: var(--blue-500);
    cursor: pointer;
    position: relative;
    top: 16px;
    left: 395px;
    &.dialogView {
      left: 276px;
    }
  }
}
