.main {
  height: 100% !important;
  width: 250px !important;
  box-shadow: var(--cardsShadow);

  .filterService {
    padding: var(--spacing-small) !important;
    display: block;
    border-radius: 4px;
    width: 85%;
    border: 1px solid var(--grey-250);
    font-size: var(--font-size-small);
    margin: var(--spacing-medium) auto !important;
  }

  .entityRow {
    padding: var(--spacing-xsmall) var(--spacing-large) !important;
    cursor: pointer;

    .smallRiskTile {
      width: 20px;
      [class*='riskScore'] {
        font-size: var(--font-size-small);
      }
    }

    &[data-selected='true'] {
      background-color: var(--primary-2) !important;
    }
    > p {
      font-size: var(--font-size-small) !important;
    }
  }

  .allServiceSelector {
    padding: var(--spacing-small) var(--spacing-large) !important;
    > p {
      font-weight: 700 !important;
      color: var(--black) !important;
    }
  }

  .serviceRow {
    justify-content: flex-end !important;
    > p {
      flex: 0.9;
    }
  }

  .environmentRow {
    clear: right;
  }
}
