@mixin dataColumnWidth($max-width: 300px, $min-width: 50px) {
  width: $max-width;
  min-width: $min-width;
}

.activityList {
  list-style: none;
  padding-left: 0;
  width: 100%;

  .noData {
    margin-top: var(--spacing-medium) !important;
  }

  .headerRow {
    display: flex;
    margin: var(--margin-large);
    padding: 0 var(--spacing-xsmall);
    *:first-child {
      flex-shrink: 0;
    }
  }

  .dataColumn {
    flex: 1;
  }

  .dataRow {
    padding: var(--spacing-xsmall);
    margin: var(--spacing-xsmall) 0;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0 2px 10px 0 var(--grey-200);
    display: flex;
    align-self: center;
    width: 100%;
  }
}
