.main {
  height: 120px !important;
  width: 100% !important;
  display: flex;

  .transactionMetric {
    background-color: var(--grey-100) !important;
    padding: var(--spacing-xlarge) !important;
    flex-basis: 200px;
    flex-shrink: 0;

    > *:first-child {
      margin-bottom: var(--spacing-medium) !important;
    }
  }

  .scrollArrow {
    flex-basis: 20px;
    flex-shrink: 0;
    max-height: 100% !important;
    height: 100% !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 var(--spacing-xsmall) !important;
  }

  .scrollArrowPlaceholder {
    flex-basis: 30px;
    flex-shrink: 0;
    max-height: 100% !important;
    height: 100% !important;
    margin: 0 var(--spacing-xsmall) !important;
  }

  .graphs {
    overflow: hidden;
    white-space: nowrap !important;
    flex-basis: 100%;
    flex-grow: 1;
    scroll-behavior: smooth;

    > div {
      display: inline-block;
      margin-right: var(--spacing-xsmall) !important;
    }
  }
}
