.btnContainer {
  > span {
    width: 100%;

    button {
      width: calc(100% - 34px);
    }
  }
}

.portal > div {
  position: fixed !important;
  top: 0px !important;
  left: 270px !important;
  bottom: 0 !important;
  transform: none !important;
  z-index: 2 !important;
  background: var(--blue-900) !important;
  border-left: 1px solid var(--grey-425);

  :global {
    .bp3-popover-content {
      background: none;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  grid-template-rows: repeat(3, 90px);
  grid-column-gap: var(--spacing-large);
  grid-row-gap: var(--spacing-xxlarge);
  justify-content: center;
  align-items: end;

  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8f90a6;

    &:hover {
      text-decoration: none;
    }

    &.selected {
      color: var(--white);

      .linkIcon {
        border-color: var(--blue-500);
      }

      .text {
        color: var(--white);
      }
    }
  }

  .linkIcon {
    width: 56px;
    height: 56px;
    background: #2c2d42 !important;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue-500) !important;
    border-radius: 5px;

    svg path {
      stroke: currentColor;
    }
  }
}
