.labelWrp {
  display: flex;
  justify-content: space-between;
  .passwordLabel {
    position: relative;
    top: var(--spacing-xsmall);
  }
}
.secretPop {
  cursor: pointer;
}
.createSecretBtn {
  margin: var(--spacing-small) var(--spacing-large);
  font-weight: bold;
}
