.secretPop {
  cursor: pointer;
}
.viewBtn {
  padding: 0 !important;
}
.secretFieldWrapper {
  padding: 10px 0;
  > input[readonly] {
    display: none;
  }
}

.secretField {
  width: 100%;
  height: 36px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: inset 0 0.5px 4px 0 var(--form-input-shadow);
  border: none;
  margin-top: var(--spacing-xsmall);
  padding: 0 var(--spacing-small);
}
.dotIcon {
  align-self: center;
}
.secretName {
  padding: 4px !important;
}
