.bodyContainer {
  background-color: var(--grey-100) !important;
  min-width: 1080px;
  height: 100%;

  .productMenu {
    width: 20%;
    height: 100%;
    background-color: var(--white);
    border-bottom: thin solid var(--grey-300);
  }

  .productListing {
    width: 100%;
  }

  .tags {
    padding: var(--spacing-small);
    background: none;
    color: var(--grey-700);
    cursor: pointer;
    letter-spacing: 0.5px;
    font-size: small;
    &:hover {
      text-decoration: none;
      color: var(--grey-700);
    }
  }
  .activeTag {
    background: var(--grey-400);
    color: var(--white);
    border-radius: 8px;
    &:hover {
      text-decoration: none;
      color: var(--white);
    }
  }

  .table {
    padding: 0 var(--spacing-large);
    background-color: var(--grey-100);
  }
}
