.gitFilterContainer {
  width: 500px;

  .repoSelectDefault {
    margin-right: var(--spacing-medium);
  }

  :global {
    .Select--active,
    .bp3-active,
    .bp3-menu-item:hover {
      background-color: var(--primary-2) !important;
      color: var(--grey-900) !important;
    }
  }
}

.btnConatiner {
  text-align: right;
  margin-top: var(--spacing-small);
}

.syncModal {
  text-align: center;
}
