.main {
  width: 50% !important;
  max-width: 600px;
  position: absolute;
  left: 52%;
  transform: translate(-50%, 3%);

  .table [role='row'] {
    cursor: pointer;
  }
}

.loadingErrorNoData {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translateX(-50%);
}
