.main {
  width: 50% !important;
  max-width: 600px;
  position: absolute;
  left: 52%;
  transform: translate(-50%, 3%);

  .table [role='row'] {
    cursor: pointer;
  }

  .noDataError {
    position: relative;
    top: 150px;
  }

  .searchNamespaces {
    margin-top: var(--spacing-small) !important;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translateX(-50%);
}
