.harnesstag {
  background-color: var(--primary-2);
  color: var(--primary-7);
}

.customtag {
  background-color: var(--green-200);
  color: var(--green-500);
}

.tag {
  background-color: var(--grey-200);
  color: var(--black);
  font-weight: 500;
  font-size: var(--font-size-small);
  border-radius: var(--spacing-xsmall);
}

.link {
  color: inherit;
}
