.card {
  width: 260px;
  padding: 0px;
  border: 0px;
  box-shadow: none;
  .environmentType {
    padding: 0px var(--spacing-xsmall) !important;
    cursor: pointer;
    &:not(:last-of-type) {
      border-right: 1px solid var(--grey-500);
    }
    &:first-of-type {
      padding-left: 0 !important;
    }
  }
  .stack {
    padding-bottom: 2px;
  }

  .typeContainer {
    padding: var(--spacing-xsmall) var(--spacing-medium);
    border-radius: 16px;
    cursor: pointer;
  }
  .typeSelected {
    background: var(--blue-800);
  }

  .stackTickerContainer {
    overflow: auto;
  }

  .tickerContainer {
    height: 26px;
  }
  .weightedStackContainer {
    width: 158px;
    .progressBar {
      height: 24px;
    }
    .label {
      color: var(--white);
    }
  }
}
