.nav {
  --sidebar-width: 50px;
  --border-color: var(--blue-825);
  --background-color: var(--blue-900);
  --nav-background-color: var(--blue-850);
  --sidebar-item-height: 50px;

  background-color: var(--background-color) !important;

  height: 100%;

  ul.sidebar {
    display: flex;
    width: var(--sidebar-width) !important;
    height: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;

    .sidebarItem:first-of-type {
      height: 80px;

      &.selected {
        height: var(--sidebar-item-height);

        & + .sidebarItem {
          height: 80px;

          > .sidebarLink {
            transform: translateY(27px);
          }
        }
      }
    }

    .sidebarItem {
      padding: 0;
      margin: 0;
      width: var(--sidebar-width);
      height: var(--sidebar-item-height);
      align-items: flex-start;
      display: inline-flex;
      justify-content: center;
      list-style: none;
      border-right: 1px solid var(--border-color);
      background-color: var(--nav-background-color);

      &.selected {
        background-color: var(--background-color);
        border-right: none;

        & + .sidebarItem,
        & + .spacer {
          border-radius: 0 10px 0 0;
          border-top: 1px solid var(--border-color);
        }
      }

      &.beforeSelected {
        border-radius: 0 0 10px 0;
        border-bottom: 1px solid var(--border-color);
      }

      .sidebarLink {
        width: 46px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .spacer {
      flex-grow: 1;
      width: var(--sidebar-width);
      background-color: var(--nav-background-color);
      border-right: 1px solid var(--border-color);

      &.beforeSelected {
        border-radius: 0 0 10px 0;
        border-bottom: 1px solid var(--border-color);
      }
    }
  }

  .menu {
    flex-grow: 1;
    height: 100%;
    background: var(--blue-900) !important;
  }
}
