.nav {
  --module-width: 48px;

  height: 100%;

  .modules {
    width: var(--module-width);
    height: 100%;
    background: var(--blue-850) !important;
    flex-direction: column;
    border-right: 1px solid var(--blue-825);

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;

      li {
        margin: 0;
        padding: 0;
        list-style: none;

        &.selected {
          background: var(--blue-900) !important;
        }
      }
    }

    .moduleItem {
      display: inline-block;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .moduleMenu {
    flex-grow: 1;
    height: 100%;
    background: var(--blue-900) !important;
  }

  &.withoutMenu {
    .moduleMenu {
      display: none;
    }
  }
}
