.container {
  width: 450px;

  .scopeButton {
    border-radius: 20px !important;
  }

  .secretList {
    max-height: 450px;
    overflow-y: scroll;

    .listItem {
      padding: 10px;
      border-bottom: 1px solid var(--grey-250);
      cursor: pointer;

      .meta {
        color: var(--grey-400);
        font-size: smaller;
      }
    }

    .listItem:hover {
      background-color: var(--blue-500);
      color: var(--white);

      .meta {
        color: var(--grey-250);
      }
    }
  }
}
