.container {
  min-height: 32px;
  border: 1px solid var(--bp3-intent-color, #dddddd);
  background-color: var(--white) !important;
  border-radius: 4px;
  overflow: hidden;

  &Link {
    display: flex;
    align-items: center;
    padding-left: var(--spacing-small);
    color: var(--primary-7) !important;

    &Text {
      flex-wrap: wrap;
      margin-left: var(--spacing-xsmall);
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &EditBtn {
    color: var(--primary-7) !important;
    width: 10%;
    &:hover {
      background-color: transparent !important;
      color: var(--blue-600) !important;
    }
  }
}
