.input-button {
  height: 38px !important;
  border: 1px solid var(--bp3-intent-color, #dddddd) !important;

  :global {
    .bp3-button-text {
      flex: 1 1 auto;
    }
  }

  &:hover {
    border: 1px solid var(--blue-400) !important;
    color: var(--blue-500);
  }
}
