.secretPop {
  cursor: pointer;
}
.viewBtn {
  padding: 0 !important;
}
.secretFieldWrapper {
  :global {
    .bp3-input-group {
      > input[readonly] {
        display: none;
      }
    }
  }
}

.secretField {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.secretFieldHide {
  display: none;
}
.dotIcon {
  align-self: center;
}
.secretName {
  padding: 4px !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}
.overflowEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
