.main {
  --page-header-height: 113px;
  background-color: var(--grey-50) !important;
  padding: var(--spacing-large) var(--spacing-xlarge) !important;

  hr {
    width: 100%;
    border-top: 1px line var(--grey-200);
  }
  .panel {
    height: 100%;
    .edit {
      border: 1px solid var(--primary-7) !important;
    }

    .information {
      flex: 2;
      padding-right: var(--spacing-medium);
      border-right: 1px solid var(--grey-200);
      height: 100%;
      margin-right: var(--spacing-medium);
      .overview {
        flex: 1;
        min-width: 400px;
      }
      .input-set {
        flex: 1;
        min-width: 440px;
        max-width: 680px;
      }
    }
  }
}

.editor {
  width: 100%;
}
