.addNewProviderModal {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), #267cc9;
  height: 100%;
  color: white;

  .providerContainer {
    position: absolute;
    padding: 80px;
    bottom: 60px;

    .title {
      margin-bottom: 30px;
    }

    .providers {
      display: flex;
      align-items: flex-start;

      .provider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: var(--spacing-large);
        text-align: center;

        img {
          width: 64px;
          height: 64px;
          background: white;
          border-radius: 8px;
          margin-bottom: 12px;
          padding: 12px;

          cursor: pointer;
        }
      }

      .disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }

  .providerModalContainer {
    height: 100%;
  }
}

.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.lightIcon {
  color: white;
}
