.createBtn {
  border-radius: 4px;
  line-height: 16px;
  font-size: normal;
  font-weight: bold;
  color: var(--white);
  width: 200px;
  height: 45px;
  background-color: var(--primary-6);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    text-decoration: none;
  }
}
