.createBtn {
  border-radius: 4px;
  line-height: 16px;
  font-size: normal;
  font-weight: bold;
  color: var(--white);
  width: 200px;
  height: 40px;
  background-color: var(--primary-6);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    text-decoration: none;
  }
}

.linkCursor {
  cursor: pointer;
}

.body {
  &.hasBanner {
    --page-header-height: 50px !important;
  }

  &.hasNoBanner {
    --page-header-height: 0px !important;
  }
}

.container {
  padding-left: 80px !important;
  padding-top: 80px !important;
  height: calc(100vh - var(--page-header-height, 64px));
  background-size: contain !important;
  background-position: right bottom !important;
  .subTitle {
    max-width: 550px;
  }
}

.link {
  align-self: flex-start;
}
