.main {
  .header {
    padding-top: 12px;

    .title {
      color: var(--grey-800);
      font-weight: bold;
    }

    .danger {
      color: var(--red-600);
    }

    .small {
      font-size: 12px;
    }

    > * {
      margin-left: 12px;
    }
  }

  .body {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-column-gap: 12px;
    margin-left: 18px;
    margin-top: 24px;
    .title {
      color: var(--grey-800);
    }
    .detail {
      margin-top: 10px;
      font-size: 12px;
      color: var(--grey-500);
      .tag {
        margin-right: 5px;
        > span > span {
          border-radius: 6px !important;
          color: var(--blue-500) !important;
          background-color: var(--blue-300) !important;
          font-size: 10px !important;
        }
      }
    }
  }
}
