.card {
  width: 190px;
  height: 230px;
  box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16);
  border: 1px solid transparent !important;
  &:hover {
    border: 1px solid var(--primary-7) !important;
  }
}

.description {
  min-height: 72px;
}

.time {
  max-width: 40px;
  overflow: unset;
}

.enable {
  border: 1px solid var(--primary-7) !important;
  color: var(--primary-7) !important;
  min-height: var(--spacing-large) !important;
  height: var(--spacing-large) !important;
  padding: 2px var(--spacing-large) !important;
}
