.preReqContent {
  letter-spacing: 0.233333px;
  color: var(--black-color-2) !important;
}

.prereq {
  color: var(--black) !important;
  font-weight: bold !important;
  margin-bottom: var(--spacing-xlarge) !important;
  font-size: var(--font-size-medium) !important;
}
