.filterSelector {
  width: auto !important;
  padding: 0;
}

.ngFilter {
  svg {
    path:last-of-type {
      fill: var(--black) !important;
    }
  }
  border: none !important;
  padding: 0 !important;
}

.summaryPopover {
  svg {
    path {
      fill: var(--black) !important;
    }
  }
}

.fieldCount {
  display: block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  background-color: #0a3364;
  color: white;
  text-align: center;
  font-weight: bold;
  transform: translate(calc(-1 * var(--spacing-small)));
}
