.card {
  margin-right: var(--spacing-small);
}

.radioSelect {
  :global(.bp3-card) {
    height: 140px;
    vertical-align: top;
    background-color: var(--white);
    margin-right: var(--spacing-medium);
  }
}

.customselect {
  max-height: 180px;
  overflow: auto;
  max-width: 180px;
}

.radioSelectPurpose {
  margin: 50px 40px 80px;

  :global(.bp3-card) {
    margin-right: var(--spacing-medium);
    width: 200px;
  }
}

.halfWidth {
  width: 50%;
  padding-right: var(--spacing-huge);
  padding-top: var(--spacing-xxlarge);
  vertical-align: top;
}

.collapseDiv {
  border-top: none !important;
  padding: 0 !important;
}

.button {
  color: var(--primary-7) !important;
  border-color: var(--primary-7) !important;
}

.preview {
  background: var(--grey-100) !important;
}

.desc {
  max-width: 350px;
}

.clone {
  padding: var(--spacing-none) var(--spacing-large) !important;
}

.align {
  align-items: center;
}

.toEnd {
  justify-content: flex-end !important;
}

.manageUsers {
  color: var(--primary-7) !important;
}

.invites {
  align-items: center;
  border-top: 1px solid var(--grey-100);
  border-bottom: 1px solid var(--grey-100);
  &:hover {
    cursor: pointer;
    background-color: var(--grey-100) !important;
  }
}

.collaboratorForm {
  max-width: 500px;
  min-height: 450px;
}

.pendingList {
  max-height: 250px;
  overflow: scroll;
}

.roleButton {
  width: 150px !important;
  padding: var(--spacing-none) var(--spacing-small) !important;
}

.colorBar {
  height: var(--spacing-medium);
  border-radius: var(--spacing-small);
  padding: 2px var(--spacing-small) !important;

  &.pending {
    background-color: var(--primary-1) !important;
  }

  &.request {
    background-color: var(--yellow-200) !important;
  }
}

.input {
  width: 450px !important ;
}

.url {
  width: 450px;
}

.pendingUser {
  overflow-wrap: break-word;
  .name {
    max-width: 100px;
  }
  .email {
    max-width: 200px;
  }
  .role {
    max-width: 75px;
  }
}
