.cardTags {
  background-color: var(--grey-200) !important;
  color: var(--grey-400) !important;
  max-width: 200px;
  margin-right: var(--spacing-xsmall);
  margin-top: var(--spacing-xsmall);
}

.title {
  max-width: 300px !important;
}

.wrap {
  overflow: hidden;
}

.header {
  background-color: var(--primary-1) !important;
}

.enabledModules {
  min-height: calc(50vh - 72px);
}

.pageHeight {
  max-height: calc(100vh - 144px) !important;
}

.accessControl {
  background-color: var(--lime-50);
}

.projectsCard {
  box-shadow: var(--card-shadow);
  width: 750px;
  padding: var(--spacing-xxlarge) !important;
}

.projectCount {
  font-size: var(--font-size-xlarge) !important;
}
