.main {
  margin-top: 20px !important;
  margin-bottom: 50px !important;

  .iconContainer {
    display: inline-block;
    margin-bottom: 10px;
  }

  .dataSourceIcon {
    margin: 0 auto;
    display: table;
    margin-bottom: 5px;
  }
}
