.main {
  .iconContainer {
    display: inline-block;
    margin-bottom: var(--spacing-xsmall);
  }

  .dataSourceIcon {
    margin: 0 auto;
    display: table;
    position: relative;
    right: 4px;
  }
}
