.body {
  padding-top: 80px !important;
  padding-left: 80px !important;
  height: 100vh;
  background: transparent var(--image-url) no-repeat !important;
  background-size: contain !important;
  background-position: right bottom !important;
}

.learnMore {
  width: 25%;
}
