.body {
  &.hasBanner {
    --page-header-height: 45px !important;
  }

  &.hasNoBanner {
    --page-header-height: 0px !important;
  }
}

.container {
  padding-left: 80px !important;
  padding-top: 80px !important;
  background: transparent var(--image-url) no-repeat !important;
  background-position: right bottom !important;
  background-size: contain !important;
  height: calc(100vh - var(--page-header-height, 64px));
}

.description {
  line-height: 2 !important;
}

.content {
  align-items: center;
}
