.badge {
  display: flex;
  align-items: center;
  background: var(--primary-1);
  color: var(--primary-7);
  border-radius: 5px;
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
  font-weight: 500;
  padding: 0 var(--spacing-4);
  height: 20px;
  border: 1px solid var(--primary-2);
}
