.main {
  border-style: solid;
  border-color: var(--grey-250);
  border-width: 2px;
  border-radius: 10px 0 0 10px;
}

.filePath {
  margin: 0 var(--spacing-small) 0 var(--spacing-large);
  height: 50px;
  font-weight: bolder;
  font-size: var(--font-size-normal);
  color: var(--black);
}

.builder {
  padding: var(--spacing-large) 0;
  border-top: 2px solid var(--grey-200);
}

.flexCenter {
  display: flex;
  align-items: center;
}

.entityTag {
  background: var(--grey-200) !important;
  color: var(--grey-500);
}
