.title {
  font-weight: 500;
  font-size: var(--font-size-medium) !important;
  line-height: 20px;
}
.checkbox {
  padding-left: var(--spacing-large) !important;
  font-size: var(--font-size-normal) !important;
  color: var(--black) !important;
}
.setupTab {
  width: 65%;
  :global {
    .bp3-tab-panel {
      margin: 0;
    }
    .bp3-tab[aria-selected='true'] {
      color: black !important;
    }
    .bp3-tab[aria-selected='false'] {
      color: var(--grey-800);
    }
    .bp3-tab-list {
      justify-content: center !important;
      position: relative !important;
      top: auto;
      background: white !important;
      border-bottom: none !important;
      margin-bottom: var(--spacing-small);
    }
    .bp3-tab-indicator-wrapper {
      top: 10px;
    }
    .bp3-tab-panel {
      position: relative !important;
      top: auto !important;
      height: auto !important;
      width: auto !important;
      overflow: visible !important;
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }
}
.fixedDrawer {
  top: '95px';
  box-shadow: rgb(40 41 61 / 4%) 0px 2px 8px, rgb(96 97 112 / 16%) 0px 16px 24px;
  border-radius: var(--spacing-medium);
  width: '392px';
  bottom: 0;
  right: 0;
  position: 'fixed';
  z-index: 20;
  background-color: var(--white);
}
.page {
  overflow: scroll;
  height: calc(100vh - 160px);
  margin-left: var(--spacing-xlarge) !important;
}
.centerAlignedRadio {
  align-self: center !important;
}

.radioFont {
  :global {
    label.bp3-control {
      font-size: var(--font-size-normal) !important;
    }
  }
}

.setupAccessHeading {
  color: var(--black) !important;
}
.setupAccessSubHeading {
  color: var(--grey-400) !important;
}

.dnsLinkContainer {
  padding: var(--spacing-xlarge) var(--spacing-large) !important;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.02), 0px -1px 2px rgba(40, 41, 61, 0.04), 0px 4px 6px rgba(96, 97, 112, 0.1);
  border-radius: 5px;
  .selectLoadBalancerContainer {
    .helperImage {
      margin-right: var(--spacing-large);
    }
    .helpText {
      margin-bottom: var(--spacing-large);
      font-size: 12px;
    }
    .loadBalancerSelector {
      min-width: 200px;
      max-width: 300px;
      margin-bottom: 0;
      margin-right: var(--spacing-medium);
    }
  }
  .mapDomainHelperText {
    font-size: 12px;
    margin-bottom: var(--spacing-large) !important;
    margin-top: 0 !important;
  }
  .header {
    color: var(--black) !important;
    margin-bottom: var(--spacing-large) !important;
  }
  span[data-icon='info'] {
    cursor: pointer;
    margin-left: 5px;
    vertical-align: middle;
  }
}

.publicAccessibleCheckboxContainer {
  margin-left: 54px !important;
  margin-top: var(--spacing-large) !important;
}

.loadBalancerDnsConfigDialog {
  --form-width: 50%;
  .configHeading {
    color: #1c1c28 !important;
    margin-bottom: var(--spacing-large) !important;
  }
  .configInfo {
    font-size: 13px;
    margin-bottom: var(--spacing-large) !important;
  }
  .configFormHeader {
    margin-bottom: var(--spacing-medium) !important;
  }
  .lbNameInput {
    width: var(--form-width);
  }
  .customDomainContainer {
    --layout-spacing: var(--spacing-large) !important;
    align-items: center;
  }
  .configFormWrapper {
    flex: 0 1 var(--form-width);
    margin-right: var(--spacing-large);
  }
  .othersHelpTextContainer {
    padding: var(--spacing-xlarge) !important;
    background: rgba(#d8d8d8, 0.16);
    flex-basis: var(--form-width);
    flex-grow: 0;
    flex-shrink: 0;
    hr {
      margin-top: var(--spacing-large);
      margin-bottom: var(--spacing-large);
    }
    img {
      margin-right: 10px !important;
    }
    ol {
      padding-left: 14px !important;
      li {
        margin-bottom: var(--spacing-medium) !important;
        font-size: 12px !important;
      }
    }
    .helpTextHeader {
      color: var(--grey-800) !important;
    }
  }
  .formFieldRow {
    margin-bottom: var(--spacing-large) !important;
    > div {
      width: var(--form-width);
      margin-right: var(--spacing-large);
    }
    :global {
      button[class*='ReferenceSelect-module_container'] {
        width: 100% !important;
      }
    }
    .uploadCtaContainer {
      .uploadText {
        text-decoration: underline;
        cursor: pointer;
        color: var(--primary-7);
        margin-right: 10px;
      }
      svg path {
        fill: var(--green-500);
      }
      > div {
        margin-top: 10px;
        span[icon='trash'] {
          cursor: pointer;
        }
      }
    }
    .certiLabel {
      color: var(--grey-500);
      font-size: 13px;
      margin-bottom: 5px;
      margin-top: 0;
      display: block;
      width: var(--form-width);
    }
  }
  .flexRow {
    display: flex;
    align-items: center;
  }
  .radioBtn {
    padding-left: 24px !important;
  }

  .saveBtn {
    margin-right: var(--spacing-medium) !important;
  }
}

.sshSetupContainer {
  background-color: var(--grey-200) !important;
  .infoSection {
    --layout-spacing: var(--spacing-xlarge) !important;
    .text {
      line-height: 20px;
      font-size: var(--font-size-normal);
    }
  }
  .selectContainer {
    width: auto;
    margin-right: var(--spacing-large);
  }
}
