.preview {
  width: 35%;
  padding: var(--spacing-10) 0px !important;
  display: flex;
  justify-content: center;
  align-self: center;
}

.selectVersions {
  flex-grow: 1;
  padding: 0px var(--spacing-xxlarge);
  border-left: 1px solid var(--grey-100);

  :global {
    .bp3-checkbox {
      padding: var(--spacing-medium) !important;
      border-bottom: 1px solid var(--grey-100);
      font-size: var(--font-size-normal) !important;
      font-weight: 500 !important;

      &:local(.selected) {
        background-color: var(--primary-1);
        color: var(--primary-7);
      }

      .bp3-control-indicator {
        margin-right: var(--spacing-medium) !important;
      }
    }
  }
}

.badge {
  padding: 0px 6px !important;
  border-radius: 10px;
  line-height: 15px !important;
  border: 1px solid var(--primary-7);
}
