.tickerContainerStyles {
  width: fit-content;
}

.lastDeployments {
  align-items: flex-start;
  .statusText {
    padding: 2px 4px !important;
    border-radius: 6px;
  }
}

.pieChartLabelContainerStyles {
  padding-right: var(--spacing-small) !important;
}

.pieChartLabelStyles {
  font-size: var(--font-size-xsmall) !important;
}
