.main {
  min-width: 200px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  .header {
    min-height: 32px;
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-xsmall) !important;
    .title {
      margin-left: var(--spacing-small);
      font-size: var(--ci-font-size-normal) !important;
      font-weight: 500 !important;
      flex: 1;
    }
  }
  .content {
    flex: 1;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #c4c4c4;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--grey-350);
    }

    &.contentEmpty {
      border: 2px solid var(--grey-200);
      border-radius: 5px;
      padding: var(--spacing-xlarge) var(--spacing-large) !important;
    }
    > div {
      margin-bottom: var(--spacing-small);
    }
    .emptyView {
      .emptyViewItem {
        background-color: var(--grey-200);
        height: 50px;
        margin-bottom: var(--spacing-small);
      }
      .emptyViewCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        p {
          margin-top: var(--spacing-medium);
        }
      }
    }
  }
  .showMoreLink {
    align-self: end;
    margin-top: 2px !important;
    color: var(--ci-color-blue-500) !important;
  }
}
