.isPopoverParent {
  :global {
    .bp3-popover-target {
      // This is needed else, with many input sets selected, the popover overlaps the children
      display: table-caption;
    }
  }
}

.selectedInputSetTypeIcon {
  margin: 0 !important;
}

.selectedInputSetCard {
  border: 1px solid var(--form-field-border) !important;
  background-color: var(--grey-100) !important;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16) !important;
  cursor: move;
}

.selectedInputSetOrder {
  background-color: var(--grey-200) !important;
  min-height: 15px !important;
  color: var(--primary-7) !important;
  padding: 0 var(--spacing-small) !important;
}

.selectedInputSetLi {
  list-style-type: none;
}

.addInputSetButton {
  padding: 0 !important;
}

.clearButton {
  border: 0;
  background: none;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;

  :global(.bp3-icon) {
    color: var(--primary) !important;
  }
}

.input-set-number {
  background-color: var(--grey-200) !important;
  width: 22px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--primary) !important;
}

.input-set-button {
  background-color: var(--grey-100) !important;
  padding: 6px !important;
  border-radius: 100px;
  box-shadow: 0px 0px 1px rgb(40 41 61 / 8%), 0px 0.5px 2px rgb(96 97 112 / 16%);
}

.input-set-name {
  color: var(--primary) !important;
}

.input-set-dots {
  color: var(--grey-500) !important;
  opacity: 0.4;
  letter-spacing: -7.5px;
  font-size: medium !important;
}

.draggable-list {
  list-style-type: none;
  display: flex;
  padding: 0 !important;
}

.placeholder {
  color: var(--primary);
  display: flex;
  align-items: center;
}

.placeholder-icon {
  margin: 0 !important;
  background-color: var(--primary) !important;
  color: white !important;
  border-radius: var(--spacing-1) !important;
  margin-right: var(--spacing-small) !important;
}

.popover-container {
  width: 360px !important;
  max-height: 350px;
}

.search {
  :global(.bp3-input) {
    height: var(--spacing-xxxlarge) !important;
    border: none !important;
    padding-left: 20px !important;
    color: var(--primary) !important;
  }

  :global(.bp3-input-action) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    :global(.bp3-icon) {
      color: var(--primary-7);
      padding-right: 12px;
    }
  }
}

.search-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  :global(.TextInput--main) {
    margin-bottom: 0 !important;
  }
}

.loading-search-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: var(--spacing-13);
  :global(.TextInput--main) {
    margin-bottom: 0 !important;
  }
}

.checkbox {
  padding-left: var(--spacing-large) !important;
  font-size: var(--font-size-small) !important;
  color: var(--black) !important;
}

.inputSetGitDetails {
  width: 100px !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}

.list {
  margin: var(--spacing-small) 0;
  height: 275px;
  overflow-x: auto;

  &.multiple {
    height: 200px;

    .item {
      display: block;
      padding: var(--spacing-small) var(--spacing-large);
      height: 45px;
      :global(.bp3-checkbox) {
        display: flex !important;
        align-items: center !important;
      }

      &.dragging {
        background-color: var(--yellow-450);
      }

      &.dragOver {
        border-top: 2px solid var(--primary-7);
      }

      > div {
        height: 32px;
      }

      .order {
        display: flex;
        align-items: center;

        .order-text {
          background-color: var(--grey-200);
          padding: 1px var(--spacing-xsmall);
          line-height: 1;
          margin-right: var(--spacing-xsmall);
          font-size: var(--font-size-small);
        }
      }
    }
  }

  .item {
    height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--font-size-small);

    &:hover {
      background: var(--primary-6);
      p {
        color: var(--white) !important;
      }
      g {
        fill: var(--white) !important;
      }
    }
  }
}

.tag {
  margin-right: var(--spacing-xsmall);
}

.spinner {
  transform: scale(0.6);
}

.renderSelectedValue {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  align-items: center;
}
