.container {
  box-shadow: none !important;
  color: var(--grey-800) !important;
  height: 36px !important;
  background-color: var(--white) !important;
  display: flex;
  justify-content: space-between;

  :global(.bp3-button-text) {
    width: 100%;
    height: 32px;
    overflow: overlay;
    white-space: nowrap;
    padding-top: 7px;
  }

  .clearButton {
    border: 0;
    background: none;
    color: var(--grey-400);
    cursor: pointer;
    visibility: hidden;

    &:hover {
      background-color: var(--blue-100);
    }
  }

  &:hover {
    .clearButton {
      visibility: visible;
    }
  }

  .placeholder {
    color: var(--grey-350);
  }
}

.popover-container {
  width: 360px !important;
  max-height: 350px;
}

.search {
  :global(.bp3-input) {
    height: var(--spacing-xxxlarge) !important;
    border: none !important;
    padding-left: 20px !important;
  }

  :global(.bp3-input-action) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    :global(.bp3-icon) {
      color: var(--primary-7);
      padding-right: 12px;
    }
  }
}

.search-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  :global(.TextInput--main) {
    margin-bottom: 0 !important;
  }
}

.loading-search-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: var(--spacing-13);
  :global(.TextInput--main) {
    margin-bottom: 0 !important;
  }
}

.checkbox {
  padding-left: var(--spacing-large) !important;
  font-size: var(--font-size-small) !important;
  color: var(--black) !important;
}

.list {
  margin: var(--spacing-small) 0;
  height: 275px;
  overflow-x: auto;

  &.multiple {
    height: 200px;

    .item {
      display: block;
      padding: 0 var(--spacing-small);

      :global(.bp3-checkbox) {
        display: flex !important;
        align-items: center !important;
      }

      &.dragging {
        background-color: var(--yellow-450);
      }

      &.dragOver {
        border-top: 2px solid var(--primary-7);
      }

      > div {
        height: 32px;
      }

      .order {
        display: flex;
        align-items: center;

        .order-text {
          background-color: var(--grey-200);
          padding: 1px var(--spacing-xsmall);
          line-height: 1;
          margin-right: var(--spacing-xsmall);
          font-size: var(--font-size-small);
        }
      }
    }
  }

  .item {
    height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--font-size-small);

    &:hover {
      background: var(--blue-100);
    }
  }
}

.tag {
  margin-right: var(--spacing-xsmall);
}

.spinner {
  transform: scale(0.6);
}
