.header {
  background-color: var(--primary-1) !important;
  .filePath {
    max-width: 300px;
  }

  .gitBranch {
    input {
      background-color: var(--primary-1) !important;
      height: 25px;
      padding-top: var(--spacing-1);
      padding-bottom: var(--spacing-1);
    }
    :global {
      .bp3-active,
      .bp3-menu-item:hover {
        background-color: var(--primary-2) !important;
        color: var(--grey-900) !important;
      }
    }
  }
}

.tags {
  padding: var(--spacing-small);
  background: none;
  color: var(--primary-7);
  cursor: pointer;
  letter-spacing: 0.5px;
}
.activeTag {
  background: var(--blue-900);
  color: var(--white);
  height: 32px;
  border-radius: 4px;
}
.breadCrumb {
  font-size: 12px !important;
}
