.header {
  background-color: var(--primary-1) !important;
  .filePath {
    max-width: 300px;
  }

  .gitBranch {
    input {
      background-color: var(--primary-1) !important;
      height: 25px;
      padding-top: var(--spacing-1);
      padding-bottom: var(--spacing-1);
    }
    :global {
      .bp3-active,
      .bp3-menu-item:hover {
        background-color: var(--primary-2) !important;
        color: var(--grey-900) !important;
      }
    }
  }
}

.tags {
  padding: 3px var(--spacing-5);
  font-weight: 600;
  border-radius: 25px;
  font-size: var(--font-size-normal);
  color: var(--primary-7);
  cursor: pointer;
  line-height: 24px;
  background: none;
  &:hover {
    text-decoration: none;
    &:not(.active) {
      background: var(--grey-100);
    }
  }
  &.active {
    background: var(--primary-9);
    color: var(--white);
  }
}
.breadCrumb {
  font-size: 12px !important;
}
