.header {
  background-color: var(--blue-200) !important;
}

.tags {
  padding: var(--spacing-small);
  background: none;
  color: var(--primary-7);
  cursor: pointer;
  letter-spacing: 0.5px;
}
.activeTag {
  background: var(--blue-900);
  color: var(--white);
  height: 32px;
  border-radius: 4px;
}
.breadCrumb {
  font-size: 12px !important;
}
