.execHistoryCheckbox {
  :global {
    label {
      padding-left: 0 !important;
      color: var(--black) !important;
      font-size: 14px !important;
    }

    .bp3-control-indicator {
      margin-left: 0 !important;
      margin-right: var(--spacing-small) !important;
    }
  }
}

.approvalMessage {
  :global {
    textarea {
      min-height: 50px;
      max-height: 120px;
      height: 75px !important;
    }

    .bp3-input {
      height: 75px !important;
    }

    .MultiTypeInput--btn {
      height: 30px !important;
    }
  }
}

.headerRow,
.responseMappingRow {
  display: grid;
  grid-template-columns: 1fr 1.5fr 30px;
  column-gap: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  align-items: center;

  :global(.bp3-form-group) {
    margin: 0;
  }

  .label {
    color: var(--grey-400);
  }

  :global(.bp3-icon-trash) {
    color: var(--grey-400) !important;
  }
}

.align {
  align-items: center;
}

.md {
  width: 75%;
}

.sm {
  width: 50%;
}

.deploymentViewMedium {
  width: 50% !important;
}
