.container {
  border-bottom: 1px solid var(--primary-6);
  :global(.default-node),
  :global(.create-node) {
    height: auto;
  }
  .createNewModal {
    margin-top: 0px !important;
  }
  .approvalLayout {
    transform: translate(-24px, 12px);
    .stageType {
      margin-top: 18px;
    }
  }
  .normalLayout {
    align-items: center;
  }
}
