.container {
  border-bottom: 1px solid var(--primary-6);
  :global(.default-node),
  :global(.create-node) {
    height: auto;
    padding-bottom: var(--spacing-xlarge);
  }
  .createNewModal {
    margin-top: 0px !important;
  }
  .stageType {
    line-height: 40px !important;
  }
}
