@import '../DrillDownViewPartial.module';

.main {
  height: 67vh;
  padding: var(--spacing-large) !important;

  .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-small);

    .clusterHeading {
      font-size: var(--font-size-small) !important;
    }

    .tabContainer {
      :global {
        .bp3-tabs {
          .bp3-tab-list {
            border-bottom: none !important;
          }
          width: 200px !important;
          .bp3-tab[role='tab'] {
            font-size: 10px;
            line-height: unset !important;
            margin-top: 0 !important;
          }
        }
      }
    }
  }
  .logContainer {
    height: 52%;
  }
}
