.main {
  padding: calc(var(--spacing-large) * 2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 35px;
  grid-gap: var(--spacing-large) 50px;

  .rowContent {
    .anomalyType {
      margin-bottom: var(--spacing-small);
    }
    .verificationPeriod {
      margin-bottom: var(--spacing-small);
    }
  }
  .buttonContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: flex-end;
  }
}
