.main {
  :global {
    .bp3-tab-list {
      margin: 0 auto;
      width: 240px;
      [data-tab-id='tabId1'] {
        margin-left: var(--spacing-large);
      }
    }
  }

  .content {
    max-height: 410px;
    overflow-y: scroll;
  }

  .metricPackContainer {
    display: flex;
    margin: var(--spacing-medium);

    .metricPackName {
      color: var(--black);
      margin-right: var(--spacing-medium);
      position: relative;
      top: 10px;
      word-break: break-word;
      width: 120px;
    }
  }

  .cardContainer {
    --status-card-width: 120px;
    width: 100%;
    display: grid;
    grid-gap: var(--spacing-large) var(--spacing-large);
    grid-template-columns: repeat(auto-fit, var(--status-card-width));
    grid-template-rows: auto;

    .dataTitle {
      font-size: var(--font-size-small);
      font-weight: 600;
    }

    .smallFont {
      font-size: 10px;
      white-space: nowrap;
    }

    .statusIcon {
      position: relative;
      top: 2px;
    }

    .dataContainer {
      > p:first-child {
        margin-bottom: var(--spacing-xsmall);
      }
    }

    [class*='card'] {
      width: var(--status-card-width) !important;
      height: 70px !important;
      padding: var(--spacing-small) var(--spacing-xsmall) !important;
      box-shadow: none !important;
    }

    .statusCard {
      display: grid;
      grid-template-columns: var(--spacing-medium) 1fr;
    }

    .successCard {
      border: 1px solid var(--green-500);
      background: var(--green-100);
      .count {
        font-size: var(--font-size-medium);
      }
    }
    .errorCard {
      border: 1px solid var(--red-500);
      background: var(--red-100);
      color: var(--red-500);
    }
    .noDataCard {
      border: 1px solid var(--grey-500);
      color: var(--grey-500);
    }

    .callLogs {
      cursor: pointer;
    }
  }
}

:global {
  .bp3-dialog {
    transform: unset !important;
    top: unset !important;
    right: inherit !important;
  }
}
