.main {
  height: var(--execution-stage-details-height);
  background: var(--primary-bg);
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--grey-200);
  border-top: 1px solid var(--grey-200);
  z-index: 1;
  display: grid;
  grid-template-columns: minmax(300px, 3fr) minmax(100px, 2fr);
  overflow: hidden;

  .stageDetails {
    padding: var(--spacing-4) var(--spacing-2);
    display: grid;
    grid-template-columns: 400px minmax(10px, 1fr);
    max-height: var(--execution-stage-details-height);
  }

  .lhs {
    position: relative;
    padding: 0 var(--spacing-6);

    &[data-has-sibling='true']::after {
      content: '';
      position: absolute;
      height: calc(var(--execution-stage-details-height) / 2);
      width: 1px;
      background: var(--grey-400);
      opacity: 0.2;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  .stageTop {
    display: flex;
    column-gap: var(--spacing-3);
    align-items: center;
    justify-content: space-between;

    .stageName {
      font-size: var(--font-size-normal);
      font-weight: 600;
      line-height: 1.25;
      margin-bottom: var(--spacing-3);
    }
  }

  .times {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-small);
    --typography-size: var(--font-size-small);
    --intent-color: var(--grey-900);
    margin-bottom: var(--spacing-3);

    .timeLabel {
      color: var(--grey-500);
    }

    .timeDisplay {
      white-space: nowrap !important;
    }
  }

  .moreInfo {
    font-size: var(--font-size-small);
    color: var(--primary-7);
    display: inline;
    cursor: pointer;
  }

  .errorMsgWrapper {
    background-color: var(--red-100);
    display: flex;
    align-items: center;
    padding: 0 0 0 var(--spacing-5);
    max-height: var(--execution-stage-details-height);
  }

  .errorMsg {
    padding: var(--spacing-5);
    max-height: 100%;
    overflow-y: auto;

    p {
      font-size: var(--font-size-xsmall);
      line-height: 1.5;
      margin: 0;
    }
  }

  .errorTitle {
    font-size: var(--font-size-small);
    font-weight: 500;
    line-height: 1.33;
    color: var(--red-600);
    margin-bottom: var(--spacing-1);
  }
}
