.secondStep {
  margin: var(--spacing-small) 0 var(--spacing-small) var(--spacing-small) !important;
  .headingStepTwo {
    font-size: var(--font-size-medium);
    letter-spacing: 0;
    color: var(--grey-800);
  }

  .stepFormWrapper {
    padding: 2px;
    min-height: 480px;
    overflow: auto;

    :global {
      .bp3-input,
      .bp3-button,
      .bp3-checkbox {
        height: 36px;
      }
    }

    .authHeaderRow {
      display: flex;
      justify-content: space-between;

      .authTitle {
        font-size: var(font-size-normal);
        color: var(--black-600);
        padding-top: var(--spacing-small);
      }
      :global {
        .bp3-input-group {
          .bp3-input {
            width: 100% !important;
            border: none !important;
            padding: var(--spacing-small) 0;
            min-width: 190px;
            text-align: end !important;
          }
        }
      }
    }

    .formRow {
      display: flex;
      :global {
        .bp3-form-group {
          width: 46%;
          .bp3-input,
          .bp3-button {
            width: 92%;
          }
        }
      }
    }
  }
}
