.cardWrapper {
  display: flex;
  flex-direction: column;
  div:not(:last-child) {
    margin-bottom: 1rem;
  }

  .cardBody {
    display: flex;
    // span {
    //   margin-right: 1.7rem;
    // }
  }
  .cardContent {
    margin-left: var(--spacing-medium) !important;
  }

  .kubIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardHeader {
    font-weight: 14px !important;
    font-weight: 600 !important;

    letter-spacing: -0.01px;
    line-height: 24px !important;
    width: auto;
    height: 24px;
  }
  .subTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 13px !important;
    width: 250px;
    height: 38px;
    line-height: 20px;
    /* or 154% */

    letter-spacing: -0.01px;

    /* Gray Scale / Gray Scale 500 */

    color: #6b6d85;
  }
  :global {
    .bp3-card {
      width: 518px;
      height: 98px;
    }
    .bp3-card:not(:nth-child(2)) {
      background-color: var(--grey-200);
    }
  }
}
