.mainContainer {
  // Seems like no need in settings fixed height since the container has fixed height already
  // height: calc(100vh - 150px);
  overflow: auto;
  padding: var(--spacing-medium);
  height: calc(100vh - 167px);

  .graph {
    --cell-size: 14px;
    --cell-gap: 2px;

    list-style: none;
    padding: 0 !important;
    margin: 0;
    display: grid;
    grid-gap: var(--cell-gap);
    overflow: hidden;

    // grid-template-columns: repeat(33, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(14px, 14px));
    grid-template-rows: 1fr 1fr;

    li {
      background-color: #6bd167;
      border-radius: 2px;
      height: var(--cell-size);
      width: var(--cell-size);

      > span,
      > span > span,
      > span > span > span {
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }

    li[data-status='failed'],
    li[data-status='error'] {
      background-color: #da291d;
    }

    li[data-status='skipped'] {
      background-color: var(--grey-300);
    }

    li[data-status='empty'] {
      background-color: #f3f3fa;
    }
  }
}

.widgetWrapper {
  display: flex;
  flex-direction: column;
}

.leftContainer {
  flex-shrink: 0;
  width: 510px;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.widget {
  background: var(--white) !important;
  border-radius: 6px;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  padding: var(--spacing-medium) !important;
}

.stats {
  flex-grow: 1;
  flex-basis: 50%;
  border-radius: 12px;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);

  .statsTitle {
    display: block;
    font-weight: 500 !important;
    color: #9293ab;
  }

  .statsNumber {
    font-size: 32px;
    font-weight: 600;
    &.row {
      display: flex;
      align-items: baseline;
      .diff {
        display: inline-flex;
        align-items: center;
        margin-left: var(--spacing-xsmall);
        font-size: var(--font-size-small);
        color: var(--grey-500);
      }
      .diffNegative {
        color: var(--red-500);
        svg {
          fill: var(--red-500);
        }
      }
    }
  }
  &.timeSaved {
    background-color: var(--blue-100) !important;
    .statsNumber {
      color: var(--purple-700);
    }
  }
}

.overview {
  width: 360px;
  flex-shrink: 0;

  .linesWrapper {
    position: absolute;
    top: var(--spacing-medium);
    right: var(--spacing-medium);
    bottom: var(--spacing-medium);
    display: flex;
    flex-direction: column;
    width: 5px;
  }

  .line {
    min-height: 5px;
    border-radius: 100px;
    background-color: #d9dae6;

    &.selected {
      background-color: #00ade4;
      opacity: 0.7;
    }

    &:first-child {
      margin-bottom: 2px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.reportsOverview {
  .stats {
    border-radius: 5px;
    .statsNumber {
      display: block;
      font-size: 23px;
      font-weight: bold;
    }
  }

  .graphWrapper {
    border-radius: 5px;
  }

  .graphContainer {
    max-height: 255px;
    overflow: auto;
  }

  .overviewResultLabel {
    white-space: nowrap !important;
    overflow: hidden;

    &:after {
      background-color: var(--grey-300);
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      left: 10px;
      width: 100%;
    }
  }
}

.executionResult {
  width: 510px;
  flex-grow: 1;
  flex-shrink: 0;

  .graphContainer {
    max-height: 174px;
    overflow: auto;
  }
}

.selectionBreakdown {
  width: 380px;
  flex-shrink: 0;

  .widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section {
    background-color: #f8f8fc !important;
    border-radius: 6px;
    padding: var(--spacing-small) var(--spacing-medium) !important;

    .type {
      flex-grow: 1;
      flex-shrink: 0;
      margin-right: var(--spacing-xxxlarge) !important;
    }

    .number {
      font-size: 20px !important;
    }
  }
}

.coverage {
  width: 500px;
  flex-shrink: 0;

  .columnNames {
    display: grid;
    grid-template-columns: 148px 158px 104px;
    margin-bottom: var(--spacing-small);
    padding-left: 60px;
  }
}

.coverageItem {
  border-radius: 6px;

  &:nth-of-type(odd) {
    background-color: var(--grey-50) !important;
  }

  .header {
    display: grid;
    grid-template-columns: 160px 125px 90px;
    align-items: center;
    justify-content: space-between;

    .name {
      display: block !important;
      width: 115px;
      text-overflow: ellipsis;
    }
  }

  .commitHash {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    margin-left: var(--spacing-large);
    color: var(--blue-600);
    font-size: var(--font-size-small);
    line-height: var(--font-size-xsmall);
    background: var(--grey-100);
    border: 1px solid var(--grey-300);
    border-radius: var(--spacing-xsmall);
    cursor: pointer;

    > * + * {
      border-left: 1px solid var(--grey-300);
    }

    > * {
      padding: 2px var(--spacing-xsmall) !important;
    }

    > *:last-child {
      color: var(--blue-600) !important;
    }
  }

  .method {
    display: grid;
    grid-template-columns: 140px auto;
    padding: var(--spacing-xsmall) var(--spacing-small);

    &:nth-of-type(2n) {
      background-color: #fafafa;
    }

    .name {
      display: block !important;
      width: 135px;
      text-overflow: ellipsis;
    }
  }

  :global {
    .bp3-tabs {
      padding-left: 45px;
    }

    .bp3-tab {
      font-size: var(--font-size-normal) !important;
      margin-top: 0 !important;
      margin-bottom: var(--spacing-xsmall) !important;
    }

    .bp3-tab-indicator-wrapper {
      top: 7px !important;
    }
  }
}

.testCasesHeader,
.rightContainer {
  flex-grow: 1;
}

.rightContainer {
  width: 955px;
  flex-shrink: 0;
}

.testsSelectionBreakdown {
  height: 8px;
  margin-top: var(--spacing-small);

  :global {
    .bp3-progress-meter {
      background: linear-gradient(147.14deg, #73dfe7 6.95%, #0095f7 93.05%) !important;
    }
  }
}

.testSuite {
  &.expanded {
    padding-bottom: 0 !important;

    .headingContainer {
      border-bottom: 1px solid var(--grey-200);
      padding-bottom: var(--spacing-small) !important;
    }
  }

  .headingContainer {
    margin-left: -15px !important;
    padding-left: 15px !important;
    margin-right: -15px !important;
    padding-right: 15px !important;
  }

  .testSuiteHeading {
    &.main {
      justify-content: center;
      align-items: center;
      display: flex;
      max-width: 910px;
      span {
        display: inline-block;
        padding-left: var(--spacing-xxsmall);
      }
    }
    span {
      color: var(--black);
      display: block;
      font-size: var(--font-size-normal);
      padding-top: 2px;
    }
  }

  .withSeparator {
    border-right: 0.5px solid #d9dae6;
    padding-right: var(--spacing-medium) !important;
    padding-left: var(--spacing-medium) !important;

    &:first-of-type {
      padding-left: 0 !important;
    }

    &:last-of-type {
      border: none !important;
    }
  }

  .progressBar {
    width: 65px;
    height: 11px;
  }

  .testSuiteTable {
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    margin: var(--spacing-medium);
    margin-left: var(--spacing-xxxlarge);
    overflow: hidden;

    &.clickable {
      [role='row']:not([class*='header']) {
        &:hover,
        &.rowSelected {
          background-color: var(--primary-1);
        }
      }
    }

    [role='row'] {
      border-bottom: 1px solid rgba(143, 144, 166, 0.1);
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 0;

      &:last-child {
        border-bottom: 0;
      }
    }

    .testCell {
      > span {
        width: 100%;

        > span {
          width: 100%;
        }
      }

      .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.failed {
          cursor: pointer;
        }
      }
    }
  }
}

.select {
  width: auto !important;
}

.testPopoverBody {
  max-width: 800px;

  .testPopoverHeading {
    border-bottom: 1px solid var(--grey-300);
    padding-bottom: var(--spacing-small) !important;
  }

  .testPopoverDetail {
    padding-top: var(--spacing-small) !important;
    max-height: 200px;
    overflow: auto;
  }
}

.loadingContainer {
  width: 515px !important;
  margin: 0 auto !important;
  padding-top: 140px !important;
  text-align: center;

  .progress {
    > div {
      background-color: #0092e4 !important;
    }
  }
}

.viewCallgraph {
  color: var(--primary-7) !important;
  margin-left: auto !important;
}

.graphLabel {
  background: var(--grey-50) !important;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  border-radius: 100px;
  padding: 2px 7px 2px 20px !important;
  font-size: var(--font-size-xsmall) !important;
  color: var(--grey-700) !important;
  position: relative;

  &::before {
    position: absolute;
    border-radius: 100%;
    content: '';
    width: 12px;
    height: 12px;
    left: 5px;
    top: 2px;
    background: transparent;
  }

  &.direct::before,
  &.indirect::before {
    border-top: 1px dashed #00ade4;
    border-bottom: none;
    border-right: none;
    border-left: none;
    transform: translateY(6px);
    border-radius: unset;
  }

  &.direct::before {
    border-top-style: solid;
  }

  &.changed::before {
    background: linear-gradient(147.14deg, #73dfe7 6.95%, #0095f7 93.05%);
  }

  &.unchanged::before {
    background: #d9dae5;
  }
}

.callgraphModal {
  padding-top: var(--spacing-4);

  .modalTitle {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: var(--grey-800) !important;
    padding-right: var(--spacing-large);

    span:last-of-type {
      color: var(--grey-500) !important;
    }
  }

  .searchInput {
    width: 250px !important;
    padding-right: var(--spacing-large);

    :global {
      .bp3-input {
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16) !important;
        border-radius: 100px !important;
      }
    }
  }

  :global {
    .bp3-dialog-header {
      .bp3-heading + button {
        margin-right: var(--spacing-medium) !important;
        transform: translateY(-8px);
      }
    }
  }
}

.callgraphContainer {
  .callgraphHeader {
    position: sticky;
    top: 0;

    .graphTitle {
      width: 340px;
      overflow: hidden;
    }

    .expandButton {
      padding: 0 !important;
      transform: scale(0.8) translateX(12px);
    }
  }

  .callgraphBody {
    border-radius: 6px;
    box-shadow: rgb(40 41 61 / 4%) 0px 0px 2px, rgb(96 97 112 / 16%) 0px 4px 8px;
    position: sticky;
    top: 35px;
  }

  .callgraphLoadingStatus {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.callgraphTooltip {
  padding: var(--spacing-medium);

  .sourceMethod {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.3px;
    color: var(--grey-700);
    margin: 0;
  }

  .methodName {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--grey-900);
    margin-bottom: var(--spacing-small);
  }

  .listRow {
    border-bottom: 0.5px solid rgba(0, 0, 0, 5%);
    margin: 0;
    padding: 0;
    padding: var(--spacing-small) 0;

    &:last-of-type {
      border: none;
      padding-bottom: 0;
    }

    .listName {
      width: 80px;
      display: inline-block;
      font-size: 12px;
      line-height: 13px;
      color: var(--grey-600);
    }

    .listValue {
      display: inline-block;
      font-weight: 500;
      font-size: 12px;
      line-height: 13px;
      color: var(--black);
    }
  }
}
