.secondStep {
  min-height: 500px;

  .dockerProviderType {
    font-size: var(font-size-normal) !important;
  }

  :global {
    .bp3-input,
    .bp3-button,
    .bp3-checkbox {
      height: 36px;
    }
  }

  .authHeaderRow {
    display: flex;

    justify-content: space-between;

    .authTitle {
      font-size: var(font-size-normal);
      color: var(--black-600);
      padding-top: var(--spacing-small);
      font-weight: bold !important;
    }
  }
}
