.info {
  background-color: var(--yellow-100);
  padding: var(--spacing-4) var(--spacing-6) var(--spacing-8) var(--spacing-6);

  & :global(.bp3-icon) {
    & path {
      fill: currentColor !important;
    }
  }

  .timer {
    --intent-color: var(--orange-900);
    font-size: var(--font-size-small);
    font-weight: bold;
    display: inline-flex;
    align-items: center;

    .duration {
      --font-size: var(--font-size-small);
      font-weight: bold;
      margin-right: var(--spacing-xsmall);
      color: currentColor;
    }
  }

  .jira-ticket {
    margin-bottom: var(--spacing-large);

    & a {
      margin-left: var(--spacing-xsmall);
      color: var(--primary-7);
    }
  }
}

.jira-approval {
  padding: var(--spacing-medium) var(--spacing-large);
}
