.main {
  padding: var(--spacing-large) !important;
  :global {
    .bp3-tab-list {
      margin: 0 auto !important;
      width: 240px;
      border-bottom: none;
      [data-tab-id='tabId1'] {
        margin-left: var(--spacing-large);
      }
      .bp3-tab {
        font-size: var(--font-size-xsmall);
        &[aria-selected='true'] {
          color: var(--blue-500);
        }
      }
    }
  }

  .content {
    max-height: 410px;
    overflow-y: scroll;
  }

  .metricPackContainer {
    display: flex;
    margin: var(--spacing-medium) !important;

    .metricPackName {
      color: var(--black);
      margin-right: var(--spacing-medium) !important;
      position: relative;
      font-size: var(--font-size-small) !important;
      top: 10px;
      word-break: break-word;
      width: 120px;
    }
  }

  .cardContainer {
    --status-card-width: 120px;
    width: 100% !important;
    display: grid;
    grid-gap: var(--spacing-large) var(--spacing-large);
    grid-template-columns: repeat(auto-fit, var(--status-card-width));
    grid-template-rows: auto;

    .dataTitle {
      font-size: var(--font-size-small) !important;
      font-weight: 600;
    }

    .smallFont {
      font-size: var(--font-size-xsmall) !important;
      white-space: nowrap;
    }

    .statusIcon {
      position: relative;
      top: 2px;
    }

    .dataContainer {
      :global {
        .bp3-popover-wrapper {
          display: block;
          height: 15px;
        }
      }
    }

    [class*='card'] {
      width: var(--status-card-width) !important;
      height: 75px !important;
      padding: var(--spacing-small) var(--spacing-xsmall) !important;
      box-shadow: none !important;
    }

    .statusCard {
      display: grid;
      grid-template-columns: var(--spacing-medium) 1fr;
    }

    .successCard {
      border: 1px solid var(--green-300);
      background: var(--green-100);
      .count {
        font-size: var(--font-size-medium) !important;
        margin-top: var(--spacing-small);
      }
    }
    .errorCard {
      border: 1px solid var(--red-300);
      background: var(--red-100);
      color: var(--red-400);

      :global {
        .bp3-popover-wrapper {
          display: block;
          &:first-child {
            height: 20px;
          }
          &:nth-child(2) {
            height: 14px;
          }
        }
      }
    }
    .noDataCard {
      border: 1px solid var(--grey-300);
      color: var(--grey-300);
    }

    .callLogs {
      cursor: pointer;
      margin-top: var(--spacing-xsmall) !important;
    }
  }
}

:global {
  .bp3-dialog {
    transform: unset !important;
    top: unset !important;
    right: inherit !important;
    border-left: none !important;
  }
}
