.group {
  display: flex;

  &:not(:first-child):not(.without-spacing) {
    margin-top: var(--spacing-medium);
  }

  > * {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: var(--spacing-medium) !important;
    }
  }
}

.label {
  padding-bottom: var(--spacing-small);
}
