.draggingScrubber {
  cursor: grabbing !important;
}

.noRiskScore {
  background-color: var(--grey-350) !important;
}

.scrubber {
  width: 80% !important;
  position: absolute;
  top: 20px;
  left: 8px;
  border: 1px solid var(--blue-500);
  border-radius: 4px;
  z-index: 1;
  cursor: grab;
  height: 40px !important;
}

.scrubberLaneContainer {
  border-right: 1px dashed var(--grey-350);
  justify-content: center;
  display: flex;
  padding-top: var(--spacing-xlarge) !important;
  padding-right: var(--spacing-small) !important;
  padding-left: var(--spacing-xsmall) !important;
  position: relative;
  width: 80px;

  .laneContainer {
    display: flex;
    .scrubberLane {
      position: relative;
      &:not(:last-of-type) {
        margin-right: 9px !important;
      }
      .activity {
        border-radius: 50%;
        opacity: 0.7;
      }
    }
  }
}
