.stepContainer {
  padding: 10px !important;

  .heading {
    color: var(--grey-800);
    font-size: var(--font-size-medium);
    letter-spacing: 0;
  }
}

.stepFormContainer {
  padding: 10px !important;
  margin-top: 32px !important;
}

.layoutFooter {
  position: absolute;
  bottom: 40px;
}

.nextButton {
  margin-right: 8px;
}
.fullHeight {
  height: 100%;
  min-height: 600px;
}

.connectorForm {
  min-height: 440px;
}

.validationStatus {
  margin-left: var(--spacing-xlarge);
  font-weight: 600;
}

.error {
  color: var(--red-700);
}

.success {
  color: var(--green-700);
}
