.stepContainer {
  padding: 10px !important;
}

.stepFormContainer {
  padding: 10px !important;
  margin-top: 32px !important;
}

.layoutFooter {
  position: absolute;
  bottom: 40px;
}

.nextButton {
  margin-right: 8px;
}
.fullHeight {
  height: 100%;
  min-height: 600px;
}
