.card {
  margin-right: var(--spacing-small);
}

.radioSelect {
  :global(.bp3-card) {
    height: 200px;
    vertical-align: top;
    background-color: var(--white);
    margin-right: var(--spacing-medium);
    margin-block-end: var(--spacing-medium);
  }
}

.radioSelectPurpose {
  margin: 50px 40px 80px;

  :global(.bp3-card) {
    margin-right: var(--spacing-medium);
    width: 200px;
  }
}

.halfWidth {
  width: 50%;
  padding-right: var(--spacing-huge);
  padding-top: var(--spacing-xxlarge);
  vertical-align: top;
}

.border {
  border-right: inset;
}

.started {
  padding-right: 65px !important;
}

.modalPage {
  padding: 75px 40px 30px !important;
}

.text {
  padding-top: 65px !important;
  padding-bottom: 150px !important;
}

.textPadding {
  padding-top: 140px !important;
}
.button {
  width: 140px !important;
}
