.card {
  margin-right: var(--spacing-small);
}

.radioSelect {
  :global(.bp3-card) {
    height: 140px;
    vertical-align: top;
    background-color: var(--white);
    margin-right: var(--spacing-medium);
  }
}

.radioSelectPurpose {
  margin: 50px 40px 80px;

  :global(.bp3-card) {
    margin-right: var(--spacing-medium);
    width: 200px;
  }
}

.halfWidth {
  width: 50%;
  padding-right: var(--spacing-huge);
  padding-top: var(--spacing-xxlarge);
  vertical-align: top;
}

.collapseDiv div {
  border-top: none;
  padding: 0;
}

.button {
  color: var(--blue-500) !important;
}

.preview {
  background: var(--grey-100) !important;
}

.clone {
  padding: var(--spacing-large) !important;
}

.align {
  align-items: center;
}

.toEnd {
  justify-content: flex-end;
}

.invites {
  align-items: center;
  border-top: 1px solid var(--grey-200);
  border-bottom: 1px solid var(--grey-200);
}

.collaboratorForm {
  max-width: 470px;
  min-height: 450px;
}

.pendingList {
  max-height: 250px;
  overflow: scroll;
}

.colorBar {
  width: 105px;
  height: var(--spacing-medium);
  border-radius: var(--spacing-small);
  padding: 1px 9px !important;

  &.pending {
    background-color: var(--blue-200) !important;
  }

  &.request {
    background-color: var(--yellow-200) !important;
  }
}

.input {
  width: 400px;
}

.url {
  width: 450px;
}
