// colors
$status-success: green;
$status-in-progress: #3e7bfa;
$status-failed: red;
$status-pending: gray;
$step-background-color: #f2f2f2;

// border and corners
$status-corner-radius: 8px;
ul {
  padding: 0 20px;
}

.step {
  // background-color: $step-background-color;
  display: flex;
  width: 240px;
  height: 35px;
  align-items: center;
  padding: 0px 20px;
  margin: 2px 0;

  .stepDuration {
    font-size: 8px;
    margin-right: 5px;
    width: 20%;
    text-align: end;
  }

  .stepLabel {
    margin-left: 15px;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 60%;
    cursor: default;
    white-space: nowrap;
  }

  &:active {
    border-radius: 30px;
  }
  &:hover {
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(104, 104, 104, 0.1);
  }
}
.subStep {
  width: 180px;
}

.selected {
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(104, 104, 104, 0.1);
}
