.card {
  width: 190px;
  height: 230px;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent !important;
  &:hover {
    cursor: pointer;
    border: 1px solid var(--primary-7) !important;
  }
  margin: var(--spacing-medium) var(--spacing-none);
}

.halfWidth {
  width: 50%;
  padding-right: var(--spacing-huge);
  padding-top: var(--spacing-xxlarge);
  vertical-align: top;
}

.border {
  display: grid;
  border-right: inset;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto auto;
  padding: 0px 30px 0px 0px;
}

.started {
  padding-right: 65px !important;
}

.text {
  padding-top: 65px !important;
  padding-bottom: 150px !important;
}

.textPadding {
  padding-top: 140px !important;
}
.button {
  width: 140px !important;
}

.description {
  min-height: 72px;
}
.time {
  max-width: var(--spacing-xxxlarge);
  overflow: unset;
}

.enable {
  border: 1px solid var(--primary-7) !important;
  color: var(--primary-7) !important;
  min-height: var(--spacing-large) !important;
  height: var(--spacing-large) !important;
  padding: 2px var(--spacing-large) !important;
}

.enabled {
  border: 1px solid var(--green-600) !important;
  background: var(--green-300) !important;
  color: var(--green-600) !important;
  min-height: var(--spacing-large) !important;
  height: var(--spacing-large) !important;
  padding: 2px var(--spacing-large) !important;
}
