.main {
  background: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top: 1px solid var(--primary-3);

  & > :global(.bp3-spinner) {
    flex: 1;
  }

  .header {
    padding: var(--spacing-large);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 128px;
    column-gap: var(--spacing-xsmall);

    .btn {
      padding: 0 !important;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-self: end;
      column-gap: var(--spacing-small);
    }
  }

  [data-state='floating'] & {
    width: 520px;
    height: 630px;
    box-shadow: 0 2px 8px var(--grey-400);
    border-radius: 8px;
    border-top-color: transparent;
  }

  .title {
    font-weight: 500;
    font-size: var(--font-size-normal);
    line-height: 18px;
    color: var(--grey-400);
  }

  .retry {
    background-color: var(--grey-100) !important;
    height: 24px !important;
    min-height: auto;
    border-radius: 4px !important;
    padding: 0 var(--spacing-3) !important;
    border: 1px solid var(--grey-200) !important;

    .retryStatusIcon:first-child {
      margin-right: var(--spacing-3);
    }

    &[data-status='success'] {
      .retryStatusIcon:first-child {
        color: var(--green-500) !important;
      }
    }

    &[data-status='running'] {
      .retryStatusIcon:first-child {
        color: var(--primary-7) !important;
      }
    }

    &[data-status='failed'] {
      background-color: var(--red-100) !important;

      .retryStatusIcon:first-child {
        color: var(--red-500) !important;
      }
    }

    :global(.bp3-button-text) {
      white-space: nowrap;
    }
  }
}

.retryMenu {
  box-shadow: var(--elevation-3);

  :global(.bp3-menu) {
    padding: var(--spacing-3) 0;
    border-radius: 4px;
    min-width: 115px;
  }
}
