.main {
  background: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;

  & > :global(.bp3-spinner) {
    flex: 1;
  }

  .header {
    padding: var(--spacing-large);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 128px;
    column-gap: var(--spacing-xsmall);

    .btn {
      padding: 0 !important;
    }

    &.isApproval {
      grid-template-columns: 1fr 60px 128px;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-self: end;
      column-gap: var(--spacing-small);
    }
  }

  [data-state='floating'] & {
    width: 520px;
    height: 630px;
    box-shadow: 0 2px 8px var(--grey-400);
    border-radius: 8px;
  }

  .title {
    font-weight: 500;
    font-size: var(--font-size-normal);
    line-height: 18px;
    color: var(--grey-400);
  }

  .more {
    & svg[data-icon='more'] {
      transform: rotate(90deg);
      transform-origin: 50% 50%;
    }
  }

  .tabs {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);

    & > :global(.bp3-tab-list) {
      width: 100%;
      height: 34px;
      padding: var(--spacing-none) var(--spacing-large);
      align-items: center;
      box-shadow: inset var(--grey-200) 0px -4px 0px;
    }

    & :global(.bp3-tab-panel) {
      margin-top: var(--spacing-none);
      flex: 1 1 0;
      max-height: calc(100% - 30px);
      overflow-y: auto;
    }

    & :global(.bp3-tab) {
      line-height: 24px;
      padding: var(--spacing-none) var(--spacing-small) var(--spacing-small) var(--spacing-small);
    }

    & :global(.bp3-tab-indicator-wrapper .bp3-tab-indicator) {
      background-color: var(--primary-7);
      height: 4px;
    }
  }
}
