.main {
  background: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top: 1px solid var(--primary-3);

  & > :global(.bp3-spinner) {
    flex: 1;
  }

  .header {
    padding: var(--spacing-large);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 128px;
    column-gap: var(--spacing-xsmall);

    .btn {
      padding: 0 !important;
    }

    &.isApproval {
      grid-template-columns: 1fr 60px 128px;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-self: end;
      column-gap: var(--spacing-small);
    }
  }

  [data-state='floating'] & {
    width: 520px;
    height: 630px;
    box-shadow: 0 2px 8px var(--grey-400);
    border-radius: 8px;
    border-top-color: transparent;
  }

  .title {
    font-weight: 500;
    font-size: var(--font-size-normal);
    line-height: 18px;
    color: var(--grey-400);
  }

  .more {
    & svg[data-icon='more'] {
      transform: rotate(90deg);
      transform-origin: 50% 50%;
    }
  }
}
