.editableText {
  display: inline-block;
  color: var(--primary-7);
  padding: 0 4px;
  font-size: var(--font-size-small);
}

.editing {
  border: 1px solid var(--grey-300);
  padding: 0 4px;
  margin-left: 4px;
}
