.children {
  height: 100vh;
  background-color: var(--grey-100);
}

.main {
  display: grid;
  grid-template-columns: 90px 180px 1fr;

  &[data-layout='minimal'] {
    grid-template-columns: 90px 1fr;
  }

  &[data-layout='empty'] {
    grid-template-columns: 1fr;
  }
}
