.title {
  font-weight: 500;
  font-size: var(--font-size-medium) !important;
  line-height: 20px;
}
.checkbox {
  padding-left: var(--spacing-large) !important;
  font-size: var(--font-size-normal) !important;
  color: var(--black) !important;
}
.setupTab {
  width: 65%;
  :global {
    .bp3-tab-panel {
      margin: 0;
    }
    .bp3-tab[aria-selected='true'] {
      color: black !important;
    }
    .bp3-tab[aria-selected='false'] {
      color: var(--grey-800);
    }
    .bp3-tab-list {
      justify-content: center !important;
      position: relative !important;
      top: auto;
      background: white !important;
      border-bottom: none !important;
      margin-bottom: var(--spacing-small);
    }
    .bp3-tab-indicator-wrapper {
      top: 10px;
    }
    .bp3-tab-panel {
      position: relative !important;
      top: auto !important;
      height: auto !important;
      width: auto !important;
      overflow: visible !important;
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }
}
.fixedDrawer {
  top: '95px';
  box-shadow: rgb(40 41 61 / 4%) 0px 2px 8px, rgb(96 97 112 / 16%) 0px 16px 24px;
  border-radius: var(--spacing-medium);
  width: '392px';
  bottom: 0;
  right: 0;
  position: 'fixed';
  z-index: 20;
  background-color: var(--white);
}
.page {
  overflow: scroll;
  height: calc(100vh - 160px);
  margin-left: var(--spacing-xlarge) !important;
}
