.switch {
  display: inline-block;
  background-color: var(--grey-200);
  border-radius: 5px;
  font-size: smaller;

  .item {
    display: inline-block;
    padding: var(--spacing-xsmall) var(--spacing-medium);
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
  }

  .selected {
    background-color: var(--grey-400);
    color: var(--white);
    cursor: default;
  }
}
