.projectSelector {
  display: grid;
  grid-template-columns: 1fr 40px;
  margin-bottom: var(--spacing-small);

  .button {
    border: none !important;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3) !important;
    border-radius: 0 !important;
    height: 90px;
    color: #fff;
  }

  .projectButton {
    border-right: 1px solid rgba(204, 204, 204, 0.3) !important;
    justify-content: start !important;
    padding: var(--spacing-large) !important;
  }

  .selectButton {
    width: 100%;
  }

  .projectSelect {
    :global {
      .bp3-menu {
        max-height: 400px;
        overflow-y: auto;
        width: 232px;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}

.pickProjectHelp {
  padding: 40px 20px;
  background-position: 136px 0;
  background-size: 30px;
  background-repeat: no-repeat;
  color: var(--grey-450);
  line-height: 20px;
}

.dividerColorMargin {
  background: var(--grey-500);
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.addMargin {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.addPadding {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.removeMarginPadding {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
