.projectSelector {
  padding: var(--spacing-small) 0 var(--spacing-small) var(--spacing-xxlarge);
  background-color: var(--black);

  :global {
    .bp3-input-left-container > span {
      margin-left: 0 !important;
      margin-right: var(--spacing-small) !important;
    }
  }

  input {
    color: var(--blue-500) !important;
    background-color: transparent !important;
    border-width: 0 !important;

    & + span span {
      transform: translateX(-15px);
    }
  }

  &.noSelected {
    input::placeholder,
    input + span span {
      color: var(--white);
    }
  }
}
