.healthScoreCardContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: var(--spacing-large);
}

.healthScoreCard {
  height: 31px;
  min-width: 34px;
  border-radius: var(--spacing-xsmall) !important;
  font-size: var(--font-size-small);
  color: var(--white);
  text-align: center;
  font-weight: bold;
}

.tagsText {
  text-transform: capitalize;
}

.graphContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridUnselected {
  box-shadow: none !important;
  &:hover {
    color: var(--primary-7) !important;
  }
}

.listUnselected {
  box-shadow: none !important;
  &:hover {
    color: var(--primary-7) !important;
  }
}

.gridButton,
.listButton {
  padding-left: var(--spacing-none) !important;
  padding-right: var(--spacing-none) !important;
  min-width: 24px;
}

.gridButton {
  margin-right: var(--spacing-small) !important;
}
