.table {
  padding: var(--spacing-large) var(--spacing-xxlarge);
  padding-bottom: var(--spacing-none);
}

.roleButton {
  min-height: inherit !important;
  padding: var(--spacing-xsmall) var(--spacing-none) !important;
  min-width: 50px;
}

.truncatedText {
  :global {
    .bp3-popover-wrapper {
      height: 17.5px !important;
    }
  }
}
