.budgetStatus {
  width: 572px;
  height: 140px;
}

.alertCard {
  //   width: 346px;
  height: 140px;

  .alertText {
    white-space: nowrap;
    width: 130px;
  }
}

.budgetBarsText {
  line-height: 24px !important;
}

.budgetBar {
  background-color: var(--grey-200) !important;
}

.actualCostBar {
  background-color: var(--green-400) !important;

  &.alert {
    background-color: var(--orange-400) !important;
  }

  &.danger {
    background-color: var(--red-100) !important;
  }
}

.forecastCostBar {
  background-color: var(--green-100) !important;
  border: 1px dashed var(--green-800);

  &.alert {
    background-color: var(--orange-400) !important;
    border: 1px dashed var(--orange-800);
  }

  &.danger {
    background-color: var(--red-100) !important;
    border: 1px dashed var(--red-800);
  }
}

.costBars {
  width: 0px;
  transition: all 1s ease-in-out;
}
