.main {
  width: 180px;
  background: #07182b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .bottomContainer {
    position: relative;

    .titleContainer {
      margin-left: var(--spacing-small);
      margin-bottom: var(--spacing-medium);

      .title {
        font-size: 18px !important;
        letter-spacing: 1px;
      }
    }

    .iconContainer {
      position: absolute;
      bottom: 0;
      right: 0;
      overflow: hidden;
      height: 350px;
      width: 180px;

      .icon {
        position: absolute;
        left: -50px;
        bottom: -80px;
        opacity: 0.08;
      }
    }
  }
}

.link {
  display: block;
  padding: var(--spacing-small);
  margin-left: var(--spacing-medium);

  &:first-child {
    margin-top: var(--spacing-medium) !important;
  }

  &:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.15);
  }

  &.selected {
    background-color: var(--primary-7);

    .text {
      color: var(--white) !important;
    }
  }

  .text {
    color: var(--grey-400) !important;
  }
}
