.main {
  width: 180px;
  padding-left: var(--spacing-small);
  padding-top: var(--spacing-small);
  background: #07182b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .titleContainer {
    margin-left: var(--spacing-small);
    margin-bottom: var(--spacing-medium);

    .title {
      font-size: 18px !important;
      letter-spacing: 1px;
    }
  }

  .iconContainer {
    position: relative;
    margin-left: -19px;
    bottom: -80px;
    overflow: hidden;
    height: 350px;

    .icon {
      position: absolute;
      left: -50px;
      opacity: 0.08;
    }
  }
}

.link {
  display: block;
  padding: var(--spacing-small);
  border-radius: 5px 0 0 5px;

  &:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.15);
  }

  &.selected {
    background-color: var(--blue-500);

    .text {
      color: var(--white) !important;
    }
  }

  .text {
    color: var(--grey-400) !important;
  }
}
