.main {
  height: 100%;
  background: var(--theme-light-nav-panel-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .bottomContainer {
    position: relative;

    .titleContainer {
      margin-left: var(--spacing-medium);
      margin-bottom: var(--spacing-medium);
      margin-right: var(--spacing-large);

      .title {
        font-size: 16px !important;
        letter-spacing: 1px;
        font-weight: 600;
        opacity: 0.9;
      }
    }

    .iconContainer {
      position: absolute;
      bottom: 0;
      right: 0;
      overflow: hidden;
      height: 300px;
      width: 192px;

      .icon {
        position: absolute;
        left: -50px;
        bottom: -80px;
        opacity: 0.08;
      }
    }
  }
}

.link {
  display: block;
  margin-left: var(--spacing-medium);
  padding: var(--spacing-small) var(--spacing-medium);
  opacity: 0.8;
  z-index: 1;

  &:hover {
    text-decoration: none;
    opacity: 1;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: rgba(2, 120, 213, 0.5);
  }

  &.selected {
    background-color: rgba(2, 120, 213, 0.8);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    opacity: 1;
  }

  .text {
    color: var(--white) !important;
    font-size: 13px !important;
  }
}
