.main {
  background-color: var(--grey-50) !important;
  padding: var(--spacing-medium) !important;

  .groupLabel {
    font-size: 13px !important;
    margin-bottom: var(--spacing-small) !important;
  }

  .checkBoxGroup {
    > div {
      position: relative;
      left: 27px;
      label {
        font-size: var(--font-size-small) !important;
        color: var(--black) !important;
      }
    }
  }
}
