.templateForm {
  height: 100%;
  min-height: 400px;
  .halfWidth {
    width: 45%;
  }
  .helmAdvancedSteps {
    margin-bottom: 80px !important;
  }
  .commandFlags {
    margin-top: var(--spacing-large);
  }
  .runtimeInput {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
  .advancedStepOpen {
    min-height: 400px;
  }
  .repoName {
    margin-bottom: 0 !important;
  }
}

.checkbox {
  margin-right: var(--spacing-medium);
  margin-bottom: 0 !important;
}

.tooltip {
  > * {
    width: 50%;
  }
}

.tooltipContent {
  width: 200px;
}
