.mainContainer {
  position: relative;
  .diffContainer {
    margin-top: 20px;
    height: 150px;

    .diffHeader {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 16px;
      color: var(--grey-800);
      border-right: 1px solid var(--grey-200);
      border-left: 1px solid var(--grey-200);
      border-bottom: 1px solid var(--grey-200);

      .heading {
        padding: var(--spacing-xsmall);
      }

      .copyIcon {
        padding: var(--spacing-xsmall) var(--spacing-xsmall) 0 0;
        cursor: pointer;
      }
    }

    .diff {
      height: 100%;
      width: 100%;
    }
  }

  .timeframeContainer {
    margin-top: 80px !important;

    .actionText {
      cursor: pointer;
    }

    .histogram {
      width: 445px;
    }
  }

  .histogramContainer {
    margin-top: var(--spacing-large) !important;
  }

  .sliderContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;

    .limitHandle {
      background-color: var(--green-600);
    }

    .requestHandle {
      background-color: var(--blue-500);
    }

    :global {
      .bp3-slider > .bp3-slider-handle:nth-child(3) {
        background: var(--blue-500) !important;
      }

      .bp3-slider > .bp3-slider-handle:nth-child(4) {
        background: var(--green-500) !important;
      }

      .bp3-slider-progress.bp3-intent-primary {
        background-color: var(--blue-500) !important;
      }

      .bp3-slider-progress.bp3-intent-success {
        background-color: var(--green-500) !important;
      }

      .request-slider {
        background-color: var(--blue-500);
      }
    }
  }

  .xaxislabels {
    margin-bottom: var(--spacing-medium) !important;
  }

  .recommendationTypeContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: -24px;

    .recommendations {
      background-color: var(--grey-200) !important;
      border-radius: 8px;
      color: var(--primary9) !important;

      .selectedTab {
        background-color: #0a3364;
        border-radius: 8px;
        color: var(--grey-100) !important;
      }
    }
  }

  .recommendationTypeText {
    padding: var(--spacing-small) var(--spacing-xlarge) !important;
    cursor: pointer !important;
    width: 270px;

    .recommendationCost {
      align-items: center;
      border-radius: 8px;
      padding-top: 1px;
      background-color: rgba(0, 75, 164, 0.1);
    }

    .selectedTabCost {
      color: var(--grey-100);
      background-color: rgba(255, 255, 255, 0.2);
    }

    .astericSign {
      line-height: 10px !important;
      color: inherit !important;
    }
  }

  .legendContainer {
    display: grid;
    grid-template-columns: 1fr 20px 180px 20px 180px;
    margin-top: var(--spacing-medium) !important;
  }
}
