.content {
  display: grid;
  grid-template-rows: 78px 1fr;
  height: 100%;
  position: relative;
  overflow: hidden;

  .top-bar {
    display: grid;
    grid-template-columns: 1fr 125px 173px;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    border-bottom: 1px solid var(--pipeline-light-grey);
    .topButtons {
      width: 56px;
      border-radius: 14px;
      background-color: var(--white);
      display: inline-block;
      font-size: 10px;
      text-align: center;
      color: #b1b1b1;
      border: 1px solid var(--pipeline-grey-border);
      margin-left: 12px;
      padding-top: 2px;

      &.selected {
        color: var(--white);
        cursor: not-allowed;
        box-shadow: 0px 0px inset rgba(0, 0, 0, 0.5);
        background-color: rgba(12, 48, 88, 0.4);
      }
    }

    .savePublishBtn {
      width: 153px;
      height: 26px;
      border: 1px solid var(--blue-300) !important;
      color: var(--pipeline-blue-color) !important;
      border-radius: 4px;
    }
  }

  .tagRender {
    background-color: var(--pipeline-tag-bc) !important;
    border-radius: 4px;
    & > span {
      color: var(--pipeline-tag-color);
    }
  }
}
.dialog {
  width: 870px;
}
.titleBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid var(--pipeline-light-grey);
  padding: 0px var(--spacing-xlarge);
}

.breadcrumbsMenu {
  padding: 8px 12px 0px 12px;
}
.pipelineStudioTitleContainer {
  text-align: center;
  .pipelineStudioTitle {
    display: grid;
    justify-content: center;
    .rectangle {
      width: 210px;
      height: 30px;
      background: var(--blue-350);
      position: relative;
      span {
        line-height: 30px;
        text-transform: uppercase;
        font-weight: bold;
        color: #004ba4;
      }
    }
    .rectangle:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 var(--spacing-xxlarge) var(--spacing-xlarge);
      border-color: transparent transparent #fff transparent;
    }

    .rectangle::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 var(--spacing-xlarge) var(--spacing-xxlarge) 0;
      border-color: transparent transparent #fff transparent;
    }
  }

  .topButtons {
    width: 56px;
    border-radius: 14px;
    background-color: var(--white);
    display: inline-block;
    font-size: 10px;
    text-align: center;
    color: #b1b1b1;
    border: 1px solid var(--pipeline-grey-border);
    margin-left: 12px;
    padding-top: 2px;
    margin-top: 12px;
    text-decoration: none;
    &.selected {
      color: var(--white);
      cursor: not-allowed;
      box-shadow: 0px 0px inset rgba(0, 0, 0, 0.5);
      // background-color: rgba(12, 48, 88, 0.4);
      background: #4f5162;
    }
  }
}

.savePublishContainer {
  text-align: right;
  padding: 8px 0px;
  & > div {
    display: inline-grid;
  }
  .tagRender {
    margin: 0 20px;
    background-color: #fafbfc !important;
    border-radius: 4px;
    & > span {
      color: #ff7020;
    }
  }

  .savePublishBtn {
    width: 153px;
    height: 26px;
    border: 1px solid var(--blue-300) !important;
    color: var(--pipeline-blue-color) !important;
    border-radius: 4px;
  }
}

.notificationContainer {
  display: grid;
  justify-content: end;
}

.pipelineNameContainer {
  display: flex;
  margin-top: 10px;
  .pipelineName {
    display: inline-flex;
    font-size: var(--font-size-medium) !important;
  }
  button {
    display: inline-flex;
  }
}
