.content {
  display: grid;
  grid-template-rows: 48px 1fr;
  grid-template-columns: 1fr 64px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.dialog {
  width: 910px;
}

.titleBar {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--pipeline-light-grey);
  padding: 0px var(--spacing-large);
  background-color: var(--white);
}

.breadcrumbsMenu {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 0px 0px;
}
.pipelineStudioTitleContainer {
  text-align: center;

  .pipelineStudioTitle {
    display: grid;
    justify-content: center;
    .rectangle {
      width: 210px;
      height: 30px;
      background: var(--blue-350);
      position: relative;
      span {
        line-height: 30px;
        text-transform: uppercase;
        font-weight: bold;
        color: #004ba4;
      }
    }
    .rectangle:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 var(--spacing-xxlarge) var(--spacing-xlarge);
      border-color: transparent transparent #fff transparent;
    }

    .rectangle::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 var(--spacing-xlarge) var(--spacing-xxlarge) 0;
      border-color: transparent transparent #fff transparent;
    }
  }

  .optionBtns {
    display: inline-block;
    font-size: var(--font-size-xsmall);
    line-height: 14px;
    width: 136px;

    .item {
      display: inline-block;
      padding: 4px 8px;
      border-radius: 10px;
      margin: 2px;
      cursor: pointer;
      border: solid 1px var(--primary-9);
      color: var(--primary-9);
      background: #fff;
      width: 55px;
    }

    .selected {
      font-weight: bold;
      background-color: var(--primary-9);
      color: var(--white);
      cursor: default;
    }
  }
}
.savePublishContainer {
  text-align: right;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .tagRender {
    color: var(--orange-700);
    margin-right: var(--spacing-xlarge);
    font-size: var(--font-size-small);
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: var(--orange-700);
      display: inline-block;
      margin: 0 4px;
    }
  }

  .runPipelineBtn {
    background-color: var(--green-500) !important;
    border-color: var(--green-500) !important;
    margin-left: var(--spacing-medium) !important;
  }
  .discardBtn {
    border: 1px solid var(--primary-6) !important;
    color: var(--primary-7) !important;
    margin-left: var(--spacing-medium) !important;
  }
}

.pipelineNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
  }
  .pipelineName {
    display: inline-flex;
    font-size: var(--font-size-medium) !important;
    color: var(--grey-900) !important;
    margin-right: var(--spacing-small) !important;
  }
  .pipelineIcon {
    vertical-align: middle;
  }
  .gitDetails {
    display: flex;
    font-size: var(--font-size-xsmall) !important;
    justify-content: space-between;
    align-items: center;
    .repoDetails {
      color: var(--grey-900) !important;
    }
    .branchDetails {
      color: var(--grey-900) !important;
      .branchSelector {
        width: 150px;
        input {
          border: none;
          color: var(--grey-900);
        }
        li {
          font-size: var(--font-size-normal);
        }
      }
    }
  }
  button {
    display: inline-flex;
  }
}
