.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.createConnectorWizard {
  height: 100%;
  border-radius: 6px;
  [class*='StepWizard-'] {
    height: 100%;
    position: relative;
  }
  [class*='StepWizard---navStep'] {
    align-items: flex-start !important;
    > p {
      padding: 2px;
    }
  }

  [class*='StepWizard---stepDetails'] {
    padding: var(--spacing-large) 0 var(--spacing-large) var(--spacing-large) !important;
  }
  :global {
    .bp3-progress-meter {
      border-radius: 0;
    }
    .bp3-intent-success .bp3-progress-meter {
      background-color: var(--green-500);
    }
  }
  [class*='StepsProgress---progressBar'] {
    margin-left: -30px;
    margin-right: -30px;
  }
  [class*='customGrid'] {
    :global {
      .bp3-card {
        padding: var(--spacing-small);
      }
    }
    display: grid;
    grid-auto-rows: auto;
    grid-gap: var(--spacing-medium);
    grid-template-columns: repeat(auto-fill, 180px);
    padding: 0 var(--spacing-medium);
  }
  .itemName {
    padding: 20px;
    height: 100px;
    color: var(--grey-900);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.42px;
    line-height: 20px;
  }
  .itemInfo {
    color: var(--grey-400);
    font-size: 12px;
    border-top: 1px solid var(--grey-200);
    padding: 15px;
  }
  .formLayout {
    margin-top: var(--spacing-xxlarge);
  }
  .stepsOverlay {
    position: absolute;
    width: 400px;
    padding: var(--spacing-large);
    right: 0;
    height: calc(100% - 83px);
    top: 83px;
    box-shadow: 0px 0px 10px 0px VAR(--grey-300);
  }
}
.iconConnector {
  margin-top: 2px !important;
  margin-right: 10px !important;
}
.selectConnector {
  padding: 0;
  width: 240px;
  max-height: 200px;
  overflow: auto;
  > li > a {
    height: 40px;
  }
  > li {
    &:hover {
      background-color: var(--blue-500);
      color: var(--white);
      font-weight: 500;
    }
  }
}
.menuItem {
  font-size: 14px;
  .menuItemContent {
    display: flex;
    justify-content: space-between;
    .menulabel {
      font-weight: 500;
      margin: 5px;
    }
  }
}
.firstep {
  height: 100%;
  margin: 20px 0 20px 10px !important;
  .heading {
    color: var(--grey-800);

    font-size: 18px;
    letter-spacing: 0;
  }
  .connectorForm {
    width: 64%;
    height: 410px;
    :global {
      .bp3-label {
        color: var(--grey-400);
        font-size: 12px;
      }
      .bp3-input-group {
        .bp3-input {
          height: 36px;

          border-radius: 8px;
          background-color: #ffffff;
          box-shadow: inset 0 0.5px 4px 0 rgba(96, 97, 112, 0.32);
        }
      }
      textarea {
        border-radius: 8px;
        height: 96px;
        background-color: #ffffff;
        box-shadow: inset 0 0.5px 4px 0 rgba(96, 97, 112, 0.32);
      }
    }
  }
  .saveBtn {
    width: 100px;
    border-radius: 6px;
    height: 36px;
    color: var(--blue-500) !important;
    border-color: var(--blue-500) !important;
    > span {
      font-size: 12px;
      letter-spacing: 0.2px;
    }
  }
}

.secondStep {
  margin: 10px 0 10px 10px !important;
  .headingStepTwo {
    font-size: 18px;
    letter-spacing: 0;
    color: var(--grey-800);
  }
  .customCss {
    display: flex;

    :global {
      .bp3-card {
        margin-right: 30px;
        padding: 0;
        box-sizing: border-box;
        height: 272.5px;
        width: 220.5px;
        box-sizing: border-box;
        // border: 0.5px solid #555770;
        border-radius: 8px;
        background-color: #ffffff;
        // box-shadow: 0 2px 4px 0 rgba(40,41,61,0.04), 0 8px 16px 0 rgba(96,97,112,0.16);
        // &:hover {
        //   border-radius: 8px;
        //   background-color: var(--blue-500);
        //   color: var(--white);
        //   border: 0px solid var(--grey-200) !important;
        //   box-shadow: 0 2px 8px 0 rgba(40, 41, 61, 0.08), 0 20px 32px 0 rgba(96, 97, 112, 0.24);
        // }
      }
    }
    display: flex;
    // grid-auto-rows: auto;
    // grid-gap: var(--spacing-medium);
    // grid-template-columns: repeat(auto-fill, 180px);
  }
  .selectedText {
    color: white;
  }
  .selectedCard {
    border-radius: 8px 8px 0 0;
    background-color: var(--blue-500);

    height: 100px;
    color: var(--white);
    border: 0px solid var(--grey-200) !important;
    // box-shadow: 0 2px 8px 0 rgba(40, 41, 61, 0.08), 0 20px 32px 0 rgba(96, 97, 112, 0.24);
  }
  .recommended {
    height: 20px;
    width: 102px;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 12px;
    text-align: center;
    border-radius: 8px;
    background-color: #e3fff1;
    color: #05a660;
  }
  .textInfo {
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 19px;
    color: #1c1c28;
  }

  .delegateWrapper {
    padding: 2px;
    height: 440px;
    max-height: 440px;
    overflow: auto;
  }
  .incluster {
    margin-top: 40px;
    .howToProceed {
      color: #1c1c28;
      font-size: 14px;
      letter-spacing: 0;
    }
    .radioOption {
      cursor: pointer;
      margin-top: 15px;
      .label {
        margin-left: 20px;
      }
    }
    :global {
      .bp3-input-group {
        > input {
          height: 36px;
          border-radius: 8px;
          background-color: #ffffff;
          box-shadow: inset 0 0.5px 4px 0 rgba(96, 97, 112, 0.32);
          border: none !important;
        }
      }
    }
    .selectDelegate {
      width: 65%;
      margin-top: 15px;
      > label {
        margin-bottom: 10px;
        color: #8f90a6;
        font-family: Nunito;
        font-size: 12px;
        letter-spacing: 0.2px;
        line-height: 16px;
      }
    }
  }
  .selectDelegateText {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #8f90a6;
    font-family: Nunito;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 16px;
  }
  .saveSecondStep {
    margin-top: 20px;
  }
}

.intermediateStep {
  margin: 10px 0 10px 10px;
  height: 100%;
  .formWrapper {
    height: 545px;
    max-height: 545px;
    overflow: auto;
    .formFields {
      min-height: 90%;
    }
  }
  .headingIntermediate {
    font-size: 18px;
    letter-spacing: 0;
    color: var(--grey-800);
  }
  .credWrapper {
    margin-bottom: 15px;
    justify-content: space-between;
    .label {
      margin: 10px 0;
      .lockIcon {
        padding: 5px 5px 3px 0;
        color: #cdd3dd;
      }
    }
    .selectAuth {
      width: 205px;
    }
  }
  .credForm {
    // height: 90%;
    // width: 64%;
    margin: 30px 0;
    :global {
      .bp3-label {
        color: var(--grey-400);
        font-size: 12px;
      }
      // .bp3-input-group {
      // .bp3-input{
      //   border-radius: 8px;
      //   background-color: #FFFFFF;
      //   box-shadow: inset 0 0.5px 4px 0 rgba(96,97,112,0.32)
      // }

      // }
      textarea {
        border-radius: 8px;
        border: 1px solid var(--grey-200);
      }
      .bp3-form-group {
        margin-bottom: 20px;
      }
      .bp3-input-group {
        .bp3-input {
          height: 36px;
          border-radius: 8px;
          background-color: var(--white);
          box-shadow: inset 0 0.5px 4px 0 rgba(96, 97, 112, 0.32);
          // cursor: pointer;
        }
        > input {
          height: 36px;
          border-radius: 8px;
          background-color: var(--white);
          box-shadow: inset 0 0.5px 4px 0 rgba(96, 97, 112, 0.32);
          border: none;
          // cursor: pointer;
        }
      }
    }
  }
}
