.container {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  &.bordered {
    &:hover,
    &.selected {
      border: 1px solid var(--primary-7);
    }
  }
  .templateCard {
    display: block !important;
    &:global(.bp3-card) {
      width: 184px;
      overflow-wrap: anywhere;
      box-shadow: var(--elevation-3);
      padding: var(--spacing-6) var(--spacing-5) 0 var(--spacing-5);
    }
    :global(.bp3-popover-wrapper) {
      display: inline-flex;
    }
    :global(.Card--dots) {
      right: -15px !important;
      top: -12px !important;
    }
    .tag:global(.bp3-tag) {
      background-color: var(--grey-100);
      margin-right: var(--spacing-xsmall);
      color: var(--primary-9);
      border-radius: var(--spacing-small);
      font-size: var(--font-size-xsmall);
    }
    .version:global(.bp3-tag) {
      background-color: var(--grey-50);
      color: var(--grey-800);
      border-radius: var(--spacing-1);
      font-size: var(--font-size-xsmall);
      border: 1px solid var(--grey-200);
      &.empty {
        color: var(--grey-400);
      }
    }
    .userLabel {
      margin-bottom: var(--spacing-3) !important;
      :global(.bp3-popover-target) span {
        font-size: var(--font-size-xsmall);
      }
    }
    > div:not(:last-child, :first-child) {
      margin-bottom: var(--spacing-5);
    }
    .actionButton {
      top: 10px;
      right: 2px;
      position: absolute;
    }
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-4);
    .label {
      flex-shrink: 0;
    }
  }
}
