.pipelineCard {
  &:global(.bp3-card) {
    width: 250px;
    padding: 0;
    overflow-wrap: anywhere;
  }
  .label {
    flex-shrink: 0;
  }
  :global {
    .bp3-popover-wrapper {
      display: inline-flex;
    }
  }
  .sparkChart {
    min-width: 8px !important;
    height: 30px !important;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-4);
  }
  .tagsPopover {
    p {
      color: var(--grey-600);
    }
  }
  p.deploymentsCount {
    margin-left: var(--spacing-4) !important;
    margin-bottom: -2px;
  }
  .cardBtns {
    padding: 0px !important;
    &.runBtn {
      width: 62px;
    }
    &.viewExecutionsBtn {
      flex-grow: 1;
    }
  }
}
