.pipelineCard {
  &:global(.bp3-card) {
    width: 250px;
    padding: 0;
    overflow-wrap: anywhere;
  }
  .label {
    flex-shrink: 0;
  }
  .entityContainer {
    display: flex;
    color: var(--black);
  }
  .firstEntity {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .additionalEntitiesCount {
    margin-left: 4px;
  }
  :global {
    .bp3-popover-wrapper {
      display: inline-flex;
    }
  }
  .sparkChart {
    min-width: 8px !important;
    height: 30px !important;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-4);
  }
  .tagsPopover {
    p {
      color: var(--grey-600);
    }
  }
  p.deploymentsCount {
    margin-left: var(--spacing-4) !important;
    margin-bottom: -2px;
  }
  .cardBtns {
    padding: 0px !important;
    &.runBtn {
      width: 62px;
      &:global {
        &.Button--button[class*='bp3-button'] {
          border: solid 1px var(--success) !important;
          color: var(--success) !important;
        }
      }
    }
    &.viewExecutionsBtn {
      flex-grow: 1;
    }
  }

  :global {
    .Card--cardMenu .Card--dots {
      position: absolute;
      top: -9px;
      right: -19px;
    }
  }
}
