.main {
  display: flex;
  height: 100%;
  .sideSpace {
    flex-basis: 220px;
    flex-shrink: 1;
  }
  .mainPanel {
    flex: 1;
    padding: var(--spacing-xxlarge) !important;
    .table {
      flex-shrink: 0;
      flex-basis: 600px;
      .selectEnvironmentCell {
        display: flex;
        align-items: center;
      }
    }
  }
  .columnHeaderWithFilter {
    height: 35px;
    p {
      font-size: var(--font-size-small) !important;
      font-weight: bold !important;
    }
  }
}
