.tabWrapper {
  height: 100%;
}
.main {
  display: flex;
  height: 100%;
  .content {
    flex: 1;
    padding: 0 var(--spacing-xxlarge) !important;
    .mappingDetails {
      display: flex;
      align-items: center;
      padding: var(--spacing-small);
      margin-bottom: var(--spacing-large);
      p {
        margin-right: var(--spacing-huge);
        font-weight: bold;
      }
    }
    .metricPacks {
      margin-bottom: var(--spacing-xxlarge);
      > div {
        display: flex;
        > label {
          margin: 0 var(--spacing-xxlarge);
        }
      }
    }
  }
}

.columnHeaderWithFilter {
  height: 35px;
  p {
    font-size: var(--font-size-small) !important;
    font-weight: bold !important;
    margin-right: var(--spacing-xsmall) !important;
  }
}

.serviceSelect {
  width: 90% !important;
}
