.activeServiceInstances {
  width: 540px;
  min-height: 570px;
  .activeServiceInstancesHeader {
    border-bottom: 1px solid var(--grey-200);
    .instanceCount {
      font-size: 40px !important;
    }

    .pieChartLabelContainerStyles {
      padding-right: var(--spacing-small) !important;
      align-items: flex-start !important;
    }

    .pieChartLabelStyles {
      font-size: var(--font-size-small) !important;
      margin: var(--spacing-tiny) 0 !important;
    }
  }
  .instanceTable {
    width: 100%;
    div[role='row'] {
      box-shadow: none;
      border: 0;
      padding: 0;
      margin: 0;
    }
    .paddedContainer {
      padding: var(--spacing-small);
    }
    .environmentRow {
      text-align: center;
      padding: var(--spacing-tiny);
      border-radius: 4px;
      background: var(--lime-400);
    }
    .seeMore {
      text-align: center;
      cursor: pointer;
      padding: var(--spacing-tiny) 0;
    }
    .instanceCount {
      padding: var(--spacing-xsmall);
      border-radius: 4px;
      text-align: center;
    }
    .hexContainer {
      flex-wrap: wrap;
      .hex {
        flex-shrink: 0;
        cursor: pointer;
        -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
      }
    }
  }
}
