.mainHeading {
  color: var(--black) !important;
  font-weight: 500 !important;
  margin-top: var(--spacing-small) !important;
  margin-bottom: var(--spacing-xsmall) !important;
}
.subHeading {
  font-size: 12px !important;
}

.emptyCardHeader {
  width: 100% !important;
  background-color: var(--white);
  .content {
    width: 100% !important;
    padding: var(--spacing-large) !important;
    > div:first-child {
      margin-right: var(--spacing-small) !important;
    }
  }
  .headingDivider {
    border-color: var(--grey-300) !important;
    border: 0;
    background-color: var(--grey-300) !important;
    height: 1px;
    margin: 0 !important;
  }
}
