.HelmGitForm {
  height: 100%;
  min-height: 400px;
  .halfWidth {
    width: 45%;
  }
  .folderPath {
    display: flex;
    width: 45%;
    justify-content: flex-start;
    align-items: center;
    :global {
      .bp3-form-group {
        min-width: 310px;
      }
    }
  }
  .helmAdvancedSteps {
    margin-bottom: 100px !important;
  }
  .commandFlags {
    margin-top: var(--spacing-large);
  }
  .delBtn {
    margin-top: 18px !important;
  }
  .runtimeInput {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
  .advancedStepOpen {
    min-height: 400px;
  }
  .skipResourceSection {
    min-height: 200px;
  }
  .repoName {
    margin-bottom: 0 !important;
  }
}

.checkbox {
  margin-bottom: 0 !important;
}

.tooltip {
  > * {
    width: 60%;
    margin-left: var(--spacing-medium);
  }
}

.tooltipContent {
  width: 250px;
}
