.HelmGitForm {
  height: 100%;
  min-height: 400px;
  .halfWidth {
    width: 50%;
  }
  .helmAdvancedSteps {
    margin-bottom: var(--spacing-large);
  }
  .commandFlags {
    margin-top: var(--spacing-medium);
  }
}
.checkbox {
  padding-left: var(--spacing-xlarge) !important;
  margin-right: var(--spacing-medium) !important;
}

.tooltip {
  > * {
    width: 50%;
  }
}

.tooltipContent {
  width: 200px;
}
