.nameCell {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;

  .name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 175px;
  }

  .legendColorCtn {
    padding: 2px;
    border: 1px solid var(--grey-200);
    border-radius: 4px;
    display: flex;
    align-self: center;

    .legendColor {
      height: 10px;
      width: 10px;
      border-radius: 2px;
    }
  }
}

.gridLoadingContainer {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.efficiencyScore {
  position: relative;
  .stack {
    position: absolute;
    top: -15px;
  }
}
