.separator {
  border-left: 1px solid var(--grey-400);
  height: 25px;
}
.table {
  margin: var(--spacing-xlarge);
}

.pipelineCard {
  width: 250px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
  padding: 0px;
  padding-top: var(--spacing-xlarge);
}
.cardTags {
  background-color: var(--grey-200) !important;
  color: var(--grey-400) !important;
}

.runPipeline {
  background: var(--grey-100) !important;
}

.header {
  padding: var(--spacing-large) var(--spacing-large) !important;
  border-bottom: 1px solid var(--grey-300);
  height: 64px;
}

.expandSearch {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  :global {
    input[type='search'] {
      border: 0;
    }
  }
}

.activityChart {
  max-width: 70px;
  display: block;
  :global(.progress-bar) {
    height: var(--spacing-xxlarge) !important;
  }
}
.activityChartList {
  margin-right: var(--spacing-xxxlarge);
  display: block;
  :global(.progress-bar) {
    height: var(--spacing-xxlarge) !important;
  }
}
.lastExecutionTs {
  margin-left: var(--spacing-xxxlarge) !important;
}
.tags {
  margin-bottom: 16px;

  :global(.bp3-tag) {
    border-radius: 10px;
    padding: 0 15px;
    font-size: var(--font-size-xsmall);
  }
}

.menu {
  position: relative;
  :global(.bp3-popover-target) {
    position: absolute;
    top: -10px;
    right: 5px;
  }
}

.clickable {
  cursor: pointer;
}

.actionButton {
  transform: rotate(90deg);
}

.gridView {
  height: 100%;
  background-color: var(--grey-100);
  padding: 0 var(--spacing-xxlarge) !important;
  .gridLayout {
    height: calc(100% - 62px);
    overflow: auto;
  }
}

.pageBody {
  --page-header-height: 128px;
}

.pagination {
  position: static;
  bottom: 0;
  z-index: 3;
  background: var(--grey-100);
  padding-top: var(--spacing-medium);
}
