.separator {
  border-left: 1px solid var(--grey-400);
  height: 25px;
}
.table {
  margin: var(--spacing-xlarge);
}

.gitFilter {
  height: 32px;
  padding-left: var(--spacing-xlarge) !important;
}

.pipelineCard {
  width: 250px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
  padding: 0px;
  padding-top: var(--spacing-large);

  .pipelineNameSections {
    word-break: break-all;
  }
  .pipeline-title {
    display: grid;
    grid-template-columns: 30px 1fr;
    .menu {
      position: relative;
      > div {
        top: 7px;
        right: -17px;
      }
      :global(.bp3-popover-target) {
        position: absolute;
        top: -10px;
        right: 5px;
        // &:hover {
        //   cursor: pointer;
        //   background-color: var(--primary-7) !important;
        //   border-radius: 50% !important;
        //   color: white !important;
        // }
      }
    }
  }
}

.pipelineName {
  margin-right: var(--spacing-medium) !important;
  margin-bottom: var(--spacing-xsmall) !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.serviceLabel {
  margin-right: var(--spacing-small) !important;
  margin-bottom: var(--spacing-xsmall) !important;
  min-width: 48px;
}
.serviceName {
  margin-left: var(--spacing-medium) !important;
  font-size: 16px;
}
.runPipelineBtn {
  color: var(--green-500) !important;
  padding-left: 0px !important;
}
.runPipelineListBtn {
  background-color: var(--green-500) !important;
  border: var(--green-500) !important;
}

.topHeaderFields {
  justify-content: space-between;

  .sortSelector {
    width: 180px;
  }
}
.tagRow {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}
.cardTags {
  background-color: var(--grey-200) !important;
  color: var(--grey-400) !important;
  margin-top: var(--spacing-small);
  margin-right: var(--spacing-small);
}

.header {
  padding: var(--spacing-large) var(--spacing-large) !important;
  border-bottom: 1px solid var(--grey-300);
  height: 64px;
}

.expandSearch {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  :global {
    input[type='search'] {
      border: 0;
    }
  }
}

.activityChart {
  max-width: 70px;
  display: block;
  :global(.progress-bar) {
    height: var(--spacing-xxlarge) !important;
  }
}
.lastExecutionTs {
  margin-left: var(--spacing-xxxlarge) !important;
}

.clickable {
  cursor: pointer;
}

.actionButton {
  transform: rotate(90deg);
}

.gridView {
  height: 100%;
  background-color: var(--grey-50);
  padding: 0 var(--spacing-xxlarge) !important;
  .gridLayout {
    height: calc(100% - 135px);
    overflow: auto;
    > div {
      padding-top: var(--spacing-medium) !important;
    }
  }
}

.pageBody {
  --page-header-height: 128px;
}

.pagination {
  position: static;
  bottom: 0;
  z-index: 3;
  background: var(--grey-50);
  padding-top: var(--spacing-medium);
}

.loading {
  margin: auto;
  height: 100vh;
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.noPipelineSection {
  display: flex;
  height: 80%;
  .noPipelineData {
    margin: auto;
    text-align: center;
  }
}
