$header-height: 80px;
.pageheader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: $header-height;
  background: var(--white);
  border-bottom: 1px solid var(--grey-200);
  padding: var(--spacing-medium) var(--spacing-large);

  h2 {
    margin: 0;
  }
}

.separator {
  border-left: 1px solid var(--grey-400);
  height: 25px;
}
.table {
  margin: var(--spacing-large);
}

.gitFilter {
  height: 32px;
  padding-left: var(--spacing-xlarge) !important;
}

.pipelineCard {
  width: 250px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 16px;
  padding-bottom: 16px;

  .pipelineNameSections {
    word-break: break-all;
  }
  .pipeline-title {
    display: grid;
    grid-template-columns: 30px 1fr;
    .menu {
      position: relative;
      > div {
        top: 7px;
        right: -17px;
      }
      :global(.bp3-popover-target) {
        position: absolute;
        top: -10px;
        right: 5px;
      }
    }
  }
}
.sectionMargin {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.sectionBorder {
  border-bottom: 1px solid var(--grey-200);
}
.pipelineGitDetails {
  :global(.bp3-popover-target) {
    display: block;
  }
}

.pipelineName {
  margin-right: var(--spacing-medium) !important;
  margin-bottom: var(--spacing-xsmall) !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.serviceLabel {
  margin-right: var(--spacing-small) !important;
  margin-bottom: var(--spacing-xsmall) !important;
  min-width: 48px;
}
.serviceName {
  margin-left: var(--spacing-medium) !important;
  font-size: 16px;
}
.runPipelineBtn {
  color: var(--green-500) !important;
}

.viewExecutionBtn {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.runPipelineListBtn {
  background-color: var(--green-500) !important;
  border: var(--green-500) !important;
}

.topHeaderFields {
  justify-content: space-between;

  .sortSelector {
    width: 180px;
  }
}
.tagRow {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}
.cardTags {
  background-color: var(--grey-200) !important;
  color: var(--grey-400) !important;
  margin-top: var(--spacing-small);
  margin-right: var(--spacing-small);
}

.header {
  background: var(--white) !important;
  padding: var(--spacing-large) var(--spacing-large) !important;
  border-bottom: 1px solid var(--grey-300);
  height: 64px;
}

.expandSearch {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  :global {
    input[type='search'] {
      border: 0;
    }
  }
}

.activityChart {
  max-width: 70px;
  display: block;
  :global(.progress-bar) {
    height: var(--spacing-xxlarge) !important;
  }
}
.lastExecutionTs {
  margin-left: var(--spacing-xxxlarge) !important;
}

.clickable {
  cursor: pointer;
}

.actionButton {
  transform: rotate(90deg);
}

.gridLayout {
  min-height: calc(100vh - var(--page-header-height) - 136px);
  width: 1155px;
  margin: 0 auto !important;
}

.pagination {
  padding: 0 var(--spacing-xxxlarge) !important ;
}
.pageBody {
  --page-header-height: 144px;
}

.pagination {
  position: static;
  bottom: 0;
  z-index: 3;
  background: var(--grey-50);
  padding-top: var(--spacing-medium);
}

.loading {
  margin: auto;
  height: 100vh;
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.noPipelineSection {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  .clearFilterText {
    color: var(--primary-7);
    text-transform: uppercase;
    font-size: var(--spacing-medium);
    font-weight: 500;
  }
  .image {
    width: 720px;
  }
  .noPipelineText {
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 28px !important;
    color: var(--grey-1000) !important;
  }
  .aboutPipeline {
    font-size: 16px !important;
    font-weight: normal !important;
    line-height: 24px !important;
    color: var(--grey-600) !important;
  }
}
