.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: var(--white);
  border-bottom: 1px solid var(--grey-200);
  padding: var(--spacing-medium) var(--spacing-xxxlarge) !important;
  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-top: var(--spacing-small);
    text-transform: capitalize;
  }
}

.sloTabs {
  :global {
    .bp3-tab-list {
      background-color: var(--white);
      padding: var(--spacing-none) var(--spacing-xxlarge);
    }

    .bp3-tab-panel {
      margin-top: var(--spacing-none) !important;
    }
  }
}

.navigationBtns {
  column-gap: var(--spacing-4);
  padding: var(--spacing-none) var(--spacing-xxlarge) !important;
}

.title {
  display: flex;
  flex-direction: column;
}
