.resourceTypeListContainer {
  background-color: var(--white) !important;
  box-shadow: var(--card-shadow);
}
.pageContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 320px 1fr;
}
.colorDiv {
  min-height: 40px;
  min-width: 40px;
  display: inline-block;
  border-radius: var(--spacing-xsmall);
}
