.container {
  height: 100%;
  width: 100%;
}

$bg-color: #f6fcff;
$dot-color: #bbc1c4;

$dot-size: 1px;
$dot-space: 10px;

.canvas-container {
  height: 100%;
  padding: 0 !important;
  position: relative;
  &.canvas-stage-view {
    .canvas {
      background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
      background-size: $dot-space $dot-space;
    }
  }
  .pipelineStudioTitle {
    display: grid;
    justify-content: center;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 2px;

    .rectangle {
      width: 210px;
      height: 30px;
      background: var(--blue-350);
      position: relative;
      text-align: center;

      span {
        line-height: 30px;
        text-transform: uppercase;
        font-weight: bold;
        color: #004ba4;
      }
    }
    .rectangle:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 var(--spacing-xxlarge) var(--spacing-xlarge);
      border-color: transparent transparent #fff transparent;
    }

    .rectangle::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 var(--spacing-xlarge) var(--spacing-xxlarge) 0;
      border-color: transparent transparent #fff transparent;
    }
  }

  .canvas-wrapper {
    width: 100%;

    :global(.Resizer.horizontal) {
      height: 4px;
      background-color: var(--blue-350);
      cursor: row-resize;
    }
  }

  .canvas {
    height: 100%;
    width: 100%;
    position: relative;
    border-top: 2px solid var(--blue-350);

    background: linear-gradient(90deg, var(--white) ($dot-space - $dot-size), transparent 1%) center,
      linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
    background-size: $dot-space $dot-space;

    :global(.Resizer.horizontal:not(.disabled)) {
      height: var(--spacing-xsmall);
      background: var(--grey-200);
      cursor: row-resize;
      z-index: 2;
    }

    > div {
      cursor: default;
      height: 100%;
      width: 100%;
    }

    .render-popover {
      min-width: 140px;
      z-index: 2;
    }
  }
}

.stageList {
  ul {
    list-style: circle !important;
    li {
      margin: 8px 16px !important;
    }
  }
}
