.container {
  height: 100%;
  width: 100%;
}
:global {
  .Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }

  .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }

  .Resizer.horizontal {
    height: 11px;
    margin: -var(--spacing-xsmall) 0;
    border-top: var(--spacing-xsmall) solid rgba(255, 255, 255, 0);
    border-bottom: var(--spacing-xsmall) solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
  }

  .Resizer.horizontal:hover {
    border-top: var(--spacing-xsmall) solid rgba(0, 0, 0, 0.5);
    border-bottom: var(--spacing-xsmall) solid rgba(0, 0, 0, 0.5);
  }

  .Resizer.vertical {
    width: 11px;
    margin: 0 -var(--spacing-xsmall);
    border-left: var(--spacing-xsmall) solid rgba(255, 255, 255, 0);
    border-right: var(--spacing-xsmall) solid rgba(255, 255, 255, 0);
    cursor: col-resize;
  }

  .Resizer.vertical:hover {
    border-left: var(--spacing-xsmall) solid rgba(0, 0, 0, 0.5);
    border-right: var(--spacing-xsmall) solid rgba(0, 0, 0, 0.5);
  }
  .Resizer.disabled {
    cursor: not-allowed;
  }
  .Resizer.disabled:hover {
    border-color: transparent;
  }
}
.canvas-container {
  background-image: var(--pipeline-canvas-image);
  height: 100%;
  padding: 0 !important;
  &.canvas-stage-view {
    background-image: var(--pipeline-canvas-blue-image);
  }

  .canvas {
    height: 100%;
    width: 100%;
    position: relative;

    > div {
      cursor: default;
      height: 100%;
      width: 100%;
    }

    .render-popover {
      min-width: 140px;
      z-index: 2;
      overflow-y: scroll;
      max-height: 500px;
    }
  }
}

.split-buttons {
  span {
    z-index: 2;
  }

  .stageDecrease,
  .stageIncrease {
    position: absolute;
    right: var(--spacing-large);
    cursor: pointer;
    top: var(--spacing-xsmall);
  }

  .stageIncrease {
    top: var(--spacing-xxlarge);
  }

  .resizers {
    position: absolute;
    right: var(--spacing-medium);
    top: var(--spacing-none);
    z-index: 3;
    transform: translateY(-18px);
    height: 30px;
    width: 22px;
    display: flex;
    flex-direction: column;
    background: var(--blue-200);
    border: 1px solid var(--blue-400);
    box-sizing: border-box;
    box-shadow: 0px 0px 2px var(--grey-300);
    border-radius: 4px;

    & > :global(.bp3-button) {
      padding: var(--spacing-none);
      height: 50%;
      width: 100%;
      min-width: auto;
      min-height: auto;
      background-color: var(--blue-200) !important;

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-radius: 0 0 4px 4px;
      }

      & svg > path {
        fill: none !important;
        stroke: var(--grey-700) !important;
        stroke-width: 1px !important;
      }
    }
  }

  .separator {
    position: absolute;
    right: var(--spacing-medium);
    top: 24px;
    width: 24px;
    background-color: var(--grey-400);
    height: 1px;
  }
}
