.errorMsg {
  background: var(--blue-200) !important;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  border-radius: 4px;
  padding: var(--spacing-small);
  max-width: calc(100% - 30px);
  overflow-x: scroll;
  margin-bottom: var(--spacing-large);
}

.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}
