.dialog {
  width: auto;
  padding-bottom: 0;
}

.container {
  box-shadow: none !important;
  border: 1px solid var(--bp3-intent-color, var(--grey-200)) !important;
  color: var(--grey-800) !important;
  height: 36px !important;
  position: relative;
  padding: var(--spacing-xsmall) var(--spacing-small) !important;
  background-color: var(--white) !important;
  display: flex;
  justify-content: space-between;
  border-radius: var(--spacing-2);

  &:hover {
    border-color: var(--primary-6);
  }

  &:focus {
    border-color: var(--primary-7);
  }

  :global(.bp3-button-text) {
    width: 100%;
  }

  :global(.bp3-icon-chevron-down) {
    position: absolute;
    right: var(--spacing-8);
    opacity: 0.5;
    padding: var(--spacing-small) !important;
  }

  .placeholder {
    color: var(--grey-350);
  }
}
.contentContainer {
  padding: var(--spacing-medium);
  position: relative;

  .closeButton {
    position: absolute;
    top: 13px;
    right: var(--spacing-small);
  }

  :global {
    .bp3-tab-indicator-wrapper .bp3-tab-indicator {
      background-color: var(--primary-7);
      height: 3.5px;
    }

    .bp3-tab[aria-selected='true'] p {
      font-weight: bold !important;
    }
    .bp3-tab[aria-selected='true'],
    .bp3-tab:not([aria-disabled='true']):hover {
      color: var(--blue-600);
    }
  }
}
