.header {
  background-color: var(--primary-1) !important;
  align-items: flex-start !important;
  padding-top: var(--spacing-large) !important;
}

.body {
  padding: var(--spacing-large) !important;
  display: flex;
  flex-direction: row;
}

.card {
  box-shadow: var(--card-shadow);
  align-items: center;
  display: flex !important;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);
}

.name {
  overflow-wrap: anywhere;
}
.lockIcon {
  border-radius: 100% !important;
}
