.detailsSectionContainer {
  margin-right: 10% !important;
  width: 45%;
}

.detailsSection {
  margin: 0 0 24px !important;
  padding: 20px 16px 15px !important;
  box-shadow: 0 0 4px rgba(96, 97, 112, 0.2);
  border-radius: 4px;

  .detailsSectionRowWrapper {
    &:not(:last-child) {
      border-bottom: 1px solid var(--grey-200);
    }

    .detailsSectionRow {
      display: flex;
      justify-content: space-between;
    }
  }
}
