.breadcrumbs {
  div {
    display: inline-block;
  }

  .breadcrumb {
    color: var(--pipeline-select-blue);
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: var(--pipeline-select-blue);
    }
  }
  .lastBreadcrumb {
    color: #9293ab;
  }
  .separator {
    padding: 0px var(--spacing-small);
  }
}
