.breadcrumbs {
  div {
    display: inline-block;
  }

  .breadcrumb {
    color: var(--primary-7);
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: var(--primary-7);
    }
  }
  .lastBreadcrumb {
    color: #9293ab;
  }
  .separator {
    padding: 0px var(--spacing-xsmall) 2px var(--spacing-xsmall) !important;
    path {
      fill: var(--primary-7) !important;
    }
  }
}
