.collapse {
  & > div {
    border: none;
    padding: 0;
  }

  & div.collapse-header-fix {
    padding-top: 0 !important;
  }
}

.dialog {
  position: relative;
  min-height: 600px;
  min-width: 650px;
}

.card-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--spacing-medium);

  :global {
    .bp3-card {
      margin-right: var(--spacing-large);
      & .cardBody {
        text-align: center;
        word-wrap: break-word;
        height: 70px;
        width: 70px;
        font-weight: bold;
      }
    }
  }
}
