.right-bar {
  background-color: var(--grey-50);
  border-left: 1px solid var(--grey-300);
  display: flex;
  flex-flow: column;
  flex: 0 0 auto;
  justify-content: center;
  z-index: 2;
  width: 64px;
  box-shadow: -2px 0 2px 0 rgb(0 0 0 / 10%);
  .icon-button {
    padding: 0px !important;
    position: relative !important;
    border: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    height: 70px !important;
    flex-direction: column;
    row-gap: var(--spacing-small);
    margin-bottom: 32px !important;
    box-shadow: none !important;
    text-align: center !important;
    max-height: none !important;

    &:global(.bp3-button > .bp3-icon) {
      padding: 0 !important;
      color: var(--right-bar-icon, var(--white)) !important;
    }

    &:global(.bp3-button > .bp3-button-text) {
      width: 50px !important;
      font-size: 9px !important;
    }

    &.selected {
      color: var(--white) !important;
      background-color: var(--right-bar-bg, var(--white)) !important;
    }

    &.enableGitExpIcon {
      --right-bar-icon: var(--red-500);

      span {
        line-height: 12px !important;
        color: var(--grey-500) !important;
        &:hover {
          color: var(--red-500) !important;
        }
      }

      &.selected {
        --right-bar-bg: var(--teal-500);
        --right-bar-icon: var(--white);
        span {
          color: var(--white) !important;
        }
      }
    }

    &.notificationsIcon {
      --right-bar-icon: var(--teal-500);

      span {
        line-height: 12px !important;
        color: var(--grey-500) !important;
        &:hover {
          color: var(--teal-500) !important;
        }
      }

      &.selected {
        --right-bar-bg: var(--teal-500);
        --right-bar-icon: var(--white);
        span {
          color: var(--white) !important;
        }
      }
    }

    &.flowControlIcon {
      --right-bar-icon: var(--yellow-900);

      span {
        line-height: 12px !important;
        color: var(--grey-500) !important;
        &:hover {
          color: var(--yellow-900) !important;
        }
      }

      &.selected {
        --right-bar-bg: var(--yellow-900);
        --right-bar-icon: var(--white);
        span {
          color: var(--white) !important;
        }
      }
    }

    &.variablesIcon {
      --right-bar-icon: var(--purple-400);

      span {
        line-height: 12px !important;
        color: var(--grey-500) !important;
        &:hover {
          color: var(--purple-400) !important;
        }
      }

      &.selected {
        --right-bar-bg: var(--purple-400);
        --right-bar-icon: var(--white);
        span {
          color: var(--white) !important;
        }
      }
    }
  }

  :global(.bp3-popover-wrapper) {
    text-align: center;
  }
}
.predefinedValue {
  font-size: 13px;
  color: var(--grey-500);
  margin-top: calc(var(--spacing-small) / -1);
  margin-bottom: var(--spacing-medium);
}
