.right-bar {
  background-color: #fafafa;
  z-index: 21;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 60px 60px 60px 1fr;

  .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &.selected,
    &:hover {
      background-color: var(--grey-200);
    }
  }
}
