.right-bar {
  background-color: var(--grey-100);
  border-left: 1px solid var(--grey-300);
  display: grid;
  grid-template-rows: 1fr 60px 60px 60px 1fr;

  .icon-button {
    padding: 0px !important;
    position: relative !important;
    border: 0 !important;
    background-color: transparent !important;
    height: 60px !important;
    flex-direction: column;
    row-gap: var(--spacing-small);

    &.selected {
      color: var(--blue-500) !important;
    }
    &.notificationsIcon {
      :global(.bp3-icon) {
        color: var(--blue-500) !important;
      }
    }

    &.variablesIcon {
      &.selected {
        color: #9d7cff !important;
      }
      &:hover {
        color: #9d7cff !important;
      }
      :global(.bp3-icon) {
        color: #9d7cff !important;
      }
    }

    :global(.bp3-icon) {
      padding: 0 !important;
    }
  }

  :global(.bp3-popover-wrapper) {
    text-align: center;
  }

  .codebaseConfiguration {
    &.notConfigured {
      > span svg path:last-child {
        // TODO: Replace color once it is available in UIKit
        fill: #ff8800 !important;
      }
    }

    &.valid {
      > span svg path {
        // TODO: Replace color once it is available in UIKit
        fill: #06c270 !important;
      }
    }

    &.invalid {
      // TODO: Replace color once it is available in UIKit
      color: #9293ab !important;
    }

    &.validating {
      // DO NOT REMOVE
      color: inherit;
    }
  }
}
.predefinedValue {
  font-size: 13px;
  color: var(--grey-500);
  margin-top: calc(var(--spacing-small) / -1);
  margin-bottom: var(--spacing-medium);
}
