.horizontalCenterAlign {
  align-items: center;
}

.metricPack {
  width: 400px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: var(--spacing-large) !important;
}

.formFullheight {
  height: calc(100vh - 120px);
  min-height: calc(100% - 120px);
  position: relative;
  overflow-y: scroll;
}
