.secondStep {
  .formRow {
    display: flex;
    .urlInput {
      width: 56%;
      margin-right: var(--spacing-small);
    }
    .versionInput {
      width: 120px;
    }
  }

  .authHeaderRow {
    display: flex;
    width: 56%;
    justify-content: space-between;
    & > [data-tooltip-id='artifactRepositoryAuthentication'],
    & > [data-tooltip-id='NexusConnectorAuthentication'] {
      margin: 0 0 7px;
    }
  }

  .formWrapper {
    width: 56%;
  }
}

.stepDetails {
  height: 100%;
  > div:last-child {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
