.stepsOverlay {
  position: absolute;
  min-width: 280px;
  padding: var(--spacing-large);
  right: 0;
  height: calc(100% - 75px);
  top: 73px;
  box-shadow: 0px 0px 20px 0px var(--grey-300);
  background-color: var(--white);
}

.delegateRunInfo {
  color: var(--grey-500);
  padding: 0;
}
.heading {
  color: var(--grey-700);
  padding: 0;
  .name {
    font-weight: 700;
  }
}
.verificationText {
  color: var(--grey-400);
  padding: 0;
  width: 300;
}

.overlayHeading {
  display: flex;
  justify-content: space-between;
}

.selectDelegate {
  position: relative;
  bottom: 71px;
  left: 190px;
  width: fit-content;
}

.inModalRetest {
  position: relative;
  bottom: 25px;
}
