.budgetBar {
  height: 14px;
  position: relative;

  .actualCostBar {
    position: absolute;
    top: 0px;
    background-color: var(--green-500);
    height: 14px;
    z-index: 3;
    transition: all 1s ease-in-out;

    &.alert {
      background-color: var(--orange-500);
    }

    &.danger {
      background-color: var(--red-500);
    }
  }

  .budgetStatusBar {
    position: absolute;
    top: 0px;
    background-color: var(--red-200);
    border-top: 1px dashed var(--red-500);
    border-bottom: 1px dashed var(--red-500);
    height: 14px;
    z-index: 2;
    transition: all 1s ease-in-out;
  }

  .forecastedBar {
    position: absolute;
    top: 0px;
    background-color: var(--green-100);
    height: 14px;
    border: 1px dashed var(--green-500);
    z-index: 1;
    transition: all 1s ease-in-out;

    &.alert {
      background-color: var(--orange-100);
      border: 1px dashed var(--orange-500);
    }

    &.danger {
      border: 1px dashed var(--red-500);
      background-color: var(--red-100);
      width: 100%;
      opacity: 0.8;
      background: repeating-linear-gradient(-60deg, #e43326, #e43326 2px, #e5e5f7 2px, #e5e5f7 3px);
    }
  }

  .actualCostMarker {
    position: absolute;
    background-color: var(--green-500);
    height: 30px;
    left: 0;
    bottom: 0px;
    width: 1px;
    z-index: 2;
    transition: all 1s ease-in-out;

    &.alert {
      background-color: var(--red-500);
    }
  }

  .overBudgetMarker {
    position: absolute;
    background-color: var(--red-500);
    height: 30px;
    left: 0;
    top: 0;
    opacity: 0;
    width: 1px;
    z-index: 2;
    transition: all 1s ease-in-out;
  }

  .overBudgetText {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2;
    transition: all 1s ease-in-out;
    transform: translateX(-100%);
    white-space: nowrap !important;
  }

  .actualCost {
    position: absolute;
    left: 0;
    bottom: 100%;
    z-index: 2;
    transition: left 1s ease-in-out;

    &.left {
      transform: translateX(-100%);
    }
  }
}
