.main {
  border-right: 1px dashed var(--grey-350);
  position: relative;

  .trackTitle {
    margin-bottom: var(--spacing-medium);
    position: sticky;
    top: 0;
    z-index: 3;
  }

  .activityCard {
    width: 92%;
    position: absolute;
    :global {
      .bp3-popover-target {
        height: 100%;
        width: 100%;
      }
    }
    .activityCardContent {
      animation: activityCardFadeIn 150ms;
      padding: var(--spacing-small) !important;
      width: 100% !important;
    }
    .stackedCardCount {
      text-align: center;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      position: sticky;
      padding: 2px var(--spacing-xsmall);
      float: right;
      margin-top: -15px;
      cursor: pointer !important;
      display: inline-block;
    }
    .expandedActivityCard {
      z-index: 5;
      position: relative;
      overflow-y: scroll;
      max-height: 500px;
      box-shadow: 1px 3px 12px 5px var(--grey-300);
      animation: expand 300ms ease-in-out;
    }
  }

  .selectedCard {
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16) !important;
    border: 2px solid var(--blue-600);
  }

  @keyframes expand {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 500px;
    }
  }

  @keyframes activityCardFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.overlayOnExpand {
  :global {
    .bp3-overlay-backdrop {
      z-index: 1;
      background: var(--grey-200);
      opacity: 0.5;
    }
  }
}
