.providerDropDown {
  .providerList {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}

.radioValue {
  font-size: var(--font-size-small);
}

.valueSelectorContainer {
  height: 340px;
  width: 280px;

  .searchInput {
    margin-bottom: 0px !important;
  }
}
