.header {
  padding: var(--spacing-large) var(--spacing-xxxlarge) !important;
  border-bottom: 1px solid var(--grey-300);
  background: var(--white) !important;
  height: 64px;
}

.search {
  margin-right: var(--spacing-small) !important;
  height: var(--spacing-xxlarge) !important;
}
