.optionBtns {
  display: inline-block;
  background-color: var(--grey-200);
  border-radius: 10px;
  font-size: var(--font-size-xsmall);
  line-height: 14px;
  width: 132px;

  .item {
    display: inline-block;
    padding: var(--spacing-xsmall) var(--spacing-medium);
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
  }

  .selected {
    font-weight: bold;
    background-color: var(--grey-400);
    color: var(--white);
    cursor: default;
  }
}

.basicForm {
  width: 350px;
  padding-bottom: var(--spacing-medium);
}

.editor {
  width: 100%;
}

.drag {
  cursor: move;
}

.dragging {
  background-color: var(--yellow-450) !important;
}

.dragOver {
  border-top: 2px solid var(--primary-7);
}

.inputSetName {
  width: 600px;
}

.inputSetForm {
  max-height: 600px;
  overflow: auto;
}
