.dialog {
  border-radius: 7px;
  position: relative;
  padding-bottom: 0;

  .mainCtn {
    height: 640px;
    width: 100%;
    :global {
      svg[data-icon='vertical-bar-chart-asc'] {
        fill: white !important;
      }
    }

    div[class*='StepWizard--navBarList'] {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 30px !important;
    }

    div[class*='StepWizard--navBarList'] > * {
      width: 220px;
    }

    span[class*='StepWizard--title'] {
      margin-bottom: var(--spacing-large);
    }

    [class*='StepWizard--stepDetails'] {
      overflow-y: auto;
    }

    :global {
      .bp3-label {
        margin-bottom: 10px !important;
      }
    }

    .dataFields {
      width: 250px;
    }

    .stepContainer {
      height: 100%;
      width: 95%;
      position: relative;
      padding: var(--spacing-medium) !important;
      :global {
        .OverlaySpinner--overlaySpinner {
          height: 100%;
        }
      }

      [class*='OverlaySpinner--overlaySpinner'] {
        position: initial;
      }

      .costs {
        display: grid;
        grid-template-columns: 1fr 5px 2fr;
        padding: 25px 30px;
        background-color: var(--primary-1);
        width: 500px;
        gap: 20px;
        border-radius: 4px;

        .separator {
          height: 100%;
          width: 1px;
          background-color: #b0b1c3;
        }
      }

      .thresholds {
        padding-left: 0 !important;

        .threshCtn {
          max-height: 200px;
          background-color: var(--grey-100);
          padding: var(--spacing-medium) var(--spacing-medium) 70px var(--spacing-medium);
          overflow-y: auto;
          box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
        }

        .thresholdLabel,
        .threshold {
          display: grid;
          grid-template-columns: 2fr auto 2fr 6fr 20px;
          gap: 10px;
          align-items: flex-start;
          margin-bottom: var(--spacing-small);
        }

        .thresholdLabel {
          padding: 0 var(--spacing-medium);
          .label {
            text-transform: uppercase;
            font-size: var(--font-size-small);
            color: var(--grey-800);
            font-weight: 600;
          }
        }

        .tagInput {
          max-height: 80px;
          overflow-y: auto;
        }

        .tag {
          background-color: var(--primary-1);
          color: var(--grey-800);
          padding: 0 8px;
          border-radius: 4px;
        }

        :global {
          .bp3-form-group {
            margin-bottom: 0 !important;
          }
        }

        .pushdown7 {
          position: relative;
          top: 7px;
        }
      }

      .addNewAlertBtn {
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16) !important;
        border-radius: 8px;
        border: 1px solid #0278d5 !important;
      }
    }
  }

  .main {
    max-width: 785px;
    margin-bottom: var(--spacing-medium) !important;

    div[class*='collapse'] {
      margin-left: 0;
    }

    & div[class*='Collapse'] {
      border-top: none;
      padding: 0;

      // spacing for adjacent collapsible
      + div[class*='Collapse'][class*='main'] {
        margin-top: var(--spacing-medium);
      }

      div[class*='CollapseHeader'] {
        padding-top: 0 !important;
      }

      span[data-icon='main-chevron-down'] {
        color: var(--primary-7);
      }
    }
  }
}

.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}
