:root {
  --form-input-shadow: var(--bp3-intent-color, #dddddd);
}
.dialog {
  position: relative;
  border-left: 0 !important;
  padding-bottom: 0 !important;
  min-width: 900px;
}

.verifyDialog {
  border-radius: 11px;
  position: relative;
  padding-bottom: 0;
  width: 500px;
  height: 500px;
  padding: var(--spacing-large);
}
.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}
