.link {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 30px;

  &.selected {
    border-right: 4px solid var(--blue-500);
    > span {
      color: var(--white);

      svg g,
      svg path {
        fill: var(--white);
        opacity: 1;
      }
    }
  }

  > span > span {
    padding-right: 10px !important;
  }

  &:hover {
    text-decoration: none;

    > span {
      color: var(--white);

      svg g,
      svg path {
        fill: var(--white);
        opacity: 1;
      }
    }
  }

  .text {
    justify-content: flex-start;

    &,
    svg g,
    svg path {
      transition: all 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
    }
  }
}
