.header {
  padding: var(--spacing-large) var(--spacing-large) !important;
  border-bottom: 1px solid var(--grey-300);
  height: 64px;
}
.search {
  margin-right: var(--spacing-small) !important;
  height: var(--spacing-xxlarge) !important;
  & > input:focus {
    width: 350px !important;
  }
}
.table {
  margin: var(--spacing-large);
}
.pageContainer {
  background: var(--grey-100) !important;
  height: calc(100vh - 128px);
}
.layout {
  justify-content: flex-end;
}
.headerLayout {
  align-items: center;
  justify-content: flex-end;
}
.savingsAmount {
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 28px !important;
  align-self: center;
}

.analyticsHeader {
  padding: var(--spacing-medium) 0 !important;
  border-bottom: 1px solid var(--grey-300);
  height: 64px;
}
.breadCrumb {
  background: var(--blue-100);
  border: 1px solid var(--grey-200);
  box-sizing: border-box;
  padding: 8px;
}
.fulFilmentIcon {
  img {
    width: 18px !important;
  }
}

.refreshIconContainer {
  align-items: center;
  position: absolute;
  top: 13px;
  right: 30px;
  cursor: pointer;
  img {
    margin-right: 10px;
  }
  p {
    color: #0278d5 !important;
  }
}
