.main {
  width: 100% !important;

  .timelineRow {
    margin-bottom: var(--spacing-small) !important;
    display: flex;
    align-items: center;

    .rowLabel {
      color: var(--grey-300) !important;
      font-size: var(--font-size-small) !important;
    }

    > div {
      flex: 1;
    }

    .timeline {
      position: relative;
      hr {
        border: none;
        border-bottom: 2px solid var(--grey-100);
      }
      .event {
        position: absolute;
        top: 0;

        .singleEvent {
          transform: rotate(45deg);
        }
      }
    }
  }
}

.timelineRowPopover {
  background-color: var(--grey-700) !important;
  position: relative;
  bottom: 10px;
  :global {
    .bp3-popover-arrow-fill {
      fill: var(--grey-700) !important;
    }
    .bp3-popover-content {
      background-color: var(--grey-700) !important;
    }
  }
}

.tooltipContainer {
  display: flex;
  min-width: 200px;
  justify-content: space-between;
  align-items: center;

  > p {
    font-size: var(--font-size-small) !important;
    margin-right: var(--spacing-4) !important;
    color: var(--white) !important;
  }

  .colorSidePanel {
    width: 4px;
    margin-right: var(--spacing-4) !important;
    min-height: 30px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

.errorContainer {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--red-50) !important;
  p {
    margin-left: var(--spacing-medium) !important;
  }
}

.noDataContainer {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--grey-100) !important;
  p {
    margin-left: var(--spacing-medium) !important;
  }
}
