.search {
  width: 320px;
  margin-right: 25px;
}
.table {
  margin: var(--spacing-xlarge);
}

.actionButton {
  transform: rotate(90deg);
}
.runPipelineBtn {
  background-color: var(--green-500) !important;
  border-color: var(--green-500) !important;
}
