.testsSummaryView {
  display: flex;
  justify-content: center;
  .separator {
    width: 1px;
    background-color: var(--grey-250) !important;
    margin: 0 var(--spacing-xxlarge) !important;
  }
  .baselineTest {
    text-align: right;
  }
  .mainLabel {
    text-transform: uppercase;
    margin-bottom: var(--spacing-small);
  }
}
