.card {
  width: 160px;
  height: 180px;
  box-shadow: var(--card-shadow);
  align-items: center;
  display: flex !important;
  justify-content: center;
  cursor: pointer;
}

.connectors {
  background-color: var(--blue-50);
}

.secrets {
  background-color: var(--teal-50);
}

.delegates {
  background-color: var(--orange-50);
}
