.main {
  overflow-y: scroll;
  height: 100%;

  .applicationSelectContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-bottom: var(--spacing-medium) !important;
    .applicationSelect {
      width: 200px;
    }
  }

  .formContainer {
    display: flex;
    flex-wrap: wrap;

    .inputFields {
      margin-right: 80px;
      width: 350px;

      .metricPackContainer {
        .customizePack {
          float: right;
          position: relative;
          top: 17px;
          font-size: var(--font-size-xsmall);
        }
        > div {
          clear: right;
        }
      }
    }

    .tableContainer {
      width: 480px;
      max-height: 300px;
      overflow-y: scroll;
      position: relative;
      bottom: 5px;
    }

    @media only screen and (max-width: 1303px) {
      .inputFields {
        width: 100%;
        margin-right: 0;
      }
      .tableContainer {
        width: 100%;
        table {
          width: 100%;
        }
      }
    }
  }
  .actionButtons {
    text-align: right;
    margin-top: var(--spacing-xxlarge);
  }
}
