.main {
  height: 80vh;
  overflow-y: scroll;

  .applicationSelect {
    float: right;
    margin-bottom: var(--spacing-medium) !important;
  }

  .applicationSelect + div {
    clear: right;
  }

  .formContainer {
    display: flex;
    flex-wrap: wrap;

    .inputFields {
      margin-right: 80px;
      width: 350px;

      .metricPackContainer {
        .customizePack {
          float: right;
          position: relative;
          top: 17px;
        }
        > div {
          clear: right;
        }
      }
    }

    .tableContainer {
      width: 480px;
      max-height: 300px;
      overflow-y: scroll;
    }

    @media only screen and (max-width: 1303px) {
      .inputFields {
        width: 100%;
        margin-right: 0;
      }
      .tableContainer {
        width: 100%;
        table {
          width: 100%;
        }
      }
    }
  }
}
