.main {
  .mainContent {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .drawerHeading {
    padding: var(--spacing-medium) var(--spacing-small) !important;
    font-size: var(--font-size-medium) !important;
    border-bottom: 2px solid var(--grey-300);
    height: 55px;
  }

  .activityList {
    border-right: 1px solid var(--grey-300);
    overflow-y: scroll;

    .backToChangeList {
      margin: var(--spacing-small) !important;
      width: 91%;
    }

    .selectedActivity {
      background-color: var(--blue-200);
    }

    .activityItem {
      padding: var(--spacing-large) !important;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        background-color: var(--blue-200);
        cursor: pointer;
      }

      .activityTotal {
        display: inline-block;
      }

      .verificationResult {
        margin-left: var(--spacing-small) !important;

        &[data-verification-result='NOT_STARTED'] svg path {
          fill: var(--grey-300) !important;
        }

        &[data-verification-result='VERIFICATION_PASSED'] svg path {
          fill: var(--green-500) !important;
        }
        &[data-verification-result='ERROR'] svg path,
        &[data-verification-result='VERIFICATION_FAILED'] svg path {
          fill: var(--red-500) !important;
        }
        &[data-verification-result='WARNING'] svg path {
          fill: var(--yellow-500) !important;
        }

        &[data-verification-result='IGNORED'] svg path,
        &[data-verification-result='IN_PROGRESS'] svg path {
          fill: var(--primary-7) !important;
        }
      }
    }
  }
  .summaryCard {
    display: flex;
    padding: var(--spacing-large) !important;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    height: 170px !important;
    width: 100% !important;

    .heading {
      margin-bottom: var(--spacing-large) !important;
    }

    .changeSourceDetails {
      border-right: 1px solid var(--grey-200);
      flex-basis: 50%;
    }

    .changeSummary {
      margin-left: var(--spacing-small) !important;
      flex-basis: 50%;

      .viewJson {
        display: flex;
        align-items: center;
      }

      .summaryRow {
        display: flex;
        justify-content: space-between;
      }
    }

    .keyValPair {
      display: block;
      height: 35px;
      margin-bottom: var(--spacing-small) !important;
      .key {
        margin-bottom: var(--spacing-xsmall) !important;
      }
    }
  }

  .kubernetesContent {
    overflow-y: scroll;
    height: 100%;
    .eventsList {
      list-style: none;
      padding-left: 0 !important;
      box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);

      .listItem {
        p {
          color: var(--black) !important;
          margin-right: var(--spacing-xsmall) !important;
        }
        padding: var(--spacing-medium) !important;
        display: flex;
        border-bottom: 1px solid var(--grey-300);

        &:last-of-type {
          margin-bottom: 50px !important; // so that last element is visible on scroll
        }
      }

      .listHeader > p {
        font-weight: bold;
      }

      .creationDate {
        flex-basis: 20%;
      }
      .type {
        flex-basis: 10%;
      }
      .reason {
        flex-basis: 10%;
      }
      .message {
        flex-basis: 60%;
      }
    }
  }

  .highlightOnHover {
    cursor: pointer;
    &:hover {
      background-color: var(--blue-200) !important;
    }
  }

  .deploymentInfo {
    .harnessEntity {
      margin-bottom: var(--spacing-small) !important;
      p {
        display: inline-block;
      }
      p:first-child {
        margin-right: var(--spacing-xsmall) !important;
        color: var(--black) !important;
      }
    }

    > div:nth-child(2) {
      display: inline-block;
      margin: 0 !important;
    }
    .deploymentContent {
      margin-top: var(--spacing-small) !important;
    }
  }
}

.eventsEditor {
  flex: 1;
}

.contentSpinner {
  display: block;
  position: relative;
  top: 200px;
  svg {
    margin: 0 auto !important;
  }
}

.contentError {
  position: relative;
  bottom: 200px;
}
