.container {
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: 500;
  justify-content: flex-start;

  > *:first-child {
    font-size: var(--font-size-small) !important;
    margin-right: 8px;
    opacity: 0.6;
  }

  > *:last-child {
    font-size: var(--font-size-small) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
  }
}
