.createTemplateDialog {
  width: 875px;
  padding-bottom: 0;
  position: relative;
}

.subHeaderLeftView {
  .templateName {
    font-size: 20px !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    max-width: 240px;
    overflow: hidden;
  }

  .versionDropDown {
    :global(.DropDown--dropdownButton) {
      background-color: transparent !important;
      border-color: var(--primary-6) !important;
      height: 30px;
      min-width: var(--spacing-11) !important;
      max-width: 120px;
      column-gap: var(--spacing-4) !important;
    }
    :global(.DropDown--label) {
      color: var(--primary-7) !important;
      font-size: 13px !important;
    }
    :global(.DropDown--btnWrapper) {
      svg {
        color: var(--primary-7);
      }
    }
  }
}
