.diamond {
  transform: rotate(45deg);
  & > span {
    transform: rotate(-45deg);
  }
  & > div[class*='portIn'] {
    top: calc(80% + 4px);
  }
  & > div[class*='portOut'] {
    top: calc(-20% + 4px);
  }
  .diamondClose {
    transform: rotate(-45deg);
    top: -15px;
    left: -15px;
  }
}
