.timePeriods {
  max-width: 250px;
  padding: var(--spacing-medium);
}

.serviceHealthCard {
  padding: var(--spacing-none) var(--spacing-medium) !important;
}

.tickersRow {
  display: flex;
  flex-direction: row;
}

.ticker {
  padding: var(--spacing-none) var(--spacing-medium) !important;
}

.serviceHealthHeader {
  display: flex;
  justify-content: space-between;
}

.healthScoreCardContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: var(--spacing-large) !important;
}

.healthScoreCard {
  height: 31px;
  width: 31px;
  border-radius: var(--spacing-xsmall);
  font-size: var(--font-size-small);
  padding-top: var(--spacing-small);
  color: var(--white);
  text-align: center;
  margin-right: var(--spacing-small);
}
