.timePeriods {
  max-width: 250px;
  padding: var(--spacing-medium);
}

.serviceHealthCard {
  padding: var(--spacing-none) var(--spacing-medium) !important;
}

.tickersRow {
  display: flex;
  flex-direction: row;
}

.ticker {
  padding: var(--spacing-none) var(--spacing-medium) !important;
}

.serviceHealthHeader {
  display: flex;
  justify-content: space-between;
}
