.timeRangeSelector {
  display: flex;
  justify-content: center;
  background: var(--grey-100);
  border-radius: 25px;
  height: 20px;
  padding: 0 var(--spacing-small);
  .timeRangeButton {
    min-height: 20px !important;
    padding: 0 !important;
    white-space: nowrap !important;
    color: var(--gray-500) !important;
    font-weight: bold !important;
    :first-child {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
