.main {
  background: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    padding: var(--spacing-large);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .actions {
      display: flex;
      align-items: center;
      column-gap: var(--spacing-small);
    }
  }

  [data-state='floating'] & {
    width: 520px;
    height: 630px;
    box-shadow: 0px 2px 8px var(--grey-400);
    border-radius: 8px;
  }

  .title {
    font-weight: 500;
    font-size: var(--font-size-normal);
    line-height: 18px;
    color: var(--grey-400);
  }

  .more {
    & svg[data-icon='more'] {
      transform: rotate(90deg);
      transform-origin: 50% 50%;
    }
  }

  .tabs {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);

    & > :global(.bp3-tab-list) {
      width: 100%;
      height: 30px;
      padding: var(--spacing-none) var(--spacing-large);
      align-items: center;
      box-shadow: inset var(--blue-350) 0px -4px 0px;
    }

    & :global(.bp3-tab-panel) {
      margin-top: var(--spacing-none);
      flex: 1 1 0%;
      max-height: calc(100% - 30px);
      overflow-y: auto;
    }

    & :global(.bp3-tab) {
      line-height: 30px;
      padding: var(--spacing-none) var(--spacing-small);
    }

    & :global(.bp3-tab[aria-selected='true']),
    & :global(.bp3-tab:not([aria-disabled='true']):hover) {
      color: var(--blue-500);
    }

    & :global(.bp3-tab-indicator-wrapper .bp3-tab-indicator) {
      background-color: var(--blue-500);
      height: 4px;
    }
  }
}

.detailsTab {
  display: flex;
  flex-direction: column;
  height: 100%;

  .errorMsg {
    padding: var(--spacing-small) var(--spacing-large);

    .title {
      font-size: var(--font-size-normal);
      font-weight: 500;
      margin-bottom: var(--spacing-small);
    }

    p {
      font-size: var(--font-size-small);
    }

    &.error {
      background-color: rgba(255, 242, 242, 0.5);
      .title {
        color: var(--red-500);
      }
    }

    &.warn {
      background-color: rgba(255, 242, 242, 1);
      .title {
        color: var(--yellow-500);
      }
    }
  }

  .detailsTable {
    border-collapse: collapse;
    margin: var(--spacing-large) var(--spacing-xsmall);

    th,
    td {
      padding: var(--spacing-xsmall) var(--spacing-large);
      font-weight: 600;
      font-size: var(--font-size-small);
      line-height: var(--font-size-small);
      text-align: left;
    }

    & th {
      color: var(--grey-400);
      width: 100px;
    }

    & td {
      color: var(--grey-500);
    }
  }
}

.io-tab {
  font-size: var(--font-size-small);
  margin: var(--spacing-xlarge);
  padding: var(--spacing-xsmall);
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);

  .io-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2;
    padding: var(--spacing-xsmall) var(--spacing-xxlarge);

    &:not(:last-child) {
      border-bottom: 1px solid var(--grey-250);
    }

    &.header {
      font-weight: bold;
    }

    .key {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .value {
      color: var(--grey-400);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .panel {
    padding: 0 var(--spacing-xsmall);

    &:not(:last-child) {
      border-bottom: 1px solid var(--grey-250);
    }

    .panelTitle {
      display: flex;
      column-gap: var(--spacing-small);
      cursor: pointer;
      line-height: 2;
      align-items: center;
      padding: var(--spacing-xsmall) var(--spacing-xsmall) 0 var(--spacing-xsmall);
      color: var(--grey-400);
    }

    &[data-status='close'] .panelTitle :global(.bp3-icon) {
      transform: rotate(180deg);
    }

    & + & {
      border-top: 1px solid var(--grey-250);
      margin-top: var(--spacing-xsmall);
    }
  }
}
