.avatar {
  margin: 0 !important;

  [class*='AvatarInner'] {
    border-color: transparent !important;
    transform: scale(0.855);
    background-color: #47d5df !important;
  }
}

.tabContainer {
  .tabTitle {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 19px !important;
    color: #333333 !important;
    padding: var(--spacing-small) var(--spacing-xsmall) var(--spacing-xsmall) !important;
  }

  [aria-selected='true'] > .tabTitle {
    font-weight: 600 !important;
    color: #22272d !important;
  }

  [role='tablist'] {
    padding-left: var(--spacing-xlarge);
  }
}
