.custom-variables {
  padding: var(--spacing-large) 0 var(--spacing-large) var(--spacing-large);

  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .subHeader {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 280px var(--variable-column2) var(--variable-column3);
    align-items: baseline;
    padding: var(--spacing-medium);
    padding-bottom: 0;
  }

  .value-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    & > div {
      display: flex;
    }
  }

  .variable-list-table {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 280px var(--variable-column2) var(--variable-column3);
    align-items: baseline;
    margin-top: var(--spacing-large);
  }

  .actionButtons {
    button {
      margin-left: var(--spacing-small);
      border-radius: var(--spacing-xxlarge) !important;
      padding: 0 !important;
      :global {
        svg {
          height: 12px;
        }
      }
    }
  }
}

.secret-container {
  position: relative;
  padding: var(--spacing-large) 0 0;
  .fixed {
    position: absolute;
    top: 0;
    right: 0;
  }
  .icon {
    cursor: pointer;
  }
}
