.md {
  width: 75%;
}

.connector {
  margin-bottom: var(--spacing-medium) !important;
  margin-top: var(--spacing-xsmall) !important;

  :global {
    .MultiTypeInput--main {
      width: 420px !important;
    }

    .bp3-button {
      width: 392px !important;
    }

    .bp3-input {
      width: 392px !important;
    }
  }
}

.deploymentViewMedium {
  width: 44%;
}

.descriptionField {
  :global {
    textarea {
      min-height: 50px;
      max-height: 120px;
      height: 75px !important;
    }

    .bp3-input {
      height: 75px !important;
    }

    .MultiTypeInput--btn {
      height: 30px !important;
    }
  }
}

.fieldsPopover {
  padding: var(--spacing-large);
}

.addFieldsModal {
  padding: var(--spacing-large);
  width: 600px;
}

.jiraFieldSelectorSection {
  width: 500px;
  overflow-x: auto;
  padding: var(--spacing-large);
}

.fieldsPopoverHeading {
  font-size: 20px !important;
  margin-bottom: var(--spacing-small) !important;
  font-weight: bold !important;
}

.multiSelect {
  :global {
    .bp3-tag-input {
      height: fit-content !important;
    }
  }
}

.headerRow {
  display: grid;
  grid-template-columns: 1fr 1.5fr 30px;
  column-gap: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  align-items: center;

  :global(.bp3-form-group) {
    margin: 0;
  }

  .label {
    color: var(--grey-400);
  }

  :global(.bp3-icon-trash) {
    color: var(--grey-400) !important;
  }
}

.fetching {
  display: flex;
  justify-content: center;
  padding: var(--spacing-medium) 0;
}

.alignCenter {
  align-items: center;
}

.connectorDeployment {
  :global {
    .bp3-button {
      width: 338px !important;
    }

    .bp3-button-text {
      width: 287px !important;
    }
  }
}
