.container {
  height: 100%;
  width: 100%;
}

.canvas {
  height: 100%;
  width: 100%;

  > div {
    cursor: default;
    height: 100%;
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10px 10px;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));

  .bp3-card {
    padding: 10px 5px;
    width: 80px;
    height: 80px;
  }
}
