.main {
  display: flex;
  align-items: center;
  width: 200px !important;
  &:hover {
    cursor: pointer;
    .itemLabel {
      background-color: var(--blue-825) !important;
      color: var(--white) !important;
    }
  }

  .itemLabel {
    margin: 0 var(--spacing-small) !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    padding: var(--spacing-small) !important;
  }
}

.selected .itemLabel {
  background-color: var(--blue-900) !important;
  color: var(--white) !important;
}
