.table {
  padding: var(--spacing-large) var(--spacing-xxlarge);
  padding-bottom: 0;
}

.colorbox {
  width: 24px;
  height: 26px;
  display: inline-block;
  border-radius: var(--spacing-xsmall);
}

.layout {
  justify-content: flex-end;
}

.verticalCenter {
  justify-content: center;
}

.project {
  max-width: 290px;
}

.org {
  max-width: 150px;
}
