.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .item {
    display: flex;
    align-items: center;
    .meta {
      color: var(--grey-400);
      font-size: smaller;
    }
    .secretIcon {
      margin-right: var(--spacing-small) !important;
      > svg {
        > path {
          fill: var(--blue-500);
        }
      }
    }
  }
  .iconCheck {
    visibility: hidden;
    margin-right: var(--spacing-xsmall);
    cursor: pointer;
    > svg {
      > path {
        stroke-width: 1;
        stroke: var(--grey-500);
      }
    }
  }
  .iconChecked {
    visibility: visible !important;
    > svg {
      > path {
        stroke: var(--blue-600);
      }
    }
  }
  &:hover {
    .iconCheck {
      visibility: visible;
    }
  }
}
.selectBox {
  display: flex;
  align-items: center;
  .text {
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding-left: var(--spacing-small);
  }
  .secretTypeSelect {
    width: 55px;
    margin-right: 10px;
    :global {
      .bp3-input-group {
        > input {
          height: 36px;
          border: none !important;
          padding-top: 8px;
        }
      }
      .bp3-popover {
        padding-left: 10px;
      }
      .bp3-menu {
        min-width: 55px;
      }
      .bp3-input-action {
        width: 10px;
        > span {
          margin-top: 1px;
          padding-left: var(--spacing-xsmall) !important;
          padding-right: 0px !important;
        }
      }
    }
  }
}
