.widthHalf {
  width: 50%;
}

.baseURL {
  margin-bottom: var(--spacing-small) !important;
  margin-top: var(--spacing-small) !important;
}

.parameterLayout {
  display: flex !important;
  justify-content: flex-start !important;
}
