.container {
  position: relative;
  .stageCard {
    margin: 0px 0px var(--spacing-xxlarge) 0px;
    padding: var(--spacing-5) 0px;
    background: var(--white);
  }
  .inputsContainer {
    :global {
      .bp3-form-group {
        > .bp3-label {
          color: var(--grey-600) !important;
        }
      }
    }
    .inputsCount {
      flex-shrink: 0;
    }
    .inputsCard {
      box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
      border-radius: 4px;
    }
  }
}
