.sideContainer {
  position: relative;
  min-height: 200px;
  .error {
    margin-top: var(--spacing-5) !important;
  }
}
.inputsContainer {
  :global {
    .bp3-form-group {
      > .bp3-label {
        color: var(--grey-600) !important;
      }
    }
  }
}
