.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.formElements {
  min-height: 400px;
  margin: var(--spacing-large) 0 !important;
}
.service {
  width: 300px;
}
.check {
  font-size: var(--font-size-normal);
}
.activityType {
  width: 300px;
}

.title {
  color: var(--black) !important;
  font-size: 24px !important;
  font-weight: bold !important;
}

.green {
  color: var(--green-500);
}

.red {
  color: var(--red-500);
}
