.servicesPage {
  display: flex;
  height: 100%;
  .sidebar {
    flex-basis: 230px;
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    .serviceHeader {
      flex-basis: var(--spacing-huge);
      margin-bottom: var(--spacing-medium);
    }
    .serviceBody {
      flex: 1;
      padding: var(--spacing-large);
    }
  }
  .sidebar,
  .content {
    margin: var(--spacing-medium);
  }
  .sidebar,
  .serviceHeader,
  .serviceBody {
    box-shadow: 2px 2px 12px var(--grey-300);
    border-radius: var(--spacing-small);
  }
}
