.servicesPage {
  display: flex;
  height: 100%;
  padding: var(--spacing-large) !important;
  .fixedServices {
    margin-right: var(--spacing-large);
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    .serviceHeader {
      flex-basis: var(--spacing-huge);
      margin-bottom: var(--spacing-medium);
    }
    .serviceBody {
      flex: 1;
      margin-top: var(--spacing-xlarge);

      .analysisView {
        margin-top: var(--spacing-xlarge);
      }
    }
    .categoryRiskCard {
      width: 180px;
    }
  }
}
