.serviceSelectorGroup {
  margin-bottom: var(--spacing-xsmall);
  .groupName {
    display: flex;
    align-items: center;
    margin: var(--spacing-small);
    cursor: pointer;
  }
  .groupBody {
    border-left: 2px dashed var(--grey-300);
    margin-left: var(--spacing-small);

    .serviceItem {
      padding: var(--spacing-small) var(--spacing-large);
      .serviceItemHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--spacing-small);
      }
      cursor: pointer;
      &.selected {
        background-color: var(--blue-200);
      }
      &:hover {
        background-color: var(--blue-100);
      }
    }
  }
}
