.table {
  .header {
    font-weight: bold;
    font-size: smaller;
    color: var(--black);
    display: block;
    padding: var(--spacing-medium);

    .cell {
      cursor: pointer;
    }
  }

  .row {
    display: block;
    margin-bottom: var(--spacing-small);
    padding: var(--spacing-medium);
    background-color: white;
  }

  .card {
    box-shadow: 0px 1px 5px -4px var(--black);
    border-radius: 10px;
  }

  .card.clickable {
    cursor: pointer;
    &:hover {
      box-shadow: 0px 1px 6px -3px var(--black);
    }
  }

  .cell {
    display: inline-block;
    vertical-align: middle;
  }
}
