.table {
  .header {
    font-weight: bold;
    display: block;
    padding: var(--spacing-medium) var(--spacing-xlarge);
  }

  .row {
    display: block;
    margin-bottom: var(--spacing-small);
    padding: var(--spacing-medium);
  }

  .card {
    box-shadow: 0px 1px 6px -4px var(--black);
    border-radius: 10px;
  }

  .cell {
    display: inline-block;
    vertical-align: middle;
  }
}
