.cardTags {
  background-color: var(--grey-200) !important;
  color: var(--grey-400) !important;
  max-width: 200px;
  margin-right: var(--spacing-xsmall);
  margin-top: var(--spacing-xsmall);
}

.wrap {
  overflow: hidden;
}

.title {
  max-width: 500px;

  .colorBar {
    width: 64px;
    height: 6px;
    border-radius: 8px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .tags {
    color: var(--primary-9);
    font-weight: 500;
    border-radius: 5px !important;
    background-color: var(--primary-3) !important ;
  }
}

.header {
  padding-bottom: var(--spacing-xlarge) !important;
  background-color: var(--primary-1) !important;
  border-bottom: none;
  align-items: stretch !important ;
}

.enabledModules {
  min-width: 1200px;
}

.activityCard {
  width: 250px;
  height: 500px;
  overflow: auto;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  padding: 30px 20px 30px 40px;
}
.projectDetailsAvatarGroup {
  justify-content: flex-end;
}

.divider {
  height: 16px;
  border: 1px solid var(--grey-400);
}
