@mixin card-mixin($radius) {
  position: relative;
  border: 0.2px solid #0000001a;
  box-shadow: 0px 0.5px 2px 0px #60617029;
  border-radius: $radius;
  background-color: white !important;
  .titleAndMessage {
    flex: 1;
    margin: 0 var(--spacing-small) !important;
    min-width: 0;
    > * {
      display: block;
      max-width: 100%;
      :global(.bp3-popover-target) {
        max-width: 100%;
      }
    }
    .title {
      font-size: var(--font-size-normal) !important;
      display: block !important;
      text-overflow: ellipsis;
    }
  }
  .title {
    padding-top: 8px;
    padding-bottom: 4px;
    font-weight: 500 !important;
    font-size: var(--ci-font-size-normal) !important;
  }
}

@mixin border-mixin($radius, $width, $color) {
  .leftBorder {
    background-color: $color;
    position: absolute;
    left: 0px;
    top: -0.3px;
    bottom: -0.3px;
    width: $width;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
}

.failedBuildCard {
  @include card-mixin(4px);
  @include border-mixin(6px, 4px, var(--ci-color-red-400));
  padding: var(--spacing-small) !important;
  display: flex;
  align-items: center;
  height: 64px;
  .branchAndCommitWrap {
    text-align: right;
  }
  .linkWrap {
    display: inline-flex;
    align-items: center;
    background-color: var(--ci-color-gray-100);
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: var(--spacing-xsmall);
    svg {
      margin-right: 3px;
    }
    a {
      color: var(--ci-color-blue-500);
      font-size: var(--ci-font-size-small);
    }
  }
}

.activeBuildCard {
  @include card-mixin(4px);
  padding: var(--spacing-small) !important;
  display: flex;
  align-items: center;
  height: 64px;
  .buildIcon {
    margin: 0 var(--spacing-small);
    svg {
      width: 24px;
      height: 20px;
    }
  }
  .statusLabel {
    border: 0.5px solid;
    padding: var(--spacing-xsmall);
    font-size: var(--font-size-small);
    font-weight: 500;
    font-size: var(--ci-font-size-small);
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: var(--spacing-xsmall) var(--spacing-xsmall) var(--spacing-medium) var(--spacing-xsmall);
    img,
    svg {
      margin-right: var(--spacing-xsmall);
    }
    .statusLabelIcon {
      margin-right: 5px;
    }
    &.pendingLabel {
      color: var(--ci-color-orange-500);
      border-color: var(--ci-color-orange-500);
      background-color: var(--ci-color-orange-400);
    }
    &.runningLabel {
      color: var(--ci-color-blue-400);
      border-color: var(--ci-color-blue-200);
      background-color: var(--ci-color-blue-100);
    }
  }
}

.times {
  font-size: var(--ci-font-size-xsmall) !important;
  white-space: nowrap !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .timeIcon {
    margin-left: var(--spacing-small) !important;
    margin-right: var(--spacing-xsmall) !important;
  }
  &.timesColored {
    color: var(--red-500) !important;
  }
  &.timesColored .timeIcon {
    color: var(--red-500);
  }
}

.repositoryCard {
  @include card-mixin(4px);
  @include border-mixin(6px, 4px, var(--grey-300));
  padding: var(--spacing-medium) var(--spacing-large) var(--spacing-small) !important;
  .mainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grey-200);
    margin-bottom: var(--spacing-small) !important;
    padding-bottom: var(--spacing-small) !important;
    .cardStats {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: var(--spacing-large);
      grid-row-gap: var(--spacing-xsmall);
      margin-top: var(--spacing-small) !important;
      .statHeader {
        text-transform: uppercase;
        color: var(--grey-400);
        font-size: var(--ci-font-size-small) !important;
      }
      .statContent {
        font-size: 25px;
        line-height: 25px;
        font-weight: bold;
      }
      .statWrap {
        display: flex;
        align-items: flex-end;
        svg {
          margin-bottom: -2px;
          margin-left: var(--spacing-xsmall);
        }
        .rateDiffValue {
          font-size: var(--ci-font-size-small) !important;
        }
      }
    }
    .chartWrapper {
      flex: 1;
      min-width: 0;
      max-width: 150px;
    }
  }
  .cardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-size: var(--ci-font-size-small) !important;
      line-height: 1.2 !important;
    }
    .avatarWrapper {
      display: flex;
      align-items: center;
      > div {
        margin-left: 0px;
      }
    }
  }
}
