.selectionCard {
  padding: 0;
  width: 80px;
  height: 80px;
  position: relative;

  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;

  .triangle {
    width: 0;
    height: 0;
    border-top: 30px solid var(--primary-7);
    border-left: 30px solid transparent;
    position: absolute;
    top: -2px;
    right: -2px;
  }

  .tick {
    position: relative;
    bottom: 30px;
    right: 16px;
  }

  .selectedCard {
    border: 2px solid var(--primary-7);
  }
  .cardIconSelected {
    left: 1px;
  }

  .cardLabel {
    align-self: center;
  }
}

.largeCard {
  width: 130px;
  height: 140px;
  .triangle {
    left: 97px;
    top: -1px;
  }
}
