.projectSelect {
  padding: var(--spacing-small) 0 var(--spacing-small) var(--spacing-xxlarge);
  background-color: #000000;

  :global {
    .bp3-input-left-container > span {
      margin-left: 0 !important;
      margin-right: 10px !important;
    }
  }

  input {
    color: #25a6f7 !important;
    background-color: transparent !important;
    border-width: 0 !important;
  }
}

.top-bar {
  position: relative;

  .dashboard-link {
    position: absolute;
    cursor: pointer;
    top: var(--spacing-medium);
    right: var(--spacing-medium);
  }
}
