.card {
  width: 250px;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);

  .projectInfo {
    overflow-wrap: anywhere;
  }

  .projectName {
    margin: 16px 0 8px 0 !important;
  }

  .tags {
    margin-top: var(--spacing-small);
  }

  .tagsPopover {
    p {
      color: var(--grey-600);
    }
  }
  .id {
    font-size: 12px;
  }
  .iconMore {
    :global(.bp3-icon) {
      transform: rotate(90deg) !important;
      color: var(--grey-450) !important;
    }
  }
  .description {
    padding: var(--spacing-small) 0 0 0 !important;
    max-height: 40px;
  }

  .urls {
    padding: var(--spacing-small) 0 0 0 !important;
    font-size: 12px;
    .serverUrl,
    .uiUrl {
      margin-bottom: 6px;
    }
  }

  .status {
    padding: 16px 0;
    font-size: 12px;

    display: flex;
    align-items: center;

    .label {
      border: 1px solid #0278d5;
      color: #0278d5;
      padding: 8px;
      margin-right: 16px;
      display: inline;
      border-radius: 3px;
    }

    .serverStatus {
      padding: 8px;
      margin-right: 16px;
      border-radius: 3px;
      display: inline;
      font-weight: bold;
    }
  }

  .success {
    color: var(--green-500);
    border: 1px solid var(--green-500);
    background: rgba($color: #4dc952, $alpha: 0.1);
  }

  .failure {
    color: var(--red-500);
    border: 1px solid red;
    background: rgba($color: #e43326, $alpha: 0.1);
  }
}

.mainTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-small);
}

.layout {
  justify-content: flex-end;
}

.argoLogo {
  height: 30px;
}

.launch {
  margin: 20px 0;
}

.frameContainer {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 100%;
  background: white;
}

.frameHeader {
  height: 40px;
  position: relative;
  background: #0278d5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  .closeIcon {
    position: absolute;
    right: 0;
    :global(.bp3-icon) {
      color: white !important;
    }
  }

  .argoLogo {
    height: 24px;
    margin-right: 12px;
  }
}

.confirmText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.argoFrame {
  height: calc(100% - 40px);
}
