.container {
  background: var(--white);
  padding: 10px;

  .mainContainer {
    background: var(--white);
    display: grid;
    grid-template-columns: 25px auto;
    align-items: center;
    padding: 0px 10px;
    border: 1px solid var(--grey-300);
    border-radius: 4px;

    .filterContainer {
      border: none;
      margin: 0px;
    }
  }
}

.groupByContainer {
  display: grid;
  grid-template-columns: 76px auto 90px;
  align-items: center;
  padding: 8px 0px;

  .groupByLabel {
    margin-bottom: 2px;
  }

  .groupBys {
    display: flex;

    .groupByItems {
      margin: 0px 10px;
      cursor: pointer;

      &.activeItem {
        color: var(--blue-500);
        border-bottom: 1px solid var(--blue-500);
      }
    }

    .labelDropDownContainer {
      .noResults {
        margin: 12px;
      }

      .search {
        & > input {
          height: 28px;
          width: 198px;
          margin: 12px;
          margin-bottom: 0px;
        }
      }
    }
  }

  .iconContainer {
    display: flex;

    .icon {
      height: 32px;
      width: 32px;
      padding: 5px;
      cursor: pointer;
      margin: 5px;

      svg {
        height: 14px;
        width: 15px;
        position: relative;
        left: 3px;
      }

      &.active {
        background: var(--blue-200);
      }
    }
  }
}

.groupByList {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  max-height: 280px;
  overflow-y: scroll;

  .groupByListItems {
    cursor: pointer;
  }
}
