.firstep {
  padding: var(--spacing-small) 0 0 var(--spacing-small) !important;

  .heading {
    color: var(--grey-800);
    font-size: var(--font-size-medium);
    letter-spacing: 0;
  }
  .connectorForm {
    width: 64%;
    min-height: 440px;
    max-width: 375px;
    :global {
      .bp3-label {
        color: var(--grey-400);
        font-size: var(--font-size-small);
      }
      .bp3-form-group {
        margin-bottom: 20px;
      }
      .bp3-input-group {
        .bp3-input {
          height: 36px;
        }
      }
      textarea {
        height: 96px;
      }
    }
  }
  .saveBtn {
    width: 100px;
    border-radius: 6px;
    height: 36px;
    color: var(--blue-500) !important;
    border-color: var(--blue-500) !important;
    > span {
      font-size: var(--font-size-small);
      letter-spacing: 0.2px;
    }
  }
}
.description {
  textarea {
    max-height: 205px;
    min-height: 100px;
    min-width: 375px;
  }
}
.tags {
  height: 50px;
  :global {
    .bp3-form-content {
      > div > div > div > div > {
        button {
          display: none;
        }
        div span {
          height: 22px;
          border-radius: 6px;
          padding: 2px 3px;
        }
      }
    }
  }
}
