.card {
  border-radius: 5px;
  border: 1px solid var(--grey-500);

  header,
  footer {
    background-color: var(--blue-800);
    padding: 30px;
    text-align: center;
    color: var(--white);
  }

  section {
    padding: 30px;
  }
}
