.main {
  width: 50% !important;
  max-width: 500px;
  position: absolute;
  left: 52%;
  transform: translate(-50%, 10%);

  .monitoringCard {
    margin-bottom: var(--spacing-large) !important;
  }

  .tableWithFilter {
    display: flex;
  }
}
