.secondStep {
  margin: var(--spacing-small) 0 var(--spacing-small) var(--spacing-small) !important;
  .headingStepTwo {
    font-size: var(--font-size-medium);
    letter-spacing: 0;
    color: var(--grey-800);
  }

  .clusterWrapper {
    padding: var(--spacing-xsmall) !important;
    min-height: 480px;
    overflow: auto;

    .cardRow {
      display: flex;
      margin-bottom: var(--spacing-large);
      .card {
        display: flex;
        justify-content: space-between;
        border-radius: inherit;
        width: 100%;
        height: 80px;

        .textInfo {
          margin: var(--spacing-small) var(--spacing-small) var(--spacing-small) var(--spacing-large);
        }
      }

      .selectedCard {
        background-color: #dceeff;
      }

      :global {
        .bp3-card {
          width: 42%;
          display: flex;
          justify-content: space-between;
          padding: 0;
          margin-right: 4%;
          border-radius: 8px;
          background-color: var(--white);
        }
      }
    }

    :global {
      .bp3-button,
      .bp3-checkbox {
        width: 42%;
        height: 36px;
      }
    }
  }
}
