.table {
  padding: var(--spacing-large) var(--spacing-xxlarge);
  padding-bottom: var(--spacing-none);
}

.invitation {
  background-color: var(--blue-500);
}

.roleButton {
  min-height: inherit !important;
  padding: var(--spacing-none) !important;
}
