.tags {
  padding: var(--spacing-small);
  background: none;
  color: var(--grey-700);
  cursor: pointer;
  letter-spacing: 0.5px;
  &:hover {
    text-decoration: none;
    color: var(--grey-700);
  }
}
.activeTag {
  border-bottom: 2px solid var(--blue-500);
  &:hover {
    text-decoration: none;
  }
}

.header {
  flex-direction: column !important;
  align-items: unset !important;

  .breadCrumb {
    font-size: 12px !important;
  }
}
