.footer {
  position: fixed;
  bottom: 20px;
  z-index: 1;
  margin-left: var(--spacing-large) !important;
}
.tabTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.4px;

  /* Gray 1 */

  color: #333333;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
  margin: 8px 0px;
}
.symbol {
  margin-right: 8px !important;
  color: var(--white) !important;
}
.greenSymbol {
  margin-right: 8px !important;
  color: var(--green-500) !important;
}
.nameTypeIcon {
  margin-right: var(--spacing-xsmall);
}
.editable {
  border-radius: 2px;
  padding: 2px;
  cursor: auto;
}
.detailsTab {
  .bp3-tab-panel {
    margin: 0;
  }
  .bp3-tab[aria-selected='true'] {
    color: black !important;
  }
  .bp3-tab[aria-selected='false'] {
    color: var(--grey-800);
  }
  .bp3-tab-list {
    position: relative !important;
    top: auto;
    background: white !important;
    // border-bottom: none !important;
    margin-bottom: var(--spacing-small);
  }
  .bp3-tab-list:first-child {
    // justify-content: center !important;
    padding-left: 230px !important;
  }
  .bp3-tab-indicator-wrapper {
    top: 10px;
  }
  .bp3-tab-panel {
    position: relative !important;
    top: auto !important;
    height: auto !important;
    width: auto !important;
    overflow: visible !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}
.breadCrumb {
  background: var(--blue-100);
  border: 1px solid var(--grey-200);
  box-sizing: border-box;
  padding: 8px;
}
