.main {
  height: 100%;
  .dataContainer {
    height: 100%;
    overflow-y: scroll;
  }
  .mainRow {
    display: grid;
    grid-template-columns: 50px 78px 50px 3fr 60px minmax(0, 1fr);
    grid-column-gap: var(--spacing-medium);

    .logRowText {
      font-size: 10px !important;
      color: #22272d !important;
    }

    .logRowColumnHeader {
      margin-bottom: var(--spacing-small);
      font-size: var(--font-size-small) !important;
    }

    .compareDataColumn {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      input,
      [class*='bp3-icon'] {
        cursor: pointer;
        margin: 0 auto;
      }
    }

    .openModalColumn {
      cursor: pointer;
    }

    .noFeedback {
      margin: 0 auto;
      position: relative;
      right: 2px;
    }

    .logText {
      white-space: pre-wrap;
      word-break: break-word;
      p {
        font-family: var(--font-family-mono) !important;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }
      :global {
        .bp3-popover-target {
          width: 100% !important;
        }
      }
    }

    .lineChartContainer {
      padding-top: 0 !important;
      padding-bottom: var(--spacing-small);
      > div {
        height: 100%;
        width: 100%;
      }
    }

    .dataColumn {
      padding-top: var(--spacing-small);
    }
  }
}

.columnHeader {
  border-bottom: 1px solid var(--grey-250);
}

.dataRow {
  padding: var(--spacing-xsmall) 0 !important;
}

.highlightRow:hover {
  background-color: var(--blue-200);
}
