.basicDetails {
  padding: var(--spacing-10) var(--spacing-11) !important;
  .nameIdDescriptionTags {
    margin-bottom: 0px !important;
    > div {
      margin-bottom: var(--spacing-medium) !important;
    }
  }
}

.closeIcon {
  position: absolute;
  top: var(--spacing-6);
  right: var(--spacing-4);
}
