.main {
  height: 100%;
  .headingText {
    margin-top: 24px;
  }

  --content-height: 455px;

  .addQueryContainer {
    max-width: 400px;
    min-width: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: flex-end;
    .selectQuery {
      width: 200px;
      margin-left: var(--spacing-medium);
      position: relative;
      top: 2px;
    }
    .manuallyAdd {
      align-self: flex-end;
    }
  }

  .smallerHeight {
    max-height: 285px;
  }

  .splunkIcon svg {
    height: 20px;
    width: 62px;
    position: relative;
    top: 1px;
  }

  .queryDropDown {
    width: 250px;
    position: relative;
    bottom: 10px;
    input {
      border: none;
    }
  }
  .selectQueryNameContainer {
    display: flex;
    .editIcon {
      position: relative;
      top: 3px;
    }
  }
  .onBoardingSection {
    display: flex;
    flex-wrap: wrap;

    .rightSection {
      width: 485px;
      height: var(--content-height);

      .sampleLogs {
        max-height: 290px;
        overflow-y: scroll;
        [class*='textContent'] {
          font-size: 8px !important;
        }
      }

      .sampleLog {
        border: none;
        border-radius: 0;
        [class*='textContainer'] {
          padding: 0;
          pre {
            margin-top: 0 !important;
          }
        }

        [class*='timestamp'] {
          font-size: var(--font-size-xsmall);
        }

        a[role='button'] {
          padding: 0 !important;
          &:hover {
            background-color: transparent !important;
          }
          [class*='bp3-button-text'] {
            font-size: 10px;
          }
        }
      }

      .validationContainer {
        height: 75px;
        margin-bottom: var(--spacing-medium);
        .loadingValidation {
          display: block;
          margin-bottom: var(--spacing-small);
          height: 100%;
          > svg {
            display: block;
            margin: 0 auto;
            position: relative;
            top: 35%;
          }
        }

        > div {
          height: 100%;
          width: 100%;
        }
      }

      .logsHeadingContainer {
        border-bottom: 1px solid var(--grey-300);
        padding: var(--spacing-small) 0;
        margin-bottom: var(--spacing-xsmall);
        .logsFromPast,
        .ttlLogs {
          font-weight: bold;
          font-size: var(--font-size-small);
        }
      }

      .noDataErrorContainer {
        position: relative;
        top: 50%;
        transform: translateY(-62%);
        .viewInSplunkLink {
          margin: 0 auto;
          display: block;
          margin-top: var(--spacing-small);
        }
      }
    }

    .leftSection {
      width: 400px;
      margin-right: 70px;

      > [class*='bp3-form-group']:last-child {
        margin-bottom: 0;
      }
    }
  }
  .actionButtons {
    text-align: right;
    margin-top: var(--spacing-xxlarge);
  }
}
