:root {
  --square-size: 10px;
  --square-gap: 3px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.squares {
  grid-area: squares;
}

.graph {
  display: inline-grid;
  grid-template-rows: auto 1fr;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-columns: repeat(10, var(--square-size));
}

.squares {
  grid-auto-flow: row;
  grid-auto-rows: var(--square-size);
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: #ebedf0;
}

.squares li[data-level='1'] {
  background-color: #0278d5;
}

.squares li[data-level='0'] {
  background-color: white;
  border: 1px solid #3dc7f6;
  border-style: dotted;
}
