.main {
  padding: 0 var(--spacing-6);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;

  .title {
    font-size: var(--font-size-small);
    font-weight: 500;
    margin-bottom: var(--spacing-1);
  }

  ul.values {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      font-size: var(--font-size-small);
      color: var(--primary-7);
      line-height: 1.33;
    }
  }

  .serviceName {
    display: inline-block;
    cursor: pointer;
  }

  .serviceWrapper {
    display: inline-block;
  }
}
