.detailsTab {
  display: flex;
  flex-direction: column;
  height: 100%;

  .errorMsg {
    padding: var(--spacing-small) var(--spacing-large);

    .title {
      font-size: var(--font-size-normal);
      font-weight: 500;
      margin-bottom: var(--spacing-small);
    }

    p {
      font-size: var(--font-size-small);
      white-space: pre-wrap;
    }

    &.error {
      background-color: var(--red-100);
      .title {
        color: var(--red-500);
      }
    }

    &.warn {
      background-color: var(--yellow-100);
      .title {
        color: var(--yellow-500);
      }
    }
  }
}
