.main {
  width: 100%;
  margin-bottom: var(--spacing-xsmall);

  th[role='columnheader'] {
    color: var(--grey-400) !important;
    font-weight: unset !important;
  }

  .serviceSelect {
    [class~='bp3-input'] {
      width: 100px;
      height: 20px !important;
      color: var(--black);
      border: none !important;
      background: transparent !important;
      position: relative;
      top: 2px;
    }
    [class~='bp3-input-action'] > span {
      position: relative;
      bottom: 5px;
    }
  }
  .tierSelectChecBox {
    width: 15px;
    position: relative;
    top: 3px;
  }

  .tier {
    position: relative;
    top: 2px;
  }

  .validationResult {
    width: 200px;
    position: relative;
    top: 2px;
    .validationContainer {
      display: flex;
      align-items: center;
      .divider {
        width: 10px;
      }
      :global {
        .bp3-popover-wrapper {
          height: 20px;
        }
      }
    }
  }
}
