.commitsInfo {
  position: relative;
  padding-left: var(--spacing-7);

  .lastCommit {
    transform: translateX(calc(-1 * var(--spacing-7)));
  }

  .moreCommits {
    padding: 0 var(--spacing-3) 0 0 !important;
    height: 16px !important;
    line-height: 16px !important;
    min-height: initial;
    position: relative;
    background: var(--white) !important;

    :global(span.bp3-icon) {
      width: 12px;
      height: 12px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: var(--grey-100);
      border: 0.5px solid var(--grey-400);
      color: var(--primary-9) !important;
      border-radius: 1px;
    }

    :global(.bp3-button-text) {
      margin-left: var(--spacing-3);
      font-size: var(--font-size-small);
      color: var(--grey-600);
    }
  }

  .divider {
    margin-top: var(--spacing-3);
    position: relative;

    &::before {
      content: '';
      display: block;
      height: 1px;
      background-color: transparent;
      width: 100%;
      top: 0;
      left: 0;
      transform: translateY(12px);
      transition: background-color 0.2s linear;
    }

    &[data-show='true']::before {
      background-color: var(--grey-200);
    }
  }

  .commit {
    padding-top: var(--spacing-3);
    display: grid;
    grid-template-columns: minmax(10px, 2fr) minmax(10px, 1fr) minmax(10px, 80px);
    column-gap: var(--spacing-3);
    align-items: center;

    p {
      --font-size: var(--font-size-small);
      --intent-color: var(--grey-900);
    }

    .user {
      font-size: var(--font-size-small);
      color: var(--grey-500);
    }
  }
}

.lastCommit {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-3);
  flex: 0 1 auto;
  overflow: hidden;
  position: relative;
  padding-left: var(--spacing-7);

  .icon {
    position: absolute;
    left: 0;
    top: 3px;
  }

  .message {
    font-size: var(--font-size-small) !important;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--grey-900) !important;
    flex: 0 1 auto;
  }
}

.commitId {
  font-size: var(--font-size-small);
  color: var(--primary-7);
  display: grid;
  align-items: center;
  grid-template-columns: 22px minmax(10px, 1fr);
  height: 20px;
  line-height: 18px;
  border-radius: 5px;
  border: 0.5px solid var(--grey-200);
  background-color: var(--grey-50);
  text-align: center;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 1px;
    background: var(--grey-200);
    position: absolute;
    left: 22px;
    top: 0;
    bottom: 0;
  }

  :global(.bp3-icon) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-500);
  }

  .sha {
    padding: 0 var(--spacing-3);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
