.commitsInfo {
  position: relative;
  padding-left: var(--spacing-1);

  .moreCommits {
    padding: 0 var(--spacing-3) 0 0 !important;
    height: 16px !important;
    line-height: 16px !important;
    min-height: initial;
    position: relative;
    background: var(--white) !important;

    :global(span.bp3-icon) {
      width: 12px;
      height: 12px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: var(--grey-100);
      border: 0.5px solid var(--grey-400);
      color: var(--primary-9) !important;
      border-radius: 1px;
    }

    :global(.bp3-button-text) {
      margin-left: var(--spacing-3);
      font-size: var(--font-size-small);
      color: var(--grey-600);
    }
  }

  .divider {
    margin-top: var(--spacing-3);
    position: relative;

    &::before {
      content: '';
      display: block;
      height: 1px;
      background-color: transparent;
      width: 100%;
      top: 0;
      left: 0;
      transform: translateY(12px);
      transition: background-color 0.2s linear;
    }

    &[data-show='true']::before {
      background-color: var(--grey-200);
    }
  }

  .commit {
    padding-top: var(--spacing-3);
    display: grid;
    grid-template-columns: 300px auto 95px;
    column-gap: var(--spacing-3);
    align-items: center;

    :global(.bp3-popover-wrapper),
    :global(.bp3-popover-target) {
      display: block !important;
    }

    p {
      --font-size: var(--font-size-small);
      --intent-color: var(--grey-900);
    }

    .user {
      display: flex;
      font-size: var(--font-size-small);
      color: var(--grey-500);
    }
  }
}

.commitText {
  white-space: nowrap !important;
  overflow: hidden;
  max-width: 355px;
  text-overflow: ellipsis;
}

.lastCommit {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-7) !important;
  position: relative;
  cursor: pointer;

  .icon {
    position: absolute;
    left: 0;
    top: 5px;
  }

  .message {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 1 auto;
    max-width: 500px;
  }
}

.label {
  display: flex !important;
  align-items: center !important;
  white-space: nowrap !important;
  font-size: var(--font-size-small) !important;
  font-weight: 500 !important;
  text-decoration: none !important;
  color: var(--primary-7) !important;
  background-color: var(--primary-1) !important;
  border-radius: 8px !important;
  padding: var(--spacing-xsmall) var(--spacing-small) !important;
  margin: 0 var(--spacing-xsmall);

  svg {
    margin-right: var(--spacing-xsmall);

    path {
      fill: currentColor !important;
    }
  }
}

.commitId {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.noInfo {
  padding-top: var(--spacing-1) !important;
}
