.statusIcon {
  color: var(--icon-color, var(--grey-450));
  --intent-color: var(--icon-color);

  &.success,
  &.ignorefailed {
    --icon-color: var(--green-500);
  }

  &.failed,
  &.errored,
  &.expired,
  &.aborted,
  &.suspended,
  &.discontinuing {
    --icon-color: var(--red-500);
  }

  &.resourcewaiting,
  &.interventionwaiting,
  &.approvalwaiting,
  &.inputwaiting {
    --icon-color: var(--grey-450);
  }

  &.running,
  &.taskwaiting,
  &.asyncwaiting,
  &.timedwaiting {
    --icon-color: var(--primary-7);
  }
}
