.disabled {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: not-allowed !important;
}
.section-header {
  font-size: var(--font-size-normal) !important;
  color: var(--black-100) !important;
  margin: var(--spacing-medium) 0 !important;
  font-weight: 600 !important;
  :global {
    .bp3-icon {
      padding: 0 var(--spacing-small) !important;
    }
  }
}

.sub-secton-header {
  font-size: 13px !important;
  margin-bottom: var(--spacing-small) !important;
  color: var(--black-100) !important;
  font-weight: 600 !important;
  :global {
    .bp3-icon {
      padding: 0 var(--spacing-small) !important;
    }
  }
}

.stages-tree-bullet-circle {
  text-indent: 20px;
  &::before {
    content: '';
    position: absolute;
    left: 10px;
    width: 13px;
    height: 13px;
    background: linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%);
    opacity: 0.6;
    border-radius: 100px;
  }
  span {
    margin-left: var(--spacing-small);
  }
}
.artifactHeader {
  display: block;
  font-weight: bold;
  padding: 0 var(--spacing-large);
  margin-bottom: var(--spacing-medium);
  &.mtop {
    margin-top: var(--spacing-medium);
  }
}

.custom-variables {
  padding: 0 var(--spacing-large);
}
.padSmall {
  padding: var(--spacing-small);
}
.inputWidth {
  width: 400px !important;
}
.nested-accordions {
  box-shadow: none !important;
}
.nopad-left {
  padding-left: 0 !important;
}

.select-popover {
  position: absolute;
  border: solid 1px #ccc;
  width: 400px;
  max-height: 200px;
  overflow: auto;
  :global {
    .icon-container {
      display: none;
    }
    button.bp3-button {
      width: 90%;
      justify-content: flex-start;
    }
  }
}
.tabHeading {
  font-size: var(--font-size-medium);
  color: var(--grey-700);
  margin-bottom: 14px;
  font-weight: 600;
}
.tabSubHeading {
  font-size: var(--font-size-normal);
  color: var(--grey-700);
  margin-bottom: 14px;
  font-weight: 600;
}
.section-card {
  width: 1024px;
  margin-bottom: 20px;
  &.shadow {
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  }
  &.notwide {
    width: auto;
  }
  background-color: var(--grey-50);
  box-shadow: none;
  -webkit-box-shadow: none;
}
.accordionTitle {
  background-color: transparent;
}

.card-section {
  width: 1024px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 1px rgb(40 41 61 / 4%), 0px 2px 4px rgb(96 97 112 / 16%);
}

.serviceDefinition {
  display: grid;
  grid-template-columns: 1fr;
}

.accordionSummary {
  width: 100%;
  background: var(--white);
  padding-bottom: var(--spacing-medium);
}

.header {
  padding: var(--spacing-large) 0 0;
  font-weight: 600;
}
.subheading {
  padding: var(--spacing-large) 0;
  font-weight: 600;
}

.inputheader {
  font-weight: 600 !important;
  font-size: var(--font-size-small) !important;
  padding-bottom: var(--spacing-medium) !important;
}

.manifestVariablesTable {
  & + & {
    margin-top: var(--spacing-large);
  }
}

.skipVersioning {
  :global {
    .bp3-form-group {
      position: relative;
      left: var(--spacing-xlarge);
    }
  }
}
.width50 {
  width: 50%;
}

.width25 {
  width: 25%;
}
