.main {
  position: relative;
  height: 100px !important;
  width: 100% !important;
  .column {
    position: absolute;
    bottom: 0;
    height: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: inline-block;
  }
}

.chartPopover {
  padding: var(--spacing-small) !important;
  background-color: var(--grey-700) !important;
  :global {
    .bp3-popover-arrow-fill {
      fill: var(--grey-700) !important;
    }
    .bp3-popover-content {
      background-color: var(--grey-700) !important;
    }
  }
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px !important;
  padding-top: var(--spacing-9) !important;
}

.noDataImage {
  height: 90px;
  width: 200px;
}
