.collapseDiv div {
  border-top: none;
  padding: 0;
}

.label-bold label {
  line-height: 19px;
  font-weight: 700;
  font-size: var(--font-size-normal);
}

.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: var(--spacing-small);
  padding-top: var(--spacing-small);
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));

  :global(.bp3-card) {
    padding: var(--spacing-large);
    width: 70px;
    height: 70px;
  }
}

.stage-create {
  width: 350px;
}

.btn-setup {
  padding-top: var(--spacing-medium);
}
