.container {
  position: relative;
  overflow-wrap: anywhere;
  overflow: auto;
  .shrink {
    flex-shrink: 1 !important;
  }
  .openInStudio {
    flex-shrink: 0;
  }
  .topContainer {
    p {
      --font-size: var(--form-input-font-size) !important;
    }
    :global {
      .DropDown--main {
        display: flex;
      }
      .DropDown--dropdownButton {
        background-color: var(--white) !important;
      }
    }
  }
  .tabsContainer {
    flex-grow: 1;
    overflow: hidden;

    :global {
      .bp3-tabs {
        height: 100%;
      }
      .bp3-tab-panel {
        margin-top: 0px !important;
        height: calc(100% - 43px);
        overflow: auto;
      }
      .bp3-tab-list {
        background-color: var(--white);
        padding: 0 var(--spacing-xlarge);
        box-shadow: var(--elevation-2);
        z-index: 1;
      }
      .bp3-tab {
        font-size: 12px !important;
        margin-right: var(--spacing-5) !important;
      }
    }
  }
  .innerTabsContainer {
    :global {
      .bp3-tab-panel {
        overflow: unset;
        height: auto;
      }
      .bp3-tab-list {
        border-top: 1px solid var(--grey-200);
        position: sticky;
        top: 0;
      }
    }
  }
  .dropdown {
    :global(.bp3-menu) {
      width: 300px !important;
    }
  }
}
