.main {
  padding-top: var(--spacing-10) !important;
  position: relative;
  :global {
    .Card--dots {
      top: -42px !important;
      right: -12px !important;
    }
    .DropDown--dropdownButton {
      background-color: var(--white) !important;
    }
  }
  .tabsContainer {
    background: white;
    border: 1px solid var(--grey-200);
    border-radius: var(--spacing-3);
    flex-grow: 1;
    overflow: hidden;

    :global {
      .bp3-tab-list {
        justify-content: space-evenly;
        border-bottom: 1px solid var(--grey-100);
      }
      .bp3-tab {
        font-size: 12px !important;
      }
    }
  }
}
