.container {
  height: 100%;
  width: 100%;
}

$bg-color: #f6fcff;
$dot-color: #bbc1c4;

$dot-size: 1px;
$dot-space: 10px;

.canvas {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--white) ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
  background-size: $dot-space $dot-space;

  > div {
    cursor: default;
    height: 100%;
    width: 100%;
  }
}

.add-step-popover {
  display: inline-block;
  min-width: 180px;

  .add-popover {
    button {
      justify-content: flex-start;
      --background-color: transparent !important;
      --background-color-hover: rgba(255, 255, 255, 0.2) !important;
      --background-color-active: rgba(255, 255, 255, 0.2) !important;
    }
  }
}

.rollback-banner {
  position: absolute;
  top: var(--spacing-huge);
  background-color: var(--white) !important;
  width: 100%;
  height: 40px;
  padding: var(--spacing-small) !important;
}

.canvas-buttons {
  top: initial !important;
  bottom: var(--spacing-large) !important;
}
