.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 60px;
  overflow: hidden;

  .lhs {
    border-right: 1px solid var(--grey-200);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .header {
    padding: var(--spacing-5) var(--spacing-7);
    border-bottom: 1px solid var(--grey-200);
  }

  .childContainer {
    position: relative;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    > [class*='BuildTests'] {
      height: calc(100vh - 167px);
    }
  }
}
