.main {
  --execution-header-height: 117px;
  --execution-tabs-height: 44px;
  --execution-stage-details-height: 84px;
  --execution-children-height: calc(100vh - var(--execution-header-height) - var(--execution-tabs-height));
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 60px;
  overflow: hidden;

  .lhs {
    border-right: 1px solid var(--grey-200);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .header {
    padding: var(--spacing-5) var(--spacing-7);
    border-bottom: 1px solid var(--grey-200);
    height: var(--execution-header-height);
  }

  .childContainer {
    position: relative;
    flex: 1 0 auto;

    height: calc(var(--execution-children-height));

    &[data-view='graph'] {
      overflow: auto;
    }

    &[data-view='log'] {
      overflow: hidden;
    }
  }
}
