.gitInfo1 {
  margin-top: var(--spacing-small);
  display: flex;
  align-items: center;

  > * + * {
    margin-left: var(--spacing-small) !important;
  }
}

.gitInfo2 {
  margin-top: var(--spacing-small);
  display: flex;
  align-items: center;
  white-space: nowrap;

  > * + * {
    margin-left: var(--spacing-small) !important;
  }
}

.greyBox {
  display: inline-flex;
  background: var(--grey-200);
  color: var(--grey-700);
  border-radius: var(--spacing-small);
  font-size: var(--font-size-normal);
  font-weight: bold;
  padding: var(--spacing-xsmall) var(--spacing-small);

  .greyBoxIcon {
    color: var(--grey-400) !important;
    padding: 3px var(--spacing-small) 0 0 !important;
  }

  .greyBoxDelimiter {
    border-left: 1px solid var(--grey-300);
    margin: 0 var(--spacing-small) !important;
  }

  .sourceTargetArrow {
    color: var(--grey-400) !important;
    padding: 0 var(--spacing-xsmall);
  }
}

.commitOrPrTitle {
  display: block;
  color: var(--grey-900) !important;
  max-width: 65% !important;
}

.pullRequestStatus {
  font-size: var(--font-size-small);
  font-weight: 500;
  background: var(--grey-200);
  color: var(--grey-800);
  padding: 3px var(--spacing-small);
  border-radius: 100px;
  border: 1px solid var(--grey-300);
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap !important;
}

.moreBox {
  display: inline-flex;
  padding: 0px 1px;
  color: var(--grey-500);
  border-radius: 3px !important;
  border: 1px solid var(--grey-500) !important;

  // icon
  > span {
    margin: 1px !important;
  }
}

.toggleCommit {
  color: var(--blue-500) !important;
  fill: var(--blue-500) !important;
  height: 12px !important;
}
