.configDetails {
  border-left: 1px solid #c4c4c4;
}
.instanceTable {
  th {
    font-size: 11px;
    line-height: 13px;
    background-color: #fbfbfb;
  }
  tbody {
    box-shadow: 0px 0px 8px 1px rgba(26, 19, 106, 0.05);
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
  }
  tr {
    height: 63.33px;
    background: #ffffff;
  }
}
