.configDetails {
  border-left: 1px solid #c4c4c4;
}
.instanceTable {
  margin-top: var(--spacing-large) !important;
  th {
    font-size: 11px;
    line-height: 13px;
    background-color: #f3f3fa !important;
    vertical-align: middle !important;
  }
  tbody {
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
  }
  tr {
    height: 63.33px;
    background: #ffffff;
    box-shadow: inset 0 -1px 0 0 #d9dae6 !important;
    &:last-child {
      box-shadow: none;
    }
    td {
      vertical-align: middle !important;
    }
  }
}
.fulFilmentIcon {
  img {
    width: 18px !important;
  }
}

.labelNormal {
  font-size: var(--font-size-normal) !important;
}
.page {
  overflow: scroll;
  height: calc(100vh - 160px);
  background-color: #f3f3fa !important;
}

.reviewDetailsSection {
  width: 70% !important;
  background-color: #ffffff !important;
  margin: 0 0 var(--spacing-large) !important;
  padding: var(--spacing-large) !important;
  position: relative;
  .editCta {
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 5px;
    background: #eff8fe;
    color: #0278d5;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 500;
  }
}

.equalSpacing {
  > * {
    flex: 1;
  }
}

.borderSpacing {
  border-bottom: 1px solid #d9dae6;
}

.reviewHeading {
  color: #22272d !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
}
