.drawer {
  display: flex;
  flex-direction: column;
  border-top-left-radius: var(--spacing-small);
  border-bottom-left-radius: var(--spacing-small);
  padding: var(--spacing-medium);
  .drawerHeader {
    margin-bottom: var(--spacing-small);
    flex-basis: 50px;
  }
  .drawerBody {
    flex: 1;
    overflow: auto;
  }
  .drawerHeader,
  .drawerBody {
    box-shadow: 2px 2px 12px var(--grey-300);
    border-radius: var(--spacing-small);
    padding: var(--spacing-medium);
  }
}

.verificationHeader {
  display: grid;
  grid-template-columns: repeat(4, minmax(120px, 200px));
  grid-row-gap: var(--spacing-xsmall);
  .verHeaderTags {
    display: flex;
    flex-wrap: wrap;
    > * {
      margin-right: var(--spacing-xsmall);
      margin-bottom: var(--spacing-xsmall);
    }
  }
}
