.colorBar {
  width: 50px;
  height: 8px;
  border-radius: 5px;
  margin-bottom: var(--spacing-medium);
}

.user {
  justify-content: flex-end;
  align-items: center;
}

.cardTags {
  background-color: var(--grey-200) !important;
  color: var(--grey-400) !important;
  max-width: 200px;
  margin-right: var(--spacing-xsmall);
  margin-top: var(--spacing-xsmall);
}

.wrap {
  flex-wrap: wrap;
}

.overflow {
  overflow-wrap: anywhere;
}
