.monitoringCard {
  margin-bottom: var(--spacing-large) !important;
}
.items {
  display: flex;
  flex-wrap: wrap;
  padding: var(--spacing-large) 0;
}
.cardWrapper {
  margin: 0 var(--spacing-small) var(--spacing-small) 0;
  .cardLabel {
    width: fit-content;
    margin: auto;
  }
}
