.pipeline-notifications {
  .header {
    height: 72px;
    padding: var(--spacing-small) var(--spacing-large) !important;
    border-bottom: var(--grey-200) !important;
    background: var(--white) !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%) !important;

    display: flex;
    align-items: center;
    /* identical to box height, or 133% */
  }

  .notificationHeaderText {
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 32px !important;

    color: #22272d !important;
  }
}
