.detailsContainer {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.breadCrumb {
  background: var(--white);
  border: 1px solid var(--grey-200);
  box-sizing: border-box;
  padding: 8px;
}

.customImage {
  width: 200px;
}

.savingsContainer {
  border-bottom: 1px solid var(--grey-200);
}

.pageBody {
  position: relative;

  .mainContainer {
    padding-top: 36px !important;
  }
}
