.main {
  width: 60% !important;
  margin: 0 auto !important;

  .manualQueryLink {
    float: right;
    margin-left: var(--spacing-small) !important;
  }
}

.loadingErrorNoData {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translateX(-50%);
}

.columnContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;

  .filterStyle p {
    margin-right: var(--spacing-xsmall) !important;
  }
}
