.awsConnector {
  height: 100%;
  width: 100%;
  position: relative;
  line-height: 18px;
  :global {
    span[data-icon='service-azure'] {
      svg > g {
        fill: white;
      }
    }
  }
  :global(.bp3-popover-target) {
    padding-bottom: 2px;
    margin-left: var(--spacing-xsmall) !important;
    margin-top: 0 !important;
  }

  [class*='TextInput--main'] {
    margin-bottom: 0 !important;
  }

  .stepContainer {
    height: 100%;
    position: relative;
    padding: var(--spacing-medium) !important;
    :global {
      .OverlaySpinner--overlaySpinner {
        height: 100%;
      }
    }
  }

  .header {
    color: var(--grey-800) !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    margin-bottom: var(--spacing-large) !important;

    span {
      font-weight: lighter;
      color: var(--grey-700);
    }
  }

  .subHeader {
    padding: var(--spacing-xxxlarge);
  }

  .subHeader,
  .info,
  .dataFields,
  .launchTemplateSection {
    margin-bottom: var(--spacing-large) !important;
  }

  .dataFields {
    [class*='InputWithIdentifier--txtIdContainer'] > p {
      font-size: var(--font-size-small) !important;
      color: var(--grey-800);
    }
    margin-bottom: var(--spacing-large) !important;
  }

  .dataFields,
  .launchTemplateSection {
    width: 65%;
  }

  .submitBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 150px;
  }

  .main {
    margin-bottom: var(--spacing-medium) !important;
  }

  .infobox {
    padding: var(--spacing-medium) var(--spacing-large) !important;
    background-color: var(--primary-1) !important;
    color: var(--grey-800) !important;
    line-height: var(--spacing-large) !important;
  }

  .mtblarge {
    margin: var(--spacing-large) 0 !important;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--spacing-small);

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: var(--spacing-small);
      [class*='bp3-card'] {
        box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16) !important;
      }
    }

    [class*='bp3-card'] {
      padding: var(--spacing-large) 0 0 0;
    }
  }

  .launchTemplateBut {
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16) !important;
    border-radius: 8px;
    border: 1px solid var(--primary-7) !important;
  }

  .newCurReport {
    float: right;
    background-color: var(--white);
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    border-radius: 8px;
    border: thin solid var(--primary-7) !important;
    width: 300px;
    font-size: var(--font-size-small) !important;
    line-height: 16px !important;
  }

  .connectorExistBox {
    margin: var(--spacing-xlarge) 0 var(--spacing-medium) 0;
    border-left: 4px solid var(--red-700);
    padding: var(--spacing-large);
    background: var(--red-50);
    color: var(--grey-1000);
    border-radius: 5px;
  }

  .buttonPanel {
    position: absolute;
    max-width: 500px;
    left: 0;
    bottom: 0;
  }
}

.extention {
  font-size: small;
  color: var(--grey-700);
  .header {
    margin-bottom: var(--spacing-large) !important;
  }
  p {
    font-size: small;
    color: var(--grey-700);
  }

  ol {
    padding-bottom: var(--spacing-small);
  }

  ul,
  ol {
    font-size: small;
    color: var(--grey-700);
    padding-left: 15px !important;

    li {
      line-height: 22px;
      p {
        font-size: small;
        color: var(--grey-700);
      }
    }
  }

  .gray {
    color: var(--grey-800);
    font-weight: 700;
    font-family: 'Roboto Mono';
  }
}

.existingCURTable {
  overflow: scroll;
  max-height: 250px;
  line-height: 18px;
  width: 100%;
  table {
    width: 100%;
  }
  thead {
    background: var(--grey-100);
    font-size: var(--font-size-small) !important;
  }
  tr {
    font-size: var(--font-size-small) !important;
  }
}

.featureCard {
  .features {
    min-height: 140px;
    list-style: none;
    padding-left: var(--spacing-small);

    li > p {
      align-items: baseline !important;
    }
  }

  .footer {
    border-top: 1px solid rgba(176, 177, 195, 0.3);
    padding: var(--spacing-medium) var(--spacing-xxlarge) !important;
  }
}
