.container {
  flex-grow: 1;
}

.listHeader {
  border-bottom: 1px solid var(--grey-300) !important;
}

.expandSearch {
  margin-right: var(--spacing-medium);
}

.loader {
  position: relative;
  height: 80%;
}
