.container {
  flex-grow: 1;
}

.listHeader {
  border-bottom: 1px solid var(--grey-300) !important;
}

.loader {
  position: relative;
  height: 80%;
}

.timeRangeSelector {
  position: absolute;
  left: 40%;
  justify-content: center;
}

.separator {
  width: 100%;
  border-bottom: 1px solid var(--grey-200);
}
