.table {
  padding: var(--spacing-small) var(--spacing-xlarge);
  background-color: var(--grey-100);
  min-width: 1460px;

  .wrapper {
    width: calc(100% - 20px);

    .rootFoldersContainer {
      width: 100%;

      .rootFoldersData {
        width: 660px;
        .rootFolderRelativePath {
          width: 10%;
        }
      }
    }

    .name {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      white-space: nowrap !important;
    }

    .addFolderBtn {
      width: 104px;
      margin-left: 0;
      padding-left: 0 !important;
    }
  }

  [role='cell'] {
    vertical-align: top;
  }

  [role='row'] {
    padding-right: 0;
    [role='cell']:first-child div div {
      width: calc(100% - 50px); // extra 30px for icons of size 30 in 1st column
    }
  }

  .menuContainer {
    text-align: right;
  }
}
