$timer-width: 292px;
$actions-translate: 10px;

.card {
  display: block !important;
  width: 100%;
  padding: 0 !important;
  box-shadow: var(--card-shadow);
  border: none !important;
  overflow: hidden;

  &:hover {
    box-shadow: var(--card-hover-shadow);
  }

  .cardLink {
    display: block;
    color: var(--grey-400);
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  & + & {
    margin-top: var(--spacing-large);
  }

  .content {
    position: relative;
    padding: var(--spacing-5) var(--spacing-6) var(--spacing-4) var(--spacing-8);

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: var(--spacing-4);

      .info {
        display: flex;
        align-items: center;
        column-gap: var(--spacing-4);
      }

      & .nameGroup {
        display: flex;
        align-items: center;
        column-gap: var(--spacing-2);
      }

      & .pipelineName {
        color: var(--grey-700);
        font-weight: bold;
      }

      & .executionId {
        font-size: var(--font-size-small);
        color: var(--grey-600);
      }

      & .tags {
        p {
          color: var(--grey-600) !important;
          line-height: 1;
        }
      }

      & .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translateX($actions-translate);
        column-gap: var(--spacing-5);
      }

      & .statusContainer {
        display: flex;
        align-items: center;
        column-gap: var(--spacing-3);
      }

      & .ignoreWarning {
        --intent-color: var(--warning);
      }
    }

    .main {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: var(--spacing-small);

      .modulesContainer {
        display: block;
      }

      .moduleData {
        position: relative;
        padding-left: var(--spacing-8);
      }

      .moduleData + .moduleData {
        margin-top: var(--spacing-5);
      }

      .moduleIcon {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  .footer {
    display: flex;
    background: var(--grey-50);
    height: 2.375rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-6) 0 var(--spacing-8);
    border-top: 1px solid var(--grey-100);
    column-gap: var(--spacing-3);

    & span {
      font-size: var(--font-size-small) !important;
    }

    .triggerInfo {
      display: flex;
      align-items: center;
      color: var(--grey-900);
      flex: 1 1 auto;
      overflow: hidden;
    }

    .triggerType {
      display: flex;
      align-items: center;

      &::before {
        content: '';
        display: inline-block;
        width: 1px;
        background: var(--grey-300);
        height: calc(var(--font-size-small) + 2px);
        margin: 0 var(--spacing-3);
      }
    }

    .timers {
      display: flex;
      column-gap: var(--spacing-3);

      .timerIcon {
        margin-right: var(--spacing-2);
        color: var(--grey-500) !important;
      }

      & .duration {
        color: var(--grey-900);
        white-space: nowrap;
      }

      & .timeAgo {
        flex: 1 1 auto;
        justify-content: flex-end;

        & time {
          font-size: var(--font-size-small);
          color: var(--grey-900);
          white-space: nowrap;
        }
      }

      :global(.bp3-popover-wrapper) {
        display: inline-flex;
      }
    }
  }

  &[data-variant='Default'] {
    .main {
      grid-template-columns: minmax(10px, 3fr) minmax(10px, 2fr);
    }
    .header {
      .actions {
        width: $timer-width + $actions-translate;
      }
    }
    .footer {
      .timers {
        width: $timer-width;
        column-gap: var(--spacing-8);

        & .duration {
          min-width: 150px;
        }
      }
    }
  }
}

.ignoreFailedTooltip {
  width: 500px;
  background-color: var(--grey-50);
  color: var(--grey-800);
  padding: var(--spacing-3) var(--spacing-5);
  font-size: var(--font-size-normal);
  line-height: 20px;
  border-radius: 8px;
}

.ignoreFailedPopover {
  box-shadow: var(--elevation-4);
  border-radius: 8px;

  :global(.bp3-popover-content) {
    border-radius: 8px;
  }
}
