.modalContainer {
  padding: var(--spacing-large) !important;

  .formBody {
    min-height: 480px;

    .cardWrapper {
      text-align: center;
      margin-right: var(--spacing-large);

      .card {
        background-color: var(--white);
        border-radius: 8px;
        padding: var(--spacing-small) !important;
        margin-bottom: var(--spacing-small);
        width: 50px;
        height: 50px;
      }

      .selectedCard {
        background-color: var(--primary-2) !important;
        border: thin solid var(--primary-7) !important;
      }

      .connectorTypeIcon {
        margin: 0 !important;

        svg {
          margin: 0 auto var(--spacing-small) !important;
          width: 30px;
          height: 30px;
        }
      }
    }

    .formElm {
      width: 350px;
    }

    :global {
      .bp3-input-group,
      .bp3-menu {
        width: 350px !important;
      }
    }
  }

  .formButton {
    padding: 0 var(--spacing-large) !important;
  }
}

.helpText {
  border-radius: 8px;
}
