.horizontalCharts {
  display: flex;
  width: 100%;
  height: 260px;

  .chartTitle {
    color: var(--grey-800);
    margin: 10px;
  }

  .horizontalChart {
    padding: 10px 20px;
    width: 50%;
    border-right: 1px solid var(--grey-200);

    :global {
      .highcharts-title {
        font-weight: normal !important;
      }
    }

    &:last-child {
      border-right: none;
    }
    &:first-child {
      padding-left: 0px;
    }
  }
}

.chartMainContainer {
  background: var(--white) !important;

  &.loadingContainer {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
  }
}
