.header {
  height: 60px;
  border: 1px solid var(--grey-250);
}

.panel {
  align-items: center;
  padding: var(--spacing-small) var(--spacing-xlarge) !important;
}

.panel:first-of-type {
  border-right: 1px solid var(--grey-250);
}

.panel:last-of-type {
  margin-right: var(--spacing-xxxlarge) !important;
  padding-right: var(--spacing-medium) !important;
}

.footer {
  border-top: 1px solid var(--grey-250);
  height: var(--spacing-huge);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
