.section {
  display: grid;
  grid-template-columns: 350px 1fr;
  padding: 32px 32px 32px 32px;
  border-bottom: 1px solid var(--grey-200);

  &.noPadTop {
    padding-top: 0px;
  }
}

.specTabs {
  align-items: start !important;

  button[class*='minimal'] {
    border-radius: 0 !important;
    font-size: 16px;

    &:hover,
    &:active {
      background-color: transparent !important;
      color: black;
      font-weight: 800;
    }
  }

  .selected {
    border-bottom: 2px solid var(--grey-700) !important;
  }
}

.addDataLinks {
  display: flex;
  align-items: center;
  button {
    color: var(--grey-500) !important;
  }
}

.removeLink {
  color: var(--blue-500);
  cursor: pointer;
  position: absolute;
  right: 0;
}

.fields {
  position: relative;
  width: 300px;
}

.removeSharedPathButton {
  margin-right: -45px !important;
}

.fieldsGroup {
  display: flex;
  align-items: center;

  &:not(:first-child):not(.without-spacing) {
    margin-top: var(--spacing-medium);
  }

  > * {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: var(--spacing-medium) !important;
    }
  }
}

.variablesGrid {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}

.variableTitle {
  // TODO: Replace color once it is available in UIKit
  color: #13151a !important;
}

.box {
  width: 780px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  padding-top: var(--spacing-medium);
  padding-right: var(--spacing-xlarge);
  padding-bottom: var(--spacing-medium);
  padding-left: var(--spacing-xlarge);
  margin-top: var(--spacing-small);
  margin-left: calc(var(--spacing-xlarge) / -1);
}

.row {
  &:not(:last-child) {
    margin-bottom: var(--spacing-large);
  }

  > * {
    display: flex;
    align-items: center;

    > * {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: var(--spacing-small);
      }
    }
  }
}

.secretContainer {
  flex-grow: 1;
  position: relative;

  > div {
    margin-bottom: 0;
  }
}

.addVariable {
  margin-left: calc(var(--spacing-xlarge) / -1) !important;
}

.editVariable {
  color: transparent !important;

  path:first-child {
    stroke: var(--grey-450) !important;
    transition: stroke 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
  }

  &:hover {
    path:first-child {
      stroke: var(--blue-450) !important;
    }
  }
}

.fixed {
  position: absolute;
  top: -17px;
  right: 3px;
}

.icon {
  cursor: pointer;
}
