.text {
  margin-bottom: var(--spacing-medium) !important;
}
.downloadCliContainer {
  --layout-spacing: var(--spacing-xlarge) !important;

  .selectContainer {
    width: auto;
    margin-right: var(--spacing-large);
  }

  .downloadBtn {
    border-radius: 8px;
    padding: 12px !important;
    border: 1px solid var(--blue-700) !important;
    color: var(--blue-700) !important;
    width: 130px;
    margin-left: var(--spacing-large) !important;
    font-size: 12px !important;
    box-shadow: none !important;
  }
}
