.dialog {
  border-radius: 11px;
  position: relative;
  padding-bottom: 0;
  &.create {
    width: 1100px;
    border-left: none !important;
  }
  &.collaborators {
    width: 600px;
  }
  .stepWizard {
    padding: 0px;
  }
}
.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.stepClass {
  padding: 0px !important;
}
