<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap" rel="stylesheet" />
    <title>Harness</title>
    <link rel="icon" type="image/x-icon" href="https://static.harness.io/ng-static/images/favicon.ico" />
    <link rel="icon" type="image/png" href="https://static.harness.io/ng-static/images/favicon.png" />
    <link rel="apple-touch-icon" href="https://static.harness.io/ng-static/images/favicon.png" />
    <style>
      .pre-loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .pre-loader-text {
        font: 18px/1.2858 Inter, sans-serif;
        color: #4f5162;
        margin-top: 16px;
      }
    </style>
    <!-- apiurl -->
    <script type="text/javascript">
      window.getApiBaseUrl = str => {
        return window.apiUrl ? `${window.apiUrl}/${str}` : window.location.pathname.replace('ng/', '') + str
      }
    </script>
    <!-- segmentToken -->
    <!-- bugsnagToken -->
    <!-- appDyEUMToken -->
    <!-- deploymentType -->
    <!-- refinerProjectToken -->
    <!-- refinerFeedbackToken -->
    <!-- helpPanelAccessToken -->
    <!-- helpPanelSpace -->
    <!-- helpPanelEnvironment -->
    <!-- stripeApiKey -->

    <!-- adding bugsnag for SAAS build -->
    <% if (!__DEV__) { %>
    <script>
      if (window.deploymentType === 'SAAS') {
        var e = document.createElement('script')
        e.setAttribute('type', 'text/javascript')
        e.setAttribute('src', '//d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js')
        document.getElementsByTagName('head')[0].appendChild(e)
      }

      if (!window.deploymentType) {
        window.deploymentType = 'COMMUNITY'
      }
    </script>
    <% } %>
    <script>
      window.HARNESS_ENABLE_NG_AUTH_UI = 'HARNESS_ENABLE_NG_AUTH_UI_PLACEHOLDER' === 'true'
      window.HARNESS_ENABLE_APPDY_EUM = 'HARNESS_ENABLE_APPDY_EUM_PLACEHOLDER' === 'true'
      window.HARNESS_ENABLE_CDN = 'HARNESS_ENABLE_CDN_PLACEHOLDER' === 'true'
      window.HARNESS_ENABLE_SABER = 'HARNESS_ENABLE_SABER_PLACEHOLDER' === 'true'
    </script>
    <% if (__DEV__) { %>
    <script>
      window.deploymentType = 'SAAS'
      window.helpPanelAccessToken = '5EHT-ZBWYjweBLS62PNKf-vp3ZbXAylRUlPRPcHwqAg'
      window.helpPanelSpace = 'jj62blws1bo9'
      window.helpPanelEnvironment = 'QA'
    </script>
    <% } %>
    <!-- Enabling ng-auth-ui -->
    <!-- dev only flag -->
    <% if (HARNESS_ENABLE_NG_AUTH_UI) { %>
    <script>
      window.HARNESS_ENABLE_NG_AUTH_UI = true
    </script>
    <% } %>

    <!-- AppDynamic EUM -->
    <script>
      if (window.HARNESS_ENABLE_APPDY_EUM && window.appDyEUMToken) {
        window['adrum-start-time'] = new Date().getTime()
        ;(function (w, d, c) {
          c.appKey = w.appDyEUMToken
          c.adrumExtUrlHttp = 'http://cdn.appdynamics.com'
          c.adrumExtUrlHttps = 'https://cdn.appdynamics.com'
          c.beaconUrlHttp = 'http://pdx-col.eum-appdynamics.com'
          c.beaconUrlHttps = 'https://pdx-col.eum-appdynamics.com'
          c.resTiming = { bufSize: 200, clearResTimingOnBeaconSend: true }
          c.maxUrlLength = 512
          c.spa = { spa2: true }
          var e = d.createElement('script')
          e.setAttribute('type', 'text/javascript')
          e.setAttribute('src', '//cdn.appdynamics.com/adrum/adrum-latest.js')
          d.getElementsByTagName('head')[0].appendChild(e)
        })(window, document, window['adrum-config'] || (window['adrum-config'] = {}))
      }
    </script>
    <script>
      window.resourceBasePath = window.HARNESS_ENABLE_CDN
        ? '//static.harness.io/ng-static/'
        : '<%= __NON_CDN_BASE_PATH__ %>'
    </script>

    <!-- saberToken -->
    <!-- Saber Feedback button -->
    <script async type="text/javascript">
      if (window.HARNESS_ENABLE_SABER && window.saberToken) {
        ;(function () {
          window.Saber = {
            apiKey: window.saberToken,
            com: [],
            do: function () {
              this.com.push(arguments)
            }
          }
          var e = document.createElement('script')
          e.setAttribute('type', 'text/javascript')
          e.setAttribute('src', 'https://widget.saberfeedback.com/v2/widget.js')
          e.onload = function () {
            Saber.do('set_option', 'hide_button', true)
            Saber.do('set_option', 'show_thanks', false)
            Saber.do('set_option', 'suppress_localhost_warning', true)
          }
          document.getElementsByTagName('head')[0].appendChild(e)
        })()
      }
    </script>
    <!-- End of Saber Feedback button -->
  </head>
  <body>
    <div id="react-root">
      <div class="pre-loader-wrapper">
        <div>
          <img src="https://static.harness.io/ng-static/images/loader.gif" alt="Loading..." />
          <div class="pre-loader-text">Loading, please wait...</div>
        </div>
      </div>
    </div>
    <div id="ngTooltipEditorRootParent"></div>
  </body>
</html>
