<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Language" content="en" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap" rel="stylesheet" />
    <title>Harness</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!-- apiurl -->
    <script type="text/javascript">
      window.getApiBaseUrl = str => {
        return window.apiUrl ? `${window.apiUrl}/${str}` : window.location.pathname.replace('ng/', '') + str
      }
    </script>
    <!-- segmentToken -->
    <!-- bugsnagToken -->
    <!-- appDyEUMToken -->
    <!-- deploymentType -->

    <% if (__DEV__) { %>
    <script>
      window.deploymentType = 'SAAS'
    </script>
    <% } %>
    <!-- adding bugsnag for SAAS build -->
    <% if (!__DEV__) { %>
    <script>
      if (window.deploymentType === 'SAAS') {
        var e = document.createElement('script')
        e.setAttribute('type', 'text/javascript')
        e.setAttribute('src', '//d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js')
        document.getElementsByTagName('head')[0].appendChild(e)
      }

      if (!window.deploymentType) {
        window.deploymentType = 'COMMUNITY'
      }
    </script>
    <% } %>
    <script>
      window.HARNESS_ENABLE_NG_AUTH_UI = 'HARNESS_ENABLE_NG_AUTH_UI_PLACEHOLDER' === 'true'
      window.HARNESS_ENABLE_APPDY_EUM = 'HARNESS_ENABLE_APPDY_EUM_PLACEHOLDER' === 'true'
    </script>
    <script src="//go.harness.io/js/forms2/js/forms2.min.js"></script>

    <!-- AppDynamic EUM -->
    <script>
      if (window.HARNESS_ENABLE_APPDY_EUM && window.appDyEUMToken) {
        window['adrum-start-time'] = new Date().getTime()
        ;(function (w, d, c) {
          c.appKey = w.appDyEUMToken
          c.adrumExtUrlHttp = 'http://cdn.appdynamics.com'
          c.adrumExtUrlHttps = 'https://cdn.appdynamics.com'
          c.beaconUrlHttp = 'http://pdx-col.eum-appdynamics.com'
          c.beaconUrlHttps = 'https://pdx-col.eum-appdynamics.com'
          c.resTiming = { bufSize: 200, clearResTimingOnBeaconSend: true }
          c.maxUrlLength = 512
          c.spa = { spa2: true }
          var e = d.createElement('script')
          e.setAttribute('type', 'text/javascript')
          e.setAttribute('src', '//cdn.appdynamics.com/adrum/adrum-latest.js')
          d.getElementsByTagName('head')[0].appendChild(e)
        })(window, document, window['adrum-config'] || (window['adrum-config'] = {}))
      }
    </script>
  </head>
  <body>
    <div id="react-root"></div>
    <div id="ngTooltipEditorRootParent"></div>
  </body>
</html>
