<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Language" content="en" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap" rel="stylesheet" />
    <title>Harness</title>
    <!-- apiurl -->
    <script type="text/javascript">
      window.getApiBaseUrl = str => {
        return window.apiUrl ? `${window.apiUrl}/${str}` : window.location.pathname.replace('ng/', '') + str
      }
    </script>
    <!-- segmentToken -->
    <!-- bugsnagToken -->
    <!-- deploymentType -->

    <% if (__DEV__) { %>
    <script>
      window.deploymentType = 'SAAS'
    </script>
    <% } %>
    <!-- adding bugsnag for SAAS build -->
    <% if (!__DEV__) { %>
    <script>
      if (window.deploymentType === 'SAAS') {
        var e = document.createElement('script')
        e.setAttribute('type', 'text/javascript')
        e.setAttribute('src', '//d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js')
        document.getElementsByTagName('head')[0].appendChild(e)
      }

      if (!window.deploymentType) {
        window.deploymentType = 'COMMUNITY'
      }
    </script>
    <% } %>
    <script>
      window.HARNESS_ENABLE_NG_AUTH_UI = 'HARNESS_ENABLE_NG_AUTH_UI_PLACEHOLDER' === 'true'
    </script>
    <script src="//go.harness.io/js/forms2/js/forms2.min.js"></script>
  </head>
  <body>
    <div id="react-root"></div>
    <div id="ngTooltipEditorRootParent"></div>
  </body>
</html>
