.table {
  width: calc(100vw - 270px);
  min-width: 1300px;
  padding: var(--spacing-small) var(--spacing-xlarge);

  :global {
    [class*='Pagination'] {
      border: none;
    }
  }
}

.layout {
  justify-content: flex-end;
}
.testBtn {
  color: var(--primary-7) !important;
  border-color: var(--primary-7) !important;
}
.testConnectionPop {
  border-radius: 4px;
  background-color: var(--white) !important;
  > div > div {
    display: none;
  }

  padding: 0 var(--spacing-small) var(--spacing-large) var(--spacing-small);
}

.identifier {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--grey-400);
}
.wrapper {
  width: 80%;
  .name {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  span {
    white-space: nowrap !important;
  }
}

.viewDetails {
  cursor: pointer;
}

.link {
  justify-content: flex-start;
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

:global {
  .connectorDeleteDialog {
    textarea {
      max-height: 200px;
      width: 100%;
      resize: vertical;
    }
  }
}

.tooltip {
  max-width: 400px;
}

.confirmText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
