.table {
  width: calc(100vw - 270px);
  min-width: 1300px;
  padding: var(--spacing-small) var(--spacing-xlarge);
  background-color: var(--grey-100);
}

.layout {
  justify-content: flex-end;
}
.testBtn {
  color: var(--blue-500) !important;
  border-color: var(--blue-500) !important;
}
.testConnectionPop {
  border-radius: 4px;
  background-color: var(--white) !important;
  > div > div {
    display: none;
  }

  padding: 0 var(--spacing-small) var(--spacing-large) var(--spacing-small);
}

.identifier {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--grey-400);
}
.wrapper {
  width: 80%;
  .name {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .flex {
    display: flex;
  }
  span {
    white-space: nowrap !important;
  }
}

.viewDetails {
  cursor: pointer;
}

.link {
  justify-content: flex-start;
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
