.getStartedMainContainer {
  background-color: #fbfcfd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--page-header-height, 64px));
}

.image {
  width: 130%;
}

.hasBanner {
  --page-header-height: 114px !important;
}
