.listHeader {
  border-bottom: 1px solid var(--grey-300) !important;
}

.expandSearch {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  :global {
    input[type='search'] {
      border: 0;
    }
    input[type='search']:focus {
      border: 1px solid var(--grey-400);
      border-radius: 5px !important;
    }
  }
}
