.inputGroup {
  cursor: pointer;
  .input {
    display: flex;
    align-items: center;
    padding: var(--spacing-small);
  }
  .inputIcon {
    top: calc(50% - 12px);
    right: 4px !important;
    color: var(--blue-500);
  }
  .loadingJsonIcon {
    float: right;
    position: absolute;
    bottom: 13px;
    right: 12px;
  }
}

.dialogContent {
  display: flex;
  height: 90%;
  padding: 20px 100px 20px 40px;
  .leftColumn {
    font-size: 25px;
    font-weight: 100;
    margin-right: 10%;
    margin-top: 50px;
  }
  .rightColumn {
    flex: 1;
  }
}
