.getStartedMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--page-header-height, 64px));
  margin-top: var(--spacing-xlarge);
  background-color: var(--white) !important;
}

.hasBanner {
  --page-header-height: 114px !important;
}

.timeRangeSelect {
  width: 150px !important;
}
