.value {
  min-width: 180px;
  column-gap: var(--spacing-xsmall);
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;

  & :global(.bp3-button-text) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
