.value {
  min-width: 180px;
  // height: 30px !important;
  column-gap: var(--spacing-xsmall);
  justify-content: flex-start;
  overflow: hidden;
  // background-color: var(--grey-100) !important;
  width: 100%;
  &[disabled] {
    border: 1px solid var(--bp3-intent-color, var(--form-field-border)) !important;
    opacity: 1 !important;
    color: rgba(92, 112, 128, 0.6) !important;
  }

  & :global(.bp3-button-text) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
