.value {
  min-width: 180px;
  // height: 30px !important;
  column-gap: var(--spacing-xsmall);
  justify-content: flex-start;
  overflow: hidden;
  // background-color: var(--grey-100) !important;
  width: 100%;
  &[disabled] {
    border: 1px solid var(--bp3-intent-color, var(--form-field-border)) !important;
    opacity: 1 !important;
    color: rgba(92, 112, 128, 0.6) !important;
  }

  & :global(.bp3-button-text) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.smallForm {
  button {
    &:global(.bp3-button) {
      min-height: 24px !important;
      height: 24px !important;
    }

    &:global(.MultiTypeInput--btn) {
      min-height: 20px !important;
      height: 21px !important;
      &:before {
        height: 20px;
      }
    }
  }

  input {
    &:global(.bp3-input) {
      height: 24px !important;
    }
  }
}
