.height-override {
  height: calc(100% - 80px);
  justify-content: center;
  align-items: center;
  .ff-container-img {
    transform: rotate(-25deg);
  }
}

.ff-page-btns-header {
  padding: var(--spacing-medium) var(--spacing-xxlarge) !important;
  border: 1px solid var(--grey-300);
  align-items: center;
  background-color: var(--white) !important;
  position: sticky;
  top: 0;
  z-index: 1;

  .ff-page-btns-search {
    margin-right: var(--spacing-small) !important;
    & > span {
      color: var(--blue-500);
    }
    & > input {
      border: 0 !important;
      height: 32px !important;
    }
    & > input:focus {
      width: 350px !important;
      border: 1px solid var(--grey-350) !important;
    }
  }
}

.ff-page-btns-select {
  width: 200px !important;
}

.drawer-container {
  :global(.bp3-drawer-header) {
    padding: var(--spacing-medium);
  }
}

.content {
  height: calc(100% - 80px);
  overflow: hidden;
  background: var(--grey-100) !important;
}

.table {
  padding: 0 !important;
  height: calc(100vh - 144px);

  .list {
    padding: var(--spacing-medium) var(--spacing-xxlarge) 0 !important;
    height: calc(100% - 50px);
    overflow: auto;
  }

  .pagination {
    height: 50px;
    padding: 0 var(--spacing-xxlarge) !important;

    > div {
      border-top: none !important;
    }
  }
}

.tags-popover {
  :global(.bp3-popover-content) {
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--spacing-small);
    min-width: 130px;
  }
  :global(.bp3-popover-content) > p:not(:first-child) {
    background-color: var(--blue-300);
    color: var(--blue-700);
    font-weight: bold;
    border-radius: var(--spacing-xsmall);
    text-align: center;
    margin-bottom: var(--spacing-xsmall);
    padding: 0 var(--spacing-xsmall);
    width: max-content;
  }
  :global(.bp3-popover-content) > p:first-child {
    color: var(--black);
    font-weight: bold;
    margin-bottom: var(--spacing-medium);
  }
}

.generalInfo {
  flex-grow: 1;
  align-items: baseline !important;
  width: calc(100% - 100px) !important;

  > span {
    width: 100%;
    > span {
      width: 100%;
    }
  }

  & + span:last-of-type {
    align-self: center;
  }
}

.toggleFlagButton,
.toggleFlagButton:hover,
.toggleFlagButton:active {
  border-radius: 10px;
  padding: 0 !important;
  border: none !important;
  background-color: transparent;

  :global {
    .bp3-control.bp3-switch input:checked ~ .bp3-control-indicator {
      background-color: #25a6f7;
    }
  }
}

.status {
  font-weight: 600 !important;
  font-size: 10px !important;
  line-height: 20px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.00928571px;
  background: #edf8ff !important;
  border-radius: 6px !important;
  color: #8eb0f4 !important;
  display: inline-block !important;
  padding: 0 8px !important;

  &.archived {
    color: #9293ab !important;
    background: #f3f3fa !important;
  }
}
