.rollback-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  height: 40px !important;
  width: 200px !important;
  align-items: center;

  &.rollbackToggleSmall {
    width: 75px !important;
  }

  .active-text {
    color: var(--primary-7) !important;
    cursor: pointer;
  }

  .btn-rollback {
    pointer-events: all;
    margin: 0 var(--spacing-small);
    border: 1px solid var(--grey-200);
    background-color: var(--grey-300) !important;
    border-radius: 7px;
    z-index: 1;

    .btn {
      width: 30px !important;
      height: 28px !important;
      min-height: 28px !important;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0712686) !important;

      &.btn-small {
        width: 22px !important;
        height: 18px !important;
        min-height: 22px !important;
        min-width: 18px !important;
      }

      &:global(.bp3-button) {
        border-radius: 0px !important;
        background-color: transparent !important;
        border-color: transparent !important;
        padding: var(--spacing-xsmall);
      }
      &:global(.bp3-button.bp3-active) {
        background-color: var(--white) !important;
        border: 1px solid var(--grey-350) !important;
        border-radius: 7px !important;
        padding: var(--spacing-xsmall);
      }
    }

    & > div > span:first-child {
      :global(.bp3-button) {
        border-top-left-radius: 7px !important;
        border-bottom-left-radius: 7px !important;
      }
    }
    & > div > span:last-child {
      :global(.bp3-button) {
        border-top-right-radius: 7px !important;
        border-bottom-right-radius: 7px !important;
      }
    }
  }

  .button-group {
    display: flex !important;
  }
}
