:root {
  --recommended-background: #e3fff1;
  --recommended-text: #05a660;
  --card-text-info: #1c1c28;
  --select-delegate: #8f90a6;
  --lock-icon: #cdd3dd;
}
.secondStep {
  margin: var(--spacing-small) 0 var(--spacing-small) var(--spacing-small) !important;
  .continueBtn {
    color: var(--blue-500);
  }
  .headingStepTwo {
    font-size: var(--font-size-medium);
    letter-spacing: 0;
    color: var(--grey-800);
  }

  .customCss {
    display: flex;

    :global {
      .bp3-card {
        margin-right: 30px;
        padding: 0;
        box-sizing: border-box;
        height: 272.5px;
        width: 220.5px;
        box-sizing: border-box;
        // border: 0.5px solid #555770;
        border-radius: 8px;
        background-color: var(--white);
        //Todo: box-shadow: 0 2px 4px 0 rgba(40,41,61,0.04), 0 8px 16px 0 rgba(96,97,112,0.16);
        // &:hover {
        //   border-radius: 8px;
        //   background-color: var(--blue-500);
        //   color: var(--white);
        //   border: 0px solid var(--grey-200) !important;
        //   box-shadow: 0 2px 8px 0 rgba(40, 41, 61, 0.08), 0 20px 32px 0 rgba(96, 97, 112, 0.24);
        // }
      }
    }
    display: flex;
  }
  .selectedText {
    color: var(--white);
  }
  .selectedCard {
    border-radius: 8px 8px 0 0;
    background-color: var(--blue-500);

    height: 100px;
    color: var(--white);
    border: 0px solid var(--grey-200) !important;
    // box-shadow: 0 2px 8px 0 rgba(40, 41, 61, 0.08), 0 20px 32px 0 rgba(96, 97, 112, 0.24);
  }
  .recommended {
    height: 20px;
    width: 102px;
    padding: var(--spacing-xsmall);
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 12px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--recommended-background);
    color: var(--recommended-text);
  }
  .textInfo {
    margin-top: var(--spacing-small);
    font-size: var(--font-size-small);
    letter-spacing: 0;
    line-height: 19px;
    color: var(--card-text-info);
  }

  .delegateWrapper {
    padding: 2px;
    height: 440px;
    max-height: 440px;
    overflow: auto;
  }
  .incluster {
    margin-top: 40px;
    .howToProceed {
      color: var(--card-text-info);
      font-size: var(--font-size-normal);
      letter-spacing: 0;
    }
    .radioOption {
      cursor: pointer;
      margin-top: var(--spacing-medium);
      .label {
        margin-left: var(--spacing-large);
      }
    }
    :global {
      .bp3-input-group {
        > input {
          height: 36px;
          border-radius: 8px;
          background-color: var(--white);
          box-shadow: inset 0 0.5px 4px 0 rgba(96, 97, 112, 0.32);
          border: none !important;
        }
      }
    }
    .selectDelegate {
      width: 65%;
      margin-top: var(--spacing-medium);
      > label {
        margin-bottom: var(--spacing-small);
        color: var(--select-delegate);
        font-family: Nunito;
        font-size: var(--font-size-small);
        letter-spacing: 0.2px;
        line-height: 16px;
      }
    }
  }
  .selectDelegateText {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-small);
    color: var(--select-delegate);
    font-family: Nunito;
    font-size: var(--font-size-small);
    letter-spacing: 0.2px;
    line-height: 16px;
  }
  .saveSecondStep {
    margin-top: var(--spacing-large);
  }
}
.itemName {
  width: 86%;
  padding: var(--spacing-medium);
  height: 100px;
  color: var(--grey-900);
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.42px;
  line-height: var(--spacing-large);
}
.tickWrp {
  margin-top: var(--spacing-large) !important;
  > svg {
    path {
      fill: var(--white);
    }
    path:last-child {
      fill: var(--blue-500);
    }
  }
}
.tickIcon {
  color: var(--blue-500) !important;
  padding: 0 0 3px 2px !important;
}
.itemInfo {
  color: var(--grey-400);
  font-size: var(--font-size-small);
  border-top: 1px solid var(--grey-200);
  padding: var(--spacing-medium);
}
.intermediateStep {
  margin: var(--spacing-small) 0 var(--spacing-small) var(--spacing-small);
  height: 100%;
  .formWrapper {
    height: 545px;
    max-height: 545px;
    overflow: auto;
    .formFields {
      min-height: 90%;
    }
  }
  .headingIntermediate {
    font-size: var(--font-size-medium);
    letter-spacing: 0;
    color: var(--grey-800);
  }
  .credWrapper {
    margin-bottom: var(--spacing-medium);
    justify-content: space-between;
    .label {
      margin: var(--spacing-small) 0;
      .lockIcon {
        padding: 5px 5px 3px 0;
        color: var(--lock-icon);
      }
    }
    .selectAuth {
      width: 205px;
    }
  }
  .credForm {
    height: 90%;
    width: 64%;
    margin: 30px 0;
    :global {
      .bp3-label {
        color: var(--grey-400);
        font-size: var(--font-size-small);
      }
      textarea {
        border-radius: 8px;
        border: 1px solid var(--grey-200);
      }
      .bp3-form-group {
        margin-bottom: var(--spacing-large);
      }
      .bp3-input-group {
        .bp3-input {
          height: 36px;
          border-radius: 8px;
          background-color: var(--white);
          box-shadow: inset 0 0.5px 4px 0 rgba(96, 97, 112, 0.32);
          // cursor: pointer;
        }
        > input {
          height: 36px;
          border-radius: 8px;
          background-color: var(--white);
          box-shadow: inset 0 0.5px 4px 0 rgba(96, 97, 112, 0.32);
          border: none;
          // cursor: pointer;
        }
      }
    }
  }
}
