.passwordChecksDiv {
  background-color: var(--grey-50) !important ;
  .editIcon {
    position: absolute;
    right: var(--spacing-small);
  }
}

.collapseIcon {
  :global {
    .bp3-icon {
      right: var(--spacing-large);
      position: absolute;
    }
  }
}
