.main {
  position: relative;
  height: calc(var(--execution-children-height) - var(--execution-stage-details-height));
  width: 100%;
  overflow: hidden;

  .stepDetails {
    position: absolute;
    top: 0;
  }

  .canvasBtns {
    left: var(--spacing-large);
    width: var(--spacing-xxlarge);
  }
}
.popoverHeight {
  min-height: fit-content;
  margin-left: -20px;
}
