.providersViewGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: var(--spacing-xlarge);
  grid-row-gap: 0px;
  .bp3-card {
    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 5px;
  }
  > div {
    background-color: var(--white) !important;
  }
}
.title {
  color: var(--black) !important;
  font-size: 24px !important;
  font-weight: bold !important;
}
.footer {
  position: fixed;
  bottom: 40px;
  z-index: 1;
}
.card {
  padding: 0px;
  max-width: 50px;
  max-height: 50px;
}
.instanceTypeNameGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: var(--spacing-xxxlarge);
  grid-row-gap: 0px;
  margin-left: var(--spacing-medium) !important;
}
.breadCrumb {
  background: var(--blue-100);
  border: 1px solid var(--grey-200);
  box-sizing: border-box;
  padding: 8px;
}
