.main {
  :global {
    .bp3-tab-list {
      width: 200px;
      .bp3-tab {
        font-size: var(--font-size-small);
        line-height: unset;
        margin-top: var(--spacing-xsmall);
      }
    }
    .bp3-tab-panel {
      margin-top: 0;
    }
  }
}
