.main {
  padding: var(--spacing-large);
  overflow-y: scroll;
  border-left: none !important;
  :global {
    .bp3-dialog-header {
      padding-left: 0;
      margin-bottom: var(--spacing-large);
    }
  }

  .timeRange {
    margin-top: var(--spacing-small);
  }

  .categoryAndRiskScore {
    display: flex;
    width: 100px;
    .riskInfo {
      justify-content: center;
    }
    .riskScore {
      margin-right: var(--spacing-xsmall);
    }
  }
}
