.main {
  padding: var(--spacing-large);

  @mixin analysisCard($cardPaddingAmount: var(--spacing-small)) {
    border-radius: 5px;
    box-shadow: 0 0 20px 0 var(--grey-300);
    padding: $cardPaddingAmount;
    background-color: var(--white);
  }

  .analysisSummaryHeader {
    @include analysisCard;
    display: flex;
    flex-wrap: wrap;

    .chartContainer {
      position: relative;
      bottom: 5px;
      margin-right: var(--spacing-large);
    }

    .analysisSummary {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      > *:not(:last-child) {
        margin-right: var(--spacing-large);
      }

      .categoryName {
        text-transform: uppercase;
        color: var(--black);
        letter-spacing: 2px;
        font-size: var(--font-size-small);
        align-self: center;
      }

      .keyValue .label {
        font-size: var(--font-size-xsmall);
        display: block !important;
      }

      .keyValue .value {
        font-size: var(--font-size-small);
      }
    }
  }

  .analysisView {
    @include analysisCard(var(--spacing-large));
    margin-top: var(--spacing-large);

    .analysisViewHeader {
      display: flex;
      justify-content: space-between;
      position: relative;
      .analysisFilter {
        height: 25px;
        position: absolute;
        right: 0;
        align-self: center;
      }
    }
  }
}
