.dashboardSumary {
  position: relative;
  .atGlanceWrapper {
    height: 248px;
  }

  .topProjectsCard {
    width: 100%;
    height: 248px;

    .topProjectsContainer {
      height: 100%;

      .topProjectsWrapper {
        max-height: 200px;
        display: flex;
        flex-grow: 1;
        align-content: center;
        justify-content: space-between;
        margin-top: var(--spacing-xsmall) !important;

        & > div {
          flex: 1;
          max-height: 100%;
          overflow: auto;
          &:not(:last-child) {
            border-right: 1px solid var(--grey-200);
          }

          &:first-child [role='row'] {
            padding-left: 0;
          }
        }
      }

      .loadingProjects {
        justify-content: center !important;
      }
    }
  }
}

:global {
  .summaryTableHeader {
    align-items: center !important;
  }

  .glanceModuleErrorWrapper {
    height: 100%;
    background-color: var(--yellow-50) !important;
    p {
      font-size: var(--font-size-normal) !important;
    }
  }
}
