.variables-list-table {
  display: grid;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  align-items: baseline;
  padding: 0 var(--spacing-large) 0 var(--spacing-large);
  row-gap: var(--spacing-large);

  & + :global(.Accordion--panel) {
    margin-top: var(--spacing-large);
  }
}
