.variables-list-table {
  display: grid;
  align-items: baseline;

  .variable-list-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    padding: var(--spacing-small);
    border-bottom: solid 1px;
    border-color: #d9dae599;
    position: relative;
    height: 39px;

    .nameSection {
      font-size: var(--font-size-normal);
      color: var(--grey-500);
      font-weight: 500;
      width: 300px;
      background-color: var(--primary-bg);
    }

    &:before {
      position: absolute;
      width: 100%;
      bottom: -1px;
      content: '';
      border-bottom: solid 1px;
      border-color: #d9dae599;
      height: 1px;
      left: 100%;
    }

    &:after {
      position: absolute;
      width: 100%;
      bottom: -1px;
      content: '';
      border-bottom: solid 1px;
      border-color: #d9dae599;
      height: 1px;
      right: 100%;
    }
  }
}

.selectedSearchText {
  background-color: var(--yellow-300);
  padding: 0px 2px;
}

.currentSelection {
  background-color: var(--orange-400);
  padding: 0px 2px;
}

.variableListRowItem {
  display: grid;
  padding: var(--spacing-small) 0;
  grid-template-columns: 1fr 1fr;

  .nameSection {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--form-input-font-size);
    color: var(--grey-500);
    display: inline;
  }
}

.variable-border-bottom {
  position: relative;
  height: 32px;
  &:before {
    position: absolute;
    width: 100%;
    bottom: -1px;
    content: '';
    border-bottom: solid 1px;
    border-color: #d9dae599;
    height: 1px;
    left: 100%;
  }
  &:after {
    position: absolute;
    width: 100%;
    bottom: -1px;
    content: '';
    border-bottom: solid 1px;
    border-color: #d9dae599;
    height: 1px;
    right: 0;
  }
}

.copyOptionTextInput {
  :global {
    .bp3-input {
      background-color: var(--white) !important;
      height: 22px !important;
      font-size: var(--font-size-normal) !important;
      border: 1px solid var(--primary-6) !important;
    }
  }
}

.copyOptionPopoverWrapper {
  &::before {
    height: 20px !important;
  }

  &::after {
    height: 20px !important;
    background: var(--white) !important;
  }

  :global {
    .bp3-button {
      height: 20px !important;
    }
  }
}

.nameSectionWithCopy {
  background-color: transparent !important;
  :global {
    .TextInput--main {
      margin-bottom: 0;
      width: 100%;
    }
  }
}

.hoveredRow {
  background-color: var(--primary-1);
}

.valueSection {
  font-size: var(--font-size-normal);
  width: 300px;
}

.tagsValueSection {
  display: flex;
  column-gap: var(--spacing-xsmall);
  max-width: 410px;
  padding-left: var(--spacing-medium);
}
