.stepContainer {
  .heading {
    color: var(--grey-800);
    font-size: var(--font-size-medium);
    letter-spacing: 0;
  }

  .connectorForm {
    min-height: 440px;

    .infoGroup {
      display: flex;
      align-items: center;
      margin-top: var(--spacing-large);
      margin-bottom: var(--spacing-small);
    }
  }

  :global {
    textarea {
      max-height: 200px;
    }

    .gitDetailsContainer {
      .bp3-popover-wrapper {
        width: 56% !important;
      }
    }
  }
}

.mainContainer {
  overflow: auto;

  .contentContainer {
    overflow: hidden;
  }

  .formContainer {
    float: left;
    position: absolute;
    height: calc(100% - 40px);
    width: 45%;

    padding-right: 12px;
    border-right: 1px solid #ddd;
    overflow: auto;

    .formElm {
      max-width: 332px;

      textarea {
        max-height: 80px;
      }
    }
  }
  .aboutHarnessAdapterContainer {
    width: 53%;
    padding: 0 16px;
    float: right;
    height: calc(100% - 40px);
  }

  .aboutHarnessAdapterQuestion {
    font-size: 14px;
    font-weight: 700 !important;
    color: var(--grey-600);
  }

  .aboutHarnessAdapterAnswer {
    font-weight: 400 !important;
    color: var(--grey-700) !important;
    font-size: 12px !important;
    line-height: 18px !important;
  }

  .aboutHarnessAdapterIllustration {
    margin: var(--layout-spacing) 0;
    height: 120px;
  }

  .aboutHarnessAdapterUrl {
    display: flex;
    align-items: center;
  }
}

.adapterUrl {
  color: var(--grey-600);
  font-size: var(--form-input-font-size);
  font-weight: 500;
}

.info {
  margin: 8px 0;

  :global {
    .Collapse--main {
      padding: 4px 0;
      border: 0px;
    }

    .CollapseHeader--title {
      font-weight: 700 !important;
    }
  }

  .installedComponents {
    margin: 16px 0;

    .installedComponent {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;

      &::before {
        content: '';
      }
    }
  }

  .requiredPermissions {
    margin: 16px 0;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
