.nodeStart {
  border: 1px solid var(--diagram-grey);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--diagram-light-grey);
  cursor: pointer;
  position: relative;
  .icon {
    position: absolute;
    top: 6px;
    left: 7px;
  }
}
.defaultNode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}
