.projectCard {
  width: 250px;
  box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
  padding: 0px !important;
  border: 1px solid transparent !important;
  &:hover {
    cursor: pointer;
    border-color: var(--primary-7) !important;
    background: var(--grey-100) !important;
  }

  .colorBar {
    width: 50px;
    height: 8px;
    border-radius: 5px;
    margin-bottom: var(--spacing-medium);
  }

  .moduleRendererContainer {
    max-height: 154px;
    overflow: scroll;
  }
}

.previewProjectCard {
  &:hover {
    border-color: transparent !important;
    cursor: default;
    background: white !important;
  }
}

.started {
  background: var(--grey-100) !important;
}
.cardTags {
  background-color: var(--grey-200) !important;
  color: var(--grey-400) !important;
  max-width: 200px;
  margin-right: var(--spacing-xsmall);
  margin-top: var(--spacing-xsmall);
}

.wrap {
  flex-wrap: wrap;
}

.projectInfo {
  overflow-wrap: anywhere;
}

.projectAvatarGroup {
  justify-content: flex-end;
  margin-left: -7px;
}

.tagClassName {
  background-color: var(--primary-2) !important;
  color: var(--primary-9);
  font-weight: 500;
}
