.collapseHeaderClassName {
  height: 48px;
  padding-left: var(--spacing-large) !important;
  :global {
    .bp3-icon {
      right: var(--spacing-huge);
      position: absolute;
    }
  }
}

.height60 {
  height: 60px;
}

.collapseClassName {
  border-top: none !important;
  box-shadow: var(--card-shadow);
  padding-left: var(--spacing-none) !important ;
  padding-right: var(--spacing-large) !important;
}

.collapseBottomPadding {
  padding-bottom: var(--spacing-large) !important;
}

.callout {
  padding: 8px;
  background-color: var(--yellow-100);
  border-bottom: 1px solid var(--grey-200);
}
