.logsContainer {
  display: grid;
  grid-template-columns: 290px 1fr;
  font-family: Inter !important;
  height: 100%;
}

.stepsContainer {
  height: 100%;
  overflow: auto;
}

.stageSelector {
  width: 100%;
  display: block;
  position: sticky;
  top: 0;
  z-index: 10;

  :global(.bp3-popover-target) {
    width: 100%;
    display: block;
  }

  :global(.bp3-button) {
    width: 100%;
    justify-content: space-between;
    height: 48px !important;
    padding: var(--spacing-xsmall) var(--spacing-large) !important;
  }
}

.stageSelectionMenu {
  width: 280px;
}

.stageTree {
  padding: 0 var(--spacing-large);
}

.logContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--black-color-1) !important;
  flex: 1 1 auto;

  > div:nth-child(2) {
    flex-grow: 1;
    & > div {
      flex-grow: 1;
    }
  }

  :global {
    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: var(--grey-600);
    }

    ::-webkit-scrollbar-thumb:hover {
      opacity: 0.6;
    }
  }
}
