.inputWidth {
  width: 450px !important;
  margin-top: var(--spacing-small);
}
.simultaneousDeployment {
  input {
    margin-left: var(--spacing-medium);
    position: relative;
    margin-top: var(--spacing-small);
  }
}

.variablesTable {
  & + & {
    margin-top: var(--spacing-large);
  }
}

.containerPadding {
  padding-left: 0 !important;
  padding-bottom: var(--spacing-small) !important;
}

.connectorMargin {
  margin-bottom: var(--spacing-small) !important;
}
