.inputWidth {
  width: 450px;
  margin-top: var(--spacing-small);
}
.simultaneuosDeployment {
  input {
    margin-left: var(--spacing-small);
    position: relative;
    margin-top: var(--spacing-small);
  }
}
