.inputWidth {
  width: 450px !important;
  margin-top: var(--spacing-small);
}
.simultaneousDeployment {
  input {
    margin-left: var(--spacing-medium);
    position: relative;
    margin-top: var(--spacing-small);
  }
}

.variablesTable {
  & + & {
    margin-top: var(--spacing-large);
  }
}
