.logLine {
  display: grid;
  font-size: var(--font-size-small);
  column-gap: 1em;
  grid-template-columns: max(var(--char-size, 3ch), 3ch) 5ch 25ch 1fr;
  font-family: 'Roboto Mono', 'Monaco', 'Ubuntu Mono', monospace;
  color: var(--white);
  padding: 0 var(--spacing-3);
  border-radius: var(--spacing-2);
  line-height: 1.67;

  &:hover {
    background-color: var(--grey-800);
  }

  .lineNumber {
    display: inline-block;
    text-align: right;
    user-select: none;
  }

  .level {
    user-select: none;
  }

  .time {
    user-select: none;
  }

  mark[data-current-search-result='true'] {
    background-color: orange;
  }
}
