.main {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-3);
  width: 100%;
  overflow: hidden;
}

.alignSelfStart {
  align-self: flex-start;
}

.label {
  display: flex !important;
  background-color: var(--primary-1) !important;
  border-radius: 8px !important;
  padding: var(--spacing-xsmall) var(--spacing-small) !important;
  align-items: center;

  &.multiple {
    > * {
      font-size: inherit !important;
      font-weight: inherit !important;
      color: inherit !important;
    }

    > * + * {
      border-left: 1px solid var(--primary-3) !important;
      padding-left: var(--spacing-small) !important;
      margin-left: var(--spacing-small) !important;
    }
  }

  svg {
    margin-right: var(--spacing-xsmall);

    path {
      fill: currentColor !important;
    }
  }
}

.state {
  font-size: var(--font-size-small);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--grey-700);
  background-color: var(--grey-100);
  border-radius: 8px;
  padding: var(--spacing-xsmall) var(--spacing-small);
}
