.heatMap {
  overflow: hidden;
  .heatMapRow {
    display: flex;
    min-height: var(--spacing-large);
    .nameWrapper {
      flex-shrink: 0;
      p {
        line-height: 1;
      }
    }
    align-items: center;
    .rowValues {
      flex: 1;
      display: flex;
      justify-content: space-between;
      .cell {
        flex: 1;
        flex-basis: var(--spacing-medium);
        // min-width: var(--spacing-small);
        max-width: var(--spacing-xxlarge);
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
        :global(.bp3-popover-wrapper) {
          display: block;
          :global(.bp3-popover-target) {
            display: block;
            padding-bottom: 100%;
            position: relative;
          }
        }
        .cellContentWrapper {
          width: 70%;
          margin: 15%;
          .cellInner {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }
        }
        &.cellCircle .cellContentWrapper {
          width: 40%;
          margin: 30%;
        }
      }
    }
  }
}
