.heatMap {
  overflow: hidden;
  .heatMapRow {
    display: flex;
    min-height: var(--spacing-large);
    .nameWrapper {
      flex-shrink: 0;
      p {
        line-height: 1;
      }
    }
    align-items: center;
    .rowValues {
      flex: 1;
      display: flex;
      justify-content: space-between;
      .cell {
        width: 15px;
        max-width: 20px;
        margin-right: 0 var(--spacing-small);
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
        :global(.bp3-popover-wrapper) {
          display: block;
          :global(.bp3-popover-target) {
            display: block;
            padding-bottom: 100%;
            position: relative;
          }
        }
        .cellContentWrapper {
          margin-right: var(--spacing-xsmall);
          .cellInner {
            border-radius: 1px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}
