.userGroupInputContainer {
  background-color: var(--white) !important;
}

.layoutHeight {
  height: 22px;
  line-height: 13px;
}

.pointer {
  cursor: pointer;
}
.selectBtn {
  &:hover {
    text-decoration: underline !important;
  }
}

.multiTypeSupport {
  position: relative;
  :global {
    .bp3-form-group {
      width: 100%;
      margin-bottom: 0;
    }
  }
}
