.aggregationText {
  cursor: pointer;
}

.mainContainer {
  display: flex;
  align-items: center;

  .timeGranularityButton {
    padding: var(--spacing-xsmall) !important;
  }
}

.aggregationMenuItems {
  padding: var(--spacing-small);
  &:hover {
    background: var(--primary-1) !important;
    color: var(--black) !important;
  }
  &:active {
    background: var(--primary-7) !important;
    color: var(--white) !important;
  }
}
