$node-height: 25px;
$node-width: 40px;

.main {
  margin-top: var(--spacing-large);
  overflow: hidden;
  position: relative;

  .graphWrapper {
    height: $node-height;
    margin: var(--spacing-large) var(--spacing-6);
  }

  .graph {
    display: flex;
    column-gap: var(--spacing-large);
    width: fit-content;
    transition: transform 0.2s linear;

    & > .stageWrapper:first-child::before {
      width: 0;
    }
  }

  .scrollLeft,
  .scrollRight {
    position: absolute;
    top: calc(var(--spacing-large) + 5px);
    background: var(--primary-1) !important;
    color: var(--primary-7) !important;
    border: 1px solid var(--primary-7) !important;
    padding: 0 !important;
    min-width: unset !important;
    min-height: unset !important;
    width: 25px;
    border-radius: 5px;
    height: 14px !important;
  }

  .scrollLeft {
    left: 0;
  }

  .scrollRight {
    right: 0;
  }

  .stepCounts {
    display: flex;
    column-gap: var(--spacing-small);
    z-index: 1;
    margin-top: var(--spacing-small);
    overflow: hidden;
    padding: 0 var(--spacing-6);

    & :global(.bp3-popover-wrapper),
    & :global(.bp3-popover-target) {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .stepCount {
    display: inline-flex;
    align-items: center;
    padding: 0 var(--spacing-small) !important;
    font-size: var(--font-size-small) !important;
    line-height: 1.5 !important;
    border: 0.4px solid #d9dae6;
    border-radius: 4px;
    white-space: nowrap;

    & > :global(.bp3-icon),
    & > .running-animation {
      margin-right: var(--spacing-xsmall);
    }

    &[data-status='success'] > :global(.bp3-icon) {
      color: var(--green-500);
    }

    &[data-status='failed'] > :global(.bp3-icon) {
      color: var(--red-500);
    }
  }

  .errorMsg {
    color: var(--red-500) !important;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  & :global(.bp3-popover-wrapper),
  & :global(.bp3-popover-target) {
    display: block;
  }

  & :global(.bp3-popover-target),
  & :global(.bp3-popover-target > p) {
    height: 100%;
  }
}

.stageWrapper {
  position: relative;
  --stage-border: var(--grey-300);
  --stage-bg: var(--grey-100);
  --icon-color: var(--grey-400);

  &::before {
    content: '';
    display: block;
    width: var(--spacing-large);
    height: 1px;
    background-color: var(--stage-border);
    position: absolute;
    right: 100%;
    top: $node-height / 2;
  }

  & .stage {
    position: relative;
    width: $node-width;
    height: $node-height;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--stage-border);
    border-radius: 3px;
    background: var(--stage-bg);
    cursor: pointer;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  }

  & .icon {
    color: var(--icon-color) !important;
  }

  &.success {
    --stage-border: var(--green-500);
    --icon-color: var(--green-500);
  }

  &.running,
  &.asyncwaiting,
  &.taskwaiting,
  &.timedwaiting {
    --stage-bg: linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%);
    --icon-color: var(--white);
    --stage-border: #0063f7;
    & .stage {
      border: none;
    }
  }

  &.failed,
  &.ignorefailed,
  &.errored,
  &.expired,
  &.aborted,
  &.suspended,
  &.discontinuing,
  &.approvalrejected {
    --stage-bg: linear-gradient(147.14deg, #ff8800 6.95%, #e63535 93.05%);
    --icon-color: var(--white);
    --stage-border: #ff8800;
    & .stage {
      border: none;
    }
  }

  &.notstarted {
    --stage-bg: var(--white);
    --icon-color: var(--grey-700);
  }

  &.waiting,
  &.approvalwaiting,
  &.interventionwaiting {
    --stage-bg: var(--orange-400);
    --icon-color: var(--grey-700);
    --stage-border: var(--orange-400);
  }

  &.queued,
  &.paused,
  &.pausing,
  &.skipped {
    --stage-bg: var(--grey-300);
    --icon-color: var(--grey-700);
  }
}

.parallelNodes {
  position: relative;
  width: $node-width;
  height: $node-height;

  &:first-child .stageWrapper::before {
    width: 0;
  }

  & .stageWrapper {
    z-index: 2;
  }

  .ghostNodes {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0.1s;
    z-index: 1;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: $node-width;
      height: $node-height;
      border-radius: 3px;
      content: '';
      display: block;
      position: absolute;
      background: var(--grey-100);
      border: 1px solid var(--grey-300);
      transition: transform 0.1s ease-out;
    }

    &::before {
      transform: translate(6px, -6px);
    }

    &::after {
      transform: translate(2px, -3px);
    }

    &[data-stages='2']::before,
    &[data-stages='1']::before {
      display: none;
    }

    &:global(.bp3-popover-open) {
      &::before,
      &::after {
        transform: translate(0, 0);
      }
    }
  }
}

.moreStages {
  box-shadow: none !important;

  & :global(.bp3-popover-content) {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--spacing-xsmall);
  }

  & .stageWrapper {
    &::before {
      width: 0;
    }

    &:nth-child(1) {
      transform: scale(0.92);
    }

    &:nth-child(2) {
      transform: scale(0.81);
    }

    &:nth-child(3) {
      transform: scale(0.72);
    }
  }

  & .extraCount {
    background: #f3f3fa;
    border: 0.5px solid #9293ab;
    font-size: var(--font-size-small);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 0 3px;
    text-align: center;
    white-space: nowrap;
    transition: transform 0.2s ease-in-out;
    width: fit-content;
  }
}

.running-animation {
  position: relative;
  height: 4px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--icon-color, var(--grey-400));
    animation: pulse 1s infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(0);
  }
}

.infoPopover {
  max-width: 449px;
}
