.existingDocker {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  div[class*='StepWizard---navStep']:nth-of-type(2) {
    display: none !important;
  }
}

.firstep {
  padding: var(--spacing-small) 0 0 var(--spacing-small) !important;
  height: 100%;
  div[class*='OverlaySpinner'] {
    height: 100%;
  }

  .heading {
    color: var(--grey-800);
    font-size: var(--font-size-medium);
    letter-spacing: 0;
  }
  .connectorForm {
    height: 100%;
    min-height: 400px;
  }
  .saveBtn {
    position: absolute;
    bottom: 0;
  }
  .addNewArtifact {
    width: 200px;
    position: relative;
    top: 20px;
  }

  .artifactSelect {
    button.bp3-button {
      width: 380px;
    }
  }
  .dockerSideCard {
    display: grid;
    grid-template-columns: 400px 20px;
  }
  .imagePathContainer {
    display: grid;
    grid-template-columns: 410px 20px;
    margin-top: var(--spacing-large);
    div.configureOptions {
      position: relative;
      top: 22px;
    }
  }
  .connectorContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .bp3-popover-target > button {
      width: 28px !important;
    }
    div.configureOptions {
      height: fit-content;
      line-height: 72px;
    }
  }

  .tagGroup {
    width: 60%;
    .radioGroup {
      > div > div {
        display: flex;
        justify-content: flex-start;
        > label {
          font-size: var(--font-size-normal);
          color: var(--radio-group-label);
          margin-right: 100px;
        }
      }
    }
  }
}
