.container {
  --tree-selected-color: #effbff;

  .stages-tree-bullet-empty > :global(div > .bp3-tree-node-label) {
    text-indent: 20px;
  }

  .stages-tree-bullet-square > :global(div > .bp3-tree-node-label) {
    text-indent: 20px;
    &::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0px;
      width: 13px;
      height: 13px;
      background: linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%);
      opacity: 0.6;
      border-radius: 3px;
    }
  }

  .stages-tree-bullet-circle > :global(div > .bp3-tree-node-label) {
    text-indent: 20px;
    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0px;
      width: 13px;
      height: 13px;
      background: linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%);
      opacity: 0.6;
      border-radius: 100px;
    }
  }

  :global {
    .bp3-tree-node-content {
      height: 36px !important;
      cursor: pointer;
    }

    .bp3-tree-node-list {
      padding-right: 0px;
    }
  }

  :global(.bp3-tree-node-content-0) {
    padding-left: 20px;
  }

  :global(.bp3-tree-node-content-1) {
    color: --grey-800 !important;
    font-weight: 600;
    padding-left: 54px;
  }

  :global(.bp3-tree-node-content-2) {
    color: --grey-500 !important;
    font-weight: 400;
    padding-left: 96px;
  }

  :global(.bp3-tree-node-content-3) {
    padding-left: 120px;
  }

  :global(.bp3-tree-node-content-4) {
    padding-left: 140px;
  }

  :global(.bp3-tree-node-content-5) {
    padding-left: 160px;
  }

  :global(.bp3-tree-node-caret-none) {
    min-width: 8px;
  }

  :global(.bp3-tree-node-content:hover) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--tree-selected-color);
  }

  :global(.bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content) {
    background-color: var(--tree-selected-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
