.main {
  .serviceHeatMap {
    background-color: var(--white) !important;
    padding: var(--spacing-small) !important;
    border-radius: 3px;
    box-shadow: var(--cardsShadow);
  }
}

.heatmapTooltip {
  padding: var(--spacing-small) !important;
  .overallScoreContent {
    display: flex;
    align-items: center;
    justify-content: center;
    > p:first-child {
      margin-right: var(--spacing-small) !important;
    }
  }
}
