.rowItem {
  padding: var(--spacing-large) !important;
  background: white !important;
  box-shadow: 0px 1px 5px 1px var(--grey-250);
  border-radius: 8px;
  // margin-bottom: var(--spacing-large);
  margin: var(--spacing-large) !important;
  span.type,
  span.server {
    color: var(--grey-900) !important;
    font-weight: 900;
  }
  font-size: var(--font-size-small);
  > p {
    cursor: pointer;
    color: var(--blue-500) !important;
  }
}
.instanceTypeViewGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: var(--spacing-xlarge);
  grid-row-gap: 0px;

  > div {
    background-color: var(--white) !important;
  }
}
.instanceTypeNameGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: var(--spacing-xxxlarge);
  grid-row-gap: 0px;
  margin-left: var(--spacing-medium) !important;
}
.card {
  padding: 0px;
}
.instanceTable {
  th {
    font-size: 11px;
  }
  tbody {
    background: #ffffff;
    box-shadow: 0px 0px 8px 1px rgba(26, 19, 106, 0.05);
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
  }
  tr {
    height: 63.33px;
  }
}
.healthCheckTable {
  align-items: center;
  width: 479px;
  th {
    font-size: 11px;
    font-weight: 500;
    line-height: 150%;
  }
  tbody {
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    background-color: #ffffff;
  }
}
.page {
  overflow: scroll;
  max-height: 100vh;
}
.instanceSelection {
  background: 'var(--grey-100)';
}
.switchFont {
  font-size: var(--font-size-xsmall);
  line-height: 20px;
}
.helpSidebar {
  max-height: 60vh !important;
  top: 65px !important;
}
.routingTable {
  border: none !important;
  padding: 20px;
  th {
    font-size: 11px;
    font-weight: 500;
    line-height: 150%;
  }
  tbody {
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 1px rgba(26, 19, 106, 0.05);
    border: none !important;
    border-radius: 4px !important;
  }
}
.selectCell {
  :global {
    input {
      border: none !important;
    }
  }
}
.configTab {
  :global {
    .bp3-tab-panel {
      margin: 0;
    }
    .bp3-tab[aria-selected='true'] {
      // font-weight: 900;
      color: black !important;
    }
    .bp3-tab[aria-selected='false'] {
      color: var(--grey-800);
    }
    .bp3-tab-list {
      justify-content: center;
      border-bottom: 0;
      position: relative !important;
      top: auto;
      background: white !important;
      border-bottom: none !important;
      margin-bottom: var(--spacing-small);
    }
    .bp3-tab-indicator-wrapper {
      top: 10px;
    }
    .bp3-tab-panel {
      position: relative !important;
      top: auto !important;
      height: auto !important;
      width: auto !important;
      overflow: visible !important;
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }
}
.gatewayConfigForm {
  :global {
    .bp3-input {
      height: 30px !important;
    }
  }
}
.heading {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
.cardLabel {
  text-align: center;
  font-size: var(--font-size-small) !important;
  width: fit-content;
  margin: auto;
  margin-top: var(--spacing-xsmall) !important;
}
