.container {
  --pipeline-form-blue: #89b1cc;
}
.header {
  font-size: var(--font-size-medium);
}

.stages-tree-bullet-square {
  text-indent: 20px;
  &::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 12px;
    width: 13px;
    height: 13px;
    background: linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%);
    opacity: 0.6;
    border-radius: 3px;
  }
  span {
    margin-left: var(--spacing-small);
  }
}

.stages-tree-bullet-circle {
  text-indent: 20px;
  &::before {
    content: '';
    position: absolute;
    left: 10px;
    width: 13px;
    height: 13px;
    background: linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%);
    opacity: 0.6;
    border-radius: 100px;
  }
  span {
    margin-left: var(--spacing-small);
  }
}

.nested-accordions {
  box-shadow: none !important;
}
.nopad-left {
  padding-left: 0 !important;
}

.accordionSummary {
  border-bottom: 1px solid var(--grey-250);
  background: var(--white);
}
