.container {
  --pipeline-form-blue: #89b1cc;
  max-width: 1000px;
}

.header {
  padding: var(--spacing-large) 0 0;
  font-weight: 600;
}
.subheading {
  padding: var(--spacing-large) var(--spacing-large) 0;
  font-weight: 600;
}

.inputheader {
  font-weight: 600;
  font-size: var(--font-size-small);
  padding-bottom: var(--spacing-medium);
}

.inputWidth {
  width: 50%;
  margin-left: var(--spacing-large);
  padding-right: var(--spacing-large);
}

.stages-tree-bullet-square {
  text-indent: 20px;
  &::before {
    content: '';
    position: absolute;
    left: 18px;
    top: 12px;
    width: 13px;
    height: 13px;
    background: linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%);
    opacity: 0.6;
    border-radius: 3px;
  }
  span {
    margin-left: var(--spacing-small);
  }
}

.stages-tree-bullet-circle {
  text-indent: 20px;
  &::before {
    content: '';
    position: absolute;
    left: 18px;
    width: 13px;
    height: 13px;
    background: linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%);
    opacity: 0.6;
    border-radius: 100px;
  }
  span {
    margin-left: var(--spacing-small);
  }
}
.top-accordion {
  box-shadow: none !important;
  padding: var(--spacing-large);
}
.nested-accordions {
  box-shadow: none !important;
}
.nopad-left {
  padding-left: 0 !important;
}

.accordionSummary {
  background: var(--white);
  width: 100%;
  padding-bottom: var(--spacing-medium);
}
