.approvalStageMinimalWrapper {
  background-color: var(--white) !important;
  display: grid;
  padding: var(--spacing-xlarge) !important;
  grid-template-columns: 1fr;
  height: 100%;
}

.approvalTypesThumbnail {
  margin: var(--spacing-medium) 0;
  min-width: 400px;
}
