.approvalStageOverviewWrapper {
  display: grid !important;
  grid-template-columns: auto 1fr;
  height: calc(100%);
}

.basicOverviewDetails {
  padding: var(--spacing-medium) 0;
}

.content {
  overflow-y: auto;
  padding: 48px;
}

.approvalCards {
  padding: 0 var(--spacing-medium) !important;
}

.stageSection {
  :global(.bp3-collapse-body > div) {
    background-color: var(--white) !important;
  }

  background-color: var(--white);

  &.stagePopover {
    padding: var(--spacing-medium);
  }

  .tabHeading {
    font-size: var(--font-size-medium);
    color: var(--black-color-3);
    margin-bottom: 14px;
    font-weight: 600;
  }
  .tabSubHeading {
    font-size: var(--font-size-normal);
    color: var(--black-color-3);
    margin-bottom: 14px;
    font-weight: 600;
  }
  .sectionCard {
    width: 1024px;
    margin-bottom: 20px;
    &.shadow {
      box-shadow: 0px 0px 1px rgb(40 41 61 / 4%), 0px 2px 4px rgb(96 97 112 / 16%);
    }
    &.notwide {
      width: auto;
    }
    background-color: #fafbfc;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  &.noPadVertical {
    padding-top: 0px;
    padding-bottom: 0;
  }
  .disabled {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: not-allowed !important;
  }

  .stageDetails {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    :global {
      .customVariables {
        width: 700px !important;
      }
    }
  }
  .inputContainer {
    display: grid;
    grid-template-columns: none;
    align-items: center;
    button {
      width: fit-content;
      margin-bottom: var(--spacing-small);
    }
    &.sideDescription {
      grid-template-columns: 1fr 40px;
    }
  }
  .removeLink {
    color: var(--blue-500);
    cursor: pointer;
    position: relative;
    top: 16px;
    left: 395px;
    &.dialogView {
      left: 276px;
    }
  }
  .squareCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    margin-right: var(--spacing-small);
  }
}
.accordionTitle {
  background-color: transparent;
  max-width: 1024px;
}
