.approvalStageMinimalWrapper {
  background-color: var(--white) !important;
  display: grid;
  padding: var(--spacing-xxlarge) !important;
  grid-template-columns: 1fr;
  height: 100%;
}

.approvalTypesThumbnail {
  margin: var(--spacing-medium) 0;
  min-width: 400px;
}

.addStageHeading {
  color: var(--grey-800);
  font-weight: 600 !important;
  line-height: 24px;
}
