.subHeaderContainer {
  height: 73px !important;
  .subHeader {
    flex: 1;
    .dateRange {
      border: 1px solid var(--primary-5) !important;
    }
  }
}
.emptyStateImage {
  width: 278px;
}
.pageBody {
  --page-header-height: 146px;
}
.link {
  color: var(--primary-7);
  .launchIcon {
    margin: 0 0 var(--spacing-tiny) var(--spacing-tiny) !important;
  }
}
