.defaultNode {
  display: block;
  width: 128px;
  height: 80px;
  cursor: default;

  .defaultCard {
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    background-color: var(--white);
    border-radius: 8px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px #60617029;

    &.selected {
      background: linear-gradient(123.92deg, #0092e4 32.53%, #0778fc 112.21%);
    }
  }

  &:hover {
    .defaultCard {
      box-shadow: 0px 8px 16px 0px #60617029;
    }
  }

  &:hover .closeNode {
    opacity: 1;
    pointer-events: initial;
  }

  .secondaryIcon {
    position: absolute;
    bottom: 2px;
    right: 2px;
  }
  .tertiaryIcon {
    position: absolute;
    top: -10px;
    left: -10px;
    background: var(--pipeline-barrier-yellow) !important;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 1px !important;
  }

  .inComplete {
    position: absolute;
    top: 2px;
    right: 2px;
  }

  .template {
    position: absolute;
    top: 2px;
    right: 2px;
  }

  .conditional {
    position: absolute;
    top: -10px;
    left: 5px;
    color: var(--white) !important;

    svg {
      path,
      circle {
        fill: currentColor !important;
      }
      rect {
        // TODO: Replace color once it is available in UIKit
        stroke: #f79400 !important;
      }
    }
  }

  .iconGroup {
    display: inline;
    :global(.bp3-icon) {
      padding: var(--spacing-small);
    }
  }

  .closeNode {
    --icon-padding: 0 !important;
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    left: -15px;
    background-color: var(--primary-7) !important;
    min-width: 14px !important;
    min-height: 14px !important;
    height: 14px !important;
    padding: 0 !important;
    align-items: center;
    z-index: 1;
    cursor: pointer;

    :global {
      span.bp3-icon {
        color: var(--white) !important;
      }
    }
  }

  .addNode {
    background: var(--white);
    border: 2px dashed var(--diagram-add-node-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: -1px 4px 7px 0 rgba(135, 149, 159, 0.27);
  }
}

:global {
  .bp3-popover-content p {
    white-space: break-spaces !important;
  }
}

.hoverName {
  :global {
    .bp3-popover-content p {
      max-width: 200px !important;
    }
  }
}
