.defaultNode {
  display: block;
  width: 126px;
  height: 80px;
  cursor: default;

  .defaultCard {
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    border: 1px solid var(--pipeline-grey-border);
    background-color: var(--white);
    border-radius: 8px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 4px 7px 0 rgba(135, 149, 159, 0.27);

    &.selected {
      border-width: 2px;
      border-color: var(--diagram-selected) !important;
    }
  }

  &:hover .closeNode {
    opacity: 1;
    pointer-events: initial;
  }

  .secondaryIcon {
    position: absolute;
    bottom: 2px;
    right: 2px;
  }
  .tertiaryIcon {
    position: absolute;
    top: -10px;
    left: -10px;
    background: yellow !important;
    border: 2px solid #fff;
    border-radius: 50%;
  }

  .inComplete {
    position: absolute;
    top: 2px;
    right: 2px;
  }

  .сonditional {
    position: absolute;
    top: -10px;
    left: 5px;

    a {
      color: var(--white) !important;
    }

    svg rect {
      // TODO: Replace color once it is available in UIKit
      stroke: #f79400 !important;
    }
  }

  .iconGroup {
    display: inline;
    :global(.bp3-icon) {
      padding: var(--spacing-small);
    }
  }

  .closeNode {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    left: -19px;
    background-color: var(--grey-250) !important;
    padding: 2px;
    min-width: 17px !important;
    min-height: 17px !important;
    height: 17px !important;
    padding: 0 !important;
    align-items: center;
    z-index: 1;
    cursor: pointer;
  }

  .addNode {
    border: 1px dashed var(--diagram-add-node-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    transition: opacity 0.2s ease-in-out;
    box-shadow: -1px 4px 7px 0 rgba(135, 149, 159, 0.27);
  }
}

:global {
  .bp3-popover-content p {
    white-space: break-spaces !important;
  }
}

.hoverName {
  :global {
    .bp3-popover-content p {
      max-width: 200px !important;
    }
  }
}
