.userLabel {
  display: inline-flex;
  align-items: center;
  column-gap: var(--spacing-3);
  font-size: var(--font-size-small);
  color: var(--grey-900);
}

.rightSection {
  padding-left: var(--spacing-4) !important;
  gap: var(--spacing-1);
}
