.entry {
  border-bottom: 0.5px solid #dce0e7;
  padding: var(--spacing-medium) 0 !important;

  &:not(.ignoreLast) {
    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0 !important;
    }
  }
}
