.dashboardHeader {
  display: flex;
  padding: var(--spacing-small);
  .source {
    display: flex;
    align-items: center;
  }
  .details {
    > * {
      display: flex;
    }
  }
  .risks {
    > p {
      text-transform: uppercase;
      margin-bottom: var(--spacing-xsmall);
    }
    .riskScores {
      display: flex;
      > * {
        margin-right: var(--spacing-xsmall);
      }
    }
  }
  .riskSummary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    .riskScore {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
    .verificationStatus {
      padding: var(--spacing-xsmall) var(--spacing-large);
      border-radius: var(--spacing-large);
      color: white;
    }
  }
  .collapseButtonWrap {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    > * {
      cursor: pointer;
      color: var(--blue-400);
    }
  }
}
