.typeSelectorWrapper {
  margin-top: 0 !important;
  border: 1px solid var(--form-field-border);
  border-radius: var(--spacing-2);
  margin-left: var(--spacing-4);
}

.typeSelector {
  display: inline-block;

  .btn {
    height: 26px !important;
    padding: 0 !important;
    min-height: unset !important;
    background-color: var(--grey-100) !important;

    :global(.bp3-button-text) {
      display: inline-flex;
      align-items: center;
      flex-flow: row-reverse;
      height: 100%;
    }

    .btnText {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      padding: 0;
      height: 100%;
      background: var(--white);
      width: 105px;
    }

    .icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 var(--spacing-xsmall) !important;
      height: 100%;
      background-color: var(--grey-100);

      &.fixed {
        color: var(--primary-7) !important;
      }

      &.runtime {
        color: var(--purple-500) !important;
      }

      &.expression {
        color: var(--orange-500) !important;
      }
    }
  }
}

.formGroup {
  :global {
    .bp3-label {
      margin-bottom: 0 !important;
    }
  }
}

.formLabel {
  display: flex;
  align-items: center;
}

.popover {
  box-shadow: none;
}

.runtimeDisabled {
  margin-top: var(--spacing-2);

  :global {
    .bp3-input {
      background-color: var(--grey-50);
      border: 1px solid var(--grey-200);

      &:hover {
        border-color: var(--primary-6);
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
      }
    }
  }
}
