.typeSelectorWrapper {
  margin-top: 0 !important;
  background-color: var(--grey-250);
  border: 1px solid var(--grey-250);
  border-radius: 4px;
}

.typeSelector {
  display: inline-block;

  .btn {
    height: 26px !important;
    padding: 0 !important;
    min-height: unset !important;

    :global(.bp3-button-text) {
      display: inline-flex;
      align-items: center;
      flex-flow: row-reverse;
      height: 100%;
    }

    .btnText {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      padding: 0;
      height: 100%;
      background: var(--white);
      width: 105px;
    }

    .icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 var(--spacing-xsmall) !important;
      height: 100%;
      background-color: var(--grey-250);

      &.fixed {
        color: var(--blue-500) !important;
      }

      &.runtime {
        color: var(--purple-500) !important;
      }

      &.expression {
        color: var(--yellow-500) !important;
      }
    }

    &:hover,
    &:global(.bp3-active) {
      background-color: transparent !important;
    }
  }
}

.formGroup {
  :global {
    .bp3-label {
      margin-bottom: 0 !important;
    }
  }
}

.formLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popover {
  box-shadow: none;
}
