.io-tab {
  font-size: var(--font-size-small);
  margin: var(--spacing-xlarge);
  padding: var(--spacing-xsmall);
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16);

  .io-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2;
    column-gap: var(--spacing-xsmall);

    &:not(:last-child) {
      border-bottom: 1px solid var(--grey-200);
    }

    &.header {
      font-weight: bold;
    }

    .key {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: var(--spacing-xsmall) var(--spacing-xsmall) var(--spacing-xsmall) var(--spacing-xxlarge);

      &:hover {
        background-color: var(--primary-1);
      }
    }

    .value {
      color: var(--grey-400);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: var(--spacing-xsmall);
      &:hover {
        background-color: var(--primary-1);
      }
    }
  }

  .panel {
    padding: 0 var(--spacing-xsmall);

    &:not(:last-child) {
      border-bottom: 1px solid var(--grey-200);
    }

    .panelTitle {
      display: flex;
      column-gap: var(--spacing-small);
      cursor: pointer;
      line-height: 2;
      align-items: center;
      padding: var(--spacing-xsmall) var(--spacing-xsmall) 0 var(--spacing-xsmall);
      color: var(--grey-400);
    }

    &[data-status='close'] .panelTitle :global(.bp3-icon) {
      transform: rotate(180deg);
    }

    & + & {
      border-top: 1px solid var(--grey-300);
      margin-top: var(--spacing-xsmall);
    }
  }
}
