.canvas {
  --diagram-grey: #b3b3b3;
  --diagram-light-grey: #f2f2f2;
  --diagram-selected: #25a6f7;
  --diagram-link: #25a6f7;
  --diagram-start-node: #67c900;
  --diagram-hover-link-color: #f78f00;
  --diagram-color-in-label: #929292;
  --diagram-in-label-font: 10px;
}
