.tags {
  padding: var(--spacing-small);
  background: none;
  color: var(--grey-700);
  cursor: pointer;
  letter-spacing: 0.5px;
}
.activeTag {
  background: var(--grey-800);
  color: white;
  border-radius: 8px;
}
