.details {
  background-color: var(--grey-100) !important;
  height: calc(100%);
}

.authentication {
  border-color: var(--grey-200);
  border-style: solid;
  border-width: 0.5px 0;
}

.avatar {
  margin: 0px !important;
}

.button {
  color: var(--blue-500) !important;
}
