.details {
  background-color: var(--grey-100) !important;
  height: calc(100%);
  padding: var(--spacing-large) var(--spacing-large) var(--spacing-huge) var(--spacing-huge) !important;
}

.authentication {
  border-color: var(--grey-250);
  border-style: solid;
  border-width: 0.5px 0;
}

.avatar {
  margin: 0px !important;
}

.overview {
  background-color: var(--white) !important;
}

.button {
  color: var(--primary-7) !important;
  padding: 0 !important;
}

.overflow {
  overflow-wrap: anywhere;
}
