.optionBtns {
  display: inline-block;
  background-color: var(--grey-200);
  border-radius: 10px;
  font-size: var(--font-size-xsmall);
  line-height: 14px;
  width: 130px;

  .item {
    display: inline-block;
    padding: var(--spacing-xsmall) var(--spacing-medium);
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
  }

  .selected {
    font-weight: bold;
    background-color: var(--grey-400);
    color: var(--white);
    cursor: default;
  }
}
