.main {
  background-color: var(--white);
  border: 1px solid var(--grey-250);
  border-radius: 5px;
}

.filePath {
  margin: 0 var(--spacing-small) 0 var(--spacing-large);
  height: 50px;
  font-weight: bolder;
  font-size: var(--font-size-normal);
  color: var(--black);
}

.flexCenter {
  display: flex;
  align-items: center;
}

.entityTag {
  background: var(--grey-200) !important;
  color: var(--grey-500);
}

.editor {
  padding-bottom: var(--spacing-xsmall);
}

.layout {
  width: 100% !important;
}

.validationStatus {
  padding-right: var(--spacing-large);
}

.invalidYaml {
  padding-left: var(--spacing-xsmall);
  color: var(--red-600);
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
}

.validationIcon {
  svg path {
    fill: var(--red-600);
  }
}

.darkBg {
  background-color: #4f5162;
}

.lightBg {
  color: #b8bfca;
}

.errorSummary {
  padding: var(--spacing-medium) var(--spacing-large);
  background-color: var(--black);
  color: var(--white);
}

.details {
  padding: var(--spacing-small) !important;
}

.summaryPopover {
  svg {
    path {
      fill: var(--black) !important;
    }
  }
}

.item {
  padding: var(--spacing-xsmall) var(--spacing-small);
  font-size: small;
}

.errorList {
  padding: 0 var(--spacing-large);
  margin: 0;
}

.splitPanel {
  position: relative !important;
  border-radius: 10px;
}
