.main {
  display: flex;
  width: 80% !important;
  margin: 0 auto !important;
  padding: var(--spacing-small) !important;

  .primaryNodes,
  .canaryNodes {
    width: 100% !important;
    &:first-child {
      margin-right: 40px !important;
    }

    > p {
      margin-bottom: var(--spacing-medium) !important;
    }
  }
}
