.stepsOverlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--white) !important;
  z-index: 2;
  border-radius: 8px;
}
