.container {
  padding: var(--spacing-small) var(--spacing-large);
  height: 100%;
  background: #fbfdff;
  box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
  :global {
    .bp3-collapse-body {
      max-height: calc(100vh - 250px);
    }
  }
  .syncBarrierTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: #22222a;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 1px solid #e4e4eb !important;
    background: transparent !important;
    align-items: center;
    margin-bottom: var(--spacing-large);
    margin-top: var(--spacing-large);

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    height: 30px;
    /* identical to box height, or 140% */

    color: #000000;
    .grid-column {
      display: grid;
      grid-auto-flow: row;
    }
    .title {
      font-size: 16px;
      font-weight: 600;
      color: #22272d;
      .subtitile {
        color: var(--pipeline-subtext);
      }
    }
    .headerIcon {
      padding-right: var(--spacing-small);
    }
  }
  :global {
    .bp3-collapse-body {
      background-color: #fff !important;
    }
  }
  .addLink {
    color: var(--pipeline-select-blue);
    padding: var(--spacing-small);
    margin-top: var(--spacing-medium);
    display: inline-grid;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
.barrierList {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-medium);
  .rowItem {
    background: #ffffff;
    box-shadow: 0px 0px 1px rgb(40 41 61 / 4%), 0px 2px 4px rgb(96 97 112 / 16%);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    align-items: center;
    padding: var(--spacing-medium);
    border-radius: 4px;

    .rowHeader {
      color: #22272d !important;
    }
    .tag {
      background: #cce3ff;
      border-radius: 4px;
      color: var(--black-color-3);
      margin-bottom: var(--spacing-xsmall) !important;
      display: inline-block !important;
      padding: var(--spacing-xsmall);
    }
    .tagText {
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      display: flex;
      align-items: center;

      /* Gray Scale / Gray Scale 700 */

      color: #383946;
    }
    .space-right {
      margin-right: var(--spacing-small);
    }
    .deleteIcon {
      vertical-align: bottom;
      color: #000 !important;
      cursor: pointer;
      &.disabledIcon {
        opacity: 0.5;
      }
    }
    .new-barrier {
      grid-column: span 2;
      padding: 0 var(--spacing-large);
    }
  }
}

.barrierAction {
  display: flex;
  justify-content: flex-end;
}

.addbarrier {
  padding-left: 0 !important;
  padding-top: var(--spacing-small) !important;
}
