.cardContainer {
  display: grid;
  grid-gap: var(--spacing-medium);
  grid-template-columns: repeat(auto-fill, 128px);

  .card {
    width: 128px;
    height: 128px;
    box-shadow: var(--card-shadow);
    border-radius: 5px;

    .name {
      word-break: break-all;
    }
  }
}

.tagClassName {
  background-color: var(--primary-2) !important;
  color: var(--primary-7);
  font-size: small;
  font-weight: bold;
  letter-spacing: 0.4px;
}
