.providersViewGrid {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: 1fr;
  grid-column-gap: var(--spacing-xlarge);
  grid-row-gap: 0px;
  .bp3-card {
    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16) !important;
    border-radius: 5px;
  }
  div.Card--card {
    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16) !important;
  }
}
.title {
  color: var(--black) !important;
  font-size: 24px !important;
  font-weight: bold !important;
}
.footer {
  position: fixed;
  bottom: 40px;
  z-index: 1;
}
.card {
  svg {
    margin: 0 !important;
  }
}
.instanceTypeNameGrid {
  display: grid !important;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: 1fr;
  grid-column-gap: var(--spacing-large);
  grid-row-gap: 0px;
  text-align: center;
  // margin-left: var(--spacing-large) !important;
}
.breadCrumb {
  background: var(--blue-100);
  border: 1px solid var(--grey-200);
  box-sizing: border-box;
  padding: 8px;
}
